.content {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: repeat(2, 1fr);
  padding: calc(38 * var(--intergalactic-spacing-1x)) calc(25 * var(--intergalactic-spacing-1x))
    calc(62.5 * var(--intergalactic-spacing-1x));
  max-width: 1140px;
  margin: 0 auto;
}
.content h1 {
  font-size: calc(var(--intergalactic-fs-800) + 2px);
  line-height: var(--intergalactic-lh-700);
  color: var(--intergalactic-text-primary);
  margin: 0;
  margin-bottom: calc(var(--intergalactic-spacing-1x) + 1px);
}
.content ul {
  padding: 0 var(--intergalactic-spacing-6x);
}
.content li {
  margin-bottom: var(--intergalactic-spacing-2x);
}
.content a {
  color: #1a55ed;
  text-decoration: none;
  margin-left: calc(var(--intergalactic-spacing-1x) + 1px);
}
.content a:hover {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .content {
    padding-bottom: var(--intergalactic-spacing-24x);
  }
}
@media (max-width: 767px) {
  .content {
    grid-template-rows: 0.5fr 2fr 3fr;
    grid-template-columns: 1fr;
    padding: calc(38 * var(--intergalactic-spacing-1x)) calc(var(--intergalactic-spacing-14x) - 1px)
      var(--intergalactic-spacing-24x);
  }
}
@media (max-width: 414px) {
  .content {
    grid-template-rows: 0fr 2fr 3fr;
    padding: calc(34 * var(--intergalactic-spacing-1x)) calc(var(--intergalactic-spacing-8x) + 3px)
      var(--intergalactic-spacing-24x);
  }
  .content h1 {
    font-size: calc(var(--intergalactic-fs-600) - 2px);
  }
}

.header {
  grid-row: 1;
  grid-column: 1 / span 3;
  flex-direction: column;
  color: #575c66;
  margin-bottom: var(--intergalactic-spacing-14x);
  text-align: center;
}
@media (max-width: 767px) {
  .header {
    grid-column: 1;
  }
}
@media (max-width: 414px) {
  .header {
    text-align: left;
  }
}

.github {
  grid-row: 2;
  grid-column: 1;
  margin: 0 var(--intergalactic-spacing-4x) 0;
}
@media (max-width: 767px) {
  .github {
    margin: 0;
  }
}

.email {
  grid-row: 2;
  grid-column: 2;
  margin: 0 var(--intergalactic-spacing-4x) 0;
}
@media (max-width: 767px) {
  .email {
    grid-row: 3;
    grid-column: 1;
    margin: 0;
    margin-top: var(--intergalactic-spacing-10x);
  }
}

.text {
  background-color: #f6f7f8;
  padding: var(--intergalactic-spacing-2x) var(--intergalactic-spacing-6x)
    var(--intergalactic-spacing-6x);
  margin-top: var(--intergalactic-spacing-6x);
  border-radius: var(--intergalactic-rounded-medium);
}

.subtitle {
  font-style: normal;
  font-weight: var(--intergalactic-semi-bold);
  font-size: calc(var(--intergalactic-fs-300) + 2px);
  line-height: var(--intergalactic-lh-300);
  color: #000000;
  margin: 12px 0;
}

.title {
  margin: 0;
  font-size: calc(var(--intergalactic-fs-600) - 2px);
  font-weight: var(--intergalactic-semi-bold);
  line-height: var(--intergalactic-lh-400);
  color: #000000;
  margin-bottom: var(--intergalactic-spacing-2x);
  white-space: nowrap;
}
@media (max-width: 767px) {
  .title {
    font-size: var(--intergalactic-fs-500);
  }
}

.postman {
  position: absolute;
  width: 480px;
  right: 0;
  bottom: var(--intergalactic-spacing-10x);
}
@media (max-width: 1024px) {
  .postman {
    display: none;
  }
}
