.tabsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabs.tabs {
  width: auto;
}
.tab.tab.tab {
  font-size: 24px;
  font-weight: bold;
}
.tabs > div:last-child {
  background-color: #ff622d;
}

.promoWrapper {
  display: grid;
  grid-template-rows: 0.7fr 0.7fr 1.5fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 48px 0 12px;
}
@media (max-width: 1140px) {
  .promoWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.8fr 0.7fr repeat(2, 2fr);
    padding: 0 0 56px;
    margin-top: 48px;
  }
}
@media (max-width: 767px) {
  .promoWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 0.5fr) 1fr repeat(1, 1.3fr);
    padding: 0 0 56px;
  }
}
@media (max-width: 415px) {
  .promoWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr repeat(2, 1fr) 1fr;
    padding: 0 0 56px;
    margin-top: 0;
  }
}

.overlay {
  max-width: 1140px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 120px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .overlay {
    max-width: 767px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 415px) {
  .overlay {
    max-width: 415px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  grid-row: 1;
  grid-column: 1/3;
  font-size: 50px;
  line-height: 110%;
  margin-bottom: 16px;
}
@media (max-width: 1140px) {
  .title {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 40px;
  }
}

.desc {
  grid-row: 2;
  grid-column: 1/3;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1140px) {
  .desc {
    align-items: baseline;
    margin-bottom: 24px;
    width: 70%;
  }
}

.started {
  grid-row: 3;
  grid-column: 1;
  margin: 10px 15px 10px 0;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
}
.started a {
  margin-top: 16px;
  color: #ff622d;
  text-decoration: none;
}
.started a:hover {
  text-decoration: underline;
}
@media (max-width: 1140px) {
  .started {
    grid-row: 3;
    margin: 0 15px 15px 0;
  }
}
@media (max-width: 767px) {
  .started {
    grid-row: 3;
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
}

.initialPrinciples {
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 45px 0 rgba(137, 141, 154, 0.3);
  margin: 10px 15px;
  padding: 40px;
  background-color: #fff;
  border-radius: 6px;
  z-index: 99;
}
@media (max-width: 1140px) {
  .initialPrinciples {
    margin: 0;
  }
}

.principles {
  grid-row: 3;
  grid-column: 2;
}
@media (max-width: 1140px) {
  .principles {
    grid-row: 3;
    grid-column: 2;
    margin: 0 0 15px 15px;
  }
}
@media (max-width: 767px) {
  .principles {
    grid-row: 4;
    grid-column: 1;
    margin: 0;
    margin-top: 15px;
  }
}

.styles {
  grid-row: 3;
  grid-column: 3;
}
@media (max-width: 1140px) {
  .styles {
    grid-row: 4;
    grid-column: 1;
    margin: 15px 15px 0 0;
  }
}
@media (max-width: 767px) {
  .styles {
    grid-row: 5;
    grid-column: 1;
    margin: 0;
    margin-top: 40px;
  }
}

.layout {
  grid-row: 3;
  grid-column: 4;
}
@media (max-width: 1140px) {
  .layout {
    grid-row: 4;
    grid-column: 2;
    margin: 15px 0 0 15px;
  }
}
@media (max-width: 767px) {
  .layout {
    grid-row: 6;
    grid-column: 1;
    margin: 0;
    margin-top: 40px;
  }
}

.layoutImg {
  position: absolute;
  left: 32%;
  bottom: -35%;
  z-index: -1;
}
@media (max-width: 1140px) {
  .LayoutImg {
    left: 56%;
    bottom: -24%;
    width: 300px;
  }
}
.principlesImg {
  position: absolute;
  left: 50%;
  top: 44%;
  z-index: -1;
}
@media (max-width: 1140px) {
  .principlesImg {
    left: 54%;
    top: 15%;
    width: 340px;
  }
}
.stylesImg {
  position: absolute;
  left: 52%;
  bottom: 28%;
  z-index: -1;
}
@media (max-width: 1140px) {
  .stylesImg {
    left: 55%;
    top: -24%;
    width: 330px;
  }
}

.whaleImg {
  position: absolute;
  right: 88px;
  top: 20px;
  width: 320px;
}
@media (max-width: 1140px) {
  .whaleImg {
    display: none;
  }
}

.mainWrapper {
  padding: 32px 0 80px;
}
@media (max-width: 767px) {
  .mainWrapper {
    display: none;
  }
}

.tab > div:first-child > div {
  background-color: #ff622d;
  height: 2px;
}

.border {
  border: 1px solid #d1d4db;
  border-radius: 6px;
  height: fit-content;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 150%;
}

.category {
  display: grid;
  grid-template-rows: repeat(auto-fill, 40px);
  grid-template-columns: max-content;
  grid-auto-flow: column;
  column-gap: 30px;
  width: 100%;
  max-height: 400px;
  margin: 0;
  padding: 0;
}
.category .component {
  max-width: 160px;
}
.category .component .linkStyled {
  max-width: 160px;
  white-space: normal;
}
.uxPatterns .category .component {
  max-width: 100%;
}
.uxPatterns .category .linkStyled {
  max-width: 100%;
  white-space: normal;
}
.filters .category .component {
  max-width: 100%;
}
.filters .category .linkStyled {
  max-width: 100%;
  white-space: normal;
}
.cards {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(auto-fill, 176px);
  grid-gap: 12px 12px;
  width: 100%;
  margin: 0;
  margin-top: 12px;
  padding: 0;
}

.linkStyled {
  color: #171a22;
  cursor: pointer;
  text-decoration: none;
  max-width: 235px;
  align-self: center;
}
.linkStyled:hover {
  text-decoration: underline;
}

.linkDisabled {
  color: #ccc;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.tableOverlay {
  display: flex;
  min-height: 390px;
}
.tableOverlay h2 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
}
.tableOverlay a {
  white-space: nowrap;
}

.updatesButton {
  position: fixed;
  top: 439px;
  right: -21px;
  width: 120px;
  z-index: 999;
}
@media (max-width: 767px) {
  .updatesButton {
    display: none;
  }
}
.updatesButton:hover {
  cursor: pointer;
}
.updatesButton img {
  margin-top: 12px;
}

.homePage {
  display: flex;
  padding-top: 80px;
}

.sideBar {
  position: sticky;
  top: 80px;

  height: calc(100vh - 80px);
  background: #f5f5f5;
  max-width: 260px;
}
@media (max-width: 767px) {
  .sideBar {
    display: none;
  }
}

.docs {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.docs a {
  color: #171a22;
  text-decoration: none;
}
.docs a:hover {
  cursor: pointer;
  text-decoration: underline;
}
