.tabsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs.tabs {
  width: auto;
}

.tab.tab.tab {
  font-weight: var(--intergalactic-bold);
  display: grid;
}

.componentDeprecated {
  color: #8a8e9b;
  margin-left: var(--intergalactic-spacing-2x);
}

.tabs {
  --intergalactic-border-info-active: #ff622d;
}

.promoWrapper {
  display: grid;
  grid-template-rows: 0.7fr 0.7fr 1.2fr;
  grid-template-columns: repeat(4, 1fr);
  padding: calc(12 * var(--intergalactic-spacing-1x)) 0 var(--intergalactic-spacing-3x);
}

@media (max-width: 1140px) {
  .promoWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.8fr 0.7fr repeat(2, 2fr);
    padding: 0 0 var(--intergalactic-spacing-14x);
    margin-top: calc(12 * var(--intergalactic-spacing-1x));
  }
}

@media (max-width: 767px) {
  .promoWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 0.5fr) 1fr repeat(1, 1.5fr);
    padding: 0 0 var(--intergalactic-spacing-14x);
  }
}

@media (max-width: 415px) {
  .promoWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr repeat(2, 1fr) 1fr;
    padding: 0 0 var(--intergalactic-spacing-14x);
    margin-top: 0;
  }
}

.overlay {
  max-width: 1140px;
  padding-left: var(--intergalactic-spacing-10x);
  padding-right: var(--intergalactic-spacing-10x);
  padding-bottom: var(--intergalactic-spacing-30x);
  position: relative;
  margin: 0 auto;
  background-color: var(--intergalactic-bg-primary-neutral);
}

@media (max-width: 767px) {
  .overlay {
    max-width: 767px;
    padding-left: var(--intergalactic-spacing-8x);
    padding-right: var(--intergalactic-spacing-8x);
  }
}

@media (max-width: 415px) {
  .overlay {
    max-width: 415px;
    padding-left: var(--intergalactic-spacing-5x);
    padding-right: var(--intergalactic-spacing-5x);
    padding-bottom: var(--intergalactic-spacing-20x);
  }
}

.title {
  grid-row: 1;
  grid-column: 1/3;
  font-size: 50px;
  line-height: 110%;
  margin-top: var(--intergalactic-spacing-8x);
  margin-bottom: var(--intergalactic-spacing-4x);
}

@media (max-width: 1140px) {
  .title {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 40px;
  }
}

.desc {
  grid-row: 2;
  grid-column: 1/3;
  font-size: 18px;
  line-height: var(--intergalactic-lh-300);
  margin: 0;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 1140px) {
  .desc {
    align-items: baseline;
    margin-bottom: var(--intergalactic-spacing-6x);
    width: 70%;
  }
}

.started {
  grid-row: 3;
  grid-column: 1;
  margin: calc(var(--intergalactic-spacing-2x) + 2px) calc(var(--intergalactic-spacing-4x) - 1px)
    calc(var(--intergalactic-spacing-2x) + 2px) 0;
  padding: var(--intergalactic-spacing-6x) 0;
  display: flex;
  flex-direction: column;
  font-size: var(--intergalactic-fs-500);
  font-weight: var(--intergalactic-bold);
}

.started h2 {
  margin: 0;
  font-size: var(--intergalactic-fs-500);
  font-weight: var(--intergalactic-bold);
}

.started a {
  margin-top: var(--intergalactic-spacing-4x);
  color: var(--intergalactic-brand-primary);
  text-decoration: none;
}

.started a:hover {
  text-decoration: underline;
}

@media (max-width: 1140px) {
  .started {
    grid-row: 3;
    margin: 0 calc(var(--intergalactic-spacing-4x) - 1px)
      calc(var(--intergalactic-spacing-4x) - 1px) 0;
  }
}

@media (max-width: 767px) {
  .started {
    grid-row: 3;
    margin: 0;
    margin-top: calc(var(--intergalactic-spacing-4x) - 1px);
    padding: 0;
  }
}

.initialPrinciples {
  position: relative;
  overflow: hidden;
  box-shadow: var(--intergalactic-box-shadow-card);
  margin: calc(var(--intergalactic-spacing-1x) + 2px) calc(var(--intergalactic-spacing-4x) - 1px);
  padding: var(--intergalactic-spacing-6x);
  background-color: var(--intergalactic-bg-secondary-neutral);
  border-radius: var(--intergalactic-rounded-medium);
  z-index: 99;
}

@media (max-width: 1140px) {
  .initialPrinciples {
    margin: 0;
  }
}

.principles {
  grid-row: 3;
  grid-column: 2;
}

@media (max-width: 1140px) {
  .principles {
    grid-row: 3;
    grid-column: 2;
    margin: 0 0 calc(var(--intergalactic-spacing-4x) - 1px)
      calc(var(--intergalactic-spacing-4x) - 1px);
  }
}

@media (max-width: 767px) {
  .principles {
    grid-row: 4;
    grid-column: 1;
    margin: 0;
    margin-top: calc(var(--intergalactic-spacing-4x) - 1px);
  }
}

.styles {
  grid-row: 3;
  grid-column: 3;
}

@media (max-width: 1140px) {
  .styles {
    grid-row: 4;
    grid-column: 1;
    margin: calc(var(--intergalactic-spacing-4x) - 1px) calc(var(--intergalactic-spacing-4x) - 1px)
      0 0;
  }
}

@media (max-width: 767px) {
  .styles {
    grid-row: 5;
    grid-column: 1;
    margin: 0;
    margin-top: var(--intergalactic-spacing-10x);
  }
}

.layout {
  grid-row: 3;
  grid-column: 4;
}

@media (max-width: 1140px) {
  .layout {
    grid-row: 4;
    grid-column: 2;
    margin: calc(var(--intergalactic-spacing-4x) - 1px) 0 0
      calc(var(--intergalactic-spacing-4x) - 1px);
  }
}

@media (max-width: 767px) {
  .layout {
    grid-row: 6;
    grid-column: 1;
    margin: 0;
    margin-top: 40px;
  }
}

.layoutImg {
  position: absolute;
  left: 32%;
  bottom: -35%;
  z-index: -1;
}

@media (max-width: 1140px) {
  .LayoutImg {
    left: 56%;
    bottom: -24%;
    width: 300px;
  }
}

.principlesImg {
  position: absolute;
  left: 50%;
  top: 44%;
  z-index: -1;
}

@media (max-width: 1140px) {
  .principlesImg {
    left: 54%;
    top: 15%;
    width: 340px;
  }
}

.stylesImg {
  position: absolute;
  left: 52%;
  bottom: 18%;
  z-index: -1;
}

@media (max-width: 1140px) {
  .stylesImg {
    left: 55%;
    top: -24%;
    width: 330px;
  }
}

.whaleImg {
  position: absolute;
  right: calc(22 * var(--intergalactic-spacing-1x));
  top: var(--intergalactic-spacing-5x);
  width: 320px;
}

@media (max-width: 1140px) {
  .whaleImg {
    display: none;
  }
}

.mainWrapper {
  padding: var(--intergalactic-spacing-8x) 0 var(--intergalactic-spacing-20x);
}

@media (max-width: 767px) {
  .mainWrapper {
    display: none;
  }
}

.tab > div:first-child > div {
  background-color: #ff622d;
  height: 2px;
}

.border {
  background-color: var(--intergalactic-bg-primary-neutral);
  border: 1px solid var(--intergalactic-border-secondary);
  border-radius: var(--intergalactic-rounded-medium);
  height: fit-content;
  padding: var(--intergalactic-spacing-8x) var(--intergalactic-spacing-8x)
    var(--intergalactic-spacing-10x);
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
}

.category {
  columns: 6 160px;
}

.uxPatterns .category {
  columns: 2 160px;
}

.filters .category {
  columns: 1 160px;
}

.devDocs .category {
  columns: 1 160px;
}

.category .component .linkStyled {
  max-width: 160px;
  white-space: normal;
  margin-bottom: var(--intergalactic-spacing-2x);
}

.cards {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(auto-fill, 176px);
  grid-gap: var(--intergalactic-spacing-3x) var(--intergalactic-spacing-3x);
  width: 100%;
  margin: 0;
  margin-top: var(--intergalactic-spacing-3x);
  padding: 0;
}

.linkStyled {
  color: var(--intergalactic-text-primary);
  cursor: pointer;
  text-decoration: none;
  max-width: 235px;
  align-self: center;
}

.linkStyled:hover {
  text-decoration: underline;
}

.linkDisabled {
  color: #ccc;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.tableOverlay {
  display: flex;
}

.tableOverlay h2 {
  margin: 0;
  margin-bottom: var(--intergalactic-spacing-2x);
  font-size: var(--intergalactic-fs-300);
}

.tableOverlay a {
  white-space: nowrap;
}

.updatesButton {
  position: fixed;
  top: calc(110 * var(--intergalactic-spacing-1x) - 1px);
  right: calc(-1 * (var(--intergalactic-spacing-5x) + 1px));
  width: 120px;
  z-index: 999;
}

@media (max-width: 767px) {
  .updatesButton {
    display: none;
  }
}

.updatesButton:hover {
  cursor: pointer;
}

.updatesButton img {
  margin-top: var(--intergalactic-spacing-3x);
}

.homePage {
  display: flex;
  padding-top: var(--intergalactic-spacing-20x);
}

.sideBar {
  position: sticky;
  top: var(--intergalactic-spacing-20x);
  height: calc(100vh - var(--intergalactic-spacing-20x));
  background: #f5f5f5;
  max-width: 250px;
}

@media (max-width: 767px) {
  .sideBar {
    display: none;
  }
}

.docs {
  display: flex;
  flex-direction: column;
  margin-top: var(--intergalactic-spacing-3x);
}

.docs a {
  color: #171a22;
  text-decoration: none;
}

.docs a:hover {
  cursor: pointer;
  text-decoration: underline;
}
