.documentationWrapper {
  padding: var(--intergalactic-spacing-10x) var(--intergalactic-spacing-10x)
    var(--intergalactic-spacing-30x);
  position: relative;
  color: var(--intergalactic-text-primary);
}
@media (max-width: 767px) {
  .documentationWrapper {
    padding: var(--intergalactic-spacing-20x) var(--intergalactic-spacing-8x)
      var(--intergalactic-spacing-30x);
  }
}
@media (max-width: 415px) {
  .documentationWrapper {
    padding: var(--intergalactic-spacing-20x) var(--intergalactic-spacing-5x)
      var(--intergalactic-spacing-20x);
  }
}

.sideBar {
  position: sticky;
  top: var(--intergalactic-spacing-20x);
  height: calc(100vh - var(--intergalactic-spacing-20x));
  background: var(--intergalactic-bg-secondary-neutral);
  max-width: 250px;
}
@media (max-width: 767px) {
  .sideBar {
    display: none;
  }
}

.mobileSelect.mobileSelect {
  display: none;
}
@media (max-width: 767px) {
  .mobileSelect.mobileSelect {
    display: block;
    position: fixed;
    z-index: var(--intergalactic-z-index-overlay);
    width: 100%;
    margin-bottom: var(--intergalactic-spacing-8x);
    border-radius: 0 !important;
    top: var(--intergalactic-spacing-20x);
    background-color: var(--intergalactic-bg-primary-neutral) !important;
    border: 1px solid var(--intergalactic-border-primary);
    border-style: solid none solid none;
  }
  .mobileSelect div div {
    margin: 0 var(--intergalactic-spacing-8x) !important;
  }

  .mobileSelect:hover,
  .mobileSelect:active {
    border: 1px solid var(--intergalactic-border-info-active);
    border-style: solid none solid none;
  }
}
@media (max-width: 415px) {
  .mobileSelect div div {
    margin: 0 var(--intergalactic-spacing-5x) !important;
  }
}

.homePage {
  padding-top: var(--intergalactic-spacing-20x);
  background-color: var(--intergalactic-bg-primary-neutral);
}
