@import '@semcore/utils/style/var.css';

SInlineEdit {
  display: inline-block;
  position: relative;
}

SEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

SView {
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    box-shadow: var(--keyborad-focus);
  }
}
