SPattern {
  width: 6px;
  height: 100%;
  position: absolute;
  background-image: var(--intergalactic-border-critical-pattern, repeating-linear-gradient(315deg, rgba(209, 0, 47, 1) 0, rgba(209, 0, 47, 1) 2px, transparent 0, transparent 50%));
  background-size: 6px 6px;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
  border-top-left-radius: var(--intergalactic-control-rounded, 6px);
}
