SBody, SRow {
  display: contents;
}

SBody[compact] SCell {
  padding: var(--intergalactic-spacing-3x, 12px) var(--intergalactic-spacing-2x, 8px);
}

SRow[gridArea], SCell[gridArea] {
  grid-area: var(--gridArea);
}

/* DEFAULT THEME */
SRow[active] > SCell:not([theme]) {
  /* The color is hardcoded because need hex(in figma rgba) */
  /* disable-tokens-validator */
  background-color: var(--intergalactic-table-td-cell-active, #e6e7ed);
}

SRow:hover > SCell:not([theme]),
SRow SCell:hover + SGroupCell SCell:not([theme]) {
  /* The color is hardcoded because need hex(in figma rgba) */
  /* disable-tokens-validator */
  background-color: var(--intergalactic-table-td-cell-hover, #f0f0f4);
}

/* MUTED THEME */
SRow[theme='muted'] SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-unread, #f4f5f9);
}

SRow[theme='muted'][active] > SCell:not([theme]) {
  /* The color is hardcoded because need hex(in figma rgba) */
  /* disable-tokens-validator */
  background-color: var(--intergalactic-table-td-cell-active, #e6e7ed);
}

SRow:hover > SCell[theme='muted'],
SRow[theme='muted']:hover > SCell:not([theme]),
SRow[theme='muted'] SCell:hover + SGroupCell SCell:not([theme]) {
  /* The color is hardcoded because need hex(in figma rgba) */
  /* disable-tokens-validator */
  background-color: var(--intergalactic-table-td-cell-hover, #f0f0f4);
}

/* INFO THEME */
SRow[theme='info'] SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-selected, #e9f7ff);
}

SRow[theme='info'][active] > SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-selected-active, #c4e5fe);
}

SRow:hover > SCell[theme='info'],
SRow[theme='info']:hover > SCell:not([theme]),
SRow[theme='info'] SCell:hover + SGroupCell SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-selected-hover, #c4e5fe);
}

/* SUCCESS THEME */
SRow[theme='success'] SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-new, #dbfee8);
}

SRow[theme='success'][active] > SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-new-active, #9ef2c9);
}

SRow:hover > SCell[theme='success'],
SRow[theme='success']:hover > SCell:not([theme]),
SRow[theme='success'] SCell:hover + SGroupCell SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-new-hover, #9ef2c9);
}

/* WARNING THEME */
SRow[theme='warning'] SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-warning, #fff3d9);
}

SRow[theme='warning'][active] > SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-warning-active, #ffdca2);
}

SRow:hover > SCell[theme='warning'],
SRow[theme='warning']:hover > SCell:not([theme]),
SRow[theme='warning'] SCell:hover + SGroupCell SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-warning-hover, #ffdca2);
}

/* DANGER THEME */
SRow[theme='danger'] SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-critical, #fff0f7);
}

SRow[theme='danger'][active] > SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-critical-active, #ffd7df);
}

SRow:hover > SCell[theme='danger'],
SRow[theme='danger']:hover > SCell:not([theme]),
SRow[theme='danger'] SCell:hover + SGroupCell SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-critical-hover, #ffd7df);
}

SCell {
  display: flex;
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  color: var(--intergalactic-text-primary, #191b23);
  box-sizing: border-box;
  border-bottom: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
  overflow: hidden;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  transition: width calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out;
  outline: none;
}

SCell[use='primary'] {
  padding: var(--intergalactic-spacing-3x, 12px);
  min-height: 45px;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
}

SCell[use='secondary'] {
  padding: var(--intergalactic-spacing-2x, 8px);
  min-height: 37px;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
}

SCell[borders='both'], SCell[borders='left'] {
  border-left: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
}

SCell[borders='both'], SCell[borders='right'] {
  border-right: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
}

SCell[fixed] {
  position: sticky;
  /*z-index: 1;*/
}

SCell[theme='muted'] {
  background-color: var(--intergalactic-table-td-cell-unread, #f4f5f9);
}

SCell[theme='info'] {
  background-color: var(--intergalactic-table-td-cell-selected, #e9f7ff);
}

SCell[theme='success'] {
  background-color: var(--intergalactic-table-td-cell-new, #dbfee8);
}

SCell[theme='warning'] {
  background-color: var(--intergalactic-table-td-cell-warning, #fff3d9);
}

SCell[theme='danger'] {
  background-color: var(--intergalactic-table-td-cell-critical, #fff0f7);
}
