SBody, SRow, SRowGroup {
  display: contents;
}

SAccordionRows {
  display: grid;
  grid-column: 1 / -1;
  grid-row: var(--gridRow);
  overflow: clip;
  transition-property: max-height;
  transition-duration: var(--duration);
  transition-timing-function: linear;
  grid-template-columns: subgrid;
}

SBody[compact] {
  SCell {
    padding: var(--intergalactic-spacing-3x, 12px) var(--intergalactic-spacing-2x, 8px);
  }

  SCell[data-aria-level] {
    padding-left: calc(var(--intergalactic-spacing-2x, 8px) + ((var(--intergalactic-spacing-4x, 16px) + var(--intergalactic-spacing-1x, 4px) + var(--intergalactic-spacing-05x, 2px)) * (var(--data-aria-level) - 1)));
  }

  SRow {
    SCellWrapper:first-child SCell[data-aria-level] {
      padding-left: calc(var(--intergalactic-spacing-2x, 8px) + ((var(--intergalactic-spacing-4x, 16px) + var(--intergalactic-spacing-1x, 4px) + var(--intergalactic-spacing-05x, 2px)) * (var(--data-aria-level) - 1)));
    }
  }
  SRow[sideIndents='wide'] {
    SCellWrapper:first-child SCell[data-aria-level] {
      padding-left: calc(var(--intergalactic-spacing-5x, 20px) + ((var(--intergalactic-spacing-4x, 16px) + var(--intergalactic-spacing-1x, 4px) + var(--intergalactic-spacing-05x, 2px)) * (var(--data-aria-level) - 1)));
    }
  }
  SCollapseRow[sideIndents='wide'] {
    SCellWrapper:first-child SCell[data-aria-level] {
      padding-left: calc(var(--intergalactic-spacing-5x, 20px) + ((var(--intergalactic-spacing-4x, 16px) + var(--intergalactic-spacing-1x, 4px) + var(--intergalactic-spacing-05x, 2px)) * (var(--data-aria-level) - 1)));
    }
  }

  SCell SAccordionToggle {
    margin-right: var(--intergalactic-spacing-2x, 8px);
  }
}

SRow[gridArea], SCellWrapper[gridArea], SCollapseRow[gridArea] {
  grid-area: var(--gridArea);
}

SCellWrapper {
  height: 100%;
  overflow: hidden;
}

SCollapseRow[gridArea] > SCellWrapper, SRow[isAccordionRow] > SCellWrapper {
  height: auto;
  overflow: auto;
}

SCollapseRow[gridArea] > SCellWrapper > SCell:not([withoutBorder]),
SAccordionRows > SRow[isAccordionRow]:last-child > SCellWrapper > SCell:not([withoutBorder]) {
  border-bottom: 1px solid var(--intergalactic-border-table-accent, #a9abb6);
}

SCollapseRow > SCellWrapper > SCell {
  display: block;
}

SRow[accordionType='row'][expanded] > SCellWrapper > SCell:not([theme]),
SCell:not([theme])[expanded][withAccordion] {
  background-color: var(--intergalactic-table-td-cell-active, #e6e7ed);
}

SCollapseRow > SCellWrapper > SCell:not([theme]), SRow[isAccordionRow] > SCellWrapper > SCell:not([theme]) {
  background-color: var(--intergalactic-table-td-cell-accordion, #f4f5f9);
}

/* we need a media query here because of the postcssHoverMediaFeature plugin. it doesn't handle this type of selectors correctly */
@media (hover: hover) {
  :not(SRowGroup:has([data-row-selector="true"] input:checked)) > SRow:not([accordionType='row'][expanded]):hover:not([isNonInteractive]):not(:has([data-row-selector="true"] input:checked)):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell:not([theme]):not([expanded][withAccordion]):not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover):not(:has([data-row-selector="true"] input:checked)) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell:not([theme]):not([expanded][withAccordion]):not([aria-hidden]),
  SRowGroup:has(SCell:hover):not(:has([data-row-selector="true"] input:checked)) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup']:not([theme]):not([expanded][withAccordion]):not([aria-hidden]) {
    background-color: var(--intergalactic-table-td-cell-hover, #f0f0f4);
  }

  /* MUTED THEME */
  SRow:hover:not([isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell[theme='muted']:not([aria-hidden]),
  SRow[theme='muted']:hover:not([expanded][isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell:not([theme]):not([expanded][withAccordion]):not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[theme='muted']:not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow[theme='muted']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell:not([theme]):not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup'][theme='muted']:not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow[theme='muted']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup']:not([theme]):not([aria-hidden]) {
    background-color: var(--intergalactic-table-td-cell-active, #e6e7ed);
  }

  /* INFO THEME */
  SRow:hover:not([isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell[theme='info']:not([aria-hidden]),
  SRow:hover:has([data-row-selector="true"] input:checked):not([isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell:not([aria-hidden]),
  SRow[theme='info']:hover:not([expanded][isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell:not([theme]):not([expanded][withAccordion]):not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[theme='info']:not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover):has([data-row-selector="true"] input:checked) SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell:not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow[theme='info']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell:not([theme]):not([aria-hidden]),
  SRowGroup:has(SCell:hover):has([data-row-selector="true"] input:checked) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup']:not([aria-hidden]),
  SRowGroup:has([data-row-selector="true"] input:checked) > SRow:hover:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell:not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup'][theme='info']:not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow[theme='info']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup']:not([theme]):not([aria-hidden]) {
    background-color: var(--intergalactic-table-td-cell-selected-hover, #c4e5fe);
  }

  /* SUCCESS THEME */
  SRow:hover:not([isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell[theme='success']:not([aria-hidden]),
  SRow[theme='success']:hover:not([expanded][isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell:not([theme]):not([expanded][withAccordion]):not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[theme='success']:not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow[theme='success']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell:not([theme]):not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup'][theme='success']:not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow[theme='success']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup']:not([theme]):not([expanded][withAccordion]):not([aria-hidden]) {
    background-color: var(--intergalactic-table-td-cell-new-hover, #9ef2c9);
  }

  /* WARNING THEME */
  SRow:hover:not([isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell[theme='warning']:not([aria-hidden]),
  SRow[theme='warning']:hover:not([expanded][isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell:not([theme]):not([expanded][withAccordion]):not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[theme='warning']:not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow[theme='warning']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell:not([theme]):not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup'][theme='warning']:not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow[theme='warning']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup']:not([theme]):not([aria-hidden]) {
    background-color: var(--intergalactic-table-td-cell-warning-hover, #ffdca2);
  }

  /* DANGER THEME */
  SRow:hover:not([isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell[theme='danger']:not([aria-hidden]),
  SRow[theme='danger']:hover:not([expanded][isNonInteractive]):not([aria-hidden]):not(:has(SLimitOverlayCellWrapper:hover)) > SCellWrapper > SCell:not([theme]):not([expanded][withAccordion]):not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[theme='danger']:not([aria-hidden]),
  SRowGroup:has(SCell[data-grouped-by='rowgroup']:hover) > SRow[theme='danger']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell:not([theme]):not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup'][theme='danger']:not([aria-hidden]),
  SRowGroup:has(SCell:hover) > SRow[theme='danger']:not([isNonInteractive]):not([aria-hidden]) > SCellWrapper > SCell[data-grouped-by='rowgroup']:not([theme]):not([aria-hidden]) {
    background-color: var(--intergalactic-table-td-cell-critical-hover, #ffd7df);
  }
}

SRowGroup:has([data-row-selector="true"] input:checked) > SRow > SCellWrapper > SCell,
SRow:has([data-row-selector="true"] input:checked) > SCellWrapper > SCell {
  background-color: var(--intergalactic-table-td-cell-selected, #e9f7ff);

  &[expanded][withAccordion] {
    background-color: var(--intergalactic-table-td-cell-selected-active, #c4e5fe);
  }
}

SCell {
  display: flex;
  height: 100%;
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  color: var(--intergalactic-text-primary, #191b23);
  box-sizing: border-box;
  border-bottom: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
  white-space: pre-wrap;
  word-break: break-word;
  font-variant-numeric: tabular-nums;
  transition: width calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out;
  outline: none;
  overflow: hidden;

  SAccordionToggle {
    margin-right: var(--intergalactic-spacing-3x, 12px);
    margin-left: calc(var(--intergalactic-spacing-05x, 2px) * -1);
    height: fit-content;

    svg {
      transition: transform calc(var(--intergalactic-duration-accordion, 200) * 1ms) ease-out;
    }

    &[expanded] svg {
      transform: rotate(90deg);
    }
  }

  &[withoutBorder] {
    border-bottom: none;
  }

  &[use='primary'] {
    padding: var(--intergalactic-spacing-3x, 12px);
    min-height: 45px;
    background-color: var(--intergalactic-bg-primary-neutral, #ffffff);

    &[data-aria-level] {
      padding-left: calc(var(--intergalactic-spacing-3x, 12px) + ((var(--intergalactic-spacing-5x, 20px) + var(--intergalactic-spacing-1x, 4px) + var(--intergalactic-spacing-05x, 2px)) * (var(--data-aria-level) - 1)));
    }
  }

  &[use='secondary'] {
    padding: var(--intergalactic-spacing-2x, 8px);
    min-height: 37px;
    background-color: var(--intergalactic-bg-primary-neutral, #ffffff);

    &[data-aria-level] {
      padding-left: calc(var(--intergalactic-spacing-2x, 8px) + ((var(--intergalactic-spacing-5x, 20px) + var(--intergalactic-spacing-1x, 4px) + var(--intergalactic-spacing-05x, 2px)) * (var(--data-aria-level) - 1)));
    }
  }

  &[theme='muted'] {
    background-color: var(--intergalactic-table-td-cell-unread, #f4f5f9);

    &[expanded][withAccordion] {
      background-color: var(--intergalactic-table-td-cell-active, #e6e7ed);
    }
  }

  &[theme='info'] {
    background-color: var(--intergalactic-table-td-cell-selected, #e9f7ff);

    &[expanded][withAccordion] {
      background-color: var(--intergalactic-table-td-cell-selected-active, #c4e5fe);
    }
  }

  &[theme='success'] {
    background-color: var(--intergalactic-table-td-cell-new, #dbfee8);

    &[expanded][withAccordion] {
      background-color: var(--intergalactic-table-td-cell-new-active, #9ef2c9);
    }
  }

  &[theme='warning'] {
    background-color: var(--intergalactic-table-td-cell-warning, #fff3d9);

    &[expanded][withAccordion] {
      background-color: var(--intergalactic-table-td-cell-warning-active, #ffdca2);
    }
  }

  &[theme='danger'] {
    background-color: var(--intergalactic-table-td-cell-critical, #fff0f7);

    &[expanded][withAccordion] {
      background-color: var(--intergalactic-table-td-cell-critical-active, #ffd7df);
    }
  }

  &[borders='both'],
  &[borders='left'] {
    border-left: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
  }

  &[borders='both'],
  &[borders='right'] {
    border-right: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
  }

  &[innerOutline]:focus-visible {
    transition: none;
  }
}

SRow[accordionType='row'] > SCellWrapper > SCell, SCell[withAccordion], SCell[name='SELECT_ALL_ROWS'] {
  cursor: pointer;
}

SCheckboxCell[aria-hidden] {
  filter: blur(3px);
  pointer-events: none;
}

SCellWrapper[fixed] {
  position: sticky;
  z-index: 2;
}

SSpinContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--intergalactic-overlay-limitation-secondary, rgba(255, 255, 255, 0.85));
  z-index: 15;

  &:focus-visible {
    z-index: 15;
  }

  &[headerHeight] {
    top: var(--headerHeight);
  }
}

SEmptyData {
  grid-column: 1 / -1;
}

SRow[sideIndents='wide'], SCollapseRow[sideIndents='wide'] {
  SCellWrapper:first-child SCell {
    padding-left: var(--intergalactic-spacing-5x, 20px);

    &[data-aria-level] {
      padding-left: calc(var(--intergalactic-spacing-5x, 20px) + ((var(--intergalactic-spacing-5x, 20px) + var(--intergalactic-spacing-1x, 4px) + var(--intergalactic-spacing-05x, 2px)) * (var(--data-aria-level) - 1)));
    }
  }

  SCellWrapper:last-child SCell {
    padding-right: var(--intergalactic-spacing-5x, 20px);
  }
}


SCellWrapper[fixed][shadowVertical] {
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    display: none;
    top: 0;
    width: 5px;
    height: 100%;
    z-index: 5;
  }
}

SCellWrapper[fixed='left'][shadowVertical='median'],
SCellWrapper[fixed='left'][shadowVertical='start'] {
  margin-right: -5px;

  &:after {
    display: block;
    right: 0;
    background: var(--intergalactic-scroll-area-shadow-left,
    linear-gradient(to right, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%));
  }
  SCell {
    margin-right: 5px;
  }
}
SCellWrapper[fixed='right'][shadowVertical='median'],
SCellWrapper[fixed='right'][shadowVertical='end'] {
  margin-left: -5px;
  &:after {
    display: block;
    left: 0;
    background: var(--intergalactic-scroll-area-shadow-right,
    linear-gradient(to left, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%));
  }

  SCell {
    margin-left: 5px;
  }
}

SLimitOverlayCellWrapper[gridArea] {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 16;
  grid-area: var(--gridArea);
  backdrop-filter: blur(6px);
}

SLimitOverlayCellWrapper[left] {
  position: sticky;
  left: var(---left);
}
