SItemToggle {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: 0;
}

SItemToggle[use][use] {
  color: var(--intergalactic-text-primary, #191b23);
  font-weight: var(--intergalactic-regular, 400);
}
SItemToggle[use][use='primary'] {
  background-color: var(--intergalactic-bg-secondary-neutral, #f4f5f9);
  padding: var(--intergalactic-spacing-2x, 8px) var(--intergalactic-spacing-3x, 12px);
  margin-bottom: var(--intergalactic-spacing-05x, 2px);
}
SItemToggle[use][use='primary']:hover {
  background-color: var(--intergalactic-bg-secondary-neutral-hover, #e0e1e9);
}

SItemToggle[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
}

SItemChevron {
  transform: rotate(0deg);
  transition: transform calc(var(--intergalactic-duration-accordion, 200) * 1ms) ease-out;
  fill: var(--intergalactic-icon-primary-neutral, #6c6e79);

  &[selected] {
    transform: rotate(90deg);
  }
}

@media (prefers-reduced-motion) {
  SItemChevron {
    transition: none;
  }
}
