SItemToggle {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: 0;
}

SItemToggle[keyboardFocused]:not([tabIndex='-1'])::after {
  position: absolute;
  display: block;
  content: '';
  inset: 3px;
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
  pointer-events: none;
  z-index: 3;
}

SItemToggle[use='secondary'] {
  background-color: var(--intergalactic-bg-secondary-neutral, #f4f5f9);
  padding: var(--intergalactic-spacing-2x, 8px) var(--intergalactic-spacing-3x, 12px);
}
SItemToggle[use='secondary']:hover {
  background-color: var(--intergalactic-bg-secondary-neutral-hover, #e0e1e9);
}

SItemToggle[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
}

SItemChevron {
  transform: rotate(0deg);
  transition: transform calc(var(--intergalactic-duration-accordion, 200) * 1ms) ease-out;
  fill: var(--intergalactic-icon-primary-neutral, #6c6e79);

  &[selected] {
    transform: rotate(90deg);
  }
}

@media (prefers-reduced-motion) {
  SItemChevron {
    transition: none;
  }
}
