SItemToggle {
  cursor: pointer;
  outline: 0;
}

SItemToggle[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
}

SItemToggle[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
}

SItemChevron {
  transform: rotate(0deg);
  transition: transform var(--dev_test_animations_duration, 200ms) ease-out;

  &[selected] {
    transform: rotate(90deg);
  }
}

@media (prefers-reduced-motion) {
  SItemChevron {
    transition: none;
  }
}
