STooltip {
  position: relative;
  padding: var(--intergalactic-spacing-3x, 12px);
  border-radius: var(--intergalactic-popper-rounded, 6px);
  box-sizing: border-box;
  color: var(--intergalactic-text-primary, #191b23);
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  word-wrap: break-word;
  max-width: 228px;
  font-weight: normal;
  white-space: normal;
  box-shadow: var(--intergalactic-box-shadow-popper, 0px 1px 12px 0px rgba(25, 27, 35, 0.15));
}

/* stylelint-disable-next-line no-duplicate-selectors */
STooltip {
  background-color: var(--intergalactic-tooltip-default, #ffffff);
  border: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
}

STooltip[theme='invert'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-tooltip-invert, #191b23);
  border: 1px solid var(--intergalactic-border-tooltip-invert, #6c6e79);
}

STooltip[theme='warning'] {
  background-color: var(--intergalactic-tooltip-warning, #ffd7df);
  border: 1px solid var(--intergalactic-border-critical-active, #d1002f);
}

STooltip[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
}

SArrow {
  position: absolute;
  border: 6px solid;

  &:before {
    content: '';
    position: absolute;
    border: 6px solid;
  }
}

/* stylelint-disable-next-line no-duplicate-selectors */
SArrow {
  border-color: var(--intergalactic-border-secondary, #e0e1e9);

  /* stylelint-disable-next-line no-duplicate-selectors */
  &:before {
    border-color: var(--intergalactic-tooltip-default, #ffffff);
  }
}

SArrow[theme='invert'] {
  border-color: var(--intergalactic-border-tooltip-invert, #6c6e79);

  &::before {
    border-color: var(--intergalactic-tooltip-invert, #191b23);
  }
}

SArrow[theme='warning'] {
  border-color: var(--intergalactic-border-critical-active, #d1002f);

  &::before {
    border-color: var(--intergalactic-tooltip-warning, #ffd7df);
  }
}

SArrow[bgColor][shadowColor] {
  border-color: var(--shadowColor);

  &::before {
    border-color: var(--bgColor);
  }
}

STooltip[data-popper-placement^='top'] SArrow {
  top: 100%;

  border-bottom: 0 transparent;
  border-right-color: transparent !important;
  border-left-color: transparent !important;

  &::before {
    top: -7px;
    left: -6px;

    border-bottom: 0 transparent;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
  }
}

STooltip[data-popper-placement^='bottom'] SArrow {
  bottom: 100%;

  border-top: 0 transparent;
  border-right-color: transparent !important;
  border-left-color: transparent !important;

  &::before {
    top: 1px;
    left: -6px;

    border-top: 0 transparent;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
  }
}

STooltip[data-popper-placement^='left'] SArrow {
  left: 100%;

  border-right: 0 transparent;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;

  &::before {
    top: -6px;
    left: -7px;

    border-right: 0 transparent;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
  }
}

STooltip[data-popper-placement^='right'] SArrow {
  right: 100%;

  border-left: 0 transparent;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;

  &::before {
    top: -6px;
    left: 1px;

    border-left: 0 transparent;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
  }
}

STooltipPortalledWrapper {
  position: relative;
  z-index: var(--intergalactic-z-index-tooltip, 800);
}

STooltipPortalledWrapper[zIndex] {
  z-index: var(--zIndex);
}
