@import '@semcore/utils/style/var.css';

STooltip {
  position: relative;
  padding: 12px;
  border-radius: var(--rounded-m);
  box-sizing: border-box;
  color: var(--gray-800);
  font-size: var(--fs-200);
  line-height: var(--lh-200);
  word-wrap: break-word;
  max-width: 250px;
  font-weight: normal;
  white-space: normal;
}

STooltip[theme='default'] {
  background-color: var(--white);
  border: 1px solid var(--gray-100);
  box-shadow: 0 1px 12px 0 color-mod(var(--gray-800) a(15%));
}

STooltip[theme='invert'] {
  color: var(--white);
  background-color: var(--gray-800);
  border: 1px solid var(--gray-500);
  box-shadow: 0 1px 12px 0 color-mod(var(--gray-800) a(15%));
}

STooltip[theme='warning'] {
  background-color: var(--red-100);
  border: 1px solid var(--red-400);
  box-shadow: 0 2px 5px color-mod(var(--black) a(25%));
}

STooltip[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
}

SArrow {
  position: absolute;
  border: 6px solid;

  &:before {
    content: '';
    position: absolute;
    border: 6px solid;
  }
}

SArrow[theme='default'] {
  border-color: var(--gray-100);

  &:before {
    border-color: var(--white);
  }
}

SArrow[theme='invert'] {
  border-color: var(--gray-500);

  &::before {
    border-color: var(--gray-800);
  }
}

SArrow[theme='warning'] {
  border-color: var(--red-400);

  &::before {
    border-color: var(--red-100);
  }
}

STooltip[data-popper-placement^='top'] SArrow {
  top: 100%;

  border-bottom: 0 transparent;
  border-right-color: transparent !important;
  border-left-color: transparent !important;

  &::before {
    top: -7px;
    left: -6px;

    border-bottom: 0 transparent;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
  }
}

STooltip[data-popper-placement^='bottom'] SArrow {
  bottom: 100%;

  border-top: 0 transparent;
  border-right-color: transparent !important;
  border-left-color: transparent !important;

  &::before {
    top: 1px;
    left: -6px;

    border-top: 0 transparent;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
  }
}

STooltip[data-popper-placement^='left'] SArrow {
  left: 100%;

  border-right: 0 transparent;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;

  &::before {
    top: -6px;
    left: -7px;

    border-right: 0 transparent;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
  }
}

STooltip[data-popper-placement^='right'] SArrow {
  right: 100%;

  border-left: 0 transparent;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;

  &::before {
    top: -6px;
    left: 1px;

    border-left: 0 transparent;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
  }
}
