SHeaderButton[size='m'] {
  height: var(--intergalactic-spacing-8x, 32px);
  min-width: var(--intergalactic-spacing-8x, 32px);
  /* we should have min-width in the default button styles */
}

SAddon[size='m'] {
  &:not(:only-child):first-child {
    margin-left: var(--intergalactic-spacing-3x, 12px);
  }

  &:not(:only-child):last-child {
    margin-right: var(--intergalactic-spacing-3x, 12px);
  }
}

SText {
  margin-left: var(--intergalactic-spacing-2x, 8px);
  margin-right: var(--intergalactic-spacing-2x, 8px);

  &:first-child {
    margin-left: var(--intergalactic-spacing-3x, 12px);
  }
  &:last-child {
    margin-right: var(--intergalactic-spacing-3x, 12px);
  }
}

SHeaderButton[neighborLocation='both'],
SHeaderButton[neighborLocation='left'] {
  &:after {
    background-color: var(--intergalactic-header-border-primary, transparent);
  }
}

SHeaderButton[theme='secondary-invert'] {
  background-color: var(--intergalactic-header-control-secondary, #4D407E);
  border-color: var(--intergalactic-header-border-primary, transparent);

  &:not(:hover, :active) {
    color: var(--intergalactic-text-secondary-invert, rgba(255, 255, 255, 0.8));
  }

  & SText {
    color: var(--intergalactic-text-primary-invert, #ffffff);
  }
  
  &:hover {
    background-color: var(--intergalactic-header-control-secondary-hover, #6D619F);
  }
  
  &:active {
    background-color: var(--intergalactic-header-control-secondary-active, #8379ad);
  }

  &[neighborLocation='both'],
  &[neighborLocation='left'] {
    &:after {
      background-color: var(--intergalactic-header-border-secondary, rgba(255, 255, 255, 0.15));
    }
  }

  :not(SButton) + &[neighborLocation='left'],
  :not(SButton) + &[neighborLocation='both'] {
    border-left-color: var(--intergalactic-header-border-secondary, rgba(255, 255, 255, 0.15));
  }
}

SHeaderButton[theme='tertiary-invert'] {
  &:not(:hover, :active) {
    color: var(--intergalactic-text-secondary-invert, rgba(255, 255, 255, 0.8));
  }
  &:hover {
    background-color: var(--intergalactic-header-control-tertiary-hover, #4D407E);
  }
  &:active {
    background-color: var(--intergalactic-header-control-tertiary-active, #6D619F);
  }
}
