SDraggable[draggable] {
  position: relative;
  cursor: grab;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;


  &::before {
    content: '';
    position: absolute;
    display: none;
    pointer-events: none;
    background-image: radial-gradient(circle at center,
    var(--intergalactic-icon-primary-neutral, #6c6e79) 1px,
    transparent 0);
    background-size: 6px 6px;
    background-position: 2px 2px;
    background-repeat: repeat repeat;
  }

  &:hover::before {
    display: block;
  }

  /* todo removed role after refactoring dnd with some separate control for drag */
  &:not([role="menuitemcheckbox"])[hideHoverEffect]::before {
    display: none;
  }
}

SDraggable[placement='top']::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

SDraggable[placement='right'] {

  &::before {
    right: 0;
  }
}

SDraggable[placement='bottom'] {

  &::before {
    bottom: 0;
  }
}

SDraggable[placement='left'] {

  &::before {
    left: 0;
  }
}

SDraggable[placement='top']::before,
SDraggable[placement='right']::before,
SDraggable[placement='left']::before {
  top: 0;
}

SDraggable[placement='top']::before,
SDraggable[placement='bottom']::before {
  left: 0;
  width: 100%;
  height: 16px;
}

SDraggable[placement='right']::before,
SDraggable[placement='left']::before {
  top: 0;
  width: 16px;
  height: 100%;
}

SDropZone {
  position: relative;
}

SDropZone[dropPreview],
SDraggable[dropPreview] {
  background-color: var(--intergalactic-bg-secondary-neutral, #f4f5f9);
}


SDropZone[dark][dropPreview],
SDraggable[dark][dropPreview] {
  background-color: var(--intergalactic-bg-primary-invert-active, #484a54);
}

SDraggable[keyboardDragging] {
  scale: 1.1;

  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  box-shadow: var(--intergalactic-box-shadow-dnd, 0px 0px 1px 0px rgba(25, 27, 35, 0.16), 0px 12px 40px 0px rgba(25, 27, 35, 0.16)) !important;


  &::before {
    display: block;
  }

  &[hideHoverEffect]::before {
    display: block;
  }
}

SDraggable[keyboardDragging][reversedScaling] {
  scale: 0.95;
}

SDraggable[animatedScaling] {
  transition: all calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out;
}


SA11yHint {
  position: absolute;
  /* disable-tokens-validator */
  margin-top: -1px;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
}

@media (prefers-reduced-motion: reduce) {
  SDraggable {
    transition: none;
  }
}
