@import '@semcore/utils/style/var.css';

SDropdownMenuList {
  max-height: 240px;
  margin: 4px 0;
  padding: 0;
  position: relative;
  min-height: 26px;
  min-width: 32px;
}

SDropdownMenuItem {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  text-align: left;
  line-height: normal;

  &:hover {
    background-color: var(--gray-50);
  }

  &:focus {
    outline: none;
  }
}

SDropdownMenuItem[highlighted] {
  z-index: 1;
  box-shadow: var(--keyboard-focus) inset;
}

SDropdownMenuItem[selected] {
  background-color: color-mod(var(--blue-100) a(70%));

  &:hover {
    background-color: var(--blue-100);
  }
}

SDropdownMenuItem[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
}

SDropdownMenuItem[size='l'] {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  padding: 8px 12px;
  min-height: 40px;
}

SDropdownMenuItem[size='m'] {
  font-size: var(--fs-200);
  line-height: var(--lh-200);
  padding: 6px 8px;
  min-height: 32px;
}

SDropdownMenuItem[notInteractive] {
  cursor: default;

  &:hover {
    background: none;
  }
}

SDropdownMenuItem[variant='hint'] {
  color: var(--gray-500);
  cursor: default;

  &:hover {
    background: none;
  }
}

SDropdownMenuItem[variant='title'] {
  font-weight: bold;
  cursor: default;

  &:hover {
    background: none;
  }
}

SDropdownMenuItemAddon {
  display: inline-flex;
  margin-left: 8px;
  margin-right: 8px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

SPopper {
  &:focus {
    box-shadow: var(--keyboard-focus);
  }
}
