SDropdownMenuList {
  max-height: 240px;
  padding: var(--intergalactic-spacing-1x, 4px) 0;
  position: relative;
  min-height: 26px;
  min-width: 32px;
  box-sizing: content-box;
  z-index: 0;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));

  SBar {
    z-index: 3;
  }

  &:not(&:has([data-ui-name="DropdownMenu.Group"][data-sticky="true"])) {
    SShadowHorizontal {
      &:before,
      &:after {
        border-radius: var(--intergalactic-control-rounded, 6px);
      }
    }

    SShadowVertical {
      &:before,
      &:after {
        border-radius: var(--intergalactic-control-rounded, 6px);
      }
    }
  }
}

SDropdownMenuItemContainer {
  SItemContent:focus-visible {
    outline: none;
  }
}

SDropdownMenuItemContainer[nesting-trigger] {
  justify-content: space-between;
}

SDropdownMenuItemAddon,
SItemContentText {
  display: inline-flex; /* todo: Brauer Ilia - why? should be changed to inline/inline-block for SItemContentText */
  margin-left: var(--intergalactic-spacing-1x, 4px);
  margin-right: var(--intergalactic-spacing-1x, 4px);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

SDropdownMenuNesting,
SDropdownMenuNesting[size='l'],
SDropdownMenuNesting[size='m'] {
  padding: 0;
}

SDropdownMenuNesting[highlighted] {
  z-index: 1;
  @mixin focus-outline-mixin -2px;
}

SDropdownNestingItem[size='l'],
SDropdownNestingItem[size='m'] {
  padding-right: 0;
}

SDropdownNestingItem SDropdownMenuItemContainer {
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  min-height: auto;
}

SItemHint {
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
}

SScrollContainer {
  &:has([data-ui-name="DropdownMenu.Group"][data-sticky="true"]) {
    overscroll-behavior: none;
  }
}
