SPickerFormat {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  padding: 0;
  white-space: nowrap;
  font-family: inherit;
  font-weight: var(--intergalactic-medium, 500);
  line-height: normal;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 calc(var(--intergalactic-control-rounded, 6px) - 1px)
    calc(var(--intergalactic-control-rounded, 6px) - 1px) 0; /* For smooth input and button border alignment */
  box-shadow: none;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
  background-color: var(--intergalactic-control-tertiary-neutral, transparent);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    background-color: var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
    transition: height calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-out; /* TODO: Sync with animationin FilterTrigger */
  }

  &:hover {
    cursor: pointer;
    color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
    background-color: var(--intergalactic-control-tertiary-neutral-hover, oklch(0.177 0.033 175.6 / 0.042));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
    background-color: var(--intergalactic-control-tertiary-neutral-active, oklch(0.176 0.033 175.6 / 0.056));
  }
}

SPickerFormat[size='m'] {
  width: 46px;
  height: calc(var(--intergalactic-form-control-m, 32px) - 2px);
  font-size: var(--intergalactic-fs-200, 14px);

  &::before {
    height: 18px;
  }
}

SPickerFormat[size='l'] {
  width: 49px;
  height: calc(var(--intergalactic-form-control-l, 44px) - 2px);
  font-size: var(--intergalactic-fs-300, 16px);

  &::before {
    height: 28px;
  }
}

SPickerFormat:hover::before,
SPickerFormat:active::before,
SPickerFormat[active]::before {
  height: 100%;
}

SPickerFormat[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.4);
}
