SChartSkeleton {
  height: 200px;
  width: 100%;
  mask-image: var(--bgPattern);
  background-color: var(--intergalactic-skeleton-bg, oklch(0.94 0.002 180));
}

SChartSkeleton[bgPosition] {
  mask-position: var(--bgPosition);
}

SChartSkeleton[bgSize] {
  mask-size: var(--bgSize);
}

SChartSkeleton[bgRepeat] {
  mask-repeat: var(--bgRepeat);
}
