SChartSkeleton {
  height: 200px;
  width: 100%;
  mask-image: var(--bgPattern);
  background-color: var(--intergalactic-skeleton-bg, oklch(0.94 0.006 233));
}

SChartSkeleton[theme='invert'] {
  background-color: var(--intergalactic-skeleton-bg-invert, oklch(0.5 0.019 245));
}

SChartSkeleton[bgPosition] {
  mask-position: var(--bgPosition);
}

SChartSkeleton[bgSize] {
  mask-size: var(--bgSize);
}

SChartSkeleton[bgRepeat] {
  mask-repeat: var(--bgRepeat);
}
