@import '@semcore/utils/style/var.css';

SSkeleton {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: var(--durationAnim);
  will-change: opacity;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

SSkeleton[theme='invert'] {
  fill: color-mod(var(--gray-100) a(80%));
}

SSkeleton[theme='dark'] {
  fill: color-mod(var(--white) a(30%));
}

SText {
  box-sizing: border-box;
}

@media (prefers-reduced-motion) {
  SSkeleton {
    animation-name: none;
  }
}
