SSkeleton {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: var(--durationAnim);
  will-change: opacity;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

SSkeletonSVG[theme='default'] {
  fill: var(--intergalactic-skeleton-bg, oklch(0.94 0.006 233));
}

SSkeletonSVG[theme='invert'] {
  fill: var(--intergalactic-skeleton-bg-invert, oklch(0.5 0.019 245));
}

SText {
  box-sizing: border-box;
}

@media (prefers-reduced-motion) {
  SSkeleton {
    animation-name: none;
  }
}
