@import '@semcore/utils/style/var.css';

SSwitch {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  position: relative;
  user-select: none;
}

SSwitch[size] {
  & SToggle {
    border-radius: 24px;
  }
}

SSwitch[size='m'] {
  font-size: var(--fs-100);
  line-height: var(--lh-100);

  & SToggle {
    width: 20px;
    height: 12px;
  }

  & SSlider {
    width: 8px;
    height: 8px;
  }
}

SSwitch[size='l'] {
  font-size: var(--fs-200);
  line-height: var(--lh-200);

  & SToggle {
    height: 20px;
    width: 36px;
  }

  & SSlider {
    width: 16px;
    height: 16px;
  }
}

SSwitch[size='xl'] {
  font-size: var(--fs-300);
  line-height: var(--lh-300);

  & SToggle {
    width: 44px;
    height: 24px;
  }

  & SSlider {
    width: 20px;
    height: 20px;
  }
}

SSwitch[disabled] {
  opacity: var(--disabled-opacity);

  & SToggle {
    cursor: default;
  }
}

SSwitch[checked] {
  & SAddon[neighborLocation='right'] {
    color: var(--gray-500);
  }

  & SAddon[neighborLocation='left'] {
    color: var(--gray-800);
  }
}

SToggle {
  background: var(--gray-300);
  position: relative;
  color: var(--gray-300);
  cursor: pointer;
}

SToggle[checked][theme='info'] {
  color: var(--blue-400);
  background-color: var(--blue-400);
}
SToggle[checked][theme='success'] {
  color: var(--green-400);
  background-color: var(--green-400);
}

SToggle[checked][theme='custom'] {
  color: var(--color);
  background-color: var(--color);
}

SToggle[keyboardFocused] {
  box-shadow: var(--keyboard-focus);
}

SToggle[neighborLocation='left'] {
  margin-left: 8px;
}

SToggle[neighborLocation='both'] {
  margin-right: 8px;
  margin-left: 8px;
}

SToggle[neighborLocation='right'] {
  margin-right: 8px;
}

SSlider {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin: 0 2px;
  background: #fff;
  transform: translateX(0) translateY(-50%);
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

SSlider[checked] {
  transform: translateX(100%) translateY(-50%);
}

SInput {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

SAddon[neighborLocation='right'] {
  color: var(--gray-800);
}

SAddon[neighborLocation='left'] {
  color: var(--gray-500);
}

@media (prefers-reduced-motion) {
  SSlider {
    transition: none;
  }
}
