SSwitch {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  position: relative;
  user-select: none;
}

SSwitch[size] {
  & SToggle {
    border-radius: var(--intergalactic-switch-rounded, 24px);
  }
}

SSwitch[size='m'] {
  font-size: var(--intergalactic-fs-100, 12px);
  line-height: var(--intergalactic-lh-100, 133%);

  & SToggle {
    width: 20px;
    height: 12px;
    min-width: 20px;
  }

  & SSlider {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}

SSwitch[size='l'] {
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);

  & SToggle {
    height: 20px;
    width: 36px;
    min-width: 36px;
  }

  & SSlider {
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
}

SSwitch[size='xl'] {
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 150%);

  & SToggle {
    width: 44px;
    height: 24px;
    min-width: 44px;
  }

  & SSlider {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}

SSwitch[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);

  & SToggle {
    cursor: default;
  }
  & SAddon {
    cursor: default;
  }
}

SToggle {
  background: var(--intergalactic-control-switch-bg, #a9abb6);
  position: relative;
  color: var(--intergalactic-icon-secondary-neutral, #a9abb6);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

SToggle[checked][theme='info'] {
  color: var(--intergalactic-control-primary-info, #008ff8);
  background-color: var(--intergalactic-control-primary-info, #008ff8);
}
SToggle[checked][theme='success'] {
  color: var(--intergalactic-control-primary-success, #009f81);
  background-color: var(--intergalactic-control-primary-success, #009f81);
}

SToggle[checked][theme='custom'] {
  color: var(--color);
  background-color: var(--color);
}

SToggle:has(SInput:focus-visible) {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
}

SToggle[neighborLocation='left'] {
  margin-left: var(--intergalactic-spacing-2x, 8px);
}

SToggle[neighborLocation='both'] {
  margin-right: var(--intergalactic-spacing-2x, 8px);
  margin-left: var(--intergalactic-spacing-2x, 8px);
}

SToggle[neighborLocation='right'] {
  margin-right: var(--intergalactic-spacing-2x, 8px);
}

SSlider {
  /* margin: 0 var(--intergalactic-spacing-05x, 2px); */
  background: var(--intergalactic-bg-primary-neutral, #ffffff);
  transform: translateX(-50%) scaleX(1);
  transition: transform calc(var(--intergalactic-duration-switch, 100) * 1ms) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &[checked] {
    transform: translateX(50%) scaleX(1);
  }
  pointer-events: none;
}

SToggle[active] SSlider {
  transform: translateX(-50%) scaleX(1.15) translateX(1px);
  &[checked] {
    transform: translateX(50%) scaleX(1.15) translateX(-1px);
  }
}

SInput {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

SAddon {
  cursor: pointer;
}

SAddon[neighborLocation='right'] {
  color: var(--intergalactic-text-primary, #191b23);
}

SAddon[neighborLocation='left'] {
  color: var(--intergalactic-text-secondary, #6c6e79);
}

SAddon[neighborLocation='left']:nth-child(2) {
  color: var(--intergalactic-text-primary, #191b23);
}

SSwitch[checked] {
  & SAddon[neighborLocation='right'] {
    color: var(--intergalactic-text-secondary, #6c6e79);
  }
  & SAddon[neighborLocation='right']:nth-last-child(2) {
    color: var(--intergalactic-text-primary, #191b23);
  }

  & SAddon[neighborLocation='left'] {
    color: var(--intergalactic-text-primary, #191b23);
  }
}

@media (prefers-reduced-motion) {
  SSlider {
    transition: none;
  }
}
