:root {
  --brand-color: #ba4717;
  --denim-blue: #0071bc;
  --light-blue: #2b94e1;
  --iceberg-blue: #6fafd4;
  --neon-blue: #66ccf7;
  --cyan: #00b0ed;
  --green: #4fae33;
  --dark-green: #1d9c00;
  --salad: #8bc835;
  --yellow: #ffc83f;
  --light-orange: #f9b159;
  --orange: #ff7f00;
  --dark-orange: #cc6600;
  --red: #ed2d2d;
  --dark-red: #d00000;
  --violet: #6666cc;
  --dark-violet: #524db9;
  --pink: #f160c3;
  --granitic: #2f3439;
  --asphalt: #45575c;
  --wall: #64787e;
  --mist: #98aaaf;
  --mist-light: #a3b6bd;
  --stone: #a6b0b3;
  --stone-light: #bdc4c6;
  --gray10: #222222;
  --gray20: #333333;
  --gray40: #666666;
  --gray60: #757575;
  --gray70: #aaaaaa;
  --gray80: #cccccc;
  --gray94: #eeeeee;
  --gray96: #f5f5f5;
  --sky: #e1f2ff;
  --lily: #e6f9fd;
  --marble: #f1f6f8;
  --mystic: #e4ecf1;
  --mercury: #dee3e5;
  --googleplus: #e14b3f;
  --facebook: #3b5998;
  --twitter: #2bafeb;
  --linkedin: #1a7ab2;
  --youtube: #ff0000;
  --pinterest: #bd081c;
  --instagram: #e4405f;
  --google-blue: #1a0dab;
  --google-green: #006621;
  --google-my-business: #1a73e8;

  --white: #fff;
  --black: #000;

  --fs-100: media(12px);
  --lh-100: 1.5;
  --fs-200: media(14px);
  --lh-200: 1.42;
  --fs-300: media(16px);
  --lh-300: 1.5;
  --fs-400: media(19px);
  --lh-400: 1.16;
  --fs-500: media(25px);
  --lh-500: 1.12;
  --fs-600: media(33px);
  --lh-600: 1.15;
  --fs-700: media(36px);
  --lh-700: 1.17;
  --fs-800: media(48px);
  --lh-800: 1.17;
  --keyborad-focus: 0 0 0 3px color-mod(var(--light-blue) a(30%));
  --disabled-opacity: 0.3;

  --sm-screen: 768px;
  --md-screen: 992px;

  --font-size_-1: 11px;
  --font-size_-2: 10px;
  --font-size_0: 12px;
  --font-size_1: 13px;
  --font-size_11: 33px;
  --font-size_12: 36px;
  --font-size_15: 48px;
  --font-size_2: 14px;
  --font-size_3: 16px;
  --font-size_5: 19px;
  --font-size_6: 21px;
  --font-size_8: 25px;
}
