SFeaturePopover {
  padding-top: var(--intergalactic-spacing-4x, 16px);
  padding-right: var(--intergalactic-spacing-10x, 40px);
  padding-bottom: var(--intergalactic-spacing-4x, 16px);
  padding-left: var(--intergalactic-spacing-4x, 16px);
  border-radius: var(--intergalactic-popper-rounded, 6px);
  box-sizing: border-box;
  background-color: var(--intergalactic-bg-primary-highlight, #fce081);
  color: var(--intergalactic-text-primary, #191b23);
  box-shadow: var(--intergalactic-box-shadow-popper, 0px 1px 12px 0px rgba(25, 27, 35, 0.15));
  position: relative;
}

STrigger {
  position: relative;
}

SClose {
  position: absolute;
  z-index: 1;
  right: var(--intergalactic-spacing-2x, 8px);
  top: var(--intergalactic-spacing-2x, 8px);

  & SAddon:only-child {
    margin-left: calc(var(--intergalactic-spacing-2x, 8px) - 1px);
    margin-right: calc(var(--intergalactic-spacing-2x, 8px) - 1px);
  }
}

@keyframes showTrigger {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleSizeAndHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

SSpot {
  position: absolute;
  bottom: calc(-1 * var(--intergalactic-spacing-1x, 4px));
  right: calc(-1 * var(--intergalactic-spacing-1x, 4px));
  animation-name: showTrigger;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  width: 12px;
  height: 12px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50%;
    animation-name: scaleSizeAndHide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    background-color: var(--intergalactic-feature-popover-dot-outer-border, #fce081);
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--intergalactic-bg-primary-highlight, #fce081);
  }
}

@media (prefers-reduced-motion) {
  SSpot {
    animation-name: none;
    &::before {
      animation-name: none;
    }
  }
}
