@import '@semcore/utils/style/var.css';

SFeaturePopover {
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 16px;
  border-radius: var(--rounded-m);
  box-sizing: border-box;
  background-color: var(--yellow100);
  box-shadow: 0 1px 12px rgba(25, 27, 35, 0.15);
}

SClose {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  cursor: pointer;
  color: var(--gray20);
  font-size: 0;
}

@keyframes showTrigger {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleSizeAndHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

SSpot {
  position: absolute;
  bottom: -4px;
  right: -4px;
  animation-name: showTrigger;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  width: 12px;
  height: 12px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50%;
    animation-name: scaleSizeAndHide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    background-color: var(--yellow100);
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--yellow100);
  }
}

@media (prefers-reduced-motion) {
  SSpot {
    animation-name: none;
    &::before {
      animation-name: none;
    }
  }
}
