@import '@semcore/utils/style/var.css';

STable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  border-style: hidden;
}

SCell {
  background: inherit;
  box-sizing: border-box;
}

SCell[align='center'] {
  text-align: center;
}

SCell[align='left'] {
  text-align: left;
}

SCell[align='right'] {
  text-align: right;
}

SCell[valign='middle'] {
  vertical-align: middle;
}

SCell[valign='top'] {
  vertical-align: top;
}

SCell[valign='bottom'] {
  vertical-align: bottom;
}

SCell[use='primary'] {
  padding: 12px;
}

SCell[use='secondary'] {
  padding: 8px;
}

SCellHead {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: var(--gray-800);
  cursor: default;
  box-sizing: border-box;
  /* for fixed header */
  z-index: 1;
  border: 1px solid;

  &:focus {
    outline: none;
    box-shadow: var(--keyboard-focus);
  }
}

SCellHeadContent {
  display: inline-flex;
  max-width: 100%;
  min-width: 0;
}

SCellHead[use='primary'] {
  background-color: var(--gray-50);
  border-color: var(--gray-100);
}

SCellHead[use='secondary'] {
  background-color: var(--white);
  border-width: 1px 0;
  border-color: var(--gray-100);
}

SCellHead[sorting] {
  cursor: pointer;
  &[use='primary']:hover {
    background-color: var(--gray-100);
  }
}

SCellHead[use='primary'][active] {
  background-color: var(--gray-100);
}

SCellHeadIconAsc,
SCellHeadIconDesc {
  margin-left: 4px;
  align-self: center;
  fill: var(--gray-300);
  flex-shrink: 0;
}

SCellHeadIconAsc[active],
SCellHeadIconDesc[active] {
  fill: var(--gray-400);
}

SRow {
  transition: background-color 0.1s ease;
  border-bottom: 0.5px solid var(--gray-100);

  &:last-child {
    & SCellRow {
      box-shadow: none;
    }
  }
}

SRow[theme='default'],
SCellRow[theme='default'] {
  background-color: var(--white);
}

SRow[theme='default']:hover,
SRow[theme]:hover SCellRow[theme='default'],
SCellRow[highlighted][theme='default'],
SCellRow[interactive][theme='default']:hover {
  background-color: var(--gray-50);
}

SRow[theme='info'],
SCellRow[theme='info'] {
  background-color: var(--blue-50);
}

SRow[theme='info']:hover,
SRow[theme]:hover SCellRow[theme='info'],
SCellRow[highlighted][theme='info'],
SCellRow[interactive][theme='info']:hover {
  background-color: var(--blue-100);
}

SRow[theme='success'],
SCellRow[theme='success'] {
  background-color: var(--green-50);
}

SRow[theme='success']:hover,
SRow[theme]:hover SCellRow[theme='success'],
SCellRow[highlighted][theme='success'],
SCellRow[interactive][theme='success']:hover {
  background-color: var(--green-100);
}

SRow[theme='warning'],
SCellRow[theme='warning'] {
  background-color: var(--orange-50);
}

SRow[theme='warning']:hover,
SRow[theme]:hover SCellRow[theme='warning'],
SCellRow[highlighted][theme='warning'],
SCellRow[interactive][theme='warning']:hover {
  background-color: var(--orange-100);
}

SRow[theme='danger'],
SCellRow[theme='danger'] {
  background-color: var(--red-50);
}

SRow[theme='danger']:hover,
SRow[theme]:hover SCellRow[theme='danger'],
SCellRow[highlighted][theme='danger'],
SCellRow[interactive][theme='danger']:hover {
  background-color: var(--red-100);
}

SRow[interactive],
SCellRow[interactive] {
  cursor: pointer;
}

SCellRow {
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-800);
}

SStickyHead {
  position: absolute;
  height: auto;
  width: auto;
}

SStickyHeadTable {
  table-layout: fixed;
}

SStickyHeadTable {
  border-bottom: none;
}

SStickyHead[position='fixed'] {
  position: fixed;
  z-index: 1;
}

SStickyHead[position='top'] {
  top: 0;
}

Table-parent {
  table-layout: fixed;
}

Header-hidden {
  visibility: hidden;
  z-index: -1;
}

@media (prefers-reduced-motion) {
  SRow {
    transition: none;
  }
}
