@import '@semcore/utils/style/var.css';

SInputNumber:hover {
  & SValue:not([disabled]) ~ SControls {
    visibility: visible;
  }
}

SValue:focus ~ SControls {
  visibility: visible;
}

SControls {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  visibility: hidden;
  box-sizing: border-box;
}

SControls[size='s'] {
  width: 20px;
}

SControls[size='m'] {
  width: 20px;
}

SControls[size='l'] {
  width: 25px;
}

SControls[size='xl'] {
  width: 32px;
}

SControls[showControls] {
  visibility: visible;
}

SUp,
SDown {
  color: var(--gray70);
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

SValue {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

SValue[disabled] ~ SControls {
  opacity: var(--disabled-opacity);
}

SValue:not([disabled]) {
  & ~ SControls SUp:hover {
    cursor: pointer;
    color: var(--gray40);
  }
}

SValue:not([disabled]) ~ SControls SDown:hover {
  cursor: pointer;
  color: var(--gray40);
}

SUp[size='m'] {
  padding: 6px 6px 2px;
}

SDown[size='m'] {
  padding: 2px 6px 6px;
}

SUp[size='l'] {
  padding: 7px 8px 3px;
}

SDown[size='l'] {
  padding: 3px 8px 7px;
}

SUp[size='xl'] {
  padding: 11px 11px 4px;
}

SDown[size='xl'] {
  padding: 4px 11px 11px;
}
