@import '@semcore/utils/style/var.css';

SInputNumber:hover {
  & SValue:not([disabled]) ~ SControls {
    visibility: visible;
  }
}

SValue:focus ~ SControls {
  visibility: visible;
}

SControls {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  visibility: hidden;
  box-sizing: border-box;
}

SControls[showControls] {
  visibility: visible;
}

SUp,
SDown {
  padding: 0;
  width: 16px;
  color: var(--gray-300);
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    color: var(--gray-600);
  }
}

SUp {
  padding-bottom: 1px;
}

SDown {
  padding-top: 1px;
}

SValue {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

SValue[disabled] ~ SControls {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
}
