SPattern {
  width: 6px;
  height: 100%;
  position: absolute;
  background-image: repeating-linear-gradient(315deg,var(--intergalactic-border-critical-active, #D1002F) 0,var(--intergalactic-border-critical-active, #D1002F) 2px,transparent 0,transparent 50%);
  background-size: 6px 6px;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
  border-top-left-radius: var(--intergalactic-control-rounded, 6px);
}
