@import '@semcore/utils/style/var.css';

SCalendar {
  display: flex;
  flex-direction: column;
}

SGridDays {
  display: grid;
  grid-template-columns: repeat(7, minmax(32px, auto));
  grid-template-rows: repeat(auto-fit, minmax(32px, auto));
}

SGridMonths {
  display: grid;
  grid-row-gap: 8px;
  grid-template-columns: repeat(3, minmax(60px, auto));
  grid-template-rows: repeat(4, minmax(32px, auto));
}

SWeekDays {
  display: grid;
  grid-template-columns: repeat(7, minmax(32px, auto));
}

SWeekDay {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-500);
  font-size: var(--fs-200);
  font-weight: 400;
  overflow: hidden;
}

SCalendarUnit {
  font-family: inherit;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  color: var(--gray-800);
  outline: 0;
  box-shadow: none;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  background: transparent;

  align-items: center;
  border-radius: var(--rounded-m);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: var(--fs-200);
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  position: relative;
  transition: color 0.15s, background 0.15s;
  outline: none;

  &:hover {
    color: var(--gray-800);
    background: var(--gray-100);
  }

  &:focus-visible {
    box-shadow: var(--keyboard-focus);
  }
}

SCalendarUnit[today] {
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    border-radius: var(--rounded-m);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    box-sizing: border-box;
    border: 1px solid var(--gray-200);
  }
}

SCalendarUnit[today]SCalendarUnit[startSelected],
SCalendarUnit[today]SCalendarUnit[endSelected] {
  &:before {
    border-color: color-mod(white alpha(50%));
  }
}

SCalendarUnit[selected] {
  background: var(--blue-100);
  border-radius: 0;
  color: var(--gray-800);

  &:hover {
    background: var(--blue-400);
  }
}

SCalendarUnit[highlighted] {
  background: color-mod(var(--blue-400) alpha(20%));
  border-radius: 0;
  color: var(--gray-800);

  &:hover {
    background: color-mod(var(--blue-400) alpha(30%));
  }
}

SCalendarUnit[startSelected] {
  border-bottom-left-radius: var(--rounded-m);
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--rounded-m);
  border-top-right-radius: 0;
  color: white;
  background: var(--blue-300);

  &:hover {
    color: white;
    background: var(--blue-400);
  }
}

SCalendarUnit[endSelected] {
  background: var(--blue-300);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--rounded-m);
  border-top-left-radius: 0;
  border-top-right-radius: var(--rounded-m);
  color: white;

  &:hover {
    color: white;
    background: var(--blue-400);
  }
}

SCalendarUnit[startHighlighted] {
  border-bottom-left-radius: var(--rounded-m);
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--rounded-m);
  border-top-right-radius: 0;
}

SCalendarUnit[endHighlighted] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--rounded-m);
  border-top-left-radius: 0;
  border-top-right-radius: var(--rounded-m);
}

SCalendarUnit[startHighlighted]SCalendarUnit[endHighlighted] {
  border-bottom-left-radius: var(--rounded-m);
  border-bottom-right-radius: var(--rounded-m);
  border-top-left-radius: var(--rounded-m);
  border-top-right-radius: var(--rounded-m);
}

SCalendarUnit[startSelected]SCalendarUnit[endSelected] {
  border-bottom-left-radius: var(--rounded-m);
  border-bottom-right-radius: var(--rounded-m);
  border-top-left-radius: var(--rounded-m);
  border-top-right-radius: var(--rounded-m);
}

SCalendarUnit[outdated] {
  opacity: 0.2;
}

SCalendarUnit[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

@media (prefers-reduced-motion) {
  SCalendarUnit {
    transition: none;
  }
}
