SCalendar {
  display: flex;
  flex-direction: column;
  border-radius: var(--intergalactic-rounded-small, 4px);
  gap: var(--intergalactic-spacing-content-gap-small, 4px);

  SCalendarUnit:focus-visible {
    outline: none;
  }
}

SGridDays {
  display: grid;
  grid-template-columns: repeat(7, minmax(32px, auto));
  grid-template-rows: repeat(auto-fit, minmax(32px, auto));
  grid-row-gap: var(--intergalactic-spacing-content-gap-small, 4px);
}

SGridMonths {
  display: grid;
  grid-row-gap: var(--intergalactic-spacing-content-gap-large, 8px);
  grid-template-columns: repeat(3, minmax(60px, auto));
  grid-template-rows: repeat(4, minmax(32px, auto));
}

SWeekDays {
  display: grid;
  grid-template-columns: repeat(7, minmax(32px, auto));
}

SWeekDay {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
  font-size: var(--intergalactic-fs-200, 14px);
  font-weight: var(--intergalactic-regular, 400);
  overflow: hidden;
}

SCalendarUnit {
  font-family: inherit;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
  box-shadow: none;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--intergalactic-date-picker-cell, oklch(1 0 0));

  align-items: center;
  border-radius: var(--intergalactic-rounded-small, 4px);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: var(--intergalactic-fs-200, 14px);
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  position: relative;
  transition: border-radius 0.15s 0.15s;
  outline: none;
  margin: 0;

  &:hover {
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
    background-color: var(--intergalactic-date-picker-cell-hover, oklch(0.97 0.001 180));
  }
}

SCalendarUnit[today] {
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    border-radius: var(--intergalactic-rounded-small, 4px);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    box-sizing: border-box;
    border: 1px solid var(--intergalactic-date-picker-cell-current, oklch(0.104 0.023 162.3 / 0.385));
  }
}

SCalendarUnit[today]SCalendarUnit[startSelected],
SCalendarUnit[today]SCalendarUnit[endSelected] {
  &:before {
    border-color: var(--intergalactic-border-secondary, oklch(0.176 0.033 175.7 / 0.07));
  }
}

SCalendarUnit[selected] {
  background-color: var(--intergalactic-date-picker-cell-range, oklch(0.96 0.001 180));
  border-radius: 0;
  transition: border-radius 0s 0s;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));

  &:hover {
    background-color: var(--intergalactic-date-picker-cell-range-hover, oklch(0.9 0.002 177));
  }
}

SCalendarUnit[highlighted] {
  background-color: var(--intergalactic-date-picker-cell-range, oklch(0.96 0.001 180));
  border-radius: 0;
  transition: border-radius 0s 0s;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));

  &:hover {
    background-color: var(--intergalactic-date-picker-cell-range-hover, oklch(0.9 0.002 177));
  }
}

SCalendarUnit[startSelected] {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
  background-color: var(--intergalactic-date-picker-cell-active, oklch(0.23 0.01 140));

  &:not([highlighted]) {
    border-bottom-left-radius: var(--intergalactic-rounded-small, 4px);
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--intergalactic-rounded-small, 4px);
    border-top-right-radius: 0;
  }

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
    background-color: var(--intergalactic-date-picker-cell-active-hover, oklch(0.32 0.007 140));
  }
}

SCalendarUnit[endSelected] {
  background-color: var(--intergalactic-date-picker-cell-active, oklch(0.23 0.01 140));
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));

  &:not([highlighted]) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: var(--intergalactic-rounded-small, 4px);
    border-top-left-radius: 0;
    border-top-right-radius: var(--intergalactic-rounded-small, 4px);
  }

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
    background-color: var(--intergalactic-date-picker-cell-active-hover, oklch(0.32 0.007 140));
  }
}

SCalendarUnit[startHighlighted]:not([selected]) {
  border-bottom-left-radius: var(--intergalactic-rounded-small, 4px);
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--intergalactic-rounded-small, 4px);
  border-top-right-radius: 0;
}

SCalendarUnit[endHighlighted]:not([selected]) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--intergalactic-rounded-small, 4px);
  border-top-left-radius: 0;
  border-top-right-radius: var(--intergalactic-rounded-small, 4px);
}

SCalendarUnit[startHighlighted]SCalendarUnit[endHighlighted] {
  border-bottom-left-radius: var(--intergalactic-rounded-small, 4px);
  border-bottom-right-radius: var(--intergalactic-rounded-small, 4px);
  border-top-left-radius: var(--intergalactic-rounded-small, 4px);
  border-top-right-radius: var(--intergalactic-rounded-small, 4px);
}

SCalendarUnit[startSelected]SCalendarUnit[endSelected] {
  border-bottom-left-radius: var(--intergalactic-rounded-small, 4px);
  border-bottom-right-radius: var(--intergalactic-rounded-small, 4px);
  border-top-left-radius: var(--intergalactic-rounded-small, 4px);
  border-top-right-radius: var(--intergalactic-rounded-small, 4px);
}

SCalendarUnit[compareHighlighted] {
  border: none;
  transition: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-image:
      linear-gradient(to right, var(--intergalactic-date-picker-cell-comparison-active, oklch(0.74 0.117 274.1)) 50%, transparent 50%),
      linear-gradient(to right, var(--intergalactic-date-picker-cell-comparison-active, oklch(0.74 0.117 274.1)) 50%, transparent 50%),
      linear-gradient(to bottom, var(--intergalactic-date-picker-cell-comparison-active, oklch(0.74 0.117 274.1)) 50%, transparent 50%),
      linear-gradient(to bottom, var(--intergalactic-date-picker-cell-comparison-active, oklch(0.74 0.117 274.1)) 50%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 10.8px 2px, 10.8px 2px, 0 0, 0 0;
    background-position: top left -2.9px, bottom left -2.9px, top -2.9px left, top -2.9px right;
  }
}


SCalendarUnit[compareStartHighlighted],
SCalendarUnit[compareEndHighlighted] {
  border-left: 0;
  border-right: 0;

  &::after {
    background-size: 10.8px 2px, 10.8px 2px, 2px 10.8px, 2px 10.8px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }
}

SCalendarUnit[compareStart],
SCalendarUnit[compareEnd] {
  border-radius: 0;
  background-color: var(--intergalactic-date-picker-cell-comparison-active, oklch(0.74 0.117 274.1));
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
    background-color: var(--intergalactic-date-picker-cell-comparison-active-hover, oklch(0.58 0.168 278.2));
  }
}

SCalendarUnit[compareStartHighlighted],
SCalendarUnit[compareStartHighlighted]::after {
  border-top-left-radius: var(--intergalactic-rounded-small, 4px);
  border-bottom-left-radius: var(--intergalactic-rounded-small, 4px);
}

SCalendarUnit[compareEndHighlighted],
SCalendarUnit[compareEndHighlighted]::after {
  border-top-right-radius: var(--intergalactic-rounded-small, 4px);
  border-bottom-right-radius: var(--intergalactic-rounded-small, 4px);
}

SCalendarUnit[compareStart]:not([compareHighlighted]) {
  border-top-left-radius: var(--intergalactic-rounded-small, 4px);
  border-bottom-left-radius: var(--intergalactic-rounded-small, 4px);
}

SCalendarUnit[compareEnd]:not([compareHighlighted]) {
  border-top-right-radius: var(--intergalactic-rounded-small, 4px);
  border-bottom-right-radius: var(--intergalactic-rounded-small, 4px);
}

SCalendarUnit[outdated] {
  opacity: 0.2;
}

SCalendarUnit[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

SCalendar:focus {
  & SCalendarUnit[highlighted] {
    z-index: 1;
  }

  &:not(&:has(SCalendarUnit[highlighted])) {
    border-radius: var(--intergalactic-rounded-small, 4px);
  }
}

@media (prefers-reduced-motion) {

  SCalendarUnit,
  SCalendarUnit[selected],
  SCalendarUnit[highlighted] {
    transition: none;
  }
}
