SCalendar {
  display: flex;
  flex-direction: column;
  border-radius: var(--intergalactic-surface-rounded, calc(6px + 2px));

  SCalendarUnit:focus-visible {
    outline: none;
  }
}

SGridDays {
  display: grid;
  grid-template-columns: repeat(7, minmax(32px, auto));
  grid-template-rows: repeat(auto-fit, minmax(32px, auto));
}

SGridMonths {
  display: grid;
  grid-row-gap: var(--intergalactic-spacing-2x, 8px);
  grid-template-columns: repeat(3, minmax(60px, auto));
  grid-template-rows: repeat(4, minmax(32px, auto));
}

SWeekDays {
  display: grid;
  grid-template-columns: repeat(7, minmax(32px, auto));
}

SWeekDay {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
  font-size: var(--intergalactic-fs-200, 14px);
  font-weight: var(--intergalactic-regular, 400);
  overflow: hidden;
}

SCalendarUnit {
  font-family: inherit;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
  box-shadow: none;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--intergalactic-date-picker-cell, oklch(1 0 0));

  align-items: center;
  border-radius: var(--intergalactic-control-rounded, 6px);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: var(--intergalactic-fs-200, 14px);
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  position: relative;
  transition: border-radius 0.15s 0.15s;
  outline: none;
  margin: 0;
  margin-top: 4px;

  &:hover {
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
    background-color: var(--intergalactic-date-picker-cell-hover, oklch(0.98 0.001 180));
  }
}

SCalendarUnit[today] {
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    border-radius: var(--intergalactic-control-rounded, 6px);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    box-sizing: border-box;
    border: 1px solid var(--intergalactic-date-picker-cell-current, oklch(0.109 0.023 165.5 / 0.337));
  }
}

SCalendarUnit[today]SCalendarUnit[startSelected],
SCalendarUnit[today]SCalendarUnit[endSelected] {
  &:before {
    border-color: var(--intergalactic-border-secondary, oklch(0.176 0.033 175.7 / 0.07));
  }
}

SCalendarUnit[selected] {
  background-color: var(--intergalactic-date-picker-cell-range, oklch(0.96 0.021 279.9));
  border-radius: 0;
  transition: border-radius 0s 0s;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));

  &:hover {
    background-color: var(--intergalactic-date-picker-cell-range-hover, oklch(0.9 0.054 280));
  }
}

SCalendarUnit[highlighted] {
  background-color: var(--intergalactic-date-picker-cell-range, oklch(0.96 0.021 279.9));
  border-radius: 0;
  transition: border-radius 0s 0s;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));

  &:hover {
    background-color: var(--intergalactic-date-picker-cell-range-hover, oklch(0.9 0.054 280));
  }
}

SCalendarUnit[startSelected] {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
  background-color: var(--intergalactic-date-picker-cell-active, oklch(0.64 0.18 280));

  &:not([highlighted]) {
    border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--intergalactic-control-rounded, 6px);
    border-top-right-radius: 0;
  }

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
    background-color: var(--intergalactic-date-picker-cell-active-hover, oklch(0.6 0.188 280));
  }
}

SCalendarUnit[endSelected] {
  background-color: var(--intergalactic-date-picker-cell-active, oklch(0.64 0.18 280));
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));

  &:not([highlighted]) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: var(--intergalactic-control-rounded, 6px);
    border-top-left-radius: 0;
    border-top-right-radius: var(--intergalactic-control-rounded, 6px);
  }

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
    background-color: var(--intergalactic-date-picker-cell-active-hover, oklch(0.6 0.188 280));
  }
}

SCalendarUnit[startHighlighted]:not([selected]) {
  border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--intergalactic-control-rounded, 6px);
  border-top-right-radius: 0;
}

SCalendarUnit[endHighlighted]:not([selected]) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--intergalactic-control-rounded, 6px);
  border-top-left-radius: 0;
  border-top-right-radius: var(--intergalactic-control-rounded, 6px);
}

SCalendarUnit[startHighlighted]SCalendarUnit[endHighlighted] {
  border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
  border-bottom-right-radius: var(--intergalactic-control-rounded, 6px);
  border-top-left-radius: var(--intergalactic-control-rounded, 6px);
  border-top-right-radius: var(--intergalactic-control-rounded, 6px);
}

SCalendarUnit[startSelected]SCalendarUnit[endSelected] {
  border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
  border-bottom-right-radius: var(--intergalactic-control-rounded, 6px);
  border-top-left-radius: var(--intergalactic-control-rounded, 6px);
  border-top-right-radius: var(--intergalactic-control-rounded, 6px);
}

SCalendarUnit[compareHighlighted] {
  border-top: 2px dashed var(--intergalactic-date-picker-cell-comparison-active, oklch(0.64 0.223 299.3));
  border-bottom: 2px dashed var(--intergalactic-date-picker-cell-comparison-active, oklch(0.64 0.223 299.3));
  border-radius: 0;
  transition: none;
}


SCalendarUnit[compareStartHighlighted],
SCalendarUnit[compareEndHighlighted] {
  border-left: 2px dashed var(--intergalactic-date-picker-cell-comparison-active, oklch(0.64 0.223 299.3));
  border-right: 2px dashed var(--intergalactic-date-picker-cell-comparison-active, oklch(0.64 0.223 299.3));
}

SCalendarUnit[compareStart],
SCalendarUnit[compareEnd] {
  border-radius: 0;
  background-color: var(--intergalactic-date-picker-cell-comparison-active, oklch(0.64 0.223 299.3));
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
    background-color: var(--intergalactic-date-picker-cell-comparison-active-hover, oklch(0.6 0.244 297.8));
  }
}

SCalendarUnit[compareStartHighlighted] {
  border-top-left-radius: var(--intergalactic-control-rounded, 6px);
  border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
}

SCalendarUnit[compareEndHighlighted] {
  border-top-right-radius: var(--intergalactic-control-rounded, 6px);
  border-bottom-right-radius: var(--intergalactic-control-rounded, 6px);
}

SCalendarUnit[compareStart]:not([compareHighlighted]) {
  border-top-left-radius: var(--intergalactic-control-rounded, 6px);
  border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
}

SCalendarUnit[compareEnd]:not([compareHighlighted]) {
  border-top-right-radius: var(--intergalactic-control-rounded, 6px);
  border-bottom-right-radius: var(--intergalactic-control-rounded, 6px);
}

SCalendarUnit[outdated] {
  opacity: 0.2;
}

SCalendarUnit[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

SCalendar:focus {
  & SCalendarUnit[highlighted] {
    z-index: 1;
  }

  &:not(&:has(SCalendarUnit[highlighted])) {
    border-radius: var(--intergalactic-surface-rounded, calc(6px + 2px));
  }
}

@media (prefers-reduced-motion) {

  SCalendarUnit,
  SCalendarUnit[selected],
  SCalendarUnit[highlighted] {
    transition: none;
  }
}
