@import '@semcore/utils/style/var.css';

SCalendar {
  display: flex;
  flex-direction: column;
}

SGridDays {
  display: grid;
  grid-template-columns: repeat(7, minmax(32px, auto));
  grid-template-rows: repeat(auto-fit, minmax(32px, auto));
}

SGridMonths {
  display: grid;
  grid-row-gap: 8px;
  grid-template-columns: repeat(3, minmax(60px, auto));
  grid-template-rows: repeat(4, minmax(32px, auto));
}

SWeekDays {
  display: grid;
  grid-template-columns: repeat(7, minmax(32px, auto));
}

SWeekDay {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray60);
  font-size: var(--fs-100);
  text-transform: uppercase;
  font-weight: 400;
  overflow: hidden;
}

SCalendarUnit {
  font-family: inherit;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  color: var(--gray20);
  outline: 0;
  box-shadow: none;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  background: transparent;

  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  position: relative;
  transition: color 0.15s, background 0.15s;
  outline: none;

  &:hover {
    color: var(--gray20);
    background: color-mod(var(--stone) alpha(20%));
  }

  &:focus-visible {
    box-shadow: var(--keyborad-focus);
  }
}

SCalendarUnit[today] {
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    left: 2px;
    border-radius: 3px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    box-sizing: border-box;
    border: 1px solid color-mod(black alpha(20%));
  }
}

SCalendarUnit[today]SCalendarUnit[startSelected],
SCalendarUnit[today]SCalendarUnit[endSelected] {
  &:before {
    border-color: color-mod(white alpha(50%));
  }
}

SCalendarUnit[selected] {
  background: color-mod(var(--light-blue) alpha(10%));
  border-radius: 0;
  color: var(--gray20);

  &:hover {
    background: color-mod(var(--light-blue) alpha(30%));
  }
}

SCalendarUnit[highlighted] {
  background: color-mod(var(--light-blue) alpha(20%));
  border-radius: 0;
  color: var(--gray20);

  &:hover {
    background: color-mod(var(--light-blue) alpha(30%));
  }
}

SCalendarUnit[startSelected] {
  background: var(--light-blue);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  color: white;

  &:hover {
    color: white;
    background: color-mod(var(--light-blue) shade(12%));
  }
}

SCalendarUnit[endSelected] {
  background: var(--light-blue);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  color: white;

  &:hover {
    color: white;
    background: color-mod(var(--light-blue) shade(12%));
  }
}

SCalendarUnit[startHighlighted] {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
}

SCalendarUnit[endHighlighted] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
}

SCalendarUnit[startHighlighted]SCalendarUnit[endHighlighted] {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

SCalendarUnit[startSelected]SCalendarUnit[endSelected] {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

SCalendarUnit[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

SCalendarUnit[outdated] {
  opacity: 0.2;
}
