@import '@semcore/utils/style/var.css';

SPopper {
  padding: 16px;
  outline: 0;

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

SPopper[keyboardFocused] {
  box-shadow: var(--keyborad-focus);
}

SHeader {
  display: flex;
}

STitle {
  font-size: var(--fs-100);
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

SToday {
  display: flex;
  margin-top: 12px;
  justify-content: center;
}

SPeriod {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
