SPopper {
  padding: var(--intergalactic-spacing-4x, 16px);
  outline: 0;

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:focus {
    box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
  }
}

SHeader {
  display: flex;
  align-items: center;
}

STitle {
  font-size: var(--intergalactic-fs-200, 14px);
  color: var(--intergalactic-text-primary, #191b23);
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

SToday {
  display: flex;
  margin-top: var(--intergalactic-spacing-3x, 12px);
  justify-content: center;
}

SPeriod {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--intergalactic-spacing-2x, 8px);
}

SInputMask {
  color: var(--intergalactic-text-primary, #191b23);
}

SIndicator {
  color: var(--intergalactic-text-secondary, #6c6e79);
}
SHumanizedDate {
  position: absolute;
  pointer-events: none;
}
SSingleDateInput SValue,
SDateRange SMask,
SSingleDateInput SMask,
SDateRange SValue {
  opacity: 0;
}
SSingleDateInput:focus-within SHumanizedDate {
  opacity: 0;
  z-index: var(--intergalactic-z-index-deep, -999);
}
SSingleDateInput:focus-within SValue,
SSingleDateInput:focus-within SMask {
  opacity: 1;
}
SDateRange SValue {
  opacity: 0;
}
SDateRange:focus-within SHumanizedDate {
  opacity: 0;
  z-index: var(--intergalactic-z-index-deep, -999);
}
SDateRange:focus-within SValue,
SDateRange:focus-within SMask {
  opacity: 1;
}
SInputMask[noHumanizedDate] SValue,
SInputMask[noHumanizedDate] SMask {
  opacity: 1;
}
SDateRange SInputMask:focus-within SMask {
  background-color: var(--intergalactic-bg-highlight-focus, rgba(0, 143, 248, 0.2));
}
SRangeSep[fulfilled],
SDateRange:focus-within SRangeSep {
  color: var(--intergalactic-text-primary, #191b23);
}
