@import '@semcore/utils/style/var.css';

SPopper {
  padding: 16px;
  outline: 0;

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:focus {
    box-shadow: var(--keyboard-focus);
  }
}

SHeader {
  display: flex;
  align-items: center;
}

STitle {
  font-size: var(--fs-200);
  color: var(--gray-800);
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

SToday {
  display: flex;
  margin-top: 12px;
  justify-content: center;
}

SPeriod {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

SSingleDateInput:hover SOutline,
SSingleDateInput:focus-within SOutline,
SSingleDateInput:active SOutline,
SSingleDateInput[active] SOutline,
SDateRange:hover SOutline,
SDateRange:focus-within SOutline,
SDateRange:active SOutline,
SDateRange[active] SOutline {
  background-color: color-mod(var(--gray-400) a(30%));
}

SIndicator {
  color: var(--gray-500);
}
SHumanizedDate {
  position: absolute;
}
SSingleDateInput SValue,
SDateRange SMask,
SSingleDateInput SMask,
SDateRange SValue {
  opacity: 0;
}
SSingleDateInput:hover SHumanizedDate,
SSingleDateInput:focus-within SHumanizedDate {
  opacity: 0;
  z-index: -1000;
}
SSingleDateInput:hover SValue,
SSingleDateInput:hover SMask,
SSingleDateInput:focus-within SValue,
SSingleDateInput:focus-within SMask {
  opacity: 1;
}
SDateRange SValue {
  opacity: 0;
}
SDateRange:hover SHumanizedDate,
SDateRange:focus-within SHumanizedDate {
  opacity: 0;
  z-index: -1000;
}
SDateRange:hover SValue,
SDateRange:hover SMask,
SDateRange:focus-within SValue,
SDateRange:focus-within SMask {
  opacity: 1;
}
SInputMask[noHumanizedDate] SValue,
SInputMask[noHumanizedDate] SMask {
  opacity: 1;
}
