{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier/@typescript-eslint",
    "plugin:import/typescript",
    "plugin:import/warnings",
    "plugin:import/errors",
    "plugin:semcore/internal",
    "plugin:ssr-friendly/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react", "ssr-friendly", "eslint-plugin-no-cyrillic-string"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      },
      "workspaces": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "error",
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/default": "off",
    "import/no-cycle": "off",
    "import/extensions": [
      "error",
      "never",
      {
        "json": "always"
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "optionalDependencies": false, "peerDependencies": true }
    ],
    "no-cyrillic-string/no-cyrillic-string": "error"
  },
  "overrides": [
    {
      "files": "tools/playground/examples/**/*",
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
