# General
.DS_Store

# IDE
.idea/
.vscode/

# Dependency directories
node_modules/

# Tmp directories
.cache/
.tmp/

# Build directories
public/
lib/

# Logs files
*.log

# Coverage reports
coverage/

# Not use npm
package-lock.json

# Jest snapshots
__diff_output__

# My test directory
test2/

# Mac index file
Icon[
]

# Env variable
.env

# Npm config
.npmrc
.creds/

# Icon
semcore/**/**/*.js
semcore/**/**/*.d.ts
