SPagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

SNextPage,
SPrevPage {
  align-self: center;
  margin-left: var(--intergalactic-spacing-2x, 8px);
}

SLabel:not(:first-child) {
  margin-left: var(--intergalactic-spacing-4x, 16px);
}

STotalPages {
  align-self: center;
  line-height: normal;
}

STotalPagesLabel {
  margin-left: var(--intergalactic-spacing-2x, 8px);
  margin-right: var(--intergalactic-spacing-1x, 4px);
}

STotalLastPages {
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  color: var(--intergalactic-text-primary, #191b23);
}

SPageInput {
  max-width: 68px;
  margin-left: var(--intergalactic-spacing-1x, 4px);
}

SPageInputValue:focus ~ SPageInputAddon {
  visibility: visible;
  clip: initial;
  position: static;
}

SPageInputAddon {
  visibility: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

SLabel,
STotalPages,
STotalPagesLabel {
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}
