@import '@semcore/utils/style/var.css';

SPagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

SNextPage,
SPrevPage {
  align-self: center;
  margin-left: var(--intergalactic-spacing-spacing-2x);
}

SLabel:not(:first-child) {
  margin-left: var(--intergalactic-spacing-spacing-4x);
}

STotalPages {
  align-self: center;
  line-height: normal;
}

STotalPagesLabel {
  margin-left: var(--intergalactic-spacing-spacing-2x);
  margin-right: var(--intergalactic-spacing-spacing-1x);
}

STotalLastPages {
  font-size: var(--intergalactic-fontSizes-fs-200);
  line-height: var(--intergalactic-lineHeights-lh-200);
  color: var(--intergalactic-color-text-primary);
}

SPageInput {
  max-width: 68px;
  margin-left: var(--intergalactic-spacing-spacing-1x);
}

SPageInputValue:focus ~ SPageInputAddon {
  visibility: visible;
  clip: initial;
  position: static;
}

SPageInputAddon {
  visibility: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

SLabel,
STotalPages,
STotalPagesLabel {
  font-size: var(--intergalactic-fontSizes-fs-200);
  line-height: var(--intergalactic-lineHeights-lh-200);
}
