@import '@semcore/utils/style/var.css';

SPagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

SNextPage,
SPrevPage {
  align-self: center;
  margin-left: 8px;
}

SLabel:not(:first-child) {
  margin-left: 16px;
}

STotalPages {
  align-self: center;
  line-height: normal;
}

STotalPagesLabel {
  margin-left: 8px;
  margin-right: 4px;
}

SPageInput {
  max-width: 68px;
  margin-left: 4px;
}

SPageInputValue:focus ~ SPageInputAddon {
  visibility: visible;
  clip: initial;
  position: static;
}

SPageInputAddon {
  visibility: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

SLabel,
STotalPages,
STotalPagesLabel {
  font-size: var(--fs-200);
  line-height: var(--lh-200);
}
