.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.skipToContent {
  /* change to token */
  background: #ffffff;
  top: var(--intergalactic-spacing-3x);
  left: var(--intergalactic-spacing-3x);
  padding: var(--intergalactic-spacing-4x);
  color: var(--intergalactic-text-link-hover-active);
  position: absolute;
  transition: transform 0.3s;
  opacity: 0;
  pointer-events: none;
}

.skipToContent:focus {
  z-index: 9999;
  opacity: 1;
  pointer-events: auto;
}
