@import 'normalize.css/normalize.css';
@import 'prismjs/themes/prism.css';
@import './fonts.css';
/* @import '@semcore/ui/utils/src/themes/default.css'; */
@import './utils/default-theme.css';

html {
  font-family: var(--intergalactic-base), -apple-system, sans-serif, Arial;
  color: var(--intergalactic-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: var(--intergalactic-bg-primary-neutral);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
