@import '@semcore/utils/style/var.css';

SFormatText {
  & strong {
    font-weight: bold;
  }

  & em {
    font-style: italic;
  }

  & s {
    text-decoration: line-through;
  }

  & abbr {
    color: var(--gray-500);
    text-decoration: underline dashed var(--gray-500);

    &:active,
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }

  & a {
    display: inline;
    background: none;
    outline: none;
    transition: color 0.15s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    color: var(--blue-500);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: transparent;

    &:active,
    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }

    &:hover {
      color: var(--blue-600);
      border-color: var(--blue-600);
    }

    &:focus {
      box-shadow: var(--keyborad-focus);
    }
  }

  & blockquote {
    position: relative;
    margin-top: 18px;
    margin-bottom: 18px;
    padding-left: 51px;
    font-size: var(--fs-400);
    line-height: var(--lh-400);
    font-style: italic;
    color: var(--gray-800);

    &:before {
      content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNyIgaGVpZ2h0PSIxOSIgdmlld0JveD0iMCAwIDI3IDE5IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTguODI0MjIgMC45NDcyNjZWMi4zMDg1OUM2Ljg3NjMgMy4zMjY4MiA1LjQ4MTc3IDQuMzg5MzIgNC42NDA2MiA1LjQ5NjA5QzMuNzk5NDggNi42MDI4NiAzLjM3ODkxIDcuODA5MjQgMy4zNzg5MSA5LjExNTIzQzMuMzc4OTEgOS44ODk5NyAzLjQ4OTU4IDEwLjQyMTIgMy43MTA5NCAxMC43MDlDMy45MTAxNiAxMS4wMTg5IDQuMTUzNjUgMTEuMTczOCA0LjQ0MTQxIDExLjE3MzhDNC43MjkxNyAxMS4xNzM4IDUuMTE2NTQgMTEuMDk2NCA1LjYwMzUyIDEwLjk0MTRDNi4wOTA0OSAxMC43NjQzIDYuNTMzMiAxMC42NzU4IDYuOTMxNjQgMTAuNjc1OEM3LjgzOTE5IDEwLjY3NTggOC42MjUgMTEuMDE4OSA5LjI4OTA2IDExLjcwNTFDOS45NzUyNiAxMi4zNjkxIDEwLjMxODQgMTMuMTg4MiAxMC4zMTg0IDE0LjE2MjFDMTAuMzE4NCAxNS4yMjQ2IDkuOTA4ODUgMTYuMTQzMiA5LjA4OTg0IDE2LjkxOEM4LjI3MDgzIDE3LjY3MDYgNy4yNTI2IDE4LjA0NjkgNi4wMzUxNiAxOC4wNDY5QzQuNTUyMDggMTguMDQ2OSAzLjIxMjg5IDE3LjQwNDkgMi4wMTc1OCAxNi4xMjExQzAuODIyMjY2IDE0LjgzNzIgMC4yMjQ2MDkgMTMuMjU0NiAwLjIyNDYwOSAxMS4zNzNDMC4yMjQ2MDkgOS4xNTk1MSAwLjk1NTA3OCA3LjEwMDkxIDIuNDE2MDIgNS4xOTcyN0MzLjg5OTA5IDMuMjcxNDggNi4wMzUxNiAxLjg1NDgyIDguODI0MjIgMC45NDcyNjZaTTI0LjY2MjEgMS4wNDY4OFYyLjMwODU5QzIyLjQyNjQgMy41OTI0NSAyMC45NTQ0IDQuNzQzNDkgMjAuMjQ2MSA1Ljc2MTcyQzE5LjUzNzggNi43Nzk5NSAxOS4xODM2IDcuOTc1MjYgMTkuMTgzNiA5LjM0NzY2QzE5LjE4MzYgOS45Njc0NSAxOS4zMDUzIDEwLjQzMjMgMTkuNTQ4OCAxMC43NDIyQzE5Ljc5MjMgMTEuMDUyMSAyMC4wNDY5IDExLjIwNyAyMC4zMTI1IDExLjIwN0MyMC41NTYgMTEuMjA3IDIwLjkyMTIgMTEuMTE4NSAyMS40MDgyIDEwLjk0MTRDMjEuODk1MiAxMC43NjQzIDIyLjM4MjIgMTAuNjc1OCAyMi44NjkxIDEwLjY3NThDMjMuNzc2NyAxMC42NzU4IDI0LjU2MjUgMTEuMDA3OCAyNS4yMjY2IDExLjY3MTlDMjUuOTEyOCAxMi4zMTM4IDI2LjI1NTkgMTMuMTEwNyAyNi4yNTU5IDE0LjA2MjVDMjYuMjU1OSAxNS4xNDcxIDI1LjgyNDIgMTYuMDg3OSAyNC45NjA5IDE2Ljg4NDhDMjQuMTE5OCAxNy42ODE2IDIzLjA3OTQgMTguMDgwMSAyMS44Mzk4IDE4LjA4MDFDMjAuMzc4OSAxOC4wODAxIDE5LjA2MTggMTcuNDQ5MiAxNy44ODg3IDE2LjE4NzVDMTYuNzE1NSAxNC45MjU4IDE2LjEyODkgMTMuMzU0MiAxNi4xMjg5IDExLjQ3MjdDMTYuMTI4OSA5LjE0ODQ0IDE2Ljg3MDQgNy4wMzQ1MSAxOC4zNTM1IDUuMTMwODZDMTkuODM2NiAzLjIwNTA4IDIxLjkzOTUgMS44NDM3NSAyNC42NjIxIDEuMDQ2ODhaIiBmaWxsPSIjQTlBQkI2Ii8+Cjwvc3ZnPg==);
      display: inline-block;
      position: absolute;
      left: 0;
      color: var(--gray-300);
      font-family: Georgia, Times, 'Times New Roman', serif;
    }

    & cite {
      display: block;
      font-style: normal;
      margin-top: 16px;
      color: var(--gray-500);
      font-size: var(--fs-300);
      line-height: var(--lh-300);
    }
  }

  & ol,
  & ul {
    margin: 8px 0;
    padding: 0;
    list-style: none;
    position: relative;

    & li {
      &:before {
        position: absolute;
        left: 0;
        color: var(--gray-500);
      }
    }

    & li + li {
      margin: 8px 0 0 0;
    }
  }

  & ol {
    counter-reset: item 0;

    & li:before {
      counter-increment: item;
      content: counters(item, '.');
    }
  }

  & ul li:before {
    content: '';
    background-color: var(--gray-500);
  }

  & h1 {
    font-size: var(--fs-800);
    line-height: var(--lh-800);
    font-weight: 700;
    margin: 0 0 24px 0;

    &:only-child {
      margin-bottom: 0;
    }
  }

  & h2 {
    font-size: var(--fs-700);
    line-height: var(--lh-700);
    font-weight: 700;
    margin: 0 0 16px 0;

    &:only-child {
      margin-bottom: 0;
    }
  }

  & h3 {
    font-size: var(--fs-600);
    line-height: var(--lh-600);
    font-weight: 500;
    margin: 0 0 16px 0;

    &:only-child {
      margin-bottom: 0;
    }
  }

  & h4 {
    font-size: var(--fs-500);
    line-height: var(--lh-500);
    font-weight: 500;
    margin: 0 0 12px 0;

    &:only-child {
      margin-bottom: 0;
    }
  }

  & h5 {
    font-size: var(--fs-400);
    line-height: var(--lh-400);
    font-weight: 500;
    margin: 0 0 8px 0;

    &:only-child {
      margin-bottom: 0;
    }
  }

  & h6 {
    font-size: var(--fs-300);
    line-height: var(--lh-300);
    font-weight: 700;
    margin: 0 0 4px 0;

    &:only-child {
      margin-bottom: 0;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    & small {
      color: var(--gray-500);
      font-weight: 300;
      font-size: 100%;
    }
  }
}

SFormatText[size='m'] {
  & p,
  & li {
    font-size: var(--fs-100);
    line-height: var(--lh-100);
  }

  & p {
    margin: 0 0 18px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & li {
    padding-left: 18px;
  }

  & ol ol li {
    padding-left: 26px;
  }

  & ol ol ol li {
    padding-left: 38px;
  }

  & ul li:before {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 2px;
  }
}

SFormatText[size='l'] {
  & p,
  & li {
    font-size: var(--fs-200);
    line-height: var(--lh-200);
  }

  & p {
    margin: 0 0 20px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & li {
    padding-left: 18px;
  }

  & ol ol li {
    padding-left: 26px;
  }

  & ol ol ol li {
    padding-left: 38px;
  }

  & ul li:before {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: 2px;
  }
}

SFormatText[size='xl'] {
  & p,
  & li {
    font-size: var(--fs-300);
    line-height: var(--lh-300);
  }

  & p {
    margin: 0 0 24px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & li {
    padding-left: 18px;
  }

  & ol ol li {
    padding-left: 26px;
  }

  & ol ol ol li {
    padding-left: 38px;
  }

  & ul li:before {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 2px;
  }
}

@media (prefers-reduced-motion) {
  SFormatText {
    & a {
      transition: none;
    }
  }
}
