SContainer {
  display: contents;
}

SNoTooltipContainer,
SContainerMiddle {
  display: flex;
  overflow: hidden;
}

SBeginning,
SEllipsis {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: pre;
}

SEllipsis[middle-mod] {
  display: flex;
  overflow: hidden;
}

SEllipsis[maxLine] {
  display: -webkit-box;
  -webkit-line-clamp: var(--maxLine);
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
}

SContainerMiddle> :has(SBeginning),
SContainerMiddle> :has(STail) {
  display: flex;
  width: 100%;
}

STail {
  white-space: pre;
}
