SLegendTable[additions-count] {
  font-variant-numeric: tabular-nums;
  display: grid;
  align-items: center;
  grid-column-gap: var(--intergalactic-spacing-content-gap-large, 8px);
  grid-row-gap: var(--intergalactic-spacing-content-gap-large, 8px);

  &[additions-direction='columns'] {
    grid-template-columns: auto repeat(var(--additions-count), 0.2fr);
    height: fit-content;

    & > SColumnItem {
      text-align: right;
    }
  }
  &[additions-direction='rows'] {
    grid-template-rows: auto repeat(var(--additions-count), 0.2fr);
    grid-auto-flow: column;
  }
}

SColumnItem {
  cursor: pointer;

  &[size='l'] {
    font-size: var(--intergalactic-fs-300, 16px);
  }

  &[size='m'] {
    font-size: var(--intergalactic-fs-200, 14px);
  }

  &[transparent] {
    opacity: 0.3;
  }
}
