SLegendTable[additions-count] {
  font-variant-numeric: tabular-nums;
  display: grid;
  align-items: center;
  grid-column-gap: var(--intergalactic-spacing-2x, 8px);

  &[additions-direction='columns'] {
    grid-template-columns: auto repeat(var(--additions-count), 0.2fr);
    height: fit-content;
    grid-row-gap: var(--intergalactic-spacing-2x, 8px);

    & > SColumnItem {
      text-align: right;
    }
  }
  &[additions-direction='rows'] {
    grid-template-rows: auto repeat(var(--additions-count), 0.2fr);
    grid-auto-flow: column;
    grid-row-gap: var(--intergalactic-spacing-1x, 4px);
    grid-column-gap: var(--intergalactic-spacing-14x, 56px);
    grid-template-columns: repeat(var(--items-count), min-content);
  }
}

SColumnItem {
  white-space: nowrap;

  &[size='l'] {
    font-size: var(--intergalactic-fs-300, 16px);
  }

  &[size='m'] {
    font-size: var(--intergalactic-fs-200, 14px);
  }

  &[transparent] {
    opacity: 0.3;
  }
}
