@keyframes spin-rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1 99;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90 10;
    stroke-dashoffset: -5;
  }

  100% {
    stroke-dasharray: 1 99;
    stroke-dashoffset: -100;
  }
}

SSpin {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  animation-name: spin-rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  fill: var(--theme);
}

SCircle {
  animation-name: stretch;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

SSpin[theme] SCircle {
  stroke: var(--theme);
}

SSpin[theme='default'] SCircle, SSpin[theme='dark'] SCircle {
  stroke: var(--intergalactic-spin-bg, oklch(0.118 0.023 170.1 / 0.262));
}

SSpin[theme='invert'] {
  stroke: var(--intergalactic-spin-bg-invert, oklch(0.998 0.003 173.3 / 0.808));
}

SSpin[centered] {
  margin: auto;
}

@media (prefers-reduced-motion) {
  SSpin, SCircle {
    animation-name: none;
  }
}
