@keyframes spin-rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 20 269;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 120 169;
    stroke-dashoffset: -45;
  }

  100% {
    stroke-dasharray: 20 269;
    stroke-dashoffset: -289;
  }
}

SSpin {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  animation-name: spin-rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  fill: var(--theme);
}

SCircle {
  stroke-dasharray: 20 269;
  stroke-dashoffset: 0;
  animation-name: stretch;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

SSpin[theme] SCircle {
  stroke: var(--theme);
}

SSpin[theme='dark'] SCircle {
  stroke: var(--intergalactic-spin-bg, oklch(0.137 0.026 175.7 / 0.161));
}

SSpin[theme='invert'], SSpin[invert] {
  stroke: var(--intergalactic-spin-bg-invert, oklch(0.995 0.008 147.4 / 0.391));
}

SSpin[centered] {
  margin: auto;
}

@media (prefers-reduced-motion) {
  SSpin, SCircle {
    animation-name: none;
  }
}
