@import '@semcore/utils/style/var.css';

@keyframes spin-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

SSpin {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  animation-name: spin-rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.75s;
  border-radius: 50%;
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  color: var(--color);
}

SSpin[theme='dark'] {
  color: rgba(0, 0, 0, 0.3);
}

SSpin[theme='invert'] {
  color: #fff;
}

SSpin[centered] {
  margin: auto;
}

SSpin[size='xxs'] {
  width: 10px;
  height: 10px;
  border-width: 1px;
}

SSpin[size='xs'] {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

SSpin[size='s'] {
  width: 20px;
  height: 20px;
  border-width: 3px;
}

SSpin[size='m'] {
  width: 24px;
  height: 24px;
  border-width: 4px;
}

SSpin[size='l'] {
  width: 32px;
  height: 32px;
  border-width: 6px;
}

SSpin[size='xl'] {
  width: 48px;
  height: 48px;
  border-width: 8px;
}

SSpin[size='xxl'] {
  width: 72px;
  height: 72px;
  border-width: 10px;
}
