SInputSearch[size='m'] {
  height: 32px;
}

SClose[hide] {
  visibility: hidden;
}

/* Style for Input */
SOutline {
  top: -1px;
  left: -1px;
  width: 100%;
  border-radius: var(--intergalactic-control-rounded, 6px) var(--intergalactic-control-rounded, 6px)
    0 0;
}
