@import '@semcore/utils/style/var.css';

SInputSearch[size] {
  padding: 0;
}

SInputSearch > [data-ui-name='Input']:first-child > [data-ui-name='InputSearch'] ~ div {
  top: -1px;
  left: -1px;
  width: 100%;
  border-radius: var(--rounded-m) var(--rounded-m) 0 0;
}

SInputSearch[size='m'] > [data-ui-name='Input']:first-child {
  height: 32px;
}

SInputSearch [data-ui-name='Input.Addon']:last-of-type {
  visibility: hidden;
}

SInputSearch[filled] [data-ui-name='Input.Addon']:last-of-type {
  visibility: visible;
}
