SOptionCheckbox {
  margin-top: var(--intergalactic-spacing-05x, 2px);
  margin-right: var(--intergalactic-spacing-content-gap-medium, 6px);
  margin-bottom: auto;
  position: relative;
  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--intergalactic-control-checkbox-bg-normal, oklch(1 0 0));
    border: 1px solid var(--intergalactic-control-checkbox-border, oklch(0.137 0.026 175.7 / 0.161));
    border-radius: var(--intergalactic-addon-rounded, 4px);
  }

  width: var(--intergalactic-spacing-4x, 16px);
  height: var(--intergalactic-spacing-4x, 16px);
}

SOptionCheckbox::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 var(--intergalactic-spacing-05x, 2px);
  background-repeat: no-repeat;
  background-position: center center;
}

SOptionCheckbox[selected]::after {
  background-image: var(--intergalactic-assets-checkmark-m, url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuMzEwNyAyLjE2NzkxTDQuNjQ2NDUgNy44MzIxMkwxLjY4OTM0IDQuODc1MDEiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZT0id2hpdGUiLz48L3N2Zz4="));
}

SOptionCheckbox[size='l'] {
  width: var(--intergalactic-spacing-5x, 20px);
  height: var(--intergalactic-spacing-5x, 20px);
  margin-right: var(--intergalactic-spacing-content-gap-large, 8px);
}

SOptionCheckbox[size='l'][selected]::after {
  background-image: var(--intergalactic-assets-checkmark-l, url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIuNCAyLjQ1MjIxTDUuMzA0NCA5LjU0NzgyTDEuNjAwMDEgNS44NDM0MyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg=="));
}

SOptionCheckbox[selected]:before {
  background-color: var(--intergalactic-control-checkbox-bg-selected, oklch(0.23 0.01 140));
  border-color: var(--intergalactic-control-checkbox-bg-selected, oklch(0.23 0.01 140));
}

SOptionCheckbox[indeterminate]:before {
  background-color: var(--intergalactic-control-checkbox-bg-selected, oklch(0.23 0.01 140));
  border-color: var(--intergalactic-control-checkbox-bg-selected, oklch(0.23 0.01 140));
}

SOptionCheckbox[theme]:before {
  border-color: var(--theme);
}

SOptionCheckbox[theme][selected]:before,
SOptionCheckbox[theme][indeterminate]:before {
  background-color: var(--theme);
  border-color: var(--theme);
}

SOptionCheckbox[selected] {
  background-color: var(--intergalactic-dropdown-menu-item-selected, oklch(0.525 0.265 263 / 0.077));

  &:hover {
    background-color: var(--intergalactic-dropdown-menu-item-selected-hover, oklch(0.52 0.268 263.2 / 0.191));
  }
}

SOptionCheckbox[indeterminate]:after {
  background-color: var(--intergalactic-control-checkbox-checkmark, oklch(1 0 0));
  background-image: none;
  margin: auto;
  /* disable-tokens-validator */
  border-radius: 1px;
}

SOptionCheckbox[indeterminate][size='l']:after {
  width: var(--intergalactic-spacing-3x, 12px);
  /* disable-tokens-validator */
  height: 1.5px; /* TODO: --intergalactic-icon-stroke-width (?) */
}

SOptionCheckbox[indeterminate][size='m']:after {
  width: var(--intergalactic-spacing-2x, 8px);
  /* disable-tokens-validator */
  height: 1.5px; /* TODO: --intergalactic-icon-stroke-width (?) */
}
