@import '@semcore/utils/style/var.css';

SOptionCheckbox {
  margin-top: 2px;
  margin-right: 8px;
  margin-bottom: auto;
  position: relative;
  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid;
    border-radius: var(--rounded-s);
    border-color: var(--gray-200);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 2px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

SOptionCheckbox[size='l'] {
  width: 20px;
  height: 20px;

  &:after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMSAxLjVMNC43NSA3Ljc1TDEgNCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
  }
}

SOptionCheckbox[size='m'] {
  width: 16px;
  height: 16px;

  &:after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEwIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04LjI1IDFMNCA1LjI1TDEuNzUgMyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
  }
}

SOptionCheckbox[checked]:before {
  background-color: var(--blue-400);
  border-color: var(--blue-400);
}

SOptionCheckbox[theme]:before {
  border-color: var(--theme);
}

SOptionCheckbox[theme][checked]:before {
  background-color: var(--theme);
  border-color: var(--theme);
}

SOptionCheckbox[selected] {
  background-color: color-mod(var(--blue-100) a(70%));

  &:hover {
    background-color: color-mod(var(--blue-100) a(70%));
  }
}
