SLink {
  display: inline-block;
  font-family: inherit;
  color: var(--intergalactic-text-link, #006dca);
  line-height: normal;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  background: none;
  transition: color 0.15s ease-in-out;

  &:active,
  &:hover {
    text-decoration: none;
  }

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &[active],
  &:hover,
  &:active {
    color: var(--intergalactic-text-link-hover-active, #044792);

    & SText {
      border-color: currentColor;
    }
  }

  &[enableVisited]:visited,
  &[enableVisited]:visited:hover {
    color: var(--intergalactic-text-link-visited, #8649e1);
  }
}

SLink[visually-disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  /* Disable link interactions */
  pointer-events: none;
}

SLink[noWrapText] {
  white-space: nowrap;
}

SLink[inline] {
  display: inline;
}

SAddon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--intergalactic-spacing-05x, 2px);
  vertical-align: middle;
  pointer-events: none;
}

SLink SAddon {
  &:not(:only-child):first-child {
    margin-right: var(--intergalactic-spacing-1x, 4px);
  }

  &:not(:only-child):last-child {
    margin-left: var(--intergalactic-spacing-1x, 4px);
  }
}

SText {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  transition: border-bottom-color 0.15s ease-in-out;
}

SLink[text-color] {
  color: var(--text-color);

  &[active],
  &:hover,
  &:active {
    color: var(--text-color);
    filter: brightness(0.8);
  }
}

@media (prefers-reduced-motion) {
  SLink {
    transition: none;
  }

  SText {
    transition: none;
  }
}
