SButton {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-family: inherit;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-weight: var(--intergalactic-medium, 500);
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583)); /* change to --intergalactic-control-text-secondary */
  min-width: fit-content;

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:active,
  &:hover {
    text-decoration: none;
  }
}

SButton[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.4);
  cursor: default;
  pointer-events: none;
  box-shadow: none;
  z-index: 0;
}

SButton[size='s'] {
  width: var(--intergalactic-form-control-s, 20px);
  height: var(--intergalactic-form-control-s, 20px);
  border-radius: var(--intergalactic-addon-rounded, 4px);
}

SButton[size='m'] {
  height: var(--intergalactic-form-control-m, 28px);
  border-radius: var(--intergalactic-control-rounded, 6px);
  font-size: var(--intergalactic-fs-200, 14px);
}

SButton[size='l'] {
  height: var(--intergalactic-form-control-l, 40px);
  border-radius: var(--intergalactic-control-rounded, 6px);
  font-size: var(--intergalactic-fs-300, 16px);
}

SButton[theme='primary-info'] {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
  background-color: var(--intergalactic-control-primary-info, oklch(0.23 0.01 140));

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-primary-info-hover, oklch(0.32 0.007 140));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-primary-info-active, oklch(0 0 140));
  }
}

SButton[theme='primary-success'] {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
  background-color: var(--intergalactic-control-primary-success, oklch(0.64 0.161 170));

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-primary-success-hover, oklch(0.6 0.155 170));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-primary-success-active, oklch(0.58 0.151 170));
  }
}

SButton[theme='primary-brand'] {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary */
  background-color: var(--intergalactic-control-primary-brand, oklch(0.64 0.223 299.3)); /* change to: update the value to a lighter lavander color */

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary */
    background-color: var(--intergalactic-control-primary-brand-hover, oklch(0.6 0.244 297.8));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary */
    background-color: var(--intergalactic-control-primary-brand-active, oklch(0.58 0.254 297.1));
  }
}

SButton[theme='primary-warning'] {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
  background-color: var(--intergalactic-control-primary-brand, oklch(0.64 0.223 299.3));

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-primary-brand-hover, oklch(0.6 0.244 297.8));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-primary-brand-active, oklch(0.58 0.254 297.1));
  }
}

SButton[theme='primary-danger'] {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
  background-color: var(--intergalactic-control-primary-critical, oklch(0.64 0.226 24.5));

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-primary-critical-hover, oklch(0.6 0.219 25.5));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-primary-critical-active, oklch(0.58 0.215 26));
  }
}

SButton[theme='primary-invert'] {
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899)); /* change to --intergalactic-control-text-primary */
  background-color: var(--intergalactic-control-primary-invert, oklch(1 0 0));

  &:hover {
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899)); /* change to --intergalactic-control-text-primary */
    background-color: var(--intergalactic-control-primary-invert-hover, oklch(0.96 0.001 180));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899)); /* change to --intergalactic-control-text-primary */
    background-color: var(--intergalactic-control-primary-invert-active, oklch(0.94 0.002 180));
  }
}

SButton[theme='secondary-muted'] {
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583)); /* change to --intergalactic-control-text-secondary */
  border-color: var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
  background-color: var(--intergalactic-control-secondary-neutral, oklch(0.177 0.033 175.6 / 0.028));

  &:hover {
    background-color: var(--intergalactic-control-secondary-neutral-hover,
    oklch(0.176 0.033 175.6 / 0.056));
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899)); /* change to --intergalactic-control-text-primary */
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-secondary-neutral-active,
    oklch(0.176 0.033 175.7 / 0.084));
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899)); /* change to --intergalactic-control-text-primary */
  }
}

/* Remove this theme */
SButton[theme='secondary-info'] {
  background-color: var(--intergalactic-control-secondary-info, oklch(0.527 0.264 262.9 / 0.039));
  color: var(--intergalactic-text-link, oklch(0.53 0.21 263));
  border-color: var(--intergalactic-control-primary-info, oklch(0.23 0.01 140));

  &:hover {
    color: var(--intergalactic-text-link, oklch(0.53 0.21 263));
    background-color: var(--intergalactic-control-secondary-info-hover, oklch(0.525 0.265 263 / 0.077));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-link, oklch(0.53 0.21 263));
    background-color: var(--intergalactic-control-secondary-info-active, oklch(0.524 0.266 263.1 / 0.116));
  }
}

SButton[theme='secondary-invert'] {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
  border-color: var(--intergalactic-border-primary-invert, oklch(0.995 0.008 147.4 / 0.391));
  background-color: var(--intergalactic-control-secondary-invert, oklch(0.969 0.057 140 / 0.118));

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-secondary-invert-hover, oklch(0.976 0.043 140 / 0.145));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-secondary-invert-active,
    oklch(0.983 0.03 140 / 0.183));
  }
}

/* Remove this theme */
SButton[theme='tertiary-info'] {
  color: var(--intergalactic-text-link, oklch(0.53 0.21 263));
  background-color: var(--intergalactic-control-tertiary-info, transparent);

  &:hover {
    color: var(--intergalactic-text-link, oklch(0.53 0.21 263));
    background-color: var(--intergalactic-control-tertiary-info-hover, oklch(0.525 0.265 263 / 0.077));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-link, oklch(0.53 0.21 263));
    background-color: var(--intergalactic-control-tertiary-info-active, oklch(0.524 0.266 263.1 / 0.116));
  }
}

SButton[theme='tertiary-muted'] {
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583)); /* change to --intergalactic-control-text-tertiary */
  background-color: var(--intergalactic-control-tertiary-neutral, transparent);

  &:hover {
    background-color: var(--intergalactic-control-tertiary-neutral-hover, oklch(0.176 0.033 175.6 / 0.056));
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899)); /* change to --intergalactic-control-text-primary */
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-tertiary-neutral-active,
    oklch(0.176 0.033 175.7 / 0.084));
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899)); /* change to --intergalactic-control-text-primary */
  }
}

SButton[theme='tertiary-invert'] {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
  background-color: var(--intergalactic-control-tertiary-invert, transparent);

  &:hover {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-tertiary-invert-hover, oklch(0.976 0.043 140 / 0.145));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949)); /* change to --intergalactic-control-text-primary-invert */
    background-color: var(--intergalactic-control-tertiary-invert-active, oklch(0.983 0.03 140 / 0.183));
  }
}

SButton[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SButton[neighborLocation='both'] {
  border-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;
}

SButton[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;
}

SButton[neighborLocation='both'],
SButton[neighborLocation='left'] {
  position: relative;

  &:after {
    background-color: var(--intergalactic-border-primary-invert, oklch(0.995 0.008 147.4 / 0.391));
  } /* change to ? */

  &[theme='secondary-muted'] {
    &:after {
      background-color: var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161)); /* change to ? */
    }
  }
}

SButton+SButton[neighborLocation='both']:after,
SButton+SButton[neighborLocation='left']:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: calc(100% + 2px);
}

SSpin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

SInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

SInner[loading] {
  visibility: hidden;
}

SText {
  display: inline-flex;
}

SText[size='m'] {
  margin-left: var(--intergalactic-spacing-2x, 8px);
  margin-right: var(--intergalactic-spacing-2x, 8px);
  line-height: var(--intergalactic-lh-200, 142%);
}

SText[size='l'] {
  margin-left: var(--intergalactic-spacing-2x, 8px);
  margin-right: var(--intergalactic-spacing-2x, 8px);
  line-height: var(--intergalactic-lh-300, 150%);

  &:only-child {
    margin-left: var(--intergalactic-spacing-3x, 12px);
    margin-right: var(--intergalactic-spacing-3x, 12px);
  }

  &:first-child {
    margin-left: var(--intergalactic-spacing-3x, 12px);
  }

  &:last-child {
    margin-right: var(--intergalactic-spacing-3x, 12px);
  }
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

SAddon[size='m'] {
  &:not(:only-child):first-child {
    margin-left: calc(var(--intergalactic-spacing-2x, 8px) - 1px);
    /* -1px - for border width */
  }

  &:not(:only-child):last-child {
    margin-right: calc(var(--intergalactic-spacing-2x, 8px) - 1px);
    /* -1px - for border width */
  }

  &:only-child {
    margin-left: calc(1.5 * var(--intergalactic-spacing-1x, 4px) - 1px);
    /* -1px - for border width */
    margin-right: calc(1.5 * var(--intergalactic-spacing-1x, 4px) - 1px);
    /* -1px - for border width */
  }
}

SAddon[size='l'] {
  &:not(:only-child):first-child {
    margin-left: calc(var(--intergalactic-spacing-3x, 12px) - 1px);
    /* -1px - for border width */
  }

  &:not(:only-child):last-child {
    margin-right: calc(var(--intergalactic-spacing-3x, 12px) - 1px);
    /* -1px - for border width */
  }

  &:only-child {
    margin-left: calc(3 * var(--intergalactic-spacing-1x, 4px) - 1px);
    /* -1px - for border width */
    margin-right: calc(3 * var(--intergalactic-spacing-1x, 4px) - 1px);
    /* -1px - for border width */
  }
}
