SButton {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-family: inherit;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-weight: var(--intergalactic-medium, 500);
  color: var(--intergalactic-text-secondary, #6c6e79);
  min-width: fit-content;

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:active,
  &:hover {
    text-decoration: none;
  }
}

SButton[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
  box-shadow: none;
  z-index: 0;
}

SButton[size='s'] {
  width: var(--intergalactic-form-control-s, 20px);
  height: var(--intergalactic-form-control-s, 20px);
  border-radius: var(--intergalactic-addon-rounded, 4px);
}

SButton[size='m'] {
  height: var(--intergalactic-form-control-m, 28px);
  border-radius: var(--intergalactic-control-rounded, 6px);
  font-size: var(--intergalactic-fs-200, 14px);
}

SButton[size='l'] {
  height: var(--intergalactic-form-control-l, 40px);
  border-radius: var(--intergalactic-control-rounded, 6px);
  font-size: var(--intergalactic-fs-300, 16px);
}

SButton[theme='primary-info'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-primary-info, #008ff8);

  &:hover {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-info-hover, #006dca);
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-info-active, #044792);
  }
}

SButton[theme='primary-success'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-primary-success, #009f81);

  &:hover {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-success-hover, #007c65);
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-success-active, #055345);
  }
}

SButton[theme='primary-brand'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-primary-brand, #ff642d);

  &:hover {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-brand-hover, #c33909);
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-brand-active, #8b1500);
  }
}

SButton[theme='primary-warning'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-primary-brand, #ff642d);

  &:hover {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-brand-hover, #c33909);
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-brand-active, #8b1500);
  }
}

SButton[theme='primary-danger'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-primary-critical, #ff4953);

  &:hover {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-critical-hover, #d1002f);
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-primary-critical-active, #8e0016);
  }
}

SButton[theme='primary-invert'] {
  color: var(--intergalactic-text-primary, #191b23);
  background-color: var(--intergalactic-control-primary-invert, #ffffff);

  &:hover {
    color: var(--intergalactic-text-primary, #191b23);
    background-color: var(--intergalactic-control-primary-invert-hover, #f4f5f9);
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary, #191b23);
    background-color: var(--intergalactic-control-primary-invert-active, #e0e1e9);
  }
}

SButton[theme='secondary-muted'] {
  color: var(--intergalactic-text-secondary, #6c6e79);
  border-color: var(--intergalactic-border-primary, #c4c7cf);
  background-color: var(--intergalactic-control-secondary-neutral, rgba(138, 142, 155, 0.1));

  &:hover {
    background-color: var(--intergalactic-control-secondary-neutral-hover,
    rgba(138, 142, 155, 0.2));
    color: var(--intergalactic-text-primary, #191b23);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-secondary-neutral-active,
    rgba(138, 142, 155, 0.3));
    color: var(--intergalactic-text-primary, #191b23);
  }
}

SButton[theme='secondary-info'] {
  background-color: var(--intergalactic-control-secondary-info, rgba(0, 143, 248, 0.1));
  color: var(--intergalactic-text-link, #006dca);
  border-color: var(--intergalactic-control-primary-info, #008ff8);

  &:hover {
    color: var(--intergalactic-text-link, #006dca);
    background-color: var(--intergalactic-control-secondary-info-hover, rgba(0, 143, 248, 0.2));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-link, #006dca);
    background-color: var(--intergalactic-control-secondary-info-active, rgba(0, 143, 248, 0.3));
  }
}

SButton[theme='secondary-invert'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  border-color: var(--intergalactic-border-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-secondary-invert, rgba(255, 255, 255, 0.05));

  &:hover {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-secondary-invert-hover, rgba(255, 255, 255, 0.1));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-secondary-invert-active,
    rgba(255, 255, 255, 0.3));
  }
}

SButton[theme='tertiary-info'] {
  color: var(--intergalactic-text-link, #006dca);
  background-color: var(--intergalactic-control-tertiary-info, rgba(0, 143, 248, 0));

  &:hover {
    color: var(--intergalactic-text-link, #006dca);
    background-color: var(--intergalactic-control-tertiary-info-hover, rgba(0, 143, 248, 0.2));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-link, #006dca);
    background-color: var(--intergalactic-control-tertiary-info-active, rgba(0, 143, 248, 0.3));
  }
}

SButton[theme='tertiary-muted'] {
  color: var(--intergalactic-text-secondary, #6c6e79);
  background-color: var(--intergalactic-control-tertiary-neutral, rgba(138, 142, 155, 0));

  &:hover {
    background-color: var(--intergalactic-control-tertiary-neutral-hover, rgba(138, 142, 155, 0.2));
    color: var(--intergalactic-text-primary, #191b23);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-tertiary-neutral-active,
    rgba(138, 142, 155, 0.3));
    color: var(--intergalactic-text-primary, #191b23);
  }
}

SButton[theme='tertiary-invert'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-tertiary-invert, rgba(255, 255, 255, 0));

  &:hover {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-tertiary-invert-hover, rgba(255, 255, 255, 0.1));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-primary-invert, #ffffff);
    background-color: var(--intergalactic-control-tertiary-invert-active, rgba(255, 255, 255, 0.3));
  }
}

SButton[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SButton[neighborLocation='both'] {
  border-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;
}

SButton[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;
}

SButton[neighborLocation='both'],
SButton[neighborLocation='left'] {
  position: relative;

  &:after {
    background-color: var(--intergalactic-border-primary-invert, #ffffff);
  }

  &[theme='secondary-muted'] {
    &:after {
      background-color: var(--intergalactic-border-primary, #c4c7cf);
    }
  }
}

SButton+SButton[neighborLocation='both']:after,
SButton+SButton[neighborLocation='left']:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: calc(100% + 2px);
}

SSpin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

SInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

SInner[loading] {
  visibility: hidden;
}

SText {
  display: inline-flex;
}

SText[size='m'] {
  margin-left: var(--intergalactic-spacing-2x, 8px);
  margin-right: var(--intergalactic-spacing-2x, 8px);
  line-height: var(--intergalactic-lh-200, 142%);
}

SText[size='l'] {
  margin-left: var(--intergalactic-spacing-2x, 8px);
  margin-right: var(--intergalactic-spacing-2x, 8px);
  line-height: var(--intergalactic-lh-300, 150%);

  &:only-child {
    margin-left: var(--intergalactic-spacing-3x, 12px);
    margin-right: var(--intergalactic-spacing-3x, 12px);
  }

  &:first-child {
    margin-left: var(--intergalactic-spacing-3x, 12px);
  }

  &:last-child {
    margin-right: var(--intergalactic-spacing-3x, 12px);
  }
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

SAddon[size='m'] {
  &:not(:only-child):first-child {
    margin-left: calc(var(--intergalactic-spacing-2x, 8px) - 1px);
    /* -1px - for border width */
  }

  &:not(:only-child):last-child {
    margin-right: calc(var(--intergalactic-spacing-2x, 8px) - 1px);
    /* -1px - for border width */
  }

  &:only-child {
    margin-left: calc(1.5 * var(--intergalactic-spacing-1x, 4px) - 1px);
    /* -1px - for border width */
    margin-right: calc(1.5 * var(--intergalactic-spacing-1x, 4px) - 1px);
    /* -1px - for border width */
  }
}

SAddon[size='l'] {
  &:not(:only-child):first-child {
    margin-left: calc(var(--intergalactic-spacing-3x, 12px) - 1px);
    /* -1px - for border width */
  }

  &:not(:only-child):last-child {
    margin-right: calc(var(--intergalactic-spacing-3x, 12px) - 1px);
    /* -1px - for border width */
  }

  &:only-child {
    margin-left: calc(3 * var(--intergalactic-spacing-1x, 4px) - 1px);
    /* -1px - for border width */
    margin-right: calc(3 * var(--intergalactic-spacing-1x, 4px) - 1px);
    /* -1px - for border width */
  }
}
