SButton {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-family: inherit;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-weight: var(--intergalactic-medium, 500);
  color: var(--intergalactic-control-text-secondary, oklch(0.247 0.049 230.2 / 0.524));
  min-width: fit-content;

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:active,
  &:hover {
    text-decoration: none;
  }
}

SButton[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.4);
  cursor: default;
  pointer-events: none;
  box-shadow: none;
  z-index: 0;
}

SButton[size='s'] {
  width: var(--intergalactic-form-control-s, 20px);
  height: var(--intergalactic-form-control-s, 20px);
  border-radius: var(--intergalactic-addon-rounded, 4px);
}

SButton[size='m'] {
  height: var(--intergalactic-form-control-m, 32px);
  border-radius: var(--intergalactic-control-rounded, 6px);
  font-size: var(--intergalactic-fs-200, 14px);
}

SButton[size='m']:has(SAddon:only-child) {
  width: var(--intergalactic-form-control-m, 32px);
  min-width: var(--intergalactic-form-control-m, 32px);
}

SButton[size='l'] {
  height: var(--intergalactic-form-control-l, 44px);
  border-radius: var(--intergalactic-control-rounded, 6px);
  font-size: var(--intergalactic-fs-300, 16px);
}

SButton[size='l']:has(SAddon:only-child) {
  width: var(--intergalactic-form-control-l, 44px);
  min-width: var(--intergalactic-form-control-l, 44px);
}

SButton[theme='primary-info'] {
  color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
  background-color: var(--intergalactic-control-primary-info, oklch(0.23 0.01 225));

  &:hover {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-primary-info-hover, oklch(0.32 0.014 225));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-primary-info-active, oklch(0 0 225));
  }
}

SButton[theme='primary-success'] {
  color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
  background-color: var(--intergalactic-control-primary-success, oklch(0.64 0.161 170));

  &:hover {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-primary-success-hover, oklch(0.6 0.155 170));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-primary-success-active, oklch(0.58 0.151 170));
  }
}

SButton[theme='primary-brand'] {
  color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
  background-color: var(--intergalactic-control-primary-brand, oklch(0.74 0.17 303));

  &:hover {
    color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
    background-color: var(--intergalactic-control-primary-brand-hover, oklch(0.72 0.181 302.3));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
    background-color: var(--intergalactic-control-primary-brand-active, oklch(0.7 0.191 301.5));
  }
}

SButton[theme='primary-warning'] {
  color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
  background-color: var(--intergalactic-control-primary-brand, oklch(0.74 0.17 303));

  &:hover {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-primary-brand-hover, oklch(0.72 0.181 302.3));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-primary-brand-active, oklch(0.7 0.191 301.5));
  }
}

SButton[theme='primary-danger'] {
  color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
  background-color: var(--intergalactic-control-primary-critical, oklch(0.64 0.226 24.5));

  &:hover {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-primary-critical-hover, oklch(0.6 0.219 25.5));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-primary-critical-active, oklch(0.58 0.215 26));
  }
}

SButton[theme='primary-invert'] {
  color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
  background-color: var(--intergalactic-control-primary-invert, oklch(1 0 0));

  &:hover {
    color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
    background-color: var(--intergalactic-control-primary-invert-hover, oklch(0.96 0.005 215.6));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
    background-color: var(--intergalactic-control-primary-invert-active, oklch(0.94 0.007 216.1));
  }
}

SButton[theme='secondary-muted'] {
  color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
  background-color: var(--intergalactic-control-secondary-neutral, oklch(0.351 0.065 223 / 0.066));

  &:hover {
    background-color: var(--intergalactic-control-secondary-neutral-hover,
    oklch(0.339 0.063 223.5 / 0.097));
    color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-secondary-neutral-active,
    oklch(0.332 0.062 224.2 / 0.128));
    color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
  }
}

SButton[theme='secondary-invert'] {
  color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
  background-color: var(--intergalactic-control-secondary-invert, oklch(0.916 0.055 225.3 / 0.127));

  &:hover {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-secondary-invert-hover, oklch(0.923 0.05 225.2 / 0.178));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-secondary-invert-active,
    oklch(0.926 0.048 225.1 / 0.22));
  }
}

SButton[theme='tertiary-info'] {
  color: var(--intergalactic-text-link-accent, oklch(0.6 0.166 277.7));
  background-color: var(--intergalactic-control-tertiary-info, transparent);

  &:hover {
    color: var(--intergalactic-text-link-accent, oklch(0.6 0.166 277.7));
    background-color: var(--intergalactic-control-tertiary-info-hover, oklch(0.526 0.264 263 / 0.058));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-link-accent, oklch(0.6 0.166 277.7));
    background-color: var(--intergalactic-control-tertiary-info-active, oklch(0.525 0.265 263 / 0.077));
  }
}

SButton[theme='tertiary-muted'] {
  color: var(--intergalactic-control-text-secondary, oklch(0.247 0.049 230.2 / 0.524));
  background-color: var(--intergalactic-control-tertiary-neutral, transparent);

  &:hover {
    background-color: var(--intergalactic-control-tertiary-neutral-hover, oklch(0.363 0.068 222.8 / 0.05));
    color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-tertiary-neutral-active,
    oklch(0.351 0.065 223 / 0.066));
    color: var(--intergalactic-control-text-primary, oklch(0.23 0.01 225));
  }
}

SButton[theme='tertiary-invert'] {
  color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
  background-color: var(--intergalactic-control-tertiary-invert, transparent);

  &:hover {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-tertiary-invert-hover, oklch(0.923 0.05 225.2 / 0.178));
  }

  &:active,
  &[active] {
    color: var(--intergalactic-control-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
    background-color: var(--intergalactic-control-tertiary-invert-active, oklch(0.926 0.048 225.1 / 0.22));
  }
}

SButton[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SButton[neighborLocation='both'] {
  border-radius: 0;
}

SButton[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

SButton[neighborLocation='both'],
SButton[neighborLocation='left'] {
  position: relative;

  &:after {
    background-color: var(--intergalactic-border-primary-invert, oklch(0.932 0.044 225.1 / 0.378));
  } /* TODO: need to add a new variables for neighbor location borders based on the final UI */

  &[theme='secondary-muted'] {
    &:after {
      background-color: var(--intergalactic-border-primary, oklch(0.324 0.062 225.5 / 0.189)); /* TODO: need to add a new variables for neighbor location borders based on the final UI */
    }
  }
}

SButton+SButton[neighborLocation='both']:after,
SButton+SButton[neighborLocation='left']:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
}

SSpin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

SInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

SInner[loading] {
  visibility: hidden;
}

SText {
  display: inline-flex;
}

SText[size='m'] {
  margin-left: var(--intergalactic-spacing-content-gap-medium, 6px);
  margin-right: var(--intergalactic-spacing-content-gap-medium, 6px);
  line-height: var(--intergalactic-lh-200, 1.4286);

  &:only-child {
    margin-left: var(--intergalactic-spacing-content-padding-medium, 12px);
    margin-right: var(--intergalactic-spacing-content-padding-medium, 12px);
  }

  &:first-child {
    margin-left: var(--intergalactic-spacing-content-padding-medium, 12px);
  }

  &:last-child {
    margin-right: var(--intergalactic-spacing-content-padding-medium, 12px);
  }
}

SText[size='l'] {
  margin-left: var(--intergalactic-spacing-content-gap-medium, 6px);
  margin-right: var(--intergalactic-spacing-content-gap-medium, 6px);
  line-height: var(--intergalactic-lh-300, 1.5);

  &:only-child {
    margin-left: var(--intergalactic-spacing-content-padding-medium, 12px);
    margin-right: var(--intergalactic-spacing-content-padding-medium, 12px);
  }

  &:first-child {
    margin-left: var(--intergalactic-spacing-content-padding-medium, 12px);
  }

  &:last-child {
    margin-right: var(--intergalactic-spacing-content-padding-medium, 12px);
  }
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

SAddon[size='m'] {
  &:not(:only-child):first-child {
    margin-left: var(--intergalactic-spacing-content-padding-medium, 12px);
  }

  &:not(:only-child):last-child {
    margin-right: var(--intergalactic-spacing-content-padding-medium, 12px);
  }

  &:only-child {
    margin-left: var(--intergalactic-spacing-content-gap-large, 8px);
    margin-right: var(--intergalactic-spacing-content-gap-large, 8px);
  }
}

SAddon[size='l'] {
  &:not(:only-child):first-child {
    margin-left: var(--intergalactic-spacing-content-padding-medium, 12px);
  }

  &:not(:only-child):last-child {
    margin-right: var(--intergalactic-spacing-content-padding-medium, 12px);
  }

  &:only-child {
    margin-left: var(--intergalactic-spacing-content-padding-medium, 12px);
    margin-right: var(--intergalactic-spacing-content-padding-medium, 12px);
  }
}
