@import '@semcore/utils/style/var.css';

SLabel {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}

SText {
  margin-left: 8px;
  color: var(--gray-800);

  &[disabled] {
    opacity: var(--disabled-opacity);
  }
}

SControl {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

SCheckbox {
  position: relative;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  outline: none;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid;
    border-radius: var(--rounded-s);
  }

  &::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 2px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

SCheckbox[size='l'] {
  margin-top: 2px;
  width: 20px;
  height: 20px;
  &::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMSAxLjVMNC43NSA3Ljc1TDEgNCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
  }
}

SCheckbox[size='m'] {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  &::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEwIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04LjI1IDFMNCA1LjI1TDEuNzUgMyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
  }
}

SText[size='l'] {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
}

SText[size='m'] {
  font-size: var(--fs-200);
  line-height: var(--lh-200);
}

SCheckbox {
  &[state='normal']:before {
    border-color: var(--gray-200);
  }

  &[state='normal'][keyboardFocused]:before {
    border-color: var(--blue-400);
  }
}

SControl[checked] ~ SCheckbox[state='normal']:before,
SControl[checked] ~ SCheckbox[state='invalid']:before {
  background-color: var(--blue-400);
  border-color: var(--blue-400);
}

SControl[indeterminate] ~ SCheckbox[state='normal']:before {
  background-color: var(--blue-400);
  border-color: var(--blue-400);
}

SCheckbox[state='invalid'] {
  &:before {
    border-color: var(--red-400);
  }

  &[keyboardFocused]:before {
    box-shadow: 0 0 0 3px color-mod(var(--red-400) a(20%));
  }
}

SCheckbox[state='normal'],
SControl[checked] ~ SCheckbox[state='invalid'] {
  &[keyboardFocused]:before {
    box-shadow: var(--keyboard-focus);
  }
}

SControl[disabled] ~ SCheckbox:before {
  opacity: var(--disabled-opacity);
  cursor: default;
}

SControl[checked] ~ SCheckbox {
  &[state='invalid']:before {
    background-color: var(--red-400);
    border-color: var(--red-400);
  }
}

SControl[indeterminate] ~ SCheckbox:after {
  background-color: #fff;
  margin: auto;
  border-radius: 1px;
}

SControl[indeterminate] ~ SCheckbox[size='l']:after {
  width: 12px;
  height: 2px;
}

SControl[indeterminate] ~ SCheckbox[size='m']:after {
  width: 8px;
  height: 2px;
}

SControl[indeterminate] ~ SCheckbox[state='invalid']:before {
  background-color: var(--red-400);
  border-color: var(--red-400);
}

SCheckbox[theme][state='normal']:before {
  border-color: var(--theme);
}
SCheckbox[theme][state='normal'][keyboardFocused]:before {
  border-color: var(--theme);
}

SControl[checked] ~ SCheckbox[theme][state='normal']:before,
SControl[checked] ~ SCheckbox[theme][state='invalid']:before {
  background-color: var(--theme);
  border-color: var(--theme);
}

SControl[indeterminate] ~ SCheckbox[theme][state='normal']:before {
  background-color: var(--theme);
  border-color: var(--theme);
}
