SLabel {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }

  SText {
    margin-left: var(--intergalactic-spacing-2x, 8px);
    color: var(--intergalactic-text-primary, #191b23);

    &[disabled] {
      opacity: var(--intergalactic-disabled-opacity, 0.3);
    }
  }

  SText[color] {
    color: var(--color);
  }
}

SControl {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

SCheckbox {
  position: relative;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  outline: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--intergalactic-bg-primary-neutral, #ffffff);
    border: 1px solid;
    border-radius: var(--intergalactic-addon-rounded, 4px);
    transition: calc(var(--intergalactic-duration-control, 200) * 1ms) all ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 var(--intergalactic-spacing-05x, 2px);
    background-repeat: no-repeat;
    background-position: center center;
  }

  &[state='normal']:before {
    border-color: var(--intergalactic-border-primary, #c4c7cf);
  }

  &[state='normal']:focus-visible:before {
    border-color: var(--intergalactic-border-info-active, #006dca);
  }
}

SCheckbox[size='l'] {
  margin-top: var(--intergalactic-spacing-05x, 2px);
  width: 20px;
  height: 20px;

  &[checked]::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMSAxLjVMNC43NSA3Ljc1TDEgNCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
  }
}

SCheckbox[size='m'] {
  margin-top: var(--intergalactic-spacing-05x, 2px);
  width: 16px;
  height: 16px;

  &[checked]::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEwIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04LjI1IDFMNCA1LjI1TDEuNzUgMyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
  }
}


SText[size='l'] {
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 150%);
}

SText[size='m'] {
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}


SControl[checked]~SCheckbox[state='normal']:before,
SControl[checked]~SCheckbox[state='invalid']:before {
  background-color: var(--intergalactic-control-primary-info, #008ff8);
  border-color: var(--intergalactic-control-primary-info, #008ff8);
}

SControl[indeterminate]~SCheckbox[state='normal']:before {
  background-color: var(--intergalactic-control-primary-info, #008ff8);
  border-color: var(--intergalactic-control-primary-info, #008ff8);
}

SCheckbox[state='invalid'],
SControl[checked]~SCheckbox[state='invalid'] {
  &:before {
    border-color: var(--intergalactic-border-critical-active, #d1002f);
  }
}

SControl:focus-visible + SCheckbox[state='normal']:before {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
}
SControl:focus-visible + SCheckbox[state='invalid']:before {
  box-shadow: var(--intergalactic-keyboard-focus-invalid, 0px 0px 0px 3px rgba(255, 73, 83, 0.5));
}

SControl[disabled]~SCheckbox:before {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
}

SControl[checked]~SCheckbox {
  &[state='invalid']:before {
    background-color: var(--intergalactic-control-primary-critical, #ff4953);
    border-color: var(--intergalactic-control-primary-critical, #ff4953);
  }
}

SControl[indeterminate]~SCheckbox:after {
  background-color: #ffffff;
  margin: auto;
  /* disable-tokens-validator */
  border-radius: 1px;
}

SControl[indeterminate]~SCheckbox[size='l']:after {
  width: 12px;
  height: 2px;
}

SControl[indeterminate]~SCheckbox[size='m']:after {
  width: 8px;
  height: 2px;
}

SControl[indeterminate]~SCheckbox[state='invalid']:before {
  background-color: var(--intergalactic-control-primary-critical, #ff4953);
  border-color: var(--intergalactic-control-primary-critical, #ff4953);
}

SCheckbox[theme][state='normal']:before {
  border-color: var(--theme);
}

SCheckbox[theme][state='normal']:focus-visible:before {
  border-color: var(--theme);
}

SControl[checked]~SCheckbox[theme][state='normal']:before,
SControl[checked]~SCheckbox[theme][state='invalid']:before {
  background-color: var(--theme);
  border-color: var(--theme);
}

SControl[indeterminate]~SCheckbox[theme][state='normal']:before {
  background-color: var(--theme);
  border-color: var(--theme);
}

SInvalidPattern {
  height: calc(100% - 2px);
  margin: 1px 0 1px 1px;
  border-bottom-left-radius: var(--intergalactic-rounded-small, 4px);
  border-top-left-radius: var(--intergalactic-rounded-small, 4px);
}
