SHighlightedCheckbox {
  input[data-ui-name="CheckboxFH.Value"]:focus-visible + [data-ui-name="Value.CheckMark"]::before {
    box-shadow: none;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    margin: -3px;
    padding: 1px;
    opacity: 1;
    border-width: 3px;
    border-radius: calc(var(--intergalactic-addon-rounded, 4px) + 3px);

    background: var(--intergalactic-border-fh-active, linear-gradient(90deg, #ab6cfe, #008ff8)) padding-box, var(--intergalactic-keyboard-focus-fh-outline, linear-gradient(90deg, rgba(171, 108, 254, 0.5), rgba(0, 143, 248, 0.5))) border-box;
    mask: linear-gradient(0deg, #fff, #fff) content-box, linear-gradient(0deg, #fff, #fff);
    mask-composite: exclude;
  }

  input[data-ui-name="CheckboxFH.Value"]:checked:focus-visible + [data-ui-name="Value.CheckMark"]::before {
    mask: none;
    background: var(--intergalactic-border-fh-active, linear-gradient(90deg, #ab6cfe, #008ff8)) padding-box, var(--intergalactic-keyboard-focus-fh-outline, linear-gradient(90deg, rgba(171, 108, 254, 0.5), rgba(0, 143, 248, 0.5))) border-box;
  }

  [data-ui-name="Value.CheckMark"]::before {
    border-color: transparent;
    background: linear-gradient(white, white) padding-box,
      var(--intergalactic-border-fh, linear-gradient(90deg, #c695ff, #2bb3ff)
    ) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  input[data-ui-name="CheckboxFH.Value"]:checked ~ [data-ui-name="Value.CheckMark"]::before {
    border-color: transparent;
    background: var(--intergalactic-border-fh-active, linear-gradient(90deg, #ab6cfe, #008ff8)) padding-box,
      var(--intergalactic-border-fh-active, linear-gradient(90deg, #ab6cfe, #008ff8)) border-box;
  }
}
