@import '@semcore/utils/style/var.css';

SWizard {
  max-width: 980px;
  max-height: 700px;
  display: flex;
  padding: 0;
  background: transparent;
}

SSidebar {
  background: var(--intergalactic-color-control-primary-advertising);
  color: var(--intergalactic-color-text-primary-invert);
  font-weight: var(--intergalactic-fontWeights-bold-700);
  font-size: var(--intergalactic-fontSizes-fs-300);
  line-height: var(--intergalactic-lineHeights-lh-300);
  padding: var(--intergalactic-spacing-spacing-10x) var(--intergalactic-spacing-spacing-2x)
    calc(var(--intergalactic-spacing-spacing-8x) + var(--intergalactic-spacing-spacing-05x));
  max-width: 220px;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: var(--intergalactic-borderRadius-rounded-large) 0 0
    var(--intergalactic-borderRadius-rounded-large);
  @media (max-width: 1060px) {
    width: 44px;
  }
}

SSidebarHeader {
  margin: 0 var(--intergalactic-spacing-spacing-5x) var(--intergalactic-spacing-spacing-4x);
  @media (max-width: 1060px) {
    display: none;
  }
}

SStepper {
  display: flex;
  font-size: var(--intergalactic-fontSizes-fs-200);
  border-radius: var(--intergalactic-borderRadius-rounded-medium);
  padding: var(--intergalactic-spacing-spacing-2x) var(--intergalactic-spacing-spacing-3x);
  cursor: pointer;
  position: relative;
  overflow: auto;
  line-height: var(--intergalactic-lineHeights-lh-200);

  &:hover {
    background: var(--intergalactic-color-control-primary-advertising-hover);
    z-index: 1;
  }
  &[active] {
    background: var(--intergalactic-color-control-primary-advertising-active);
  }
  &:disabled,
  &[disabled] {
    opacity: var(--intergalactic-opacity-disabled-opacity);
    cursor: default;
    pointer-events: none; /* Disable interactions */
  }

  @media (max-width: 1060px) {
    padding: var(--intergalactic-spacing-spacing-2x) var(--intergalactic-spacing-spacing-1x);
    &:hover {
      width: fit-content;
      max-width: 220px;
    }
    &:hover SStepDescription {
      display: block;
      border-radius: var(--intergalactic-borderRadius-rounded-medium);
      white-space: nowrap;
      overflow: auto;
    }
    &[active]:hover SStepDescription {
      background: var(--intergalactic-color-control-primary-advertising-active);
    }
  }
}

SStepNumber {
  display: inline-block;
  min-width: 24px;
}

SCompleted {
  margin-top: 1px;
}

SStepDescription {
  @media (max-width: 1060px) {
    display: none;
  }
}

SContent {
  padding: var(--intergalactic-spacing-spacing-10x);
  width: 100%;
  border-radius: 0 var(--intergalactic-borderRadius-rounded-large)
    var(--intergalactic-borderRadius-rounded-large) 0;
  background: var(--intergalactic-color-bg-primary-neutral);
}
