@import '@semcore/utils/style/var.css';

SRadio {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;
}

SRadio[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
  user-select: none;
}

SText {
  margin-left: 8px;
}

SValue {
  position: relative;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  outline: none;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #fff;
  }
}

SValue[size='xl'] {
  margin-top: 2px;
  width: 20px;
  height: 20px;
}

SValue[size='l'] {
  margin-top: 1px;
  width: 16px;
  height: 16px;
}

SValue[size='m'] {
  margin-top: 2px;
  width: 12px;
  height: 12px;
}

SValue[state='normal']::before {
  border-color: var(--stone);
}

SValue[state='invalid']::before {
  border-color: var(--orange);
}

SControl {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

SControl:checked ~ SValue::before {
  border-color: var(--light-blue);
  background-color: var(--light-blue);
}

SControl:checked ~ SValue[size='xl']::after {
  width: 8px;
  height: 8px;
}

SControl:checked ~ SValue[size='l']::after {
  width: 6px;
  height: 6px;
}

SControl:checked ~ SValue[size='m']::after {
  width: 4px;
  height: 4px;
}

SValue[state='normal'][keyboardFocused]::before {
  box-shadow: var(--keyborad-focus);
  border-color: var(--light-blue);
}

SValue[state='invalid'][keyboardFocused]::before {
  box-shadow: 0 0 0 3px color-mod(var(--orange) a(30%));
}

SControl:checked ~ SValue[theme]::before {
  border-color: var(--theme);
  background-color: var(--theme);
}
SValue[state='normal'][theme]::before {
  border-color: var(--theme);
}
