SRadio {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;
}

SRadio[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
  user-select: none;
}

SText {
  margin-left: var(--intergalactic-spacing-2x, 8px);
}

SText[size='m'] {
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}

SText[size='l'] {
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 150%);
}

SValue {
  position: relative;
  flex-shrink: 0;
  padding: 0;
  outline: none;
  z-index: 0;

  margin-top: var(--intergalactic-spacing-05x, 2px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--intergalactic-bg-primary-neutral, #ffffff);
    border: 1px solid;
    border-radius: 50%;
    transition: var(--dev_test_animations_duration, 200ms) all ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: var(--intergalactic-bg-primary-neutral, #ffffff);
  }
}

SValue[size='m'] {
  width: 16px;
  height: 16px;
}

SValue[size='l'] {
  width: 20px;
  height: 20px;
}

SValue[state='normal']::before {
  border-color: var(--intergalactic-border-primary, #c4c7cf);
}

SValue[state='invalid']::before {
  border-color: var(--intergalactic-border-critical-active, #d1002f);
}

SControl {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

SControl:checked ~ SValue::before {
  border-color: var(--intergalactic-control-primary-info, #008ff8);
  background-color: var(--intergalactic-bg-primary-info, #008ff8);
}

SControl:checked ~ SValue[size='m']::after {
  width: 6px;
  height: 6px;
}

SControl:checked ~ SValue[size='l']::after {
  width: 8px;
  height: 8px;
}

SValue[state='normal'][keyboardFocused]::before {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
  border-color: var(--intergalactic-border-info-active, #006dca);
}

SValue[state='invalid'][keyboardFocused]::before {
  box-shadow: var(--intergalactic-keyboard-focus-invalid, 0px 0px 0px 3px rgba(255, 73, 83, 0.3));
}

SControl:checked ~ SValue[theme]::before {
  border-color: var(--theme);
  background-color: var(--theme);
}

SValue[state='normal'][theme]::before {
  border-color: var(--theme);
}
