@import '@semcore/utils/style/var.css';

SRadio {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;
}

SRadio[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
  user-select: none;
}

SText {
  margin-left: 8px;
}

SText[size='m'] {
  font-size: var(--fs-200);
  line-height: var(--lh-200);
}

SText[size='l'] {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
}

SValue {
  position: relative;
  flex-shrink: 0;
  padding: 0;
  outline: none;
  z-index: 0;

  margin-top: 2px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #fff;
  }
}

SValue[size='m'] {
  width: 16px;
  height: 16px;
}

SValue[size='l'] {
  width: 20px;
  height: 20px;
}

SValue[state='normal']::before {
  border-color: var(--gray-200);
}

SValue[state='invalid']::before {
  border-color: var(--red-400);
}

SControl {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

SControl:checked ~ SValue::before {
  border-color: var(--blue-400);
  background-color: var(--blue-400);
}

SControl:checked ~ SValue[size='m']::after {
  width: 6px;
  height: 6px;
}

SControl:checked ~ SValue[size='l']::after {
  width: 8px;
  height: 8px;
}

SValue[state='normal'][keyboardFocused]::before {
  box-shadow: var(--keyboard-focus);
  border-color: var(--blue-400);
}

SValue[state='invalid'][keyboardFocused]::before {
  box-shadow: 0 0 0 3px var(--keyboard-focus-invalid);
}

SControl:checked ~ SValue[theme]::before {
  border-color: var(--theme);
  background-color: var(--theme);
}

SValue[state='normal'][theme]::before {
  border-color: var(--theme);
}
