STextarea {
  height: auto;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
  border: 1px solid var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
  border-radius: var(--intergalactic-control-rounded, 6px);
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  resize: var(--resize);
  background-color: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));

  &:read-only {
    background-color: var(--intergalactic-bg-secondary-neutral, oklch(0.98 0.001 180));
  }

  &:disabled {
    opacity: var(--intergalactic-disabled-opacity, 0.4);
  }

  &::placeholder {
    color: var(--intergalactic-text-placeholder, oklch(0.098 0.023 157.4 / 0.457));
  }
}

STextarea[size='m'] {
  min-height: var(--intergalactic-form-control-m, 32px);
  padding: var(--intergalactic-spacing-1x, 4px) var(--intergalactic-spacing-content-padding-medium, 12px);
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 1.4286);
}

STextarea[size='l'] {
  min-height: var(--intergalactic-form-control-l, 44px);
  padding: var(--intergalactic-spacing-2x, 8px) var(--intergalactic-spacing-content-padding-medium, 12px);
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 1.5);
}

STextarea[state='normal'] {
  &:focus {
    border-color: var(--intergalactic-border-info-active, oklch(0.7 0.131 275.2));
    @mixin focus-outline-mixin {
      outline-offset: 0;
      transition-property: outline-color, outline-width;
    }
  }
}

STextarea[state='valid'] {
  border-color: var(--intergalactic-border-success-active, oklch(0.7 0.166 170));

  &:focus {
    @mixin focus-outline-mixin {
      outline-offset: 0;
      transition-property: outline-color, outline-width;
    }
    outline-color: var(--intergalactic-keyboard-focus-valid-outline, oklch(0.711 0.146 166.9));
  }
}

STextarea[state='invalid'] {
  border-color: var(--intergalactic-border-critical-active, oklch(0.7 0.21 23));

  &:focus {
    @mixin focus-outline-mixin {
      outline-offset: 0;
      transition-property: outline-color, outline-width;
    }
    outline-color: var(--intergalactic-keyboard-focus-invalid-outline, oklch(0.628 0.257 28.9 / 0.652));
  }

  background-image: var(--intergalactic-border-critical-pattern, repeating-linear-gradient(315deg, oklch(0.7 0.21 23) 0, oklch(0.7 0.21 23) 1px, transparent 0, transparent 50%));
  background-size: 6px 6px;
  background-color: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
  border-bottom-left-radius: calc(var(--intergalactic-control-rounded, 6px) - 2px);
  border-top-left-radius: calc(var(--intergalactic-control-rounded, 6px) - 2px);
  background-repeat: repeat-y;
}
