STextarea {
  height: auto;
  color: var(--intergalactic-text-primary, #191b23);
  border: 1px solid var(--intergalactic-border-primary, #c4c7cf);
  border-radius: var(--intergalactic-control-rounded, 6px);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  resize: var(--resize);
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);

  &:read-only {
    background-color: var(--intergalactic-bg-secondary-neutral, #f4f5f9);
  }

  &:disabled {
    opacity: var(--intergalactic-disabled-opacity, 0.3);
  }

  &::placeholder {
    color: var(--intergalactic-text-placeholder, #8a8e9b);
  }
}

STextarea[size='m'] {
  padding: var(--intergalactic-spacing-1x, 4px) var(--intergalactic-spacing-2x, 8px);
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}

STextarea[size='l'] {
  padding: var(--intergalactic-spacing-2x, 8px) var(--intergalactic-spacing-2x, 8px) var(--intergalactic-spacing-2x, 8px) var(--intergalactic-spacing-3x, 12px);
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 150%);
}

STextarea[state='normal'] {
  &:focus-visible {
    border-color: var(--intergalactic-border-info-active, #006dca);
  }
}

STextarea[state='valid'] {
  border-color: var(--intergalactic-border-success-active, #007c65);

  &:focus-visible {
    outline-color: var(--intergalactic-keyboard-focus-valid-outline, rgba(0, 159, 129, 0.5));
  }
}

STextarea[state='invalid'] {
  border-color: var(--intergalactic-border-critical-active, #d1002f);

  &:focus-visible {
    outline-color: var(--intergalactic-keyboard-focus-invalid-outline, rgba(255, 73, 83, 0.5));
  }

  background-image: var(--intergalactic-border-critical-pattern, repeating-linear-gradient(315deg, rgba(209, 0, 47, 1) 0, rgba(209, 0, 47, 1) 2px, transparent 0, transparent 50%));
  background-size: 6px 6px;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
  border-top-left-radius: var(--intergalactic-control-rounded, 6px);
  background-repeat: repeat-y;
}
