@import '@semcore/utils/style/var.css';

STextarea {
  height: auto;
  color: var(--gray-800);
  border: 1px solid var(--gray-200);
  border-radius: var(--rounded-m);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  resize: var(--resize);

  &:read-only {
    background-color: var(--gray-50);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
  }

  &::placeholder {
    color: var(--gray-300);
  }
}

STextarea[size='m'] {
  padding: 4px 8px;
  font-size: var(--fs-200);
  line-height: var(--lh-200);
}

STextarea[size='l'] {
  padding: 8px 8px 8px 12px;
  font-size: var(--fs-300);
  line-height: var(--lh-400);
}

STextarea[state='normal'] {
  &:focus {
    box-shadow: var(--keyboard-focus);
    border-color: var(--blue-400);
  }
}

STextarea[state='valid'] {
  border-color: var(--green-200);
  &:focus {
    box-shadow: var(--keyboard-focus-valid);
  }
}

STextarea[state='invalid'] {
  border-color: var(--red-200);
  &:focus {
    box-shadow: var(--keyboard-focus-invalid);
  }
}
