@import '@semcore/utils/style/var.css';

STextarea {
  height: auto;
  color: var(--intergalactic-color-text-primary);
  border: 1px solid var(--intergalactic-color-border-primary);
  border-radius: var(--intergalactic-borderRadius-rounded-medium);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  resize: var(--resize);

  &:read-only {
    background-color: var(--intergalactic-color-bg-secondary-neutral);
  }

  &:disabled {
    opacity: var(--intergalactic-opacity-disabled-opacity);
  }

  &::placeholder {
    color: var(--intergalactic-color-text-placeholder);
  }
}

STextarea[size='m'] {
  padding: var(--intergalactic-spacing-spacing-1x) var(--intergalactic-spacing-spacing-2x);
  font-size: var(--intergalactic-fontSizes-fs-200);
  line-height: var(--intergalactic-lineHeights-lh-200);
}

STextarea[size='l'] {
  padding: var(--intergalactic-spacing-spacing-2x) var(--intergalactic-spacing-spacing-2x)
    var(--intergalactic-spacing-spacing-2x) var(--intergalactic-spacing-spacing-3x);
  font-size: var(--intergalactic-fontSizes-fs-300);
  line-height: var(--intergalactic-lineHeights-lh-400);
}

STextarea[state='normal'] {
  &:focus {
    box-shadow: var(--intergalactic-boxShadow-keyboard-focus);
    border-color: var(--intergalactic-color-border-info-active);
  }
}

STextarea[state='valid'] {
  border-color: var(--intergalactic-color-border-success-active);
  &:focus {
    box-shadow: var(--intergalactic-boxShadow-keyboard-focus-valid);
  }
}

STextarea[state='invalid'] {
  border-color: var(--intergalactic-color-border-danger-active);
  &:focus {
    box-shadow: var(--intergalactic-boxShadow-keyboard-focus-invalid);
  }
}
