STabPanel {
  display: flex;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid var(--intergalactic-border-primary, #c4c7cf);
}

STabPanelItem {
  position: relative;
  bottom: -1px;
  display: inline-flex;
  min-width: 0;
  height: 32px;
  color: var(--intergalactic-text-secondary, #6c6e79);
  border: 1px solid transparent;
  border-radius: var(--intergalactic-rounded-medium, 6px) var(--intergalactic-rounded-medium, 6px) 0
    0;
  background: transparent;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;

  & SText {
    font-size: var(--intergalactic-fs-200, 14px);
    line-height: var(--intergalactic-lh-200, 142%);
    font-weight: var(--intergalactic-medium, 500);
  }

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    color: var(--intergalactic-text-primary, #191b23);
  }
}

STabPanelItem[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none; /* Disable link interactions */
}

STabPanelItem[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
}

STabPanelItem[selected] {
  color: var(--intergalactic-text-link, #006dca);
  border-color: var(--intergalactic-border-primary, #c4c7cf);
  border-bottom-color: var(--intergalactic-border-primary-invert, #ffffff);
  flex-shrink: 0;

  &:hover {
    color: var(--intergalactic-text-link-hover-active, #044792);
  }
}

SText {
  display: inline-block;
  margin: auto var(--intergalactic-spacing-2x, 8px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SAddon:not(:only-child):first-child {
  margin-left: var(--intergalactic-spacing-2x, 8px);
}

SAddon:not(:only-child):last-child {
  margin-right: var(--intergalactic-spacing-2x, 8px);
}

SAddon:only-child {
  margin-right: var(--intergalactic-spacing-2x, 8px);
  margin-left: var(--intergalactic-spacing-2x, 8px);
}
