STabPanel {
  display: flex;
  width: 100%;
  max-width: 100%;

  &::after {
    content: '';
    position: relative;
    bottom: -1px;
    flex: 1;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--intergalactic-border-primary, #c4c7cf);
  }
}

STabPanelItem {
  position: relative;
  bottom: -1px;
  display: inline-flex;
  min-width: 0;
  height: 32px;
  color: var(--intergalactic-text-secondary, #6c6e79);
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: var(--intergalactic-control-rounded, 6px) var(--intergalactic-control-rounded, 6px) 0 0;
  background: transparent;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 1px;
  margin: 0;
  box-shadow: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;

  & SText {
    font-size: var(--intergalactic-fs-200, 14px);
    line-height: var(--intergalactic-lh-200, 142%);
    font-weight: var(--intergalactic-medium, 500);
  }

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    color: var(--intergalactic-text-primary, #191b23);
  }

  &::after {
    content: '';
    position: absolute;
    left: -1px;
    bottom: 0px;
    width: calc(100% + 2px);
    border-bottom: 1px solid var(--intergalactic-border-primary, #c4c7cf);
  }
}

STabPanelItem[disabled] {
  cursor: default;
  /* Disable link interactions */
  pointer-events: none;

  & SText,
  & SAddon {
    opacity: var(--intergalactic-disabled-opacity, 0.3);
  }
}

STabPanelItem[selected] {
  color: var(--intergalactic-text-link, #006dca);
  border-color: var(--intergalactic-border-primary, #c4c7cf);
  flex-shrink: 0;

  &:hover {
    color: var(--intergalactic-text-link-hover-active, #044792);
  }

  &::after {
    border-bottom: none;
  }
}

SText {
  display: inline-block;
  margin: auto var(--intergalactic-spacing-2x, 8px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SAddon:not(:only-child):first-child {
  margin-left: var(--intergalactic-spacing-2x, 8px);
}

SAddon:not(:only-child):last-child {
  margin-right: var(--intergalactic-spacing-2x, 8px);
}

SAddon:only-child {
  margin-right: var(--intergalactic-spacing-2x, 8px);
  margin-left: var(--intergalactic-spacing-2x, 8px);
}
