@import '@semcore/utils/style/var.css';

STabPanel {
  display: flex;
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid var(--intergalactic-color-border-primary);
}

STabPanelItem {
  position: relative;
  bottom: -1px;
  display: inline-flex;
  min-width: 0;
  height: 32px;
  color: var(--intergalactic-color-text-secondary);
  border: 1px solid transparent;
  border-radius: var(--intergalactic-borderRadius-rounded-medium)
    var(--intergalactic-borderRadius-rounded-medium) 0 0;
  background: transparent;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;

  & SText {
    font-size: var(--intergalactic-fontSizes-fs-200);
    line-height: var(--intergalactic-lineHeights-lh-200);
    font-weight: var(--intergalactic-fontWeights-medium-500);
  }

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    color: var(--intergalactic-color-text-primary);
  }
}

STabPanelItem[disabled] {
  opacity: var(--intergalactic-opacity-disabled-opacity);
  cursor: default;
  pointer-events: none; /* Disable link interactions */
}

STabPanelItem[keyboardFocused] {
  box-shadow: var(--intergalactic-boxShadow-keyboard-focus);
}

STabPanelItem[selected] {
  color: var(--intergalactic-color-text-link);
  border-color: var(--intergalactic-color-border-primary);
  border-bottom-color: var(--intergalactic-color-border-primary-invert);
  flex-shrink: 0;

  &:hover {
    color: var(--intergalactic-color-text-link-hover-active);
  }
}

SText {
  display: inline-block;
  margin: auto var(--intergalactic-spacing-spacing-2x);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SAddon:not(:only-child):first-child {
  margin-left: var(--intergalactic-spacing-spacing-2x);
}

SAddon:not(:only-child):last-child {
  margin-right: var(--intergalactic-spacing-spacing-2x);
}

SAddon:only-child {
  margin-right: var(--intergalactic-spacing-spacing-2x);
  margin-left: var(--intergalactic-spacing-spacing-2x);
}
