SSlider {
  position: relative;
  width: 140px;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: var(--intergalactic-spacing-5x, 20px);
  border: none;
  background-color: transparent;

  &:before {
    content: '';
    position: absolute;
    top: var(--intergalactic-spacing-2x, 8px);
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: var(--intergalactic-progress-bar-rounded, 6px);
    background-color: var(--intergalactic-border-secondary, oklch(0.176 0.033 175.7 / 0.07));
  }

  &:hover:before {
    background-color: var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
  }

  &:active SKnob,
  &:focus-visible SKnob {
    @mixin focus-outline-mixin {
      transition-property: outline-color, outline-width, outline-offset, left;
      transition-duration: calc(var(--intergalactic-duration-fast, 200) * 1ms), calc(var(--intergalactic-duration-fast, 200) * 1ms), calc(var(--intergalactic-duration-fast, 200) * 1ms), calc(var(--intergalactic-duration-control, 200) * 1ms);
    }
  }

  &:focus:has(SKnob) {
    outline: none;
  }
}

SSlider[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.4);
  cursor: default;
  pointer-events: none;
}

SBar {
  position: absolute;
  top: var(--intergalactic-spacing-2x, 8px);
  left: 0;
  overflow: hidden;
  height: 4px;
  border-radius: var(--intergalactic-progress-bar-rounded, 6px);
  box-sizing: border-box;
  background-size: 12px;
  background-color: var(--intergalactic-control-primary-info, oklch(0.23 0.01 140));
  cursor: pointer;
  transition: calc(var(--intergalactic-duration-control, 200) * 1ms) width ease-in-out;
}

SKnob {
  position: absolute;
  top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
  border: 5px solid var(--intergalactic-control-primary-info, oklch(0.23 0.01 140));
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: calc(var(--intergalactic-duration-control, 200) * 1ms) left ease-in-out;

  &:hover {
    border-color: var(--intergalactic-control-primary-info-hover, oklch(0.32 0.007 140));
  }
}

SInput {
  position: absolute;
  top: -100px;
  left: -100px;
}

SSliderOptions {
  padding-top: var(--intergalactic-spacing-05x, 2px);
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
  font-size: var(--intergalactic-fs-200, 14px);
  font-weight: var(--intergalactic-regular, 400);
  line-height: var(--intergalactic-lh-200, 142%);
}
