SSlider {
  position: relative;
  width: 140px;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: var(--intergalactic-spacing-5x, 20px);
  border: none;
  background-color: transparent;

  &:before {
    content: '';
    position: absolute;
    top: var(--intergalactic-spacing-2x, 8px);
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: var(--intergalactic-progress-bar-rounded, 6px);
    background-color: var(--intergalactic-border-secondary, #e0e1e9);
  }

  &:hover:before {
    background-color: var(--intergalactic-border-primary, #c4c7cf);
  }

  &:active SKnob, &:focus-visible SKnob {
    box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
  }
  &:focus {
    outline: none;
  }
}

SSlider[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
}

SBar {
  position: absolute;
  top: var(--intergalactic-spacing-2x, 8px);
  left: 0;
  overflow: hidden;
  height: 4px;
  border-radius: var(--intergalactic-progress-bar-rounded, 6px);
  box-sizing: border-box;
  background-size: 12px;
  background-color: var(--intergalactic-control-primary-info, #008ff8);
  cursor: pointer;
  transition: calc(var(--intergalactic-duration-control, 200) * 1ms) width ease-in-out;
}

SKnob {
  position: absolute;
  top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  border: 5px solid var(--intergalactic-control-primary-info, #008ff8);
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: calc(var(--intergalactic-duration-control, 200) * 1ms) left ease-in-out;

  &:hover {
    border-color: var(--intergalactic-control-primary-info-hover, #006dca);
  }
}

SInput {
  position: absolute;
  top: -100px;
  left: -100px;
}

SSliderOptions {
  padding-top: var(--intergalactic-spacing-05x, 2px);
  color: var(--intergalactic-text-secondary, #6c6e79);
  font-size: var(--intergalactic-fs-200, 14px);
  font-weight: var(--intergalactic-regular, 400);
  line-height: var(--intergalactic-lh-200, 142%);
}
