@import '@semcore/utils/style/var.css';

SSlider {
  position: relative;
  width: 140px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 4px;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:active SKnob {
    box-shadow: 0 0 0 5px color-mod(var(--light-blue) a(30%));
  }
}

SSlider[keyboardFocused] SKnob {
  box-shadow: 0 0 0 5px color-mod(var(--light-blue) a(30%));
}

SSlider[disabled] {
  pointer-events: none;
}

SBar {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  background-size: 12px;
  background-color: var(--light-blue);
  cursor: pointer;
}

SBar[disabled] {
  background-color: #2b94e150;
}

SKnob {
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #fff;
  border: 5px solid var(--light-blue);
  cursor: pointer;
  transform: translate(-50%, -50%);

  &:hover {
    border-color: var(--denim-blue);
  }
}

SKnob[disabled] {
  border: 5px solid #2b94e150;
}

SInput {
  position: absolute;
  top: -100px;
  left: -100px;
}
