SBreadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  SListContainer {
    display: contents;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

    SSeparator {
      margin: 0 var(--intergalactic-spacing-2x, 8px);
      color: var(--intergalactic-icon-secondary-neutral, #a9abb6);
      display: flex;

      &:last-child {
        display: none;
      }
    }

    SListItem {
      overflow: hidden;

      /* we need this hack to show outline over `overflow: hidden` element */
      padding: 4px;
      margin: -4px;

      SBreadcrumbsItem {
        width: 100%;
        display: block;
        position: relative;
        font-size: var(--intergalactic-fs-200, 14px);
        line-height: var(--intergalactic-lh-200, 142%);
        color: var(--intergalactic-text-secondary, #6c6e79);
        text-decoration: none;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
          text-decoration: underline;
          color: var(--intergalactic-text-primary, #191b23);
        }
      }

      SBreadcrumbsItem[active] {
        color: var(--intergalactic-text-primary, #191b23);
        cursor: default;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
