@import '@semcore/utils/style/var.css';

SWindow {
  position: relative;
  border-radius: var(--intergalactic-borderRadius-rounded-large);
  background: var(--intergalactic-color-bg-primary-neutral);
  box-sizing: border-box;
  margin: auto;
  padding: var(--intergalactic-spacing-spacing-10x);
  box-shadow: var(--intergalactic-boxShadow-box-shadow-modal);

  &:focus {
    outline: none;
  }
}

SOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--intergalactic-spacing-spacing-10x);
  background: var(--intergalactic-color-overlay-primary);
  overflow: auto;
  z-index: var(--intergalactic-other-z-index-modal);
  -webkit-overflow-scrolling: touch;

  & SOverlay {
    background: var(--intergalactic-color-overlay-secondary);
  }
}

SClose {
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 0;
  padding: var(--intergalactic-spacing-spacing-3x);
  color: var(--intergalactic-color-icon-secondary-neutral);
  cursor: pointer;
  z-index: 1;
  border: none;
  background: none;
  outline: none;

  &:hover {
    color: var(--intergalactic-color-icon-secondary-neutral-hover-active);
  }
}

SClose[keyboardFocused] {
  box-shadow: var(--intergalactic-boxShadow-keyboard-focus);
}

@media (max-width: 767px) {
  SWindow {
    min-width: 60%;
  }

  SOverlay {
    padding: var(--intergalactic-spacing-spacing-3x);
  }
}
