@import '@semcore/utils/style/var.css';

SWindow {
  position: relative;
  border-radius: var(--rounded-l);
  background: var(--white);
  box-sizing: border-box;
  margin: auto;
  padding: 40px;
  box-shadow: 0 3px 8px color-mod(var(--gray-800) a(20%));

  &:focus {
    outline: none;
  }
}

SOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: color-mod(var(--gray-800) a(70%));
  overflow: auto;
  z-index: 10005;
  -webkit-overflow-scrolling: touch;

  & SOverlay {
    background: color-mod(var(--gray-800) a(40%));
  }
}

SClose {
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  margin: 3px;
  color: var(--gray-300);
  cursor: pointer;
  z-index: 1;
  border: none;
  background: none;
  outline: none;

  &:hover {
    color: var(--gray-400);
  }
}

SClose[keyboardFocused] {
  box-shadow: var(--keyborad-focus);
}

@media (max-width: 767px) {
  SWindow {
    min-width: 60%;
  }

  SOverlay {
    padding: 12px;
  }
}
