SWindow {
  position: relative;
  border-radius: var(--intergalactic-modal-rounded, 12px);
  background: var(--intergalactic-bg-primary-neutral, #ffffff);
  box-sizing: border-box;
  margin: auto;
  padding: var(--intergalactic-spacing-10x, 40px);
  box-shadow: var(--intergalactic-box-shadow-modal, 0px 3px 8px 0px rgba(25, 27, 35, 0.2));
  color: var(--intergalactic-text-primary, #191b23);

  &:focus {
    outline: none;
  }
}

SOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--intergalactic-spacing-10x, 40px);
  background: var(--intergalactic-overlay-primary, rgba(25, 27, 35, 0.7));
  overflow: auto;
  z-index: var(--intergalactic-z-index-modal, 600);
  -webkit-overflow-scrolling: touch;

  & SOverlay {
    background: var(--intergalactic-overlay-secondary, rgba(25, 27, 35, 0.4));
  }
}

SClose {
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 0;
  padding: var(--intergalactic-spacing-3x, 12px);
  color: var(--intergalactic-icon-secondary-neutral, #a9abb6);
  cursor: pointer;
  z-index: 1;
  border: none;
  background: none;
  outline: none;

  &:hover {
    color: var(--intergalactic-icon-secondary-neutral-hover-active, #8a8e9b);
  }
}

SClose[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
}

STitle {
  color: var(--intergalactic-text-primary, #191b23);
  font-size: var(--intergalactic-fs-500, 24px);
  line-height: var(--intergalactic-lh-500, 117%);
  font-weight: var(--intergalactic-semi-bold, 600);
  margin-bottom: var(--intergalactic-spacing-2x, 8px);
}

@media (max-width: 767px) {
  SWindow {
    min-width: 60%;
  }

  SOverlay {
    padding: var(--intergalactic-spacing-3x, 12px);
  }
}
