SWindow {
  position: relative;
  border-radius: var(--intergalactic-modal-rounded, 14px);
  background: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
  box-sizing: border-box;
  margin: auto;
  padding: var(--intergalactic-spacing-10x, 40px);
  box-shadow: var(--intergalactic-box-shadow-modal, 0px 1px 5px 0px oklch(0.176 0.033 175.7 / 0.07));
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));

  &:focus {
    outline: none;
  }

  STitle {
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
    font-size: var(--intergalactic-fs-500, 24px);
    line-height: var(--intergalactic-lh-500, 117%);
    font-weight: var(--intergalactic-semi-bold, 600);
    margin-bottom: var(--intergalactic-spacing-2x, 8px);
    margin-right: var(--intergalactic-spacing-4x, 16px);
  }

  STitle[color] {
    color: var(--color)
  }

  SClose {
    display: inline-flex;
    position: absolute;
    right: var(--intergalactic-spacing-2x, 8px);
    top: var(--intergalactic-spacing-2x, 8px);
  }
  SClose[ghost] {
    right: 0;
    top: 0;
  }
}

SWindow[ghost] {
  background: transparent;
  padding: 0;
  box-shadow: none;
}

SOverlayContentWrapper {
  flex: 1;
  max-width: 100%;
  box-sizing: border-box;
  padding: var(--intergalactic-spacing-10x, 40px);
}

SOverlay {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: var(--intergalactic-overlay-primary, oklch(0.109 0.023 165.5 / 0.337));
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  & SOverlay {
    background: var(--intergalactic-overlay-secondary, oklch(0.118 0.023 170.1 / 0.262));
  }
  
}

@media (max-width: 767px) {
  SWindow {
    min-width: 60%;
  }

  SOverlayContentWrapper {
    padding: var(--intergalactic-spacing-3x, 12px);
  }
}
