@import '@semcore/utils/style/var.css';

SIcon {
  display: inline-block;
  user-select: none;
  shape-rendering: geometricPrecision;
  box-sizing: content-box;
  fill: currentColor;
  flex-shrink: 0;
  outline: none;
  color: var(--color);
}

SIcon[keyboardFocused] {
  box-shadow: var(--keyboard-focus);
}

SIcon[interactive] {
  cursor: pointer;
  &:hover {
    color: var(--color-interactive);
  }
}
