SIcon {
  display: inline-block;
  user-select: none;
  shape-rendering: geometricPrecision;
  box-sizing: content-box;
  fill: currentColor;
  flex-shrink: 0;
  outline: none;
  color: var(--color);
}

SIcon[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px oklch(0.424 0.269 264.2 / 0.469));
}

SIcon[interactive] {
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}