SIcon {
  display: inline-block;
  user-select: none;
  shape-rendering: geometricPrecision;
  box-sizing: content-box;
  fill: currentColor;
  flex-shrink: 0;
  outline: none;
  color: var(--color);
}

SIcon[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
}

SIcon[interactive] {
  cursor: pointer;
  &:hover {
    color: var(--color-interactive);
  }
}
