SWidgetEmpty {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--intergalactic-spacing-4x, 16px);
}

SImage {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: var(--intergalactic-spacing-3x, 12px);
}

STitle {
  color: var(--intergalactic-text-secondary, #6c6e79);
}

STitle {
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 150%);
  font-weight: var(--intergalactic-bold-700, 700);
}

SDescription {
  text-align: center;
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  color: var(--intergalactic-text-secondary, #6c6e79);
  max-width: 400px;
}

STitle + SDescription {
  margin-top: var(--intergalactic-spacing-1x, 4px);
}

SDescription + SDescription {
  margin-top: var(--intergalactic-spacing-2x, 8px);
}
