SInlineInput {
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  /* disable-tokens-validator */
  padding: 1px;
  box-sizing: border-box;

  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);

  SConfirmIcon {
    color: var(--intergalactic-icon-secondary-success, #00c192);
    cursor: pointer;
  }

  SConfirmIcon:hover {
    color: var(--intergalactic-icon-secondary-success-hover-active, #049B75);
  }

  SCancelIcon {
    color: var(--intergalactic-icon-secondary-neutral, #a9abb6);
    cursor: pointer;
  }

  SCancelIcon:hover {
    color: var(--intergalactic-icon-secondary-neutral-hover-active, #878992);
  }
}

SInlineInput[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: var(--intergalactic-disabled-opacity, 0.3);
}

SValue {
  /* hack for firefox */
  min-width: 0;

  width: 100%;
  height: 100%;
  padding: 0 var(--intergalactic-spacing-1x, 4px);
  border: none;
  box-sizing: border-box;
  color: var(--intergalactic-text-primary, #191b23);
  font-size: inherit;
  line-height: 1.2;
  text-overflow: ellipsis;
  font-family: inherit;
  background: transparent;
  min-height: 1em;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--intergalactic-text-placeholder, #8a8e9b);
  }

  &[disabled] {
    user-select: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

SUnderline {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 1em;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--intergalactic-border-primary, #c4c7cf);
}

SAddon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
  color: var(--intergalactic-icon-secondary-neutral, #a9abb6);
  padding: 0 var(--intergalactic-spacing-1x, 4px);
}

SAddon[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
}

SUnderline:has(input:focus-visible) {
  border-bottom-color: var(--intergalactic-border-info-active, #006dca);
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
}

SInlineInput[state='valid'] SUnderline {
  border-bottom-color: var(--intergalactic-border-success-active, #007c65);
}

SInlineInput[state='valid'] SUnderline:has(input:focus-visible) {
  border-bottom-color: var(--intergalactic-border-success-active, #007c65);
  box-shadow: var(--intergalactic-keyboard-focus-valid, 0px 0px 0px 3px rgba(0, 159, 129, 0.5));
}

SInlineInput[state='invalid'] SUnderline {
  border-bottom-color: var(--intergalactic-border-critical-active, #d1002f);
}

SInlineInput[state='invalid'] SUnderline:has(input:focus-visible) {
  border-bottom-color: var(--intergalactic-border-critical-active, #d1002f);
  box-shadow: var(--intergalactic-keyboard-focus-invalid, 0px 0px 0px 3px rgba(255, 73, 83, 0.5));
}

SValue:focus~SControls {
  display: flex;
}


SInvalidPattern {
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 0;
  height: calc(100% - 3px);
}
