SInlineInput {
  display: inline-flex;
  width: fit-content;
  max-width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  /* disable-tokens-validator */
  padding: 1px;
  box-sizing: border-box;

  SConfirmIcon:not([color]) {
    color: var(--intergalactic-icon-secondary-success, oklch(0.711 0.146 166.9));
  }

  SConfirmIcon:not([color]):hover {
    color: var(--intergalactic-icon-secondary-success-hover-active, oklch(0.673 0.139 166.3));
  }

  SCancelIcon:not([color]) {
    color: var(--intergalactic-icon-secondary-neutral, oklch(0.104 0.023 162.3 / 0.385));
  }

  SCancelIcon:not([color]):hover {
    color: var(--intergalactic-icon-secondary-neutral-hover-active, oklch(0.1 0.023 159.1 / 0.433));
  }

  SValue {
    field-sizing: content;
    width: auto;

    height: 100%;
    padding: 0 var(--intergalactic-spacing-1x, 4px);
    border: none;
    box-sizing: border-box;
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
    font-size: inherit;
    line-height: 1.2;
    text-overflow: ellipsis;
    font-family: inherit;
    background: transparent;
    min-height: 1em;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
    text-underline-offset: 17%;

    &:focus, &:focus-visible {
      outline: none;
      text-decoration-color: transparent;
    }

    &::placeholder {
      color: var(--intergalactic-text-placeholder, oklch(0.098 0.023 157.4 / 0.457));
    }

    &[disabled] {
      user-select: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

SInlineInput[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: var(--intergalactic-disabled-opacity, 0.4);
}

SUnderline {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 1em;
  border: 1px solid transparent;
  border-radius: var(--intergalactic-control-rounded, 6px);
  outline-color: transparent;
  transition-duration: calc(var(--intergalactic-duration-extra-fast, 100) * 1ms);
  transition-timing-function: ease-in-out;
  transition-property: background-color;
}

SInlineInput:hover:not(:focus-within):not([disabled]) SUnderline {
  background-color: var(--intergalactic-control-secondary-neutral, oklch(0.176 0.033 175.7 / 0.07));
}

SInlineInput:hover:not(:focus-within):not([disabled]) SAddon,
SInlineInput:hover:not(:focus-within):not([disabled]) SValue {
  cursor: pointer;
}

SAddon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
  color: var(--intergalactic-icon-secondary-neutral, oklch(0.104 0.023 162.3 / 0.385));
  padding: 0 var(--intergalactic-spacing-1x, 4px);
}

SAddon[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.4);
  cursor: default;
  pointer-events: none;
}

SInlineInput:not(:focus-within):not([loading]) [data-ui-name='InlineInput.ConfirmControl'],
SInlineInput:not(:focus-within):not([loading]) [data-ui-name='InlineInput.CancelControl'] {
  display: none;
}

SUnderline:has(input:focus-visible) {
  background-color: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
  border-radius: var(--intergalactic-control-rounded, 6px);
  @mixin focus-outline-mixin 4px;
}

SInlineInput[state='valid'] SValue {
  text-decoration-color: var(--intergalactic-border-success-active, oklch(0.7 0.166 170));
}

SInlineInput[state='valid'] SUnderline:has(input:focus-visible) {
  @mixin focus-outline-mixin 4px;
  outline-color: var(--intergalactic-keyboard-focus-valid-outline, oklch(0.711 0.146 166.9));
}

SInlineInput[state='invalid'] SValue {
  text-decoration-color: var(--intergalactic-border-critical-active, oklch(0.7 0.21 23));
}

SInlineInput[state='invalid'] SUnderline:has(input:focus-visible) {
  @mixin focus-outline-mixin 4px;
  outline-color: var(--intergalactic-keyboard-focus-invalid-outline, oklch(0.628 0.257 28.9 / 0.652));
}

SValue:focus~SControls {
  display: flex;
}

SInvalidPattern {
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 0;
  height: calc(100% - 3px);
}
