@import '@semcore/utils/style/var.css';

SInlineInput {
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  padding: 1px;
  box-sizing: border-box;

  background-color: var(--white);
}

SControls {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

SConfirmControl {
  color: var(--green-300);
  cursor: pointer;
}
SConfirmControl:hover {
  color: var(--green-400);
}

SCancelControl {
  color: var(--gray-300);
  cursor: pointer;
}
SCancelControl:hover {
  color: var(--gray-400);
}

SValue {
  /* hack for firefox */
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 0 4px;
  border: none;
  box-sizing: border-box;
  color: var(--gray20);
  font-size: inherit;
  line-height: 1.2;
  text-overflow: ellipsis;
  font-family: inherit;
  background: transparent;
  min-height: 1em;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--gray70);
  }

  &:read-only ~ SUnderline {
    /* background: var(--gray96); */
  }

  &[disabled],
  &[loading] {
    opacity: var(--disabled-opacity);
  }
  &[disabled] {
    user-select: none;

    & ~ SUnderline {
      cursor: default;
      pointer-events: none;
    }
  }
}

SUnderline {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 1em;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--gray-200);
}

SAddon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
  color: var(--gray-300);
  padding: 0 4px;
}

SAddon[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
}

SInlineInput[focused] {
  z-index: 1;
}

SInlineInput[focused] SUnderline {
  border-color: var(--blue-400);
  box-shadow: var(--keyborad-focus);
}

SInlineInput[state='valid'] SUnderline {
  border-color: var(--green-200);
}
SInlineInput[state='valid'][focused] SUnderline {
  border-color: var(--green-400);
  box-shadow: var(--keyboard-focus-valid);
}
SInlineInput[state='invalid'] SUnderline {
  border-color: var(--red-200);
}
SInlineInput[state='invalid'][focused] SUnderline {
  border-color: var(--red-400);
  box-shadow: var(--keyboard-focus-invalid);
}
SInlineInput[disabled],
SInlineInput[loading] {
  cursor: default;
}

CloseM[disabled] {
  cursor: default;
  opacity: var(--disabled-opacity);
}

.controls-icon {
  display: flex;
  align-items: center;
}

.spin {
  min-width: 16px;
  cursor: default;
}
