@import '@semcore/utils/style/var.css';

SInlineInput {
  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  padding: 1px;
  box-sizing: border-box;

  background-color: var(--white);
}

SInlineInput[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: var(--disabled-opacity);
}

SValue {
  /* hack for firefox */
  min-width: 0;

  width: 100%;
  height: 100%;
  padding: 4px;
  border: none;
  box-sizing: border-box;
  color: var(--gray-800);
  font-size: inherit;
  line-height: 1.2;
  text-overflow: ellipsis;
  font-family: inherit;
  background: transparent;
  min-height: 1em;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--gray70);
  }

  &[disabled] {
    user-select: none;
  }
}

SUnderline {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 1em;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--gray-200);
}

SAddon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
  color: var(--gray-300);
  padding: 0 4px;
}

SAddon[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
}

SInlineInput[focused] {
  z-index: 1;
}
SInlineInput[focused] SUnderline {
  border-bottom-color: var(--blue-400);
  box-shadow: var(--keyboard-focus);
}

SInlineInput[state='valid'] SUnderline {
  border-bottom-color: var(--green-200);
}
SInlineInput[state='valid'][focused] SUnderline {
  border-bottom-color: var(--green-400);
  box-shadow: var(--keyboard-focus-valid);
}
SInlineInput[state='invalid'] SUnderline {
  border-bottom-color: var(--red-200);
}
SInlineInput[state='invalid'][focused] SUnderline {
  border-bottom-color: var(--red-400);
  box-shadow: var(--keyboard-focus-invalid);
}
