SArea {
}

SDot {
  stroke-width: 2px;
  stroke: #fff;
  r: 6px;
}

SDot[hide] {
  display: none;
}

SDot[active] {
  r: 8px;
}

SNull {
  fill: transparent;
  stroke: #bdc4c6;
  stroke-dasharray: 4;
}

SNull[hide] {
  display: none;
}
