SArea {
  fill: var(--color);
  fill-opacity: 0.4;
}

SAreaLine {
  stroke: var(--color);
  stroke-width: 3;
  fill: transparent;
}

SNull {
  fill: transparent;
  stroke: #bdc4c6;
  stroke-dasharray: 4;
}

SNull[hide] {
  display: none;
}
