@import '@semcore/d3-chart/src/style/var.css';

SArea {
  fill: var(--blue-03);
  fill-opacity: 0.2;
}

SArea[color] {
  fill: var(--color);
}

SAreaLine {
  stroke: var(--blue-03);
  stroke-width: 3;
  fill: transparent;
}

SAreaLine[color] {
  stroke: var(--color);
}

SArea,
SAreaLine {
  transition-property: d;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

SNull {
  fill: transparent;
  stroke: var(--gray-400);
  stroke-dasharray: 4;
}

SNull[hide] {
  display: none;
}
