SAxis {
  stroke: var(--intergalactic-chart-grid-x-axis, #c4c7cf);
}

SAxis[hide] {
  display: none;
}

STick {
  font-size: var(--intergalactic-fs-100, 12px);
  fill: var(--intergalactic-chart-grid-text-label, #6c6e79);
}

STick[hide] {
  display: none;
}

SGrid {
  fill: transparent;
  stroke: var(--intergalactic-border-secondary, #e0e1e9);
}

STitle {
  font-size: var(--intergalactic-fs-100, 12px);
  fill: var(--intergalactic-text-hint, #6c6e79);
  transform-origin: var(--transform-origin);
}

STitle[position='top'] {
  text-anchor: middle;
}

STitle[position='bottom'] {
  text-anchor: middle;
  alignment-baseline: hanging;
}

STitle[position='right'] {
  transform: rotate(-90deg);
  alignment-baseline: middle;
  text-anchor: middle;
}

STitle[position='left'] {
  transform: rotate(-90deg);
  text-anchor: middle;
  alignment-baseline: middle;
}
STitle[position='right'][verticalWritingMode],
STitle[position='left'][verticalWritingMode] {
  writing-mode: vertical-rl;
  transform: none;
}

STick[position='top'] {
  transform: translateY(-12px);
  text-anchor: middle;
}

STick[position='bottom'] {
  transform: translateY(12px);
  text-anchor: middle;
  alignment-baseline: hanging;
}

STick[position='right'] {
  transform: translateX(16px);
  text-anchor: start;
  alignment-baseline: middle;
}

STick[position='left'] {
  transform: translateX(-16px);
  text-anchor: end;
  alignment-baseline: middle;
}

STick[position='custom_0'] {
  transform: translateY(12px);
  text-anchor: middle;
  alignment-baseline: hanging;
}

STick[position='custom_1'] {
  transform: translateX(-16px);
  text-anchor: end;
  alignment-baseline: middle;
}
