@import '@semcore/utils/style/var.css';

SAxis {
  stroke: var(--stone-light);
}

SAxis[hide] {
  display: none;
}

STick {
  font-size: 12px;
  fill: var(--gray60);
}

STick[hide] {
  display: none;
}

SGrid {
  fill: transparent;
  stroke: var(--mercury);
}

STitle {
  font-size: 12px;
  fill: var(--gray60);
  transform-origin: var(--transform-origin);
}

STitle[position='top'] {
  text-anchor: middle;
  transform: translateY(-16px);
}

STitle[position='bottom'] {
  text-anchor: middle;
  alignment-baseline: hanging;
  transform: translateY(16px);
}

STitle[position='right'] {
  transform: rotate(-90deg);
  alignment-baseline: middle;
}

STitle[position='left'] {
  transform: rotate(-90deg);
  text-anchor: middle;
  alignment-baseline: middle;
}

STick[position='top'] {
  transform: translateY(-12px);
  text-anchor: middle;
}

STick[position='bottom'] {
  transform: translateY(12px);
  text-anchor: middle;
  alignment-baseline: hanging;
}

STick[position='right'] {
  transform: translateX(16px);
  text-anchor: start;
  alignment-baseline: middle;
}

STick[position='left'] {
  transform: translateX(-16px);
  text-anchor: end;
  alignment-baseline: middle;
}

STick[position='custom_0'] {
  transform: translateY(12px);
  text-anchor: middle;
  alignment-baseline: hanging;
}

STick[position='custom_1'] {
  transform: translateX(-16px);
  text-anchor: end;
  alignment-baseline: middle;
}
