@import './var.css';

SBar {
  fill: var(--intergalactic-chart-palette-order-blue, #2bb3ff);
  transition-property: height, width, y;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

SBar[color] {
  fill: var(--color);
}

SBar[hide] {
  display: none;
}

SBar[transparent] {
  opacity: 0.3;
}

SBackground {
  fill: var(--intergalactic-chart-palette-order-other-data, #c4c7cf);
}
