@import '@semcore/utils/style/var.css';
@import '@semcore/d3-chart/src/style/var.css';

SBar {
  fill: var(--blue-03);
  transition-property: height, width, y;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

SBar[color] {
  fill: var(--color);
}

SBar[hide] {
  display: none;
}

SBackground {
  fill: var(--stone-light);
}
