@import "./var.css";

SBar {
  fill: var(--intergalactic-chart-palette-order-1, #2bb3ff);
  transition-property: height, width, y;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

SBar[color] {
  fill: var(--color);
}

SBar[pattern][color] {
  fill: var(--pattern);
  stroke: var(--color);
  stroke-width: 1px;
}

SBar[hide] {
  display: none;
}

SBar[transparent] {
  opacity: 0.3;
}

SBar[onClick] {
  cursor: pointer;
}

SBackground {
  fill: var(--intergalactic-chart-grid-bar-chart-base-bg, #e0e1e9);
}
SBackground[onClick] {
  cursor: pointer;
}

SBarAnnotation {
  display: flex;
  justify-content: space-between;
}
SBarLabel {
  color: var(--intergalactic-text-primary, #191b23);
  margin-right: auto;
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}
SBarPercent {
  color: var(--intergalactic-text-secondary, #6c6e79);
  margin-right: var(--intergalactic-spacing-2x, 8px);
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}
SBarValue {
  min-width: 52px;
  display: flex;
  justify-content: flex-end;
  color: var(--intergalactic-text-primary, #191b23);
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  text-align: right;
}
SCompactHorizontalBarHoverRect {
  fill: var(--intergalactic-chart-grid-bar-chart-hover, rgba(196, 199, 207, 0.3));
}
