@import './var.css';

SBar {
  fill: var(--intergalactic-chart-palette-order-1, oklch(0.58 0.168 278.2));
  transition-property: height, width, y;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

SBar[color] {
  fill: var(--color);
}

SBar[pattern][color] {
  fill: var(--pattern);
  stroke: var(--color);
  stroke-width: 1px;
}

SBar[hide] {
  display: none;
}

SBar[transparent] {
  opacity: 0.3;
}

SBar[onClick] {
  cursor: pointer;
}

SBackground {
  fill: var(--intergalactic-chart-grid-bar-chart-base-bg, oklch(0.96 0.001 180));
}
SBackground[onClick] {
  cursor: pointer;
}

SBarAnnotation {
  display: flex;
  justify-content: space-between;
}
SBarLabel {
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
  margin-right: auto;
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 1.4286);
}
SBarPercent {
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
  margin-right: var(--intergalactic-spacing-2x, 8px);
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 1.4286);
}
SBarValue {
  min-width: 52px;
  display: flex;
  justify-content: flex-end;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 1.4286);
  text-align: right;
}
SCompactHorizontalBarHoverRect {
  fill: var(--intergalactic-chart-grid-bar-chart-hover, oklch(0.177 0.033 175.6 / 0.042));
}