@import '@semcore/utils/style/var.css';
@import '@semcore/d3-chart/src/style/var.css';

SBubble {
  fill: var(--blue-03);
  stroke: #fff;
  stroke-width: 2px;
  transition-property: cx, cy;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}

SBubble[color] {
  fill: var(--color);
}

SCenter {
  text-anchor: middle;
  font-size: 11px;
  stroke: var(--blue-03);
}

SCenter[color] {
  stroke: var(--color);
}

SLabel {
  fill: var(--blue-03);
}

SLabel[position='right'] {
  text-anchor: end;
}

SLabel[position='left'] {
  text-anchor: start;
}

SLabel[color] {
  fill: var(--color);
}
