@import './var.css';

SBubble {
  fill: var(--intergalactic-chart-palette-order-blue, #2bb3ff);
  stroke: var(--intergalactic-chart-grid-border, #ffffff);
  stroke-width: 2px;
  transition-property: cx, cy;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}

SBubble[color] {
  fill: var(--color);
}

SCenter {
  text-anchor: middle;
  /* disable-tokens-validator */
  font-size: calc(var(--intergalactic-fs-100, 12px) - 1px);
  stroke: var(--intergalactic-chart-palette-order-blue, #2bb3ff);
}

SCenter[color] {
  stroke: var(--color);
}

SLabel {
  fill: var(--intergalactic-chart-palette-order-blue, #2bb3ff);
}

SLabel[position='right'] {
  text-anchor: end;
}

SLabel[position='left'] {
  text-anchor: start;
}

SLabel[color] {
  fill: var(--color);
}
