@import '@semcore/utils/style/var.css';
@import '@semcore/d3-chart/src/style/var.css';

SPie {
  stroke: #ffffff;
  fill: var(--blue-03);
}

SPie[color] {
  fill: var(--color);
}

SEmptyData {
  fill: var(--gray-100);
}

SEmptyData[color] {
  fill: var(--color);
}

SLabel {
  text-anchor: middle;
  vertical-anchor: middle;
}
