@import "./var.css";

SPie {
  stroke: var(--intergalactic-chart-grid-border, #ffffff);
  fill: var(--intergalactic-chart-palette-order-1, #2bb3ff);
}

SPie[color] {
  fill: var(--color);
}

SPie[pattern][color] {
  fill: var(--pattern);
  stroke: var(--color);
  stroke-width: 1px;
}

SPie[transparent] {
  opacity: 0.3;
}

SEmptyData {
  fill: var(--intergalactic-chart-palette-order-null, #e0e1e9);
}

SEmptyData[color] {
  fill: var(--color);
}

SLabel {
  text-anchor: middle;
  vertical-anchor: middle;
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}
