@import './var.css';

SPie {
  stroke: var(--intergalactic-chart-grid-border, #fff);
  fill: var(--intergalactic-chart-palette-order-1, oklch(0.58 0.153 278.4));
}

SPie[color] {
  fill: var(--color);
}

SPie[pattern][color] {
  fill: var(--pattern);
  stroke: var(--color);
  stroke-width: 1px;
}

SPie[transparent] {
  opacity: 0.3;
}

SEmptyData {
  fill: var(--intergalactic-chart-palette-order-null, oklch(0.9 0.002 177));
}

SEmptyData[color] {
  fill: var(--color);
}

SLabel {
  text-anchor: middle;
  vertical-anchor: middle;
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);

}