@import './var.css';

SDots {
  & SDot {
    transition-duration: var(--duration);
  }
}

SDot {
  stroke-width: 2px;
  stroke: var(--intergalactic-chart-grid-border, #ffffff);
  r: 6px;
  fill: var(--intergalactic-chart-palette-order-1, #2bb3ff);
  transition-property: cx, cy;
  transition-timing-function: ease-in-out;
}

SDot[hide] {
  display: none;
}

SDot[active] {
  r: 8px;
}

SDot[color] {
  fill: var(--color);
}

SDot[transparent] {
  opacity: 0.3;
}
