@import "./var.css";

SDots {
  & SDot {
    transition-duration: var(--duration);
  }
}

SDot {
  stroke-width: 1px;
  stroke: var(--intergalactic-chart-grid-border, #ffffff);
  fill: var(--intergalactic-chart-palette-order-1, #2bb3ff);
  transition-property: cx, cy, x, y;
  transition-timing-function: ease-in-out;
}

SDot[hide] {
  display: none;
}

SDot[color] {
  fill: var(--color);
}

SDot[transparent] {
  opacity: 0.3;
}
