SHoverLine, SHoverLine:focus-visible {
  outline: none;
  stroke: var(--intergalactic-chart-grid-x-axis, oklch(0.88 0.002 175.6));
}

SHoverRect, SHoverRect:focus-visible {
  outline: none;
  fill: var(--intergalactic-chart-grid-bar-chart-hover, oklch(0.177 0.033 175.6 / 0.042));
}
