SHoverLine, SHoverLine:focus-visible {
  outline: none;
  stroke: var(--intergalactic-chart-grid-x-axis, oklch(0.88 0.002 175.6));
}

SHoverRect, SHoverRect:focus-visible {
  outline: none;
  fill: var(--intergalactic-chart-grid-bar-chart-hover, oklch(0.177 0.033 175.6 / 0.042));
}

STick {
  font-size: var(--intergalactic-fs-100, 12px);
  fill: var(--intergalactic-chart-grid-text-label, oklch(from oklch(0.089 0.025 149.5 / 0.56) l c h / 0.4));
  transform: translateY(12px);
  text-anchor: middle;
  dominant-baseline: hanging;

  tspan {
    dominant-baseline: hanging;
  }

  cursor: default;
}

STickHover {
  fill: var(--intergalactic-chart-x-axis-accent-tick, oklch(0.96 0.001 180));
}
