@import '@semcore/utils/style/var.css';
@import '@semcore/d3-chart/src/style/var.css';

SLine {
  fill: transparent;
  stroke-width: 3;
  stroke: var(--blue-03);
  transition-property: d;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

SLine[color] {
  stroke: var(--color);
}

SLine[hide] {
  display: none;
}

SNull {
  fill: transparent;
  stroke: var(--stone-light);
  stroke-dasharray: 4;
}

SNull[hide] {
  display: none;
}
