@import '@semcore/utils/style/var.css';

SLine {
  fill: transparent;
  stroke-width: 3;
  stroke: var(--color);
  /*stroke-linecap: round;*/
}

SLine[hide] {
  display: none;
}

SNull {
  fill: transparent;
  stroke: var(--mist);
  stroke-dasharray: 4;
}

SNull[hide] {
  display: none;
}
