@import './var.css';

SLine {
  fill: transparent;
  stroke-width: 3;
  stroke: var(--intergalactic-chart-palette-order-1, oklch(0.58 0.168 278.2));
  transition-property: d;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

SLine[color] {
  stroke: var(--color);
}

SLine[hide] {
  display: none;
}

SLine[transparent] {
  opacity: 0.3;
}

SNull {
  fill: transparent;
  stroke: var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
  stroke-dasharray: 4;
}

SNull[hide] {
  display: none;
}

SLineArea {
  transition-property: d;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
  opacity: 0.3;
  fill: var(--intergalactic-chart-palette-order-1, oklch(0.58 0.168 278.2));
}
SLineArea[color] {
  fill: var(--color);
}
