@import './var.css';

SPlot {
  overflow: hidden;
}
SPlot:active,
SPlot:focus {
  outline: 0;
  text-decoration: none;
}

foreignObject[data-aria-only] {
  pointer-events: none;
}

SPlot[keyboardFocused] {
  border: 1px solid var(--intergalactic-chart-palette-order-9, #008ff8);
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
}
