@import '@semcore/utils/style/var.css';
@import '@semcore/d3-chart/src/style/var.css';

SPlotA11yView {
  pointer-events: none;
  opacity: 0;
  background-color: white;
  color: black;
  border: 3px solid black;
  font-size: 10px;
  padding: 2px;
  width: 200px;
  height: 200px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}
SPlotA11yView:focus-within,
SPlotA11yView:focus {
  pointer-events: all;
  opacity: 1;
  z-index: 100;
  position: relative;
  display: block;
}
SPlotA11yView em {
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 8px;
  display: block;
}
