SPlotA11yView {
  position: relative;
  display: block;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  color: var(--intergalactic-text-primary, #191b23);
  border: 3px solid var(--intergalactic-border-primary, #c4c7cf);
  font-size: var(--intergalactic-fs-50, 10px);
  z-index: var(--intergalactic-z-index-overlay, 500);
  padding: 2px;
  width: 200px;
  height: 200px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;

  a {
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: var(--intergalactic-spacing-2x, 8px);
    display: block;
  }

  table, td, th {
    border: 1px solid var(--intergalactic-border-primary, #c4c7cf);
  }
}
