SPlot {
  overflow: hidden;
}

SPlot:focus {
  outline: none;
}

SPlot:active {
  outline: 0;
  text-decoration: none;
}

foreignObject[data-aria-only] {
  pointer-events: none;
}

SPlot:has(foreignObject[data-aria-only]:focus-within) {
  @mixin focus-outline-mixin;
  border-radius: var(--intergalactic-surface-rounded, 8px);
}
