SAxis {
  stroke: var(--intergalactic-chart-grid-line, oklch(0.95 0.002 180));
  stroke-width: 1;
  fill: transparent;
}

SAxisLine,
SAxisTick {
  stroke: var(--intergalactic-chart-grid-line, oklch(0.95 0.002 180));
  stroke-width: 1;
  stroke-dasharray: 2;
  fill: transparent;
}

SAxisLine[active] {
  stroke: var(--intergalactic-chart-grid-y-accent-hover-line, oklch(0.88 0.002 175.6));
}

SAxisLabel {
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 12px;
}

SAxisLabel[xDirection] {
  text-anchor: var(--xDirection);
}

SAxisLabel[yDirection] {
  dominant-baseline: var(--yDirection);
}

SPolygon {
  fill: var(--intergalactic-chart-palette-order-1, oklch(0.58 0.168 278.2));
  opacity: 0.2;
}

SPolygon[color] {
  fill: var(--color);
}

SPolygon[pattern][color] {
  fill: var(--pattern);
  stroke: var(--color);
  stroke-width: 1px;
}

SPolygonDot {
  stroke-width: 2px;
  stroke: var(--intergalactic-chart-grid-border, #fff);
  r: 6px;
  fill: var(--intergalactic-chart-palette-order-1, oklch(0.58 0.168 278.2));
}

SPolygonDot[transparent] {
  opacity: 0.3;
}

SPolygonDot[color] {
  fill: var(--color);
}

SPolygonLine {
  stroke: var(--intergalactic-chart-palette-order-1, oklch(0.58 0.168 278.2));
  stroke-width: 3;
  fill: transparent;
}

SPolygonLine[transparent] {
  opacity: 0.3;
}

SPolygonLine[color] {
  stroke: var(--color);
}

SPieRect {
  outline: none;
  fill: var(--intergalactic-chart-grid-bar-chart-hover, oklch(0.177 0.033 175.6 / 0.028));
}
