@import '@semcore/utils/style/var.css';
@import '@semcore/d3-chart/src/style/var.css';

SRadian {
  cursor: pointer;
  fill: var(--blue-04);
}

SLine {
  stroke: var(--blue-04);
}

SLine[color] {
  stroke: var(--color);
}

SCap {
  transition: r 0.1s;
}

SLabel {
  fill: var(--color);
  cursor: var(--text-cursor);
  transform-origin: var(--transform-origin);
}
SRadian:hover SLabel {
  fill: var(--color-hovered);
}

@media (prefers-reduced-motion) {
  SLineCap {
    transition: none;
  }
}
