@import "./var.css";

SRadian {
  cursor: pointer;
  fill: var(--intergalactic-text-large-info, #008ff8);
}

SLine {
  stroke: var(--intergalactic-text-large-info, #008ff8);
}

SLine[stroke] {
  stroke: var(--stroke);
}

SLine[transparent] {
  opacity: 0.3;
}

SCap {
  transition: r 0.1s;
}

SCap[pattern] {
  stroke: var(--intergalactic-chart-grid-border, #ffffff);
  stroke-width: 1px;
}

SCap[transparent] {
  opacity: 0.3;
}

SIcon[transparent] {
  opacity: 0.3;
}

SLabel {
  fill: var(--color);
}

SLabel[transparent] {
  opacity: 0.3;
}

SRadian:hover SLabel {
  cursor: pointer;
  filter: brightness(0.6);
}

@media (prefers-reduced-motion) {
  SLineCap {
    transition: none;
  }
}
