SReferenceLine {
  fill: none;
  stroke: var(--intergalactic-chart-grid-y-accent-hover-line, oklch(0.88 0.011 234.9));
}

STitle {
  font-size: var(--intergalactic-fs-100, 12px);
  fill: var(--intergalactic-chart-grid-text-label, oklch(from oklch(0.182 0.045 244.8 / 0.593) l c h / 0.4));
  /*transform-origin: var(--transform-origin);*/
}

STitle[position='top'] {
  dominant-baseline: hanging;
}

STitle[position='bottom'] {
  text-anchor: middle;
  dominant-baseline: hanging;
}

STitle[position='right'] {
  transform: rotate(-90deg);
  dominant-baseline: middle;
  text-anchor: middle;
}

STitle[position='left'] {
  transform: rotate(-90deg);
  text-anchor: middle;
  dominant-baseline: middle;
}

SSubTitle {
  font-size: var(--intergalactic-fs-100, 12px);
  fill: var(--intergalactic-chart-grid-text-label-accent, oklch(0.102 0.021 230.9 / 0.9));
  font-weight: bold;
}

SBackground {
  fill: var(--intergalactic-chart-grid-period-bg, oklch(0.96 0.005 232.5));
}
