@import '@semcore/utils/style/var.css';

SReferenceLine {
  fill: none;
  stroke: var(--gray-300);
}

STitle {
  font-size: 12px;
  fill: var(--gray-500);
  transform-origin: var(--transform-origin);
}

STitle[position='top'] {
  text-anchor: middle;
}

STitle[position='bottom'] {
  text-anchor: middle;
  alignment-baseline: hanging;
}

STitle[position='right'] {
  transform: rotate(-90deg);
  alignment-baseline: middle;
  text-anchor: middle;
}

STitle[position='left'] {
  transform: rotate(-90deg);
  text-anchor: middle;
  alignment-baseline: middle;
}

SBackground {
  fill: color-mod(var(--gray-200) a(20%));
}
