@import './var.css';

STooltip {
  font-size: var(--intergalactic-fs-100, 12px);
  line-height: var(--intergalactic-lh-100, 1.3334);
  font-variant-numeric: tabular-nums;
  position: relative;
  color: var(--intergalactic-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
  background-color: var(--intergalactic-tooltip-bg-invert, oklch(0.23 0.01 225));
  border-radius: var(--intergalactic-popper-rounded, 6px);
  border: 1px solid var(--intergalactic-tooltip-border-invert, oklch(0.4 0.017 225));
  box-sizing: border-box;
  box-shadow: var(--intergalactic-box-shadow-popper, 1px 1px 10px 0px oklch(0.344 0.064 223.3 / 0.081));
  padding: var(--intergalactic-spacing-content-padding-medium, 12px);
}

STitle {
  color: var(--intergalactic-text-secondary-invert, oklch(0.959 0.028 221.4 / 0.721));
  margin-bottom: var(--intergalactic-spacing-content-gap-large, 8px);
}

SDotGroup {
  display: flex;
  align-items: center;
}

SDot {
  margin-right: var(--intergalactic-spacing-content-gap-large, 8px);
}

SDotCircle[color][lightness] {
  background-color: var(--color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px oklch(from var(--color) calc(l + var(--lightness)) c h);
}


SFooter {
  background: var(--intergalactic-bg-secondary-invert, oklch(0.916 0.055 225.3 / 0.127));
  color: var(--intergalactic-text-secondary-invert, oklch(0.959 0.028 221.4 / 0.721));
  padding: var(--intergalactic-spacing-content-padding-xsmall, 4px) var(--intergalactic-spacing-content-padding-medium, 12px);
  border-radius: 0 0 var(--intergalactic-rounded-medium, 6px) var(--intergalactic-rounded-medium, 6px);
  margin: var(--intergalactic-spacing-content-gap-xlarge, 12px) calc(-1 * var(--intergalactic-spacing-content-gap-xlarge, 12px)) calc(-1 * var(--intergalactic-spacing-content-gap-xlarge, 12px));
}

SDotPattern {
  stroke-width: 1px;
  stroke: oklch(from var(--intergalactic-chart-grid-border, #ffffff) l c h / 0.5);
}
