@import '@semcore/utils/style/var.css';

STooltip {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid var(--stone-light);
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 -2px 5px -2px rgba(0, 0, 0, 0.25);
  padding: 12px;
}

STitle {
  font-size: var(--fs-100);
  line-height: var(--lh-100);
  color: var(--gray60);
  margin-bottom: 8px;
}

SDotGroup {
  display: flex;
  align-items: center;
}

SDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}
