@import '@semcore/utils/style/var.css';
@import '@semcore/d3-chart/src/style/var.css';

STooltip {
  font-size: var(--fs-100);
  line-height: var(--lh-100);
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  box-shadow: var(--box-shadow-popper);
  padding: 12px;
}

STitle {
  color: var(--gray-500);
  margin-bottom: 8px;
}

SDotGroup {
  display: flex;
  align-items: center;
}

SDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  background: var(--blue-03);
}

SDot[color] {
  background: var(--color);
}
