@import './var.css';

STooltip {
  font-size: var(--intergalactic-fs-100, 12px);
  line-height: var(--intergalactic-lh-100, 133%);
  font-variant-numeric: tabular-nums;
  position: relative;
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
  background-color: var(--intergalactic-tooltip-bg-invert, oklch(0.23 0.01 140));
  border-radius: var(--intergalactic-popper-rounded, 6px);
  border: 1px solid var(--intergalactic-tooltip-border-invert, oklch(0.4 0.004 140));
  box-sizing: border-box;
  box-shadow: var(--intergalactic-box-shadow-popper, 1px 1px 10px 0px oklch(0.176 0.033 175.7 / 0.07));
  padding: var(--intergalactic-spacing-content-padding-medium, 12px);
}

STitle {
  color: var(--intergalactic-text-secondary-invert, oklch(0.997 0.004 165.9 / 0.684));
  margin-bottom: var(--intergalactic-spacing-content-gap-large, 8px);
}

SDotGroup {
  display: flex;
  align-items: center;
  margin-bottom: var(--intergalactic-spacing-content-gap-large, 8px);
}

SDotGroup:last-of-type {
  margin-bottom: 0;
}

SDot {
  margin-right: var(--intergalactic-spacing-content-gap-large, 8px);
}

SDotCircle[color] {
  background-color: var(--color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px oklch(from var(--color) calc(l + 0.15) c h);
}


SFooter {
  background: var(--intergalactic-bg-secondary-invert, oklch(0.969 0.057 140 / 0.118));
  color: var(--intergalactic-text-secondary-invert, oklch(0.997 0.004 165.9 / 0.684));
  padding: var(--intergalactic-spacing-content-padding-xsmall, 4px) var(--intergalactic-spacing-content-padding-medium, 12px);
  border-radius: 0 0 var(--intergalactic-rounded-medium, 6px) var(--intergalactic-rounded-medium, 6px);
  margin: var(--intergalactic-spacing-content-gap-xlarge, 12px) calc(-1 * var(--intergalactic-spacing-content-gap-xlarge, 12px)) calc(-1 * var(--intergalactic-spacing-content-gap-xlarge, 12px));
}