@import './var.css';

STooltip {
  font-size: var(--intergalactic-fs-100, 12px);
  line-height: var(--intergalactic-lh-100, 133%);
  position: relative;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  border-radius: var(--intergalactic-rounded-medium, 6px);
  border: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
  box-sizing: border-box;
  box-shadow: var(--intergalactic-box-shadow-popper, 0px 1px 12px 0px rgba(25, 27, 35, 0.15));
  padding: var(--intergalactic-spacing-3x, 12px);
}

STitle {
  color: var(--intergalactic-text-secondary, #6c6e79);
  margin-bottom: var(--intergalactic-spacing-2x, 8px);
}

SDotGroup {
  display: flex;
  align-items: center;
}

SDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: var(--intergalactic-spacing-2x, 8px);
  background: var(--intergalactic-icon-secondary-info, #2bb3ff);
}

SDot[color] {
  background: var(--color);
}
