:root {
  --blue-01: #c4e5fe;
  --blue-02: #8ecdff;
  --blue-03: #2bb3ff;
  --blue-04: #008ff8;
  --blue-05: #006dca;
  --green-01: #9ef2c9;
  --green-02: #59ddaa;
  --green-03: #00c192;
  --green-04: #009f81;
  --green-05: #007c65;
  --orange-01: #ffdca2;
  --orange-02: #ffb26e;
  --orange-03: #ff8c43;
  --orange-04: #ff622d;
  --orange-05: #c33909;
  --pink-01: #ffd3ff;
  --pink-02: #ffa9fa;
  --pink-03: #f67cf2;
  --pink-04: #e14adf;
  --pink-05: #b229b9;
  --violet-01: #edd9ff;
  --violet-02: #dcb8ff;
  --violet-03: #c695ff;
  --violet-04: #ab6cfe;
  --violet-05: #8649e1;
  --red-01: #ffd7df;
  --red-02: #ffaeb5;
  --red-03: #ff8786;
  --red-04: #ff4953;
  --red-05: #d1002f;
  --yellow-01: #fce081;
  --yellow-02: #fdc23c;
  --yellow-03: #ef9800;
  --yellow-04: #d87900;
  --yellow-05: #a75800;
  --salad-01: #c7ee96;
  --salad-02: #9bd85d;
  --salad-03: #66c030;
  --salad-04: #35a21e;
  --salad-05: #0a7e22;
  --gray-01: #c4c7cf;
}
