@import '@semcore/d3-chart/src/style/var.css';

SCircle {
  fill: var(--green-02);
  stroke: #fff;
  stroke-width: 2px;
  fill-opacity: 0.5;
  transition-property: cx, cy;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;

  &:hover {
    fill-opacity: 0.7;
  }
}

SCircle[color] {
  fill: var(--color);
}

SIntersection {
  stroke: #fff;
  stroke-width: 2px;
  fill-opacity: 0;

  &:hover {
    fill-opacity: 0.1;
  }
}
