.searchInput {
  margin-bottom: 16px;
  max-width: 400px;
}

.tokenName {
  cursor: pointer;
}

.colorPreview {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  border: 1px solid transparent;
  flex-shrink: 0;
}

.usages {
  text-decoration: underline;
}
