STimePicker {
  position: relative;
  width: auto;
  outline: none;

  SPickerInput {
    box-sizing: content-box;
    text-align: center;
    z-index: 1;
    height: 1.5em;

    &[placeholder] {
      text-overflow: initial;
    }
    &:focus {
      outline: none;
      background-color: var(--intergalactic-bg-highlight-focus, rgba(0, 143, 248, 0.2));
    }
  }
}

STimePicker[disabled] {
  color: var(--intergalactic-text-secondary, #6c6e79);
  cursor: default;
}

STimePickerSeparator {
  color: var(--intergalactic-text-primary, #191b23);
}

STimePickerSeparator[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  pointer-events: none;
}