STimePickerWrapper {
  display: contents;

  STimePicker {
    position: relative;
    width: auto;
    outline: none;

    SPickerInput {
      box-sizing: content-box;
      text-align: center;
      z-index: 1;
      height: 1.5em;

      &[placeholder] {
        text-overflow: initial;
      }

      &:focus {
        outline: none;
        background-color: var(--intergalactic-bg-highlight-focus, oklch(0.508 0.293 286.9 / 0.067));
      }
    }
  }

  STimePicker[disabled] {
    color: var(--intergalactic-text-secondary, oklch(0.247 0.049 230.2 / 0.524));
    cursor: default;
    pointer-events: none;
  }

  STimePickerSeparator {
    color: var(--intergalactic-text-primary, oklch(0.23 0.01 225));
  }

  STimePickerSeparator[disabled] {
    opacity: var(--intergalactic-disabled-opacity, 0.4);
    pointer-events: none;
  }
}
