SRadioCards {
  gap: var(--intergalactic-spacing-content-gap-large, 8px);
}

SRadioItem {
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  gap: var(--intergalactic-spacing-content-gap-small, 4px);
  padding: var(--intergalactic-spacing-content-padding-medium, 12px) var(--intergalactic-spacing-content-padding-xlarge, 20px);
  align-items: flex-start;

  border-radius: var(--intergalactic-pills-rounded, 6px);
  background: var(--intergalactic-control-presets-bg, oklch(1 0 0));
  box-shadow: var(--intergalactic-box-shadow-control-elevated, 0px 0px 1px 0px oklch(0.176 0.033 175.7 / 0.07), 0px 1px 3px 0px oklch(0.176 0.033 175.7 / 0.07));
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--intergalactic-control-presets-border-hover, oklch(0.137 0.026 175.7 / 0.161));
  }

  &[aria-checked='true'] {
    border: 1px solid var(--intergalactic-control-presets-border-selected, oklch(0.23 0.01 140));
  }

  &[aria-disabled='true'] {
    pointer-events: none;
    opacity: var(--intergalactic-disabled-opacity, 0.4);
  }
}

SRadioItemHeader {
  gap: var(--intergalactic-spacing-content-gap-medium, 6px);
}

SRadioItemHeaderText,
SRadioItemDescription {
  text-align: left;
}

SRadioItemHeaderLeftAddon {
  transform: translateY(4px);
  color: var(--intergalactic-icon-primary-neutral);
}


SRadioItemHeaderRightAddon {
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
}
