@import '@semcore/utils/style/var.css';

SBadge {
  display: inline-block;
  box-sizing: border-box;
  height: 14px;
  line-height: 1.1;
  padding: 0 4px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

SBadge[bg] {
  background-color: var(--bg);
}
SBadge[color] {
  color: var(--color);
}
