SBadge {
  display: inline-block;
  box-sizing: border-box;
  height: 16px;
  align-content: center;
  padding: 0 var(--intergalactic-spacing-1x, 4px);
  border-radius: var(--intergalactic-badge-rounded, 4px);
  white-space: nowrap;
  font-size: var(--intergalactic-fs-100, 12px);
  line-height: 8px;
  font-weight: var(--intergalactic-medium, 500);
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--intergalactic-badge-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
}

SBadge[theme='default'] {
  &[type='admin'] {
    background-color: var(--intergalactic-badge-accent-admin, oklch(0.58 0.168 278.2));
  }

  &[type='alpha'] {
    background-color: var(--intergalactic-badge-accent-alpha, oklch(0.64 0.226 24.5));
  }

  &[type='beta'] {
    background-color: var(--intergalactic-badge-accent-beta, oklch(0.74 0.17 72));
  }

  &[type='new'] {
    background-color: var(--intergalactic-badge-accent-new, oklch(0.74 0.17 170));
  }

  &[type='soon'] {
    background-color: var(--intergalactic-badge-accent-soon, oklch(0.64 0.025 224.1));
  }

  &[type='unavailable'] {
    color: var(--intergalactic-badge-text-secondary, oklch(0.247 0.049 230.2 / 0.524));
    background-color: var(--intergalactic-badge-bg-unavailable, oklch(0.97 0.004 215.3));
  }
}

SBadge[theme='invert'] {
  color: var(--intergalactic-badge-text-primary-invert, oklch(0.993 0.005 215.6 / 0.956));
  background-color: var(--intergalactic-badge-bg-invert, oklch(0.916 0.055 225.3 / 0.127));
}

SBadge[theme='light'] {
  &[type='admin'] {
    color: var(--intergalactic-badge-light-admin-text, oklch(0.58 0.168 278.2));
    background-color: var(--intergalactic-badge-light-admin, oklch(0.898 0.054 268.3));
  }
  &[type='alpha'] {
    color: var(--intergalactic-badge-light-alpha-text, oklch(0.64 0.226 24.5));
    background-color: var(--intergalactic-badge-light-alpha, oklch(0.899 0.069 12.9));
  }
  &[type='beta'] {
    color: var(--intergalactic-badge-light-beta-text, oklch(0.64 0.16 64));
    background-color: var(--intergalactic-badge-light-beta, oklch(0.9 0.13 92));
  }
  &[type='new'] {
    color: var(--intergalactic-badge-light-new-text, oklch(0.64 0.161 170));
    background-color: var(--intergalactic-badge-light-new, oklch(0.9 0.11 175));
  }
  &[type='soon'] {
    color: var(--intergalactic-badge-light-soon-text, oklch(0.46 0.02 225));
    background-color: var(--intergalactic-badge-light-soon, oklch(0.9 0.011 217.3));
  }
  &[type='unavailable'] {
    color: var(--intergalactic-badge-text-secondary, oklch(0.247 0.049 230.2 / 0.524));
    background-color: var(--intergalactic-badge-bg-unavailable, oklch(0.97 0.004 215.3));
  }
}
