SBadge {
  display: inline-block;
  box-sizing: border-box;
  height: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-fs-200, 14px);
  padding: 0 var(--intergalactic-spacing-1x, 4px);
  border-radius: var(--intergalactic-rounded-medium, 6px);
  white-space: nowrap;
  font-size: var(--intergalactic-fs-50, 10px);
  font-weight: var(--intergalactic-medium, 500);
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

SBadge[bg] {
  background-color: var(--bg);
}
SBadge[color] {
  color: var(--color);
}
