SBubble,
SView {
  position: relative;
  margin-bottom: var(--intergalactic-spacing-3x, 12px);
  padding: var(--intergalactic-spacing-3x, 12px);
  padding-right: calc(var(--intergalactic-spacing-8x, 32px) + var(--intergalactic-spacing-1x, 4px));
  width: 100%;
  border-radius: var(--intergalactic-popper-rounded, 6px);
  overflow: hidden;
  box-sizing: border-box;
  color: var(--intergalactic-text-primary-invert, #ffffff);
  gap: var(--intergalactic-spacing-2x, 8px);

  &[type='info'] {
    background: var(--intergalactic-bg-primary-invert, #191b23);
  }

  &[type='warning'] {
    background: var(--intergalactic-bg-primary-critical, #ff4953);
  }
}

SContent {
  flex-direction: column;
  gap: var(--intergalactic-spacing-2x, 8px);
  flex: 1;
}

SMessage {
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}

SDismiss {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: var(--intergalactic-spacing-2x, 8px);
  margin-right: var(--intergalactic-spacing-2x, 8px);
  margin-bottom: var(--intergalactic-spacing-2x, 8px);
  flex-shrink: 0;
  border: 0;
  background: transparent;
}
SDismiss[use][use] {
  /* height: auto; */
  padding: 0 1px;
}
SIcon {
  justify-content: center;
  align-items: center;
  height: var(--intergalactic-spacing-5x, 20px);
}

SNoticeBubble {
  width: 300px;
  position: fixed;
  right: var(--intergalactic-spacing-3x, 12px);
  top: var(--intergalactic-spacing-3x, 12px);

  @media (max-width: 767px) {
    width: calc(100% - var(--intergalactic-spacing-6x, 24px));
  }
}

SNoticeBubble[disablePortal] {
  position: sticky;
  margin-left: auto;
  height: 0;
}

SMessage a {
  color: var(--intergalactic-text-link-invert, #8ecdff);
}

SNoticeAriaLiveWrapper {
  display: content;
}

@keyframes enter {
  from {
    transform: translate(100%, 0);
    max-height: 0;
    overflow: hidden;
  }

  to {
    transform: translate(0, 0);
    max-height: 100vh;
    overflow: hidden;
  }
}

@keyframes exit {
  from {
    max-height: 100vh;
    overflow: hidden;
    opacity: 1;
  }

  to {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }
}