SInfo,
SWarning,
SView {
  position: relative;
  margin-bottom: var(--intergalactic-spacing-3x, 12px);
  padding: var(--intergalactic-spacing-3x, 12px)
    calc(var(--intergalactic-spacing-6x, 24px) + var(--intergalactic-spacing-1x, 4px))
    var(--intergalactic-spacing-3x, 12px) var(--intergalactic-spacing-3x, 12px);
  width: 100%;
  border-radius: var(--intergalactic-rounded-medium, 6px);
  overflow: hidden;
  box-sizing: border-box;
}

SInfo {
  background: var(--intergalactic-bg-primary-invert, #191b23);
}

SWarning {
  background: var(--intergalactic-bg-primary-critical, #ff4953);
}

SMessage {
  font-size: var(--intergalactic-fs-200, 14px);
  color: var(--intergalactic-text-primary-invert, #ffffff);
  line-height: var(--intergalactic-lh-100, 133%);
}

SDismiss {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: var(--intergalactic-spacing-2x, 8px);
  color: var(--intergalactic-text-primary-invert, #ffffff);

  &:hover {
    color: var(--intergalactic-control-primary-invert-active, #e0e1e9);
  }
}

SAction {
  margin-top: var(--intergalactic-spacing-2x, 8px);
}

SNoticeBubble {
  width: 300px;
  position: fixed;
  z-index: var(--intergalactic-z-index-notice-bubble, 999);
  right: var(--intergalactic-spacing-3x, 12px);
  top: var(--intergalactic-spacing-3x, 12px);

  @media (max-width: 767px) {
    width: calc(100% - var(--intergalactic-spacing-6x, 24px));
  }
}

@keyframes enter {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
