@import '@semcore/utils/style/var.css';

SInfo,
SWarning,
SView {
  position: relative;
  margin-bottom: 12px;
  padding: 12px 24px 12px 12px;
  width: 100%;
  min-height: 44px;
  border-radius: var(--rounded-m);
  overflow: hidden;
  box-sizing: border-box;
}

SInfo {
  background: var(--gray20);
}

SWarning {
  background: var(--red);
}

SMessage {
  font-size: var(--fs-200);
  color: #fff;
  line-height: var(--lh-100);
}

SDismiss {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  color: var(--white);

  &:hover {
    color: var(--gray94);
  }
}

SAction {
  margin-top: 8px;
}

SNoticeBubble {
  width: 300px;
  position: fixed;
  z-index: 1010;
  right: 12px;
  top: 12px;

  @media (max-width: 767px) {
    width: calc(100% - 24px);
  }
}
