SHighlightedItem {
  &::after,
  &:not(:focus-visible)::before {
    opacity: 0;
    transition: opacity calc(var(--intergalactic-duration-control, 200) * 1ms) ease-in-out;
  }
  &:not(:focus-visible)::before {
    background: var(--intergalactic-border-ai, linear-gradient(90deg, #c695ff, #2bb3ff));
  }
  &:hover:not(:focus-visible)::before {
    opacity: 1;
  }
  &[selected]::after {
    opacity: 1;
    background: var(--intergalactic-border-ai-active, linear-gradient(90deg, #ab6cfe, #008ff8));
  }

  &:focus-visible::before {
    height: auto;
  }
}

SHighlightedCared {
  background: var(--intergalactic-border-ai-active, linear-gradient(90deg, #ab6cfe, #008ff8));
}
