@import '../core/var.css';

.text-size-100 {
  font-size: var(--fs-100);
  line-height: var(--lh-100);
}
.text-size-200 {
  font-size: var(--fs-200);
  line-height: var(--lh-200);
}
.text-size-300 {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
}
.text-size-400 {
  font-size: var(--fs-400);
  line-height: var(--lh-400);
}
.text-size-500 {
  font-size: var(--fs-500);
  line-height: var(--lh-500);
}
.text-size-600 {
  font-size: var(--fs-600);
  line-height: var(--lh-600);
}
.text-size-700 {
  font-size: var(--fs-700);
  line-height: var(--lh-700);
}
.text-black {
  color: var(--black);
}
.text-white {
  color: var(--white);
}
.text-red-100 {
  color: var(--light-red);
}
.text-red-200 {
  color: var(--red);
}
.text-red-300 {
  color: var(--dark-red);
}
.text-lime-100 {
  color: var(--light-lime);
}
.text-lime-200 {
  color: var(--lime);
}
.text-orange-100 {
  color: var(--light-orange);
}
.text-orange-200 {
  color: var(--orange);
}
.text-orange-300 {
  color: var(--dark-orange);
}
.text-purple-100 {
  color: var(--light-purple);
}
.text-purple-200 {
  color: var(--purple);
}
.text-purple-300 {
  color: var(--dark-purple);
}
.text-blue-100 {
  color: var(--light-blue);
}
.text-blue-200 {
  color: var(--blue);
}
.text-blue-300 {
  color: var(--dark-blue);
}
.text-gray-100 {
  color: var(--light-gray);
}
.text-gray-200 {
  color: var(--stroke-gray);
}
.text-gray-300 {
  color: var(--gray);
}
.text-gray-400 {
  color: var(--dark-gray);
}
.text-green-100 {
  color: var(--light-green);
}
.text-green-200 {
  color: var(--green);
}
.text-green-300 {
  color: var(--dark-green);
}
.text-pink {
  color: var(--pink);
}
.link {
  text-decoration-line: underline;
}

.link-theme-default {
  color: var(--blue);
}
.link-theme-default:hover {
  color: #0070cc !important;
}

.link-theme-dark {
  color: var(--dark-gray);
}
.link-theme-dark:hover {
  color: var(--black) !important;
}
