SValue {
  letter-spacing: 0.1em;
  text-overflow: inherit;
}

SMask {
  line-height: 1.25;
  position: absolute;
  left: 0.8em;
  pointer-events: none;
  letter-spacing: 0.1em;
  text-overflow: inherit;
  white-space: nowrap;
  color: var(--intergalactic-text-primary, #191b23);
}
SMask[neighborLocation='left'],
SMask[neighborLocation='both'] {
  left: 0;
}

SMaskHidden {
  opacity: 0;
}
SMaskHidden:before {
  content: attr(data-content);
}
SPlaceholder {
  color: var(--intergalactic-text-placeholder, #a9abb6);
}
SMaskHidden:before,
SMaskVisible::before,
SPlaceholder:before {
  content: attr(data-content);
}
