@import '@semcore/utils/style/var.css';

SValue {
  letter-spacing: 0.1em;
  text-overflow: inherit;
}

SValueAccessible {
  width: 100%;
  position: absolute;
  left: 9px;
  top: 6px;
  pointer-events: none;
  letter-spacing: 0.1em;
}
