SInputMask {
  SValue {
    letter-spacing: 0.1em;
    text-overflow: inherit;
    padding: 0;
  }
}

SMask {
  line-height: 1.25;
  position: absolute;
  left: 0;
  pointer-events: none;
  letter-spacing: 0.1em;
  text-overflow: inherit;
  white-space: nowrap;
  color: var(--intergalactic-text-primary, #191b23);
}

SMaskHidden {
  opacity: 0;
}

SMaskHidden:before {
  content: attr(data-content);
}

SPlaceholder {
  color: var(--intergalactic-text-placeholder, #8a8e9b);
}

SMaskHidden:before,
SMaskVisible::before,
SPlaceholder:before {
  content: attr(data-content);
}
