.section {
  margin-bottom: calc(9 * var(--intergalactic-spacing-1x));
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
}

.contextWrapper {
  display: contents;
}

ul.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--intergalactic-spacing-1x);
  padding: var(--intergalactic-spacing-3x);
  border-radius: var(--intergalactic-rounded-medium);
  border: solid 1px var(--intergalactic-border-primary);
  margin-top: var(--intergalactic-spacing-2x);
}

.previewIcon {
  display: inline;
}

.previewIcon button {
  width: 118px;
  height: 82px;
  border-radius: var(--intergalactic-rounded-medium);
  border: 2px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.previewIcon button:hover {
  background-color: var(--intergalactic-bg-primary-neutral-hover);
}

.previewIcon button:focus-visible {
  box-shadow: var(--intergalactic-keyboard-focus);
}

div[data-name='PanelTrigger'] {
  width: 100%;
  padding: var(--intergalactic-spacing-3x);
  font-size: var(--intergalactic-fs-200);
  line-height: var(--intergalactic-lh-200);
  color: var(--intergalactic-text-secondary);
}

.previewIcon svg {
  display: block;
  margin: 0 auto var(--intergalactic-spacing-3x);
  color: var(--intergalactic-icon-non-interactive);
}

.previewChangeIcon {
  position: relative;
  display: flex;
  padding: 0 var(--intergalactic-spacing-4x);
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: var(--intergalactic-rounded-medium);
  background-color: var(--intergalactic-bg-secondary-neutral);
  font-size: calc(var(--intergalactic-fs-100) + 1px);
}

.previewChangeIcon:hover {
  background-color: var(--intergalactic-bg-secondary-info-hover);
}

.previewIcon svg,
.previewChangeIcon svg {
  pointer-events: none;
}

.iconSizes {
  color: var(--intergalactic-text-secondary);
  margin-left: var(--intergalactic-spacing-2x);
}

.iconSizeTitle {
  color: var(--intergalactic-text-primary);
}
