SPopper {
  outline: none;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
}

SPopper[keyboardFocused]:focus:after {
  position: absolute;
  display: block;
  content: '';
  inset: 0;
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px oklch(0.424 0.269 264.2 / 0.469));
  pointer-events: none;
  border-radius: var(--intergalactic-popper-rounded, 6px);
}

SPopper[keyboardFocused][hideFocus]:focus:after {
  box-shadow: none;
}

SFocusHint {
  display: none;
}

STrigger:focus-within SFocusHint,
STrigger:focus SFocusHint {
  display: inline;
}
