SPopper {
  outline: none;
  z-index: var(--intergalactic-z-index-popper, 700);
  color: var(--intergalactic-text-primary, #191b23);
}

SPopper[keyboardFocused]:focus:after {
  position: absolute;
  display: block;
  content: '';
  inset: 0;
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
}

SFocusHint {
  display: none;
}

STrigger:focus-within SFocusHint,
STrigger:focus SFocusHint {
  display: inline;
}
