SPopper {
  outline: none;
  color: var(--intergalactic-text-primary, #191b23);
}

SPopper[keyboardFocused]:focus:after {
  position: absolute;
  display: block;
  content: "";
  inset: 0;
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
  pointer-events: none;
  border-radius: var(--intergalactic-popper-rounded, 6px);
}

SPopper[keyboardFocused][hideFocus]:focus:after {
  box-shadow: none;
}

SFocusHint {
  display: none;
}

STrigger:focus-within SFocusHint,
STrigger:focus SFocusHint {
  display: inline;
}
