@import "../skeleton/skeleton.shadow.css";

SDonutContainer[semi] {
  g {
    transform: rotate(180deg) translate(-24px, -24px);
  }
}

SDonutContainer {
  g {
    transform: rotate(-90deg) translate(-24px);
  }
}

SDonutContainer[animate] circle {
  transition: all var(--intergalactic-duration-extra-slow, 500) ease-in-out;
}
