SDivider {
  display: block;

  &[orientation='horizontal'] {
    width: 100%;
    height: 1px;
  }

  &[orientation='vertical'] {
    width: 1px;
    height: auto;
    min-height: 100%;
    align-self: stretch;
    flex-shrink: 0;
  }

  &[use='primary'] {
    background-color: var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));

    &[theme='invert'] {
      background-color: var(--intergalactic-border-primary-invert, oklch(0.995 0.009 144.4 / 0.347));
    }
  }

  &[use='secondary'] {
    &[orientation='horizontal'] {
      background-image: radial-gradient(circle, var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161)) 0.5px, transparent 0.5px);
      background-size: 5px 1px;
      background-position: -2px 50%;

      &[theme='invert'] {
        background-image: radial-gradient(circle, var(--intergalactic-border-primary-invert, oklch(0.995 0.009 144.4 / 0.347)) 0.5px, transparent 0.5px);
      }
    }

    &[orientation='vertical'] {
      background-image: radial-gradient(circle, var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161)) 0.5px, transparent 0.5px);
      background-size: 1px 5px;
      background-position: 50% -2px;

      &[theme='invert'] {
        background-image: radial-gradient(circle, var(--intergalactic-border-primary-invert, oklch(0.995 0.009 144.4 / 0.347)) 0.5px, transparent 0.5px);
      }
    }
  }

  &[theme]:not([theme='default']):not([theme='invert']) {
    &[use='primary'] {
      background-color: var(--theme);
    }
    &[use='secondary'] {
      background-image: radial-gradient(circle, var(--theme) 0.5px, transparent 0.5px);
    }
  }
}