@import '@semcore/utils/style/var.css';

SPills {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
}

SPill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;
  background: var(--intergalactic-color-bg-primary-neutral);
  border: 1px solid var(--intergalactic-color-border-primary);
  border-radius: var(--intergalactic-borderRadius-rounded-medium);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    background: var(--intergalactic-color-bg-primary-neutral-hover);
  }
}

SPill[selected] {
  background: var(--intergalactic-color-control-secondary-info-hover);
  border-color: var(--intergalactic-color-border-info-active);
  z-index: 1;
}

SPill[disabled] {
  cursor: default;
  pointer-events: none; /* Disable link interactions */

  & > * {
    opacity: var(--intergalactic-opacity-disabled-opacity);
  }
}

SPill[keyboardFocused] {
  box-shadow: var(--intergalactic-boxShadow-keyboard-focus);
}

SText {
  color: var(--intergalactic-color-text-primary);
  display: inline-flex;
}

SAddon {
  color: var(--intergalactic-color-text-secondary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SPill[size='m'] {
  height: var(--form-control-m);
  min-width: var(--form-control-m);
  font-size: var(--intergalactic-fontSizes-fs-200);

  & SText {
    margin-left: var(--intergalactic-spacing-spacing-2x);
    margin-right: var(--intergalactic-spacing-spacing-2x);
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: var(--intergalactic-spacing-spacing-2x);
    }

    &:not(:only-child):last-child {
      margin-right: var(--intergalactic-spacing-spacing-2x);
    }

    &:only-child {
      margin-left: var(--intergalactic-spacing-spacing-2x);
      margin-right: var(--intergalactic-spacing-spacing-2x);
    }
  }
}

SPill[size='l'] {
  height: var(--form-control-l);
  min-width: var(--form-control-l);
  font-size: var(--intergalactic-fontSizes-fs-300);

  & SText {
    margin-left: var(--intergalactic-spacing-spacing-2x);
    margin-right: var(--intergalactic-spacing-spacing-2x);

    &:only-child {
      margin-left: var(--intergalactic-spacing-spacing-3x);
      margin-right: var(--intergalactic-spacing-spacing-3x);
    }
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: var(--intergalactic-spacing-spacing-3x);
    }

    &:not(:only-child):last-child {
      margin-right: var(--intergalactic-spacing-spacing-3x);
    }

    &:only-child {
      margin-left: var(--intergalactic-spacing-spacing-3x);
      margin-right: var(--intergalactic-spacing-spacing-3x);
    }
  }
}

SPill[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SPill[neighborLocation='both'] {
  border-radius: 0;
  margin-left: -1px;
}

SPill[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
