@import '@semcore/utils/style/var.css';

SPills {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SPill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: var(--rounded-m);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    background: color-mod(var(--gray-400) a(20%));
  }
}

SPill[selected] {
  background: color-mod(var(--blue-400) a(20%));
  border-color: var(--blue-400);
  z-index: 1;
}

SPill[disabled] {
  cursor: default;
  pointer-events: none; /* Disable link interactions */

  & > * {
    opacity: var(--disabled-opacity);
  }
}

SPill[keyboardFocused] {
  box-shadow: var(--keyborad-focus);
}

SText {
  color: var(--gray-800);
  display: inline-flex;
}

SAddon {
  color: var(--gray-500);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SPill[size='m'] {
  height: var(--form-control-m);
  min-width: var(--form-control-m);
  font-size: var(--fs-200);

  & SText {
    margin-left: 8px;
    margin-right: 8px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 8px;
    }

    &:not(:only-child):last-child {
      margin-right: 8px;
    }

    &:only-child {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}

SPill[size='l'] {
  height: var(--form-control-l);
  min-width: var(--form-control-l);
  font-size: var(--fs-300);

  & SText {
    margin-left: 8px;
    margin-right: 8px;

    &:only-child {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 12px;
    }

    &:not(:only-child):last-child {
      margin-right: 12px;
    }

    &:only-child {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}

SPill[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SPill[neighborLocation='both'] {
  border-radius: 0;
  margin-left: -1px;
}

SPill[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
