SPills {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
}

SPill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: var(--intergalactic-bg-primary-neutral, #ffffff);
  border: 1px solid var(--intergalactic-border-primary, #c4c7cf);
  border-radius: var(--intergalactic-rounded-medium, 6px);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    background: var(--intergalactic-bg-primary-neutral-hover, #f4f5f9);
  }
}

SPill[selected] {
  background: var(--intergalactic-control-secondary-info-hover, rgba(0, 143, 248, 0.2));
  border-color: var(--intergalactic-border-info-active, #006dca);
  z-index: 1;
}

SPill[disabled] {
  cursor: default;
  pointer-events: none; /* Disable link interactions */

  & > * {
    opacity: var(--intergalactic-disabled-opacity, 0.3);
  }
}

SPill[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
}

SText {
  color: var(--intergalactic-text-primary, #191b23);
  display: inline-flex;
}

SAddon {
  color: var(--intergalactic-text-secondary, #6c6e79);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SPill[size='m'] {
  height: var(--intergalactic-form-control-m, 28px);
  min-width: var(--intergalactic-form-control-m, 28px);
  font-size: var(--intergalactic-fs-200, 14px);

  & SText {
    margin-left: var(--intergalactic-spacing-2x, 8px);
    margin-right: var(--intergalactic-spacing-2x, 8px);
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: var(--intergalactic-spacing-2x, 8px);
    }

    &:not(:only-child):last-child {
      margin-right: var(--intergalactic-spacing-2x, 8px);
    }

    &:only-child {
      margin-left: var(--intergalactic-spacing-2x, 8px);
      margin-right: var(--intergalactic-spacing-2x, 8px);
    }
  }
}

SPill[size='l'] {
  height: var(--intergalactic-form-control-l, 40px);
  min-width: var(--intergalactic-form-control-l, 40px);
  font-size: var(--intergalactic-fs-300, 16px);

  & SText {
    margin-left: var(--intergalactic-spacing-2x, 8px);
    margin-right: var(--intergalactic-spacing-2x, 8px);

    &:only-child {
      margin-left: var(--intergalactic-spacing-3x, 12px);
      margin-right: var(--intergalactic-spacing-3x, 12px);
    }
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: var(--intergalactic-spacing-3x, 12px);
    }

    &:not(:only-child):last-child {
      margin-right: var(--intergalactic-spacing-3x, 12px);
    }

    &:only-child {
      margin-left: var(--intergalactic-spacing-3x, 12px);
      margin-right: var(--intergalactic-spacing-3x, 12px);
    }
  }
}

SPill[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SPill[neighborLocation='both'] {
  border-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;
}

SPill[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;
}
