@import '@semcore/utils/style/var.css';

SPills {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SPill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;
  color: var(--gray20);
  background: #fff;
  border: 1px solid var(--stone-light);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    background: color-mod(var(--wall) a(20%));
  }
}

SPill[selected] {
  background: color-mod(var(--light-blue) a(20%));
  border-color: var(--light-blue);
  z-index: 1;

  &:enabled:hover {
    background: color-mod(var(--light-blue) a(20%));
  }
}

SPill[disabled] {
  cursor: default;
  pointer-events: none; /* Disable link interactions */

  & > * {
    opacity: var(--disabled-opacity);
  }
}

SPill[keyboardFocused] {
  box-shadow: var(--keyborad-focus);
}

SText {
  color: var(--gray20);
  display: inline-flex;
  line-height: 1.1;
}

SAddon {
  color: var(--gray60);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
}

SPill[size='s'] {
  height: 20px;
  min-width: 20px;
  border-radius: var(--rounded-m);
  font-size: 12px;

  & SText {
    margin-left: 4px;
    margin-right: 4px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 4px;
    }

    &:not(:only-child):last-child {
      margin-right: 4px;
    }

    &:only-child {
      margin-left: -2px;
      margin-right: -2px;
    }
  }
}

SPill[size='m'] {
  height: 28px;
  min-width: 28px;
  border-radius: var(--rounded-m);
  font-size: 14px;

  & SText {
    margin-left: 8px;
    margin-right: 8px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 8px;
    }

    &:not(:only-child):last-child {
      margin-right: 8px;
    }

    &:only-child {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
}

SPill[size='l'] {
  height: 40px;
  min-width: 40px;
  border-radius: var(--rounded-m);
  font-size: 16px;

  & SText {
    margin-left: 8px;
    margin-right: 8px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 8px;
    }

    &:not(:only-child):last-child {
      margin-right: 8px;
    }

    &:only-child {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
}

SPill[size='xl'] {
  height: 48px;
  min-width: 48px;
  border-radius: var(--rounded-m);
  font-size: 16px;

  & SText {
    margin-left: 12px;
    margin-right: 12px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 12px;
    }

    &:not(:only-child):last-child {
      margin-right: 12px;
    }

    &:only-child {
      margin-left: -6px;
      margin-right: -6px;
    }
  }
}

SPill[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SPill[neighborLocation='both'] {
  border-radius: 0;
  margin-left: -1px;
}

SPill[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
