SDataTable {
  display: grid;
  align-items: start;
  min-width: fit-content;
}

SDataTable[isDataEmpty] {
  display: block;
  align-items: unset;
  min-width: unset;
}

SDataTable[gridTemplateColumns] {
  grid-template-columns: var(--gridTemplateColumns);
}

SDataTable[gridTemplateAreas] {
  grid-template-areas: var(--gridTemplateAreas);
}

SDataTable[gridTemplateRows] {
  grid-template-rows: var(--gridTemplateRows);
}
