SDataTable {
  display: grid;
  align-items: start;
  min-width: fit-content;
  grid-auto-rows: min-content;
}

SDataTable[isDataEmpty] {
  display: block;
  align-items: unset;
  min-width: unset;
}

SDataTable[gridTemplateColumns] {
  grid-template-columns: var(--gridTemplateColumns);
}

SDataTable[gridTemplateAreas] {
  grid-template-areas: var(--gridTemplateAreas);
}

SDataTable[gridTemplateRows] {
  grid-template-rows: var(--gridTemplateRows);
}

SScrollAreaBarInHeader[withAnimation] {
  animation-name: moveBarWithScroll;
  animation-timeline: --table-sticky-timeline;
  animation-range-start: exit-crossing calc(-1 * var(--global-header-top));
  animation-range-end: exit-crossing calc(100% - var(--global-header-top) - var(--global-header-height));
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes moveBarWithScroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(var(--global-scroll-to) - var(--global-header-height)));
  }
}
