SDataTable {
  display: grid;
  position: relative;
  align-items: start;
}

SDataTable[gridTemplateColumns] {
  grid-template-columns: var(--gridTemplateColumns);
}

SDataTable[gridTemplateAreas] {
  grid-template-areas: var(--gridTemplateAreas);
}
