@import '@semcore/utils/style/var.css';

SDot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: media(10px);
  line-height: normal;
  background-color: var(--orange);
  color: #fff;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 100%;
  vertical-align: middle;
  animation: show 300ms ease-out;
  animation-fill-mode: forwards;
}

SDot[size='xl'] {
  height: media(16px);
  min-width: media(16px);
  padding: media(3px) media(4px);
  border-radius: media(8px);
}

SDot[size='l'] {
  height: media(12px);
  min-width: media(12px);
  border-radius: media(6px);
}

SDot[size='m'] {
  height: media(6px);
  min-width: media(6px);
  border-radius: media(3px);
}

SDot[up] {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: media(-3px);
  margin-right: media(-3px);
}

SDot[hidden] {
  animation: hidden 300ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hidden {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
