@import '@semcore/utils/style/var.css';

SDot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: normal;
  background-color: var(--orange);
  color: #fff;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 100%;
  vertical-align: middle;
  animation: show 300ms ease-out;
  animation-fill-mode: forwards;
}

SDot[size='xl'] {
  height: 16px;
  min-width: 16px;
  padding: 3px 4px;
  border-radius: 8px;
}

SDot[size='l'] {
  height: 12px;
  min-width: 12px;
  border-radius: 6px;
}

SDot[size='m'] {
  height: 6px;
  min-width: 6px;
  border-radius: 3px;
}

SDot[up] {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -3px;
  margin-right: -3px;
}

SDot[hidden] {
  animation: hidden 300ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hidden {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
