SPickerInput[size='m'] {
  width: 19px;
  margin: 0 var(--intergalactic-content-inset-inline, 12px);
  padding: 0;
}

SPickerInput[size='l'] {
  width: 21px;
  margin: 0 var(--intergalactic-content-inset-inline, 12px);
  padding: 0;
}