@import '../core/var.css';

.divider {
  border-color: var(--stroke-gray);

  &-horizontal {
    height: 0;
    border-top-width: 1px;
    border-top-style: solid;
  }
  &-vertical {
    width: 0;
    border-left-width: 1px;
    border-left-style: solid;
  }
}
