SNoticeGlobal {
  display: flex;
  align-items: center;
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  box-sizing: border-box;
  padding: var(--intergalactic-spacing-2x, 8px) var(--intergalactic-spacing-8x, 32px);
}

SCloseIcon {
  margin-left: var(--intergalactic-spacing-4x, 16px);
}

SNoticeGlobal[theme="neutral"] {
  background-color: var(--intergalactic-bg-primary-muted, #6c6e79);
  color: var(--intergalactic-text-primary-invert, #ffffff);
}

SNoticeGlobal[theme="info"] {
  background-color: var(--intergalactic-bg-primary-info, #008ff8);
  color: var(--intergalactic-text-primary-invert, #ffffff);
}

SNoticeGlobal[theme="danger"] {
  background-color: var(--intergalactic-bg-primary-critical, #ff4953);
  color: var(--intergalactic-text-primary-invert, #ffffff);
}

SNoticeGlobal[theme="warning"] {
  background-color: var(--intergalactic-bg-primary-warning, #ff642d);
  color: var(--intergalactic-text-primary-invert, #ffffff);
}

SNoticeGlobal[theme="success"] {
  background-color: var(--intergalactic-bg-primary-success, #009f81);
  color: var(--intergalactic-text-primary-invert, #ffffff);
}

SNoticeGlobal[theme="custom"] {
  background-color: var(--backgroundColor);
}

SContent {
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
}
