@import '@semcore/utils/style/var.css';

SNoticeGlobal {
  display: flex;
  font-size: var(--intergalactic-fs-200);
  line-height: var(--intergalactic-lh-200);
  box-sizing: border-box;
  padding: var(--intergalactic-spacing-2x) var(--intergalactic-spacing-8x);
}

SCloseIcon {
  flex-shrink: 0;
  margin-top: var(--intergalactic-spacing-05x);
  margin-left: var(--intergalactic-spacing-4x);
}

SNoticeGlobal[theme='neutral'] {
  background-color: var(--intergalactic-bg-primary-muted);
  color: var(--intergalactic-text-primary-invert);
}

SNoticeGlobal[theme='info'] {
  background-color: var(--intergalactic-bg-primary-info);
  color: var(--intergalactic-text-primary-invert);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-invert);

    &:hover {
      color: var(--intergalactic-icon-primary-invert-hover-active);
    }
  }
}

SNoticeGlobal[theme='danger'] {
  background-color: var(--intergalactic-bg-primary-critical);
  color: var(--intergalactic-text-primary-invert);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-invert);

    &:hover {
      color: var(--intergalactic-icon-primary-invert-hover-active);
    }
  }
}

SNoticeGlobal[theme='warning'] {
  background-color: var(--intergalactic-bg-primary-warning);
  color: var(--intergalactic-text-primary-invert);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-invert);

    &:hover {
      color: var(--intergalactic-icon-primary-invert-hover-active);
    }
  }
}

SNoticeGlobal[theme='success'] {
  background-color: var(--intergalactic-bg-primary-success);
  color: var(--intergalactic-text-primary-invert);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-invert);

    &:hover {
      color: var(--intergalactic-icon-primary-invert-hover-active);
    }
  }
}

SNoticeGlobal[theme='custom'] {
  background-color: var(--backgroundColor);
}

SContent {
  flex: 1 1 auto;
  width: 100%;
  justify-content: center;
}
