<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta property='og:title' content='Intergalactic – Design System' />
    <meta
      property='og:description'
      content='Intergalactic is a constantly developing system of UI components, guidelines and UX patterns. With all these tools you can build your own product based on the Semrush platform.'
    />
    <meta property='og:image' content='/social.png' />
    <script>
      dataLayer = window.dataLayer || [];
    </script>
    {{#if (IS_PROD)}}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PP7RKT7');</script>
      <!-- End Google Tag Manager -->
    {{/if}}
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id='root'></div>
    <script>
      <!-- For integration developer portal -->
      window.ROOT_PATH = '{{ROOT_PATH}}';
      window.__webpack_public_path__ = window.ROOT_PATH
      window._host = '{{host}}'
    </script>
    <script src='{{ROOT_PATH}}main.js'></script>
    {{#if (IS_PROD)}}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PP7RKT7"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {{/if}}
  </body>
</html>