@import '@semcore/utils/style/var.css';

SInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--fs-200);
  line-height: 1.5;

  & > SItem:not(:last-child) {
    margin-right: 24px;
    position: relative;
  }
}

SItem {
  align-items: center;
  display: flex;
  white-space: nowrap;
}

SLabel {
  margin-right: 4px;
}

@media (max-width: 767px) {
  SInfo {
    margin-bottom: -4px;
  }
  SItem {
    margin-bottom: 4px;
  }
}
