@import '@semcore/utils/style/var.css';

SProductHead {
  margin-bottom: 16px;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

SRow {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}

SButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 8px;

  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

SLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 8px;
  font-size: var(--fs-200);
  line-height: var(--lh-200);

  & > *:not(:first-child) {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  SRow {
    flex-wrap: wrap;
  }

  SButtons {
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: -8px;
    justify-content: flex-start;
    flex-wrap: wrap;

    & > * {
      margin-bottom: 8px;
    }
  }

  SLinks {
    display: none;
  }
}
