@import '@semcore/utils/style/var.css';

SProductHead {
  margin-top: var(--intergalactic-spacing-4x);
  margin-bottom: var(--intergalactic-spacing-6x);
}

SRow {
  display: flex;
  justify-content: space-between;
  margin-top: var(--intergalactic-spacing-2x);
  margin-bottom: var(--intergalactic-spacing-2x);
}

SButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: var(--intergalactic-spacing-2x);

  & > *:not(:last-child) {
    margin-right: var(--intergalactic-spacing-2x);
  }
}

SLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: var(--intergalactic-spacing-2x);
  font-size: var(--intergalactic-fs-200);
  line-height: var(--intergalactic-lh-200);

  & > *:not(:first-child) {
    margin-left: var(--intergalactic-spacing-5x);
  }
}

@media (max-width: 767px) {
  SRow {
    flex-wrap: wrap;
  }

  SButtons {
    width: 100%;
    margin-left: 0;
    margin-top: var(--intergalactic-spacing-2x);
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  SLinks {
    display: none;
  }
}
