@import '@semcore/utils/style/var.css';

STitle {
  align-items: center;
  display: flex;
  font-size: var(--intergalactic-fontSizes-fs-400);
  line-height: var(--intergalactic-lineHeights-lh-400);
  font-weight: var(--intergalactic-fontWeights-semi-bold-600);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--intergalactic-color-text-primary);
}

STool {
  margin-right: var(--intergalactic-spacing-spacing-1x);
}

SName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 767px) {
  STitle {
    flex-wrap: wrap;
    white-space: normal;
  }
}
