@import './var.css';
/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
a {
  font-family: var(--font-family);
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}

table,
tr,
td {
  padding: 0;
}

img {
  border: 0 none;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

a img {
  border: 0 none;
}

.imageFix {
  display: block;
}

table,
td {
  border-collapse: collapse;
}

#bodyTable {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

.w-100 {
  width: 100%;
}

.color-black {
  color: var(--black);
}

.color-white {
  color: var(--white);
}

@media (--desktop) {
  .show-mobile {
    display: none !important;
  }
}

@media (--mobile) {
  .show-desktop {
    display: none !important;
  }
  .center-mobile {
    text-align: center;
  }
}
