@import './var.css';
/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
body {
  margin: 0;
  padding: 0;
}

img {
  border: 0 none;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

a img {
  border: 0 none;
}

.imageFix {
  display: block;
}

table,
td {
  border-collapse: collapse;
}

#bodyTable {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

.w-100 {
  width: 100%;
}

.mobile_w-100 {
  @media (--mobile) {
    width: 100%;
  }
}

.color-black {
  color: var(--black);
}

.color-white {
  color: var(--white);
}
