@import '@semcore/utils/style/var.css';

STag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 24px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 500;
  background-color: var(--colorBg);
  color: var(--colorText);
  border-color: var(--colorBorder);

  &[interactive]:hover,
  &[interactive]:active,
  &[active] {
    background-color: var(--colorBgHover);
  }
}

STag[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none; /* Disable link interactions */
}

STag[interactive] {
  cursor: pointer;
}

STag[size='m'] {
  height: 20px;
  min-width: 20px;
  font-size: var(--fs-100);

  & SCircle:first-child {
    margin-left: -2px;
  }

  & SCircle:last-child {
    margin-right: -2px;
  }
}

STag[size='l'] {
  height: 28px;
  min-width: 28px;
  font-size: var(--fs-200);
}

STag[size='xl'] {
  height: 40px;
  min-width: 40px;
  font-size: var(--fs-300);
}

STag[theme='primary'] {
  background-color: var(--colorBg);
  border-color: var(--colorBg);
  color: var(--colorText);

  &[interactive]:hover,
  &[interactive]:active,
  &[active] {
    background-color: var(--colorBgHover);
  }
}

STag[theme='primary-invert'] {
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--white);

  &[interactive]:hover,
  &[interactive]:active,
  &[active] {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
STag[theme='secondary-invert'],
STag[theme='additional-invert'] {
  color: var(--white);
  border-color: color-mod(var(--white) a(30%));

  &[interactive]:hover,
  &[interactive]:active,
  &[active] {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

STag[theme='additional'] {
  border-style: dashed;
}

SText {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SText:not(:only-child):first-child {
  padding-right: 0;
}

SText:not(:first-child):not(:last-child) {
  padding-left: 0;
  padding-right: 0;
}

SText:not(:only-child):last-child {
  padding-left: 0;
}

SAddon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
}

SCircle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 4px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

SCircle[size='m'] {
  width: 16px;
  height: 16px;
}

SCircle[size='l'] {
  width: 20px;
  height: 20px;
}

SCircle[size='xl'] {
  width: 20px;
  height: 20px;
}

SClose {
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
