STag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: var(--intergalactic-rounded-extra-large, 24px);
  padding-left: var(--intergalactic-spacing-1x, 4px);
  padding-right: var(--intergalactic-spacing-1x, 4px);
  font-weight: var(--intergalactic-medium, 500);
  background-color: var(--colorBg);
  color: var(--colorText);
  border-color: var(--colorBorder);

  &[interactive]:hover,
  &[interactive]:active,
  &[active] {
    background-color: var(--colorBgHover);
  }
}

STag[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none; /* Disable link interactions */
}

STag[interactive] {
  cursor: pointer;
}

STag[size='m'] {
  height: 20px;
  min-width: 20px;

  & SCircle:first-child {
    margin-left: calc(-1 * var(--intergalactic-spacing-05x, 2px));
  }

  & SCircle:last-child {
    margin-right: calc(-1 * var(--intergalactic-spacing-05x, 2px));
  }

  & SText {
    font-size: var(--intergalactic-fs-100, 12px);
    line-height: var(--intergalactic-lh-100, 133%);
  }
}

STag[size='l'] {
  height: 28px;
  min-width: 28px;

  & SText {
    font-size: var(--intergalactic-fs-200, 14px);
    line-height: var(--intergalactic-lh-200, 142%);
  }
}

STag[size='xl'] {
  height: 40px;
  min-width: 40px;

  & SText {
    font-size: var(--intergalactic-fs-300, 16px);
    line-height: var(--intergalactic-lh-300, 150%);
  }
}

STag[theme='primary'] {
  background-color: var(--colorBg);
  border-color: var(--colorBg);
  color: var(--colorText);

  &[interactive]:hover,
  &[interactive]:active,
  &[active] {
    background-color: var(--colorBgHover);
  }
}

STag[theme='primary-invert'] {
  background-color: var(--intergalactic-tag-primary-white-normal, rgba(255, 255, 255, 0.15));
  color: var(--intergalactic-text-primary-invert, #ffffff);

  &[interactive]:hover,
  &[interactive]:active,
  &[active] {
    background-color: var(--intergalactic-tag-primary-white-hover-active, rgba(255, 255, 255, 0.3));
  }
}
STag[theme='secondary-invert'],
STag[theme='additional-invert'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  border-color: var(--intergalactic-border-secondary-invert)

  &[interactive]:hover,
  &[interactive]:active,
  &[active] {
    background-color: var(--intergalactic-tag-secondary-hover-active, #f4f5f9);
  }
}

STag[theme='additional'] {
  border-style: dashed;
}

SText {
  display: inline-block;
  padding-left: var(--intergalactic-spacing-1x, 4px);
  padding-right: var(--intergalactic-spacing-1x, 4px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SText:not(:only-child):first-child {
  padding-right: 0;
}

SText:not(:first-child):not(:last-child) {
  padding-left: 0;
  padding-right: 0;
}

SText:not(:only-child):last-child {
  padding-left: 0;
}

SAddon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding-left: var(--intergalactic-spacing-1x, 4px);
  padding-right: var(--intergalactic-spacing-1x, 4px);
}

SCircle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 var(--intergalactic-spacing-1x, 4px);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

SCircle[size='m'] {
  width: 16px;
  height: 16px;
}

SCircle[size='l'] {
  width: 20px;
  height: 20px;
}

SCircle[size='xl'] {
  width: 20px;
  height: 20px;
}

SClose {
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--intergalactic-spacing-1x, 4px);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
