@import '@semcore/utils/style/var.css';

STag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 21px;
  padding-left: 4px;
  padding-right: 4px;
}

SText {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

SText:not(:only-child):first-child {
  padding-right: 0;
}

SText:not(:first-child):not(:last-child) {
  padding-left: 0;
  padding-right: 0;
}

SText:not(:only-child):last-child {
  padding-left: 0;
}

SAddon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
}

SCircle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 4px;
}

STag[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none; /* Disable link interactions */
}

STag[interactive] {
  cursor: pointer;
}

STag[size='xl'] {
  height: 42px;
  min-width: 42px;
  font-size: 16px;

  & SCircle {
    width: 28px;
    height: 28px;
  }
}

STag[size='l'] {
  height: 32px;
  min-width: 32px;
  font-size: 14px;

  & SCircle {
    width: 24px;
    height: 24px;
  }
}

STag[size='m'] {
  height: 26px;
  min-width: 26px;
  font-size: 12px;

  & SCircle {
    width: 20px;
    height: 20px;
  }
}

STag[size='s'] {
  height: 18px;
  min-width: 18px;
  font-size: 10px;

  & SCircle {
    width: 12px;
    height: 12px;
  }
}

STag[theme='primary-muted'] {
  background-color: rgba(224, 225, 233, 0.5);
  color: #6c6e79;
  &[interactive]:active,
  &[active],
  &[interactive]:hover,
  &:hover {
    background-color: #e0e1e9;
  }
}

STag[theme='primary-warning'] {
  background-color: var(--orange);
  color: #fff;
  border-color: var(--orange);
}

STag[theme='primary-invert'] {
  background-color: color-mod(#fff a(20%));
  color: #fff;

  &[interactive]:active,
  &[active] {
    background-color: #fff;
    color: var(--gray20);
  }
  &[interactive] {
    &:hover {
      background-color: #fff;
      color: var(--gray20);
    }

    & SClose:hover {
      color: var(--gray20);
    }
  }
}

STag[theme='secondary-muted'] {
  background-color: #fff;
  color: var(--gray40);
  border-color: var(--stone);

  &[interactive]:hover {
    color: var(--gray20);
  }

  &[interactive]:active,
  &[active] {
    background-color: var(--gray94);
    color: var(--gray20);
  }
}

STag[theme='secondary-invert'] {
  border-color: color-mod(#fff a(20%));
  color: #fff;

  &[interactive]:hover {
    border-color: color-mod(#fff a(50%));
  }

  &[interactive]:active,
  &[active] {
    background-color: color-mod(#fff a(10%));
    border-color: color-mod(#fff a(50%));
  }
}

/* primary-muted */
STag[theme='custom'] {
  color: var(--colorText);
  background-color: var(--colorTag);
  &[active] {
    color: #fff;
    background-color: var(--colorText);
  }
  &[interactive] {
    &:hover {
      color: #fff;
      background-color: var(--colorText);
    }
    &:active {
      color: #fff;
      background-color: var(--colorText);
    }
  }
}

SClose {
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

SClose[theme='primary-warning'] {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

SClose[theme='primary-invert'] {
  /* это хак, тут должно быть color-mod(#fff a(50%)) */
  color: #999999;

  &:hover {
    color: #fff;
  }
}

SClose[theme='secondary-muted'] {
  color: color-mod(var(--gray40) a(50%));

  &:hover {
    color: var(--gray20);
  }
}

SClose[theme='secondary-invert'] {
  color: color-mod(#fff a(50%));

  &:hover {
    color: #fff;
  }
}

SClose[theme='custom'] {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
