@import '@semcore/utils/style/var.css';

STag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: media(21px);
  padding-left: media(4px);
  padding-right: media(4px);
}

SText {
  display: inline-block;
  padding-left: media(4px);
  padding-right: media(4px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SText:not(:only-child):first-child {
  padding-right: 0;
}

SText:not(:first-child):not(:last-child) {
  padding-left: 0;
  padding-right: 0;
}

SText:not(:only-child):last-child {
  padding-left: 0;
}

SClose {
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: media(4px);
}

SAddon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding-left: media(4px);
  padding-right: media(4px);
}

SCircle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  margin-right: media(4px);
}

STag[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none; /* Disable link interactions */
}

STag[interactive] {
  cursor: pointer;
}

STag[size='xl'] {
  height: media(42px);
  min-width: media(42px);
  font-size: media(16px);

  & SCircle {
    width: media(28px);
    height: media(28px);
  }
}

STag[size='l'] {
  height: media(32px);
  min-width: media(32px);
  font-size: media(14px);

  & SCircle {
    width: media(24px);
    height: media(24px);
  }
}

STag[size='m'] {
  height: media(26px);
  min-width: media(26px);
  font-size: media(12px);

  & SCircle {
    width: media(20px);
    height: media(20px);
  }
}

STag[size='s'] {
  height: media(18px);
  min-width: media(18px);
  font-size: media(10px);

  & SCircle {
    width: media(12px);
    height: media(12px);
  }
}

STag[theme='primary-invert'] {
  background-color: color-mod(#fff a(20%));
  color: #fff;

  & SClose {
    /* это хак, тут должно быть color-mod(#fff a(50%)) */
    color: #999999;

    &:hover {
      color: #fff;
    }
  }
}

STag[theme='primary-warning'] {
  background-color: var(--orange);
  color: #fff;
  border-color: var(--orange);

  & SClose {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

STag[theme='secondary-muted'] {
  background-color: #fff;
  color: var(--gray40);
  border-color: var(--stone);

  & SClose {
    color: color-mod(var(--gray40) a(50%));

    &:hover {
      color: var(--gray20);
    }
  }
}

STag[theme='secondary-invert'] {
  color: #fff;
  border-color: color-mod(#fff a(20%));

  & SClose {
    color: color-mod(#fff a(50%));

    &:hover {
      color: #fff;
    }
  }
}

STag[theme='primary-invert'][interactive] {
  &:hover {
    background-color: #fff;
    color: var(--gray20);
  }

  & SClose:hover {
    color: var(--gray20);
  }
}

STag[theme='secondary-muted'][interactive]:hover {
  color: var(--gray20);
}

STag[theme='secondary-invert'][interactive]:hover {
  border-color: color-mod(#fff a(50%));
}

STag[theme='primary-invert'] {
  &[interactive]:active,
  &[active] {
    background-color: #fff;
    color: var(--gray20);
  }
}

STag[theme='secondary-muted'] {
  &[interactive]:active,
  &[active] {
    background-color: var(--gray94);
    color: var(--gray20);
  }
}

STag[theme='secondary-invert'] {
  &[interactive]:active,
  &[active] {
    background-color: color-mod(#fff a(10%));
    border-color: color-mod(#fff a(50%));
  }
}
