SCircle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

SCircle[size="m"] {
  width: 12px;
  height: 12px;
}

SCircle[size="l"] {
  width: 16px;
  height: 16px;
}

SCircle[size="xl"] {
  width: 20px;
  height: 20px;
}

SAddon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: relative;

  &:last-child {
    padding-right: 0;
  }
}

STagContainer SAddon {
  padding-left: 0;
  padding-right: 0;
}

STag,
STagContainerClose {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border: 1px solid var(--intergalactic-bg-primary-neutral, #ffffff);
  box-sizing: border-box;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  border-radius: var(--intergalactic-tag-rounded, 24px);
  padding-left: var(--intergalactic-spacing-1x, 4px);
  padding-right: var(--intergalactic-spacing-1x, 4px);
  font-weight: var(--intergalactic-medium, 500);
  color: var(--tag-color);

  &[interactive]:focus-visible {
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--intergalactic-tag-rounded, 24px);
    background-color: var(--tag-color);
    opacity: 0.2;
    filter: brightness(150%);
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: var(--intergalactic-tag-rounded, 24px);
    pointer-events: none;
    border: 1px solid var(--tag-color);
    opacity: 0.1;
    filter: brightness(150%);
  }

  &:active,
  &:hover {
    text-decoration: none;
  }
}

STag[disabled],
STagContainerClose[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
}

STag[interactiveView] {
  cursor: pointer;
}

STag[size="m"],
STagContainerClose[size="m"],
STagContainer[size="m"] {
  height: 20px;
  min-width: 20px;

  & SAddon:first-child {
    padding-left: 0;
  }

  & SText {
    font-size: var(--intergalactic-fs-100, 12px);
    line-height: var(--intergalactic-lh-100, 133%);
  }
}

STag[size="l"],
STagContainerClose[size="l"],
STagContainer[size="l"] {
  height: 28px;
  min-width: 28px;

  & SText {
    font-size: var(--intergalactic-fs-200, 14px);
    line-height: var(--intergalactic-lh-200, 142%);
  }
}

STag[size="xl"],
STagContainerClose[size="xl"] {
  height: 40px;
  min-width: 40px;
  padding: 0 var(--intergalactic-spacing-2x, 8px);

  & SText {
    font-size: var(--intergalactic-fs-300, 16px);
    line-height: var(--intergalactic-lh-300, 150%);
  }
}

STag[theme="primary"],
STagContainerClose[theme="primary"],
STagContainer[theme="primary"] SAddon {
  &::before {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
  }

  &:after {
    display: none;
  }

  &[interactiveView]:hover,
  &[interactiveView]:active,
  &[active] {
    &:before {
      opacity: 0.3;
    }
  }
}

STag[theme="secondary"],
STagContainerClose[theme="secondary"],
STag[theme="additional"],
STagContainerClose[theme="additional"] {
  &::before {
    opacity: 0.01;
  }

  &[interactiveView]:hover,
  &[interactiveView]:active,
  &[active] {
    &:before {
      opacity: 0.1;
    }
  }
}

STag[theme="secondary"],
STagContainerClose[theme="secondary"],
STag[theme="additional"],
STagContainerClose[theme="additional"],
STag[theme="secondary-invert"],
STagContainerClose[theme="secondary-invert"],
STag[theme="additional-invert"],
STagContainerClose[theme="additional-invert"] {
  &::after {
    opacity: 0.5;
  }
}

STag[theme="primary-invert"],
STagContainerClose[theme="primary-invert"] {
  background-color: var(
    --intergalactic-tag-primary-white-normal,
    rgba(255, 255, 255, 0.15)
  );
  color: var(--intergalactic-text-primary-invert, #ffffff);
}

STag[theme="secondary-invert"],
STagContainerClose[theme="secondary-invert"],
STag[theme="additional-invert"],
STagContainerClose[theme="additional-invert"] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
}

STag[theme="additional"] {
  &::after {
    border-style: dashed;
  }
}

SText {
  display: inline-block;
  padding-left: var(--intergalactic-spacing-1x, 4px);
  padding-right: var(--intergalactic-spacing-1x, 4px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

SText:focus-visible {
  box-shadow: var(
    --intergalactic-keyboard-focus,
    0px 0px 0px 3px rgba(0, 143, 248, 0.5)
  );
  z-index: 1;
}

SClose {
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--intergalactic-spacing-1x, 4px) 0;
  position: relative;

  & path {
    opacity: 0.5;
  }

  &:hover path {
    opacity: 1;
  }
}

STagContainer {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  STag,
  SAddon {
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: var(--intergalactic-spacing-05x, 2px);

      &::before,
      &::after {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -1px;
      }

      SText {
        padding-right: 0;
      }
    }
  }
  /* stylelint-disable-next-line no-duplicate-selectors */
  STag,
  SAddon {
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &::before,
      &::after {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      SText {
        padding-left: 0;
      }
    }
  }

  STagContainerClose {
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
    padding-right: 0;
    min-width: 20px;

    &::before,
    &::after {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &::before {
      left: -1px;
    }

    svg {
      padding-left: 0;
      padding-right: var(--intergalactic-spacing-1x, 4px);
    }

    svg path {
      opacity: 0.5;
    }

    &:hover svg path {
      opacity: 1;
    }
  }

  STagContainerClose[size="xl"] {
    svg {
      padding-left: var(--intergalactic-spacing-1x, 4px);
      padding-right: var(--intergalactic-spacing-2x, 8px);
    }
  }
}
