SHighlightedInput[state='normal'] {
  SOutline {
    border-color: var(--intergalactic-feature-highlight-border, oklch(0.137 0.026 175.7 / 0.161));

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      margin: -4px;
      padding: 3px;
      border-radius: calc(var(--intergalactic-control-rounded, 6px) + 3px);

      background-image: var(--intergalactic-feature-highlight-keyboard-focus-outline, linear-gradient(90deg in oklch, oklch(0.82 0.15 170), oklch(0.82 0.15 170)));
      mask: linear-gradient(0deg, #fff, #fff) content-box, linear-gradient(0deg, #fff, #fff);
      mask-composite: exclude;

      opacity: 0;

      transition: opacity calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out;
    }
  }

  &:has(SValue:focus-visible) SOutline {
    outline: none;
    border-color: var(--intergalactic-feature-highlight-border-active, oklch(0.22 0.01 140));

    &::before {
      opacity: 1;
    }
  }

  &[neighborLocation='left'] SOutline::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &[neighborLocation='right'] SOutline::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &[neighborLocation='both'] SOutline::before {
    border-radius: 0;
  }
}

/* Firefox fallback */
@supports not (-webkit-mask-composite: xor) {
  SHighlightedInput[state='normal']:has(SValue:focus-visible) SOutline {
    outline: none;
    border-color: var(--intergalactic-feature-highlight-border, oklch(0.137 0.026 175.7 / 0.161));
    box-shadow:
      0 0 0 2px #ffffff,
      0 0 0 4px #59ddaa;
  }

  SHighlightedInput[state='normal']:has(SValue:focus-visible) SOutline::before {
    display: none;
  }
}
