STabLine {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
}

STabLine[underlined] {
  border-bottom: 1px solid var(--intergalactic-border-primary, #c4c7cf);
}

STabLineItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  /*outline: 0;*/
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--intergalactic-text-primary, #191b23);
  margin-right: var(--intergalactic-spacing-4x, 16px);
  font-weight: var(--intergalactic-medium, 500);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover {
    text-decoration: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    width: 100%;
    background-color: transparent;
  }

  &::before {
    transition: background-color calc(var(--intergalactic-duration-control, 200) * 1ms) ease-in-out;
  }

  &:hover::before {
    background-color: var(--intergalactic-border-primary, #c4c7cf);
  }

  &[selected]::after {
    transition-delay: calc(var(--intergalactic-duration-control, 200) * 1ms);
    background-color: var(--intergalactic-border-info-active, #006dca);
  }

  & SText:not(:last-child) {
    margin-right: var(--intergalactic-spacing-2x, 8px);
  }

  & SAddon:not(:last-child) {
    margin-right: var(--intergalactic-spacing-2x, 8px);
  }
}

SCaret {
  position: absolute;
  bottom: -1px;
  height: 3px;
  background-color: var(--intergalactic-border-info-active, #006dca);
  transition: calc(var(--intergalactic-duration-control, 200) * 1ms) all ease-in-out;
}

STabLineItem[selected] {
  flex-shrink: 0;
}

STabLineItem[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  /* Disable link interactions */
  pointer-events: none;
}

SText {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

STabLineItem[size='m'] {
  height: 28px;
  min-width: 18px;

  & SText {
    font-size: var(--intergalactic-fs-200, 14px);
    line-height: var(--intergalactic-lh-200, 142%);
  }
}

STabLineItem[size='l'] {
  height: 40px;
  min-width: 26px;

  & SText {
    font-size: var(--intergalactic-fs-300, 16px);
    line-height: var(--intergalactic-lh-300, 150%);
  }
}

STabLineItem[neighborLocation='left'] {
  margin-right: 0;
}

@media (prefers-reduced-motion) {
  STabLineItem {

    &::before,
    &::after {
      transition: none;
    }

    &[selected]::after {
      transition: none;
    }
  }

  SCaret {
    display: none;
  }
}
