.searchInput {
  margin-bottom: var(--intergalactic-spacing-4x);
  max-width: 400px;
}

.filters {
  margin-bottom: var(--intergalactic-spacing-4x);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nameFilterInput {
  flex: 2;
  min-width: 300px;
}

.nameFilterInputIcon path {
  fill: var(--intergalactic-icon-secondary-neutral);
}

.componentsFilterSelect.componentsFilterSelect {
  flex: 1;
  min-width: 200px;
}

.tokenNameWrapper,
.tokenValueWrapper {
  max-width: 100%;
}

.tokenName,
.tokenValue {
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  color: var(--intergalactic-text-primary, #191b23);
  display: flex;
  text-align: left;
}

.tokenName:focus-visible,
.tokenValue:focus-visible {
  z-index: 1;
  outline-color: var(--intergalactic-keyboard-focus-outline, #008ff8);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  transition: outline-color calc(var(--intergalactic-duration-extra-fast, 100) * 1ms)
    ease-in-out, outline-width calc(var(--intergalactic-duration-extra-fast, 100) * 1ms)
    ease-in-out, outline-offset calc(var(--intergalactic-duration-extra-fast, 100) * 1ms)
    ease-in-out;
}

.colorPreview {
  width: 18px;
  height: 18px;
  border-radius: var(--intergalactic-rounded-small);
  display: inline-block;
  margin-right: var(--intergalactic-spacing-2x);
  flex-shrink: 0;
  position: relative;
}

.colorPreview:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--intergalactic-rounded-small);
  border: 1px solid var(--intergalactic-border-primary);
  box-sizing: border-box;
}

div[role='gridcell'] {
  word-break: break-word;
  white-space: pre-wrap;
  position: relative;
}
