.searchInput {
  margin-bottom: var(--intergalactic-spacing-4x);
  max-width: 400px;
}

.filters {
  margin-bottom: var(--intergalactic-spacing-4x);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nameFilterInput {
  flex: 2;
  min-width: 300px;
}

.nameFilterInputIcon path {
  fill: var(--intergalactic-icon-secondary-neutral);
}

.componentsFilterSelect.componentsFilterSelect {
  flex: 1;
  min-width: 200px;
}

.tokenNameWrapper {
  max-width: 100%;
}

.tokenName {
  cursor: pointer;
  max-width: 100%;
}

.tokenValueWrapper {
  max-width: 100%;
}

.tokenValue {
  cursor: pointer;
  display: flex;
  max-width: 100%;
}

.colorPreview {
  width: 18px;
  height: 18px;
  border-radius: var(--intergalactic-rounded-small);
  display: inline-block;
  margin-right: var(--intergalactic-spacing-2x);
  flex-shrink: 0;
  position: relative;
}

.colorPreview:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: var(--intergalactic-rounded-small);
  border: 1px solid var(--intergalactic-border-secondary);
  box-sizing: border-box;
  filter: invert(1) saturate(0) contrast(10) brightness(10);
}

.usages {
  color: var(--intergalactic-text-hint);
  border-bottom: 1px dashed var(--intergalactic-text-hint);
}
