h4 {
  margin-bottom: var(--intergalactic-spacing-2x);
}

.field {
  display: flex;
  margin-bottom: var(--intergalactic-spacing-4x);
  align-items: flex-start;
  width: 100%;
}

.label {
  flex: 0 0 72px;
}

.control {
  margin-left: calc(var(--intergalactic-spacing-2x) + 2px);
}

.wrapperPlayground {
  display: flex;
  overflow: hidden;
  border-radius: var(--intergalactic-rounded-medium);
  height: auto;
  margin-bottom: var(--intergalactic-spacing-8x);
  border: 1px solid var(--vp-c-divider);
}

.resultView {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: 100%;
  padding: var(--intergalactic-spacing-4x);
  box-sizing: border-box;
  background-size: 20px 20px;
  background-position: center center;
  overflow-y: auto;
  position: relative;
  font-size: var(--intergalactic-fs-100);
}

.playgroundRuntime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultCode {
  position: relative;
  overflow-y: auto;
}

.workArea {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex: 2;
}

.widgetsBar {
  flex: 1;
  position: relative;
  font-size: var(--intergalactic-fs-200);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--vp-c-bg-alt);
  min-width: 200px;
}

.widgetsBar .vp-doc h4 {
  margin-bottom: 8px !important;
}

.widgetGroup {
  display: flex;
  flex-direction: column;
}
