.flag-Abkhazia-0_0_0 {
      background-position: 0 0;
    }
.flag-Afghanistan-0_0_0 {
      background-position: -14px 0;
    }
.flag-0_0_0 {
  background-image: url(https://static.semrush.com/ui-kit/flags/0.0.0/sprite@2x.png);
  background-size: 28px 11px;
}