SBaseTrigger {
  display: inline-block;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;

  background: var(--intergalactic-bg-primary-neutral, #ffffff);

  font-weight: var(--intergalactic-regular, 400);
  border: 1px solid var(--intergalactic-border-primary, #c4c7cf);
  color: var(--intergalactic-text-primary, #191b23);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    border: 1px solid var(--intergalactic-border-info-active, #006dca);
  }

  &:hover {
    background-color: var(--intergalactic-bg-primary-neutral-hover, #f4f5f9);
  }

  &:active,
  &[active] {
    border-color: var(--intergalactic-border-info-active, #006dca);
    background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  }
}

SBaseTrigger[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  /* Disable link interactions */
  pointer-events: none;
}

SInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

SText {
  display: inline;
  /* disable-tokens-validator */
  padding: 1px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: var(--intergalactic-lh-200, 142%);
  flex-grow: 1;
  text-align: left;
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  pointer-events: none;
}

SBaseAddon {
  width: 12px;
  height: 12px;
}

SBaseTrigger[size='m'] {
  min-width: 26px;
  height: 28px;
  border-radius: var(--intergalactic-control-rounded, 6px);
  padding: 0 var(--intergalactic-spacing-2x, 8px);
  font-size: var(--intergalactic-fs-200, 14px);

  & SAddon {
    &:not(:only-child):first-child {
      margin-right: var(--intergalactic-spacing-2x, 8px);
    }

    &:not(:only-child):last-child {
      margin-left: var(--intergalactic-spacing-2x, 8px);
    }

    &:only-child {
      margin-left: calc(-1 * var(--intergalactic-spacing-1x, 4px));
      margin-right: calc(-1 * var(--intergalactic-spacing-1x, 4px));
    }
  }
}

SBaseTrigger[size='l'] {
  min-width: 32px;
  height: 40px;
  border-radius: var(--intergalactic-control-rounded, 6px);
  padding: 0 var(--intergalactic-spacing-3x, 12px);
  font-size: var(--intergalactic-fs-300, 16px);

  & SAddon {
    &:not(:only-child):first-child {
      margin-right: var(--intergalactic-spacing-2x, 8px);
    }

    &:not(:only-child):last-child {
      margin-left: var(--intergalactic-spacing-2x, 8px);
    }

    &:only-child {
      margin-left: calc(-1 * var(--intergalactic-spacing-1x, 4px));
      margin-right: calc(-1 * var(--intergalactic-spacing-1x, 4px));
    }
  }
}

SBaseTrigger[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SBaseTrigger[neighborLocation='both'] {
  border-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;
}

SBaseTrigger[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;
}

SText[display-placeholder] {
  color: var(--intergalactic-text-placeholder, #8a8e9b);
}

SBaseTrigger[state='valid'] {
  border-color: var(--intergalactic-border-success-active, #007c65);
}

SBaseTrigger[state='invalid'] {
  border-color: var(--intergalactic-border-critical-active, #d1002f);

  &:focus-visible {
    outline-color: var(--intergalactic-keyboard-focus-invalid-outline, rgba(255, 73, 83, 0.5));
  }
}

SInvalidPattern[size='m'] {
  margin-left: calc(-1 * var(--intergalactic-spacing-2x, 8px));
}

SInvalidPattern[size='l'] {
  margin-left: calc(-1 * var(--intergalactic-spacing-3x, 12px));
}
