@import '@semcore/utils/style/var.css';

SBaseTrigger {
  display: inline-block;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  font-family: var(--intergalactic-fontFamilies-base), sans-serif;
  cursor: pointer;

  background: var(--intergalactic-color-bg-primary-neutral);

  font-weight: var(--intergalactic-fontWeights-regular-400);
  border: 1px solid var(--intergalactic-color-border-primary);
  color: var(--intergalactic-color-text-primary);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &[keyboardFocused] {
    border: 1px solid var(--intergalactic-color-border-info-active);
    box-shadow: var(--intergalactic-boxShadow-keyboard-focus);
  }

  &:hover {
    background-color: color-mod(var(--gray-400) a(20%));
  }

  &:active,
  &[active] {
    background-color: color-mod(var(--gray-400) a(30%));
  }
}

SBaseTrigger[disabled] {
  opacity: var(--intergalactic-opacity-disabled-opacity);
  cursor: default;
  pointer-events: none; /* Disable link interactions */
}

SBaseTrigger[keyboardFocused] {
  z-index: 1;
}

SInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

SText {
  display: inline;
  padding: 1px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: var(--intergalactic-lineHeights-lh-200);
  flex-grow: 1;
  text-align: left;
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

SBaseAddon {
  width: 12px;
  height: 12px;
}

SBaseTrigger[size='m'] {
  min-width: 26px;
  height: var(--intergalactic-spacing-spacing-7x);
  border-radius: var(--intergalactic-borderRadius-rounded-medium);
  padding: 0 8px;
  font-size: var(--intergalactic-fontSizes-fs-200);

  & SAddon {
    &:not(:only-child):first-child {
      margin-right: var(--intergalactic-spacing-spacing-2x);
    }

    &:not(:only-child):last-child {
      margin-left: var(--intergalactic-spacing-spacing-2x);
    }

    &:only-child {
      margin-left: calc(-1 * var(--intergalactic-spacing-spacing-1x));
      margin-right: calc(-1 * var(--intergalactic-spacing-spacing-1x));
    }
  }
}

SBaseTrigger[size='l'] {
  min-width: 32px;
  height: var(--intergalactic-spacing-spacing-10x);
  border-radius: var(--intergalactic-borderRadius-rounded-medium);
  padding: 0 12px;
  font-size: var(--intergalactic-fontSizes-fs-300);

  & SAddon {
    &:not(:only-child):first-child {
      margin-right: var(--intergalactic-spacing-spacing-2x);
    }

    &:not(:only-child):last-child {
      margin-left: var(--intergalactic-spacing-spacing-2x);
    }

    &:only-child {
      margin-left: calc(-1 * var(--intergalactic-spacing-spacing-1x));
      margin-right: calc(-1 * var(--intergalactic-spacing-spacing-1x));
    }
  }
}

SBaseTrigger[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SBaseTrigger[neighborLocation='both'] {
  border-radius: 0;
  margin-left: -1px;
}

SBaseTrigger[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

SText[placeholder] {
  color: var(--gray-300);
}

SBaseTrigger[state='normal'] {
  border-color: var(--intergalactic-color-border-primary);
}

SBaseTrigger[state='valid'] {
  border-color: var(--green-200);
}

SBaseTrigger[state='invalid'] {
  border-color: var(--red-200);

  &[keyboardFocused] {
    border-color: var(--orange-400);
    box-shadow: 0 0 0 3px color-mod(var(--orange-400) a(30%));
  }
}
