@import '@semcore/utils/style/var.css';

SBaseTrigger {
  display: inline-block;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  font-family: Inter, sans-serif;
  cursor: pointer;

  background: #ffffff;

  font-weight: 400;
  border: 1px solid var(--gray-200);
  color: var(--gray-800);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &[keyboardFocused] {
    border: 1px solid var(--blue-400);
    box-shadow: var(--keyborad-focus);
  }

  &:hover {
    background-color: color-mod(var(--gray-400) a(20%));
  }

  &:active,
  &[active] {
    background-color: color-mod(var(--gray-400) a(30%));
  }
}

SBaseTrigger[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none; /* Disable link interactions */
}

SBaseTrigger[keyboardFocused] {
  z-index: 1;
}

SInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

SText {
  display: inline;
  padding: 1px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: var(--lh-200);
  flex-grow: 1;
  text-align: left;
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

SBaseAddon {
  width: 12px;
  height: 12px;
}

SBaseTrigger[size='m'] {
  min-width: 26px;
  height: 28px;
  border-radius: var(--rounded-m);
  font-size: var(--fs-200);

  & SText {
    margin-left: 8px;
    margin-right: 8px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 8px;
    }

    &:not(:only-child):last-child {
      margin-right: 8px;
    }

    &:only-child {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
}

SBaseTrigger[size='l'] {
  min-width: 32px;
  height: 40px;
  border-radius: var(--rounded-m);
  font-size: var(--fs-300);

  & SText {
    margin-left: 12px;
    margin-right: 12px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 12px;
    }

    &:not(:only-child):last-child {
      margin-right: 12px;
    }

    &:only-child {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
}

SBaseTrigger[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SBaseTrigger[neighborLocation='both'] {
  border-radius: 0;
  margin-left: -1px;
}

SBaseTrigger[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

SText[placeholder] {
  color: var(--gray-300);
}

SBaseTrigger[state='normal'] {
  border-color: var(--gray-200);
}

SBaseTrigger[state='valid'] {
  border-color: var(--green-200);
}

SBaseTrigger[state='invalid'] {
  border-color: var(--red-200);

  &[keyboardFocused] {
    border-color: var(--orange-400);
    box-shadow: 0 0 0 3px color-mod(var(--orange-400) a(30%));
  }
}
