@import '@semcore/utils/style/var.css';

SBaseTrigger {
  display: inline-block;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;

  border: 1px solid var(--stone);
  background: #ffffff;
  color: var(--gray20);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:focus {
    border: 1px solid var(--light-blue);
    box-shadow: var(--keyborad-focus);
  }

  &:active,
  &:hover,
  &[active] {
    background-color: color-mod(var(--stone) a(20%));
  }
}

SBaseTrigger[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none; /* Disable link interactions */
}

SBaseTrigger[keyboardFocused] {
  box-shadow: var(--keyborad-focus);
  z-index: 1;
}

SInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

SText {
  display: inline;
  padding: 1px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.2;
  flex-grow: 1;
  text-align: left;
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

SBaseAddon {
  width: 12px;
  height: 12px;
}

SBaseTrigger[size='s'] {
  height: 18px;
  min-width: 18px;
  border-radius: 2px;
  font-size: 10px;

  & SText {
    margin-left: 4px;
    margin-right: 4px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 4px;
    }

    &:not(:only-child):last-child {
      margin-right: 4px;
    }

    &:only-child {
      margin-left: -2px;
      margin-right: -2px;
    }
  }
}

SBaseTrigger[size='m'] {
  height: 26px;
  min-width: 26px;
  border-radius: 3px;
  font-size: 12px;

  & SText {
    margin-left: 8px;
    margin-right: 8px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 8px;
    }

    &:not(:only-child):last-child {
      margin-right: 8px;
    }

    &:only-child {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
}

SBaseTrigger[size='l'] {
  height: 32px;
  min-width: 32px;
  border-radius: 4px;
  font-size: 14px;

  & SText {
    margin-left: 8px;
    margin-right: 8px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 8px;
    }

    &:not(:only-child):last-child {
      margin-right: 8px;
    }

    &:only-child {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
}

SBaseTrigger[size='xl'] {
  height: 42px;
  min-width: 42px;
  border-radius: 5px;
  font-size: 16px;

  & SText {
    margin-left: 12px;
    margin-right: 12px;
  }

  & SAddon {
    &:not(:only-child):first-child {
      margin-left: 12px;
    }

    &:not(:only-child):last-child {
      margin-right: 12px;
    }

    &:only-child {
      margin-left: -6px;
      margin-right: -6px;
    }
  }
}

SBaseTrigger[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SBaseTrigger[neighborLocation='both'] {
  border-radius: 0;
  margin-left: -1px;
}

SBaseTrigger[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

SText[placeholder] {
  color: var(--gray70);
}

SBaseTrigger[state='normal'] {
  border-color: var(--stone);
}

SBaseTrigger[state='valid'] {
  border-color: var(--green);
}

SBaseTrigger[state='invalid'] {
  border-color: var(--orange);

  &[keyboardFocused],
  &:focus {
    border-color: var(--orange);
    box-shadow: 0 0 0 3px color-mod(var(--orange) a(30%));
  }
}
