STrigger {
  position: relative;

  &[role="combobox"]:not([empty]) {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      background-color: var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
      transition: height calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-out; /* TODO: Sync with animationin FilterTrigger */
    }

    &[size='m']::before {
      height: 18px;
    }
    &[size='l']::before {
      height: 28px;
    }

    &[active], &:active {
      background-color: var(--intergalactic-control-select-trigger-hover, oklch(0.98 0.001 180));
      &::before {
        height: 100%;
      }
    }

    &[disabled] {
      opacity: 1;
    }
  }
}

SClear {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &[disabled] {
    opacity: 1;
  }
}

SWrapper:hover:not(:has([disabled])) STrigger[role="combobox"]:not([empty]) {
  &[size='m']::before,
  &[size='l']::before {
    height: 100%;
  }
}

SWrapper {
  border: 1px solid var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
  border-radius: var(--intergalactic-control-rounded, 6px);
  display: inline-flex;

  &:focus {
    outline: none;
  }

  &[empty]:active,
  &[empty][active],
  &[empty]:focus-within {
    border-color: var(--intergalactic-border-info-active, oklch(0.7 0.131 275.2));
    background-color: var(--intergalactic-control-select-trigger-active, oklch(1 0 0));
  }

  &[disabled] {
    opacity: var(--intergalactic-disabled-opacity, 0.4);
  }

  STrigger,
  SClear {
    border: none;

    &[size='m'] {
      height: 30px;
    }
    &[size='l'] {
      height: 42px;
    }

    &:focus-visible {
      outline-offset: 3px;
      border: none;
    }
  }
}
