@import '@semcore/utils/style/var.css';

SButtonTrigger {
  border: 1px solid var(--stone);
  background: #ffffff;
  color: var(--gray20);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &[keyboardFocused] {
    border: 1px solid var(--light-blue);
    box-shadow: var(--keyborad-focus);
  }

  &:active,
  &:hover,
  &[active] {
    background-color: color-mod(var(--stone) a(20%));
  }
}

SButtonTrigger[size='s'] {
  height: 18px;
  min-width: 18px;
  border-radius: 2px;
  font-size: 10px;
}

SButtonTrigger[size='m'] {
  height: 26px;
  min-width: 26px;
  border-radius: 3px;
  font-size: 12px;
}

SButtonTrigger[size='l'] {
  height: 32px;
  min-width: 32px;
  border-radius: 4px;
  font-size: 14px;
}

SButtonTrigger[size='xl'] {
  height: 42px;
  min-width: 42px;
  border-radius: 5px;
  font-size: 16px;
}

SText[placeholder] {
  color: var(--gray70);
}

SButtonTrigger[state='normal'] {
  border-color: var(--stone);
}

SButtonTrigger[state='valid'] {
  border-color: var(--green);
}

SButtonTrigger[state='invalid'] {
  border-color: var(--orange);

  &[keyboardFocused] {
    border-color: var(--orange);
    box-shadow: 0 0 0 3px color-mod(var(--orange) a(30%));
  }
}

SFilterTrigger[selected] {
  border-color: var(--light-blue);
  background-color: color-mod(var(--light-blue) a(20%));

  &[active],
  &:hover {
    background: color-mod(var(--light-blue) a(30%));
  }
}

SWrapper {
  display: inline-flex;

  &:focus {
    outline: none;
  }
}

SWrapper[keyboardFocused] {
  box-shadow: var(--keyborad-focus);
}

SCounter {
  background-color: var(--light-blue);
}
