@import '@semcore/utils/style/var.css';

SButtonTrigger {
  border: 1px solid var(--gray-200);
  background: #ffffff;
  color: var(--gray-800);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:active,
  &:hover,
  &[active] {
    background-color: color-mod(var(--gray-400) a(20%));
  }
}

SButtonTrigger[size='m'] {
  min-width: 26px;
  height: 28px;
  border-radius: var(--rounded-m);
  font-size: var(--fs-200);
}

SButtonTrigger[size='l'] {
  min-width: 32px;
  height: 40px;
  border-radius: var(--rounded-m);
  font-size: var(--fs-300);
}

SText[placeholder] {
  color: var(--gray-300);
}

SButtonTrigger[state='normal'] {
  border-color: var(--gray-200);
}

SButtonTrigger[state='valid'] {
  border-color: var(--green-200);
}

SButtonTrigger[state='invalid'] {
  border-color: var(--red-200);
}

SFilterTrigger[selected] {
  border-color: var(--blue-400);
  background-color: color-mod(var(--blue-400) a(20%));
  color: var(--gray-800);

  &[active],
  &:hover {
    background: color-mod(var(--blue-400) a(30%));
  }
}

SWrapper {
  display: inline-flex;

  &:focus {
    outline: none;
  }
}

SWrapper[keyboardFocused] {
  box-shadow: var(--keyborad-focus);
}

SCounter {
  background-color: var(--blue-400);
}
