@import '@semcore/utils/style/var.css';

SButtonTrigger {
  border: 1px solid var(--intergalactic-color-border-primary);
  background: var(--intergalactic-color-bg-primary-neutral);
  color: var(--intergalactic-color-text-primary);

  &::-moz-focus-inner {
    border: none;
    padding: 0;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:active,
  &:hover,
  &[active] {
    background-color: var(--intergalactic-color-control-secondary-neutral-hover);
  }
}

SButtonTrigger[size='m'] {
  min-width: 26px;
  height: 28px;
  border-radius: var(--intergalactic-borderRadius-rounded-medium);
  font-size: var(--intergalactic-fontSizes-fs-200);
}

SButtonTrigger[size='l'] {
  min-width: 32px;
  height: 40px;
  border-radius: var(--intergalactic-borderRadius-rounded-medium);
  font-size: var(--intergalactic-fontSizes-fs-300);
}

SText[placeholder] {
  color: var(--intergalactic-color-text-placeholder);
}

SButtonTrigger[state='normal'] {
  border-color: var(--intergalactic-color-border-primary);
}

SButtonTrigger[state='valid'] {
  border-color: var(--intergalactic-color-border-success);
}

SButtonTrigger[state='invalid'] {
  border-color: var(--intergalactic-color-border-danger);
}

SFilterTrigger[selected] {
  border-color: var(--intergalactic-color-border-info-active);
  background-color: var(--intergalactic-color-control-secondary-info-hover);
  color: var(--intergalactic-color-text-primary);

  &[active],
  &:hover {
    background-color: var(--intergalactic-color-control-secondary-info-active);
  }
}

SWrapper {
  display: inline-flex;

  &:focus {
    outline: none;
  }
}

SWrapper[keyboardFocused] {
  box-shadow: var(--intergalactic-boxShadow-keyboard-focus);
}

SCounter {
  background-color: var(--intergalactic-color-bg-primary-info);
}
