@import '@semcore/utils/style/var.css';

SLinkTrigger {
  display: inline-flex;
  align-items: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  outline: 0;
  vertical-align: middle;
  font-family: inherit;
  cursor: pointer;
}

SLinkTrigger {
  color: var(--denim-blue);
  background: none;
  transition: color 0.15s ease-in-out;

  &[active],
  &:hover,
  &:active {
    color: var(--blue600);

    & SText {
      border-color: currentColor;
    }
  }

  & SText {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: transparent;
    transition: border-bottom-color 0.15s ease-in-out;
  }
}

SLinkTrigger[color] {
  color: var(--color);

  &:hover {
    color: var(--color-hover);
  }
}

SLinkTrigger[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
}

SLinkTrigger[keyboardFocused] {
  box-shadow: var(--keyborad-focus);
  z-index: 1;
}

SAddon,
SLinkAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &:not(:only-child):first-child {
    margin-right: 4px;
  }

  &:not(:only-child):last-child {
    margin-left: 4px;
  }
}

SLinkAddon {
  width: 16px;
  height: 16px;
}

SLinkTrigger[size='s'] {
  font-size: 10px;
}

SLinkTrigger[size='m'] {
  font-size: var(--fs-200);
}

SLinkTrigger[size='l'] {
  font-size: var(--fs-300);
}

SLinkTrigger[size='xl'] {
  font-size: var(--fs-300);
}

@media (prefers-reduced-motion) {
  SLinkTrigger {
    transition: none;
    & SText {
      transition: none;
    }
  }
}
