SLinkTrigger {
  display: inline-flex;
  align-items: center;
  line-height: normal;
  position: relative;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
  color: var(--intergalactic-text-link, #006dca);
  background: none;
  transition: color 0.15s ease-in-out;
  border: 0;

  &[active],
  &:hover,
  &:active {
    color: var(--intergalactic-text-link-hover-active, #044792);

    & SText {
      border-color: currentColor;
    }
  }

  & SText {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: transparent;
    transition: border-bottom-color 0.15s ease-in-out;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

SLinkTrigger[color] {
  color: var(--color);

  &:hover {
    filter: brightness(0.8);
  }
}

SLinkTrigger[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
}

SAddon,
SLinkAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: var(--intergalactic-spacing-05x, 2px);

  &:not(:only-child):first-child {
    margin-right: var(--intergalactic-spacing-1x, 4px);
  }

  &:not(:only-child):last-child {
    margin-left: var(--intergalactic-spacing-1x, 4px);
  }
}

SLinkAddon {
  width: 16px;
  height: 16px;
}

SLinkTrigger[size='m'] {
  font-size: var(--intergalactic-fs-200, 14px);
}

SLinkTrigger[size='l'] {
  font-size: var(--intergalactic-fs-300, 16px);
}

@media (prefers-reduced-motion) {
  SLinkTrigger {
    transition: none;

    & SText {
      transition: none;
    }
  }
}
