.modalWindow {
  width: 50%;
  height: 100%;
  color: var(--intergalactic-text-primary);
  margin-right: initial;
  background: white;
  padding: var(--intergalactic-spacing-6x) var(--intergalactic-spacing-8x)
    var(--intergalactic-spacing-8x);
  position: relative;
  box-sizing: border-box;
  border-radius: 0;
  overflow: scroll;
}
@media (max-width: 992px) {
  .modalWindow {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .modalWindow {
    width: 70%;
  }
}
