SDropdownNotice {
  padding-top: var(--intergalactic-spacing-content-inset-inline, 12px);
  padding-bottom: var(--intergalactic-spacing-content-inset-inline, 12px);
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-left-radius: var(--intergalactic-rounded-small, 4px);
  border-bottom-right-radius: var(--intergalactic-rounded-small, 4px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
