SDropdownNotice {
  padding-top: var(--intergalactic-spacing-3x, 12px);
  padding-bottom: var(--intergalactic-spacing-3x, 12px);
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-left-radius: calc(var(--intergalactic-rounded-small, 4px) + 1px);
  border-bottom-right-radius: calc(var(--intergalactic-rounded-small, 4px) + 1px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
