@import '@semcore/utils/style/var.css';

SDropdownPopper {
  position: relative;
  background-color: #fff;
  border-radius: var(--rounded-m);
  box-sizing: border-box;
  border: 1px solid var(--gray94);
  white-space: normal;
  box-shadow: var(--box-shadow-popper);
}
