SDropdownPopper {
  position: relative;
  background-color: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
  border-radius: var(--intergalactic-popper-rounded, 6px);
  box-sizing: border-box;
  border: 1px solid var(--intergalactic-border-secondary, oklch(0.176 0.033 175.7 / 0.07));
  white-space: normal;
  box-shadow: var(--intergalactic-box-shadow-popper, 1px 1px 10px 0px oklch(0.176 0.033 175.7 / 0.07));
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));


  SDropdownItem {
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    line-height: normal;
    outline: none;
  }
  
  SDropdownItem:not(button) {
    width: 100%;
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));

    &:hover {
      background-color: var(--intergalactic-dropdown-menu-item-hover, oklch(0.177 0.033 175.6 / 0.028));
    }
  }

  SDropdownItem[size='l'] SDropdownItem:is(button) {
    width: var(--intergalactic-spacing-6x, 24px);
    height: var(--intergalactic-spacing-6x, 24px);
  }

  SDropdownItem[isMenuItemCheckbox] {

    &::before,
    &[selected]::after {
      content: '';
      position: absolute;
      border: 1px solid;
      border-radius: var(--intergalactic-addon-rounded, 4px);
      box-sizing: border-box;
    }

    &::before {
      display: inline-block;
      background: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
      transition: calc(var(--intergalactic-duration-control, 200) * 1ms) all ease-in-out;
      border-color: var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
    }

    &[selected]::after {
      background-repeat: no-repeat;
      background-position: center center;
      background-color: var(--intergalactic-control-primary-info, oklch(0.23 0.01 140));
      border-color: var(--intergalactic-control-primary-info, oklch(0.23 0.01 140));
    }
    
    &[selected][size='m']::after {
      background-image: var(--intergalactic-assets-checkmark-m, url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuMzEwNyAyLjE2NzkxTDQuNjQ2NDUgNy44MzIxMkwxLjY4OTM0IDQuODc1MDEiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZT0id2hpdGUiLz48L3N2Zz4="));
    }

    &[selected][size='l']::after {
      background-image: var(--intergalactic-assets-checkmark-l, url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIuNCAyLjQ1MjIxTDUuMzA0NCA5LjU0NzgyTDEuNjAwMDEgNS44NDM0MyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg=="));
    }
  }

  SDropdownItem[selected]:not(SDropdownItem[isMenuItemCheckbox]) {
    background-color: var(--intergalactic-dropdown-menu-item-selected, oklch(0.525 0.265 263 / 0.077));
    box-shadow: 2px 0px 0px 0px var(--intergalactic-dropdown-menu-item-selected-box-shadow, oklch(0.23 0.01 140)) inset;

    &:hover {
      background-color: var(--intergalactic-dropdown-menu-item-selected-hover, oklch(0.52 0.268 263.2 / 0.191));
    }
  }

  /* need this condition because of how css rules are applied */

  SDropdownItem[highlighted]:not(SDropdownItem[isMenuItemCheckbox]),
  SDropdownItem[highlighted][isMenuItemCheckbox] {
    @mixin focus-outline-mixin;
    transition: none;
  }

  SDropdownItem[highlighted]:not(SDropdownItem[isMenuItemCheckbox]):not(button),
  SDropdownItem[highlighted][isMenuItemCheckbox]:not(button) {
    @mixin focus-outline-mixin -2px;
    transition: none;
  }

  SDropdownItem[disabled] {
    opacity: var(--intergalactic-disabled-opacity, 0.4);
    cursor: default;
    pointer-events: none;
  }

  SDropdownItem[size='l'] {
    font-size: var(--intergalactic-fs-300, 16px);
    line-height: var(--intergalactic-lh-300, 150%);
    padding: var(--intergalactic-spacing-content-padding-small, 8px) var(--intergalactic-spacing-content-padding-medium, 12px);
    min-height: var(--intergalactic-spacing-10x, 40px);

    &[isMenuItemCheckbox] {
      padding-left: calc(var(--intergalactic-spacing-content-padding-medium, 12px) + var(--intergalactic-spacing-5x, 20px) + var(--intergalactic-spacing-content-gap-large, 8px));
      /* padding before + checkbox + padding after */

      &::before,
      &::after {
        width: 20px;
        height: 20px;
        top: calc(var(--intergalactic-spacing-content-padding-small, 8px) + var(--intergalactic-spacing-05x, 2px));
        left: var(--intergalactic-spacing-content-padding-medium, 12px);
      }
    }
  }

  SDropdownItem[size='m'] {
    font-size: var(--intergalactic-fs-200, 14px);
    line-height: var(--intergalactic-lh-200, 142%);
    padding: calc(var(--intergalactic-spacing-content-padding-xsmall, 4px) + var(--intergalactic-spacing-05x, 2px)) var(--intergalactic-spacing-content-padding-medium, 12px);
    min-height: var(--intergalactic-form-control-m, 32px);

    &[isMenuItemCheckbox] {
      padding-left: calc(var(--intergalactic-spacing-content-padding-medium, 12px) + var(--intergalactic-spacing-4x, 16px) + var(--intergalactic-spacing-content-gap-medium, 6px));
      /* padding before + checkbox + padding after */

      &::before,
      &::after {
        width: 16px;
        height: 16px;
        top: var(--intergalactic-spacing-content-padding-small, 8px);
        left: var(--intergalactic-spacing-content-padding-medium, 12px);
      }
    }
  }

  SDropdownItem[notInteractive] {
    cursor: default;

    &:hover {
      background: none;
    }
  }

  SDropdownItem[variant='hint'] {
    color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
    cursor: default;

    &:hover {
      background: none;
    }
  }

  SDropdownItem[variant='title'] {
    font-weight: var(--intergalactic-bold, 700);
    cursor: default;

    &:hover {
      background: none;
    }
  }

  SDropdownItem[nesting-trigger] {
    justify-content: space-between;
  }

  SGroupTitle {
    font-weight: var(--intergalactic-bold, 700);
  }

  SGroupHint {
    color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
  }

  SDropdownItemContainer[sticky] {
    position: sticky;
    top: 0;
    background-color: var(--intergalactic-dropdown-menu-item, oklch(1 0 0));
    z-index: 2;

    &:hover {
      background-color: var(--intergalactic-dropdown-menu-item, oklch(1 0 0));
    }
  }
}
