SDropdownPopper {
  position: relative;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  border-radius: var(--intergalactic-popper-rounded, 6px);
  box-sizing: border-box;
  border: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
  white-space: normal;
  box-shadow: var(--intergalactic-box-shadow-popper, 0px 1px 12px 0px rgba(25, 27, 35, 0.15));
}
