@import '@semcore/utils/style/var.css';

SBlockquote {
  position: relative;
  display: flex;
  font-style: italic;
  font-size: var(--fs-400);
  line-height: var(--lh-400);
  color: var(--gray-800);
}

SDoubleQuotation {
  position: relative;
  margin-right: 20px;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-size: 68px;
  line-height: 52px;
  color: var(--gray-300);
}

SAuthor {
  display: block;
  margin-top: 16px;
  color: var(--gray-500);
  font-style: normal;
  font-size: var(--fs-300);
  line-height: var(--lh-300);
}
