SHint {
  display: inline-block;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--intergalactic-text-secondary, #6c6e79);

  &[active],
  &:active,
  &:hover {
    color: var(--intergalactic-text-hint-hover-active, #484a54);
  }
}

SHint[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
}

SHint[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none; /* Disable hint interactions */
}

SAddon {
  vertical-align: middle;
  display: inline-flex;
}

SHint SAddon {
  &:not(:only-child):first-child {
    margin-right: var(--intergalactic-spacing-1x, 4px);
  }

  &:not(:only-child):last-child {
    margin-left: var(--intergalactic-spacing-1x, 4px);
  }
}

SText {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-color: currentColor;
}

@media (prefers-reduced-motion) {
  SHint {
    transition: none;
  }
}
