@import '@semcore/utils/style/var.css';

SHint {
  display: inline-block;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--intergalactic-text-secondary);
}

SHint {
  &[active],
  &:active,
  &:hover {
    color: var(--intergalactic-text-hint-hover-active);
  }
}

SHint[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus);
}

SHint[disabled] {
  opacity: var(--intergalactic-disabled-opacity);
  cursor: default;
  pointer-events: none; /* Disable hint interactions */
}

SAddon {
  vertical-align: middle;
  display: inline-flex;
}

SHint SAddon {
  &:not(:only-child):first-child {
    margin-right: var(--intergalactic-spacing-1x);
  }

  &:not(:only-child):last-child {
    margin-left: var(--intergalactic-spacing-1x);
  }
}

SText {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-color: currentColor;
}

@media (prefers-reduced-motion) {
  SHint {
    transition: none;
  }
}
