@import '@semcore/utils/style/var.css';

SList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

SContent {
  overflow: inherit;
  text-overflow: inherit;
}

SList SList {
  margin-top: var(--intergalactic-spacing-spacing-2x);
}

SItem {
  display: flex;
}

SItem + SItem {
  margin-top: var(--intergalactic-spacing-spacing-2x);
}

SMarker {
  margin-right: calc(
    var(--intergalactic-spacing-spacing-2x) + var(--intergalactic-spacing-spacing-05x)
  );
  color: var(--intergalactic-color-text-secondary);
}
