SList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

SContent {
  overflow: inherit;
  text-overflow: inherit;
}

SList SList {
  margin-top: var(--intergalactic-spacing-2x, 8px);
}

SItem {
  display: flex;
}

SItem + SItem {
  margin-top: var(--intergalactic-spacing-2x, 8px);
}

SMarker {
  margin-right: calc(var(--intergalactic-spacing-2x, 8px) + var(--intergalactic-spacing-05x, 2px));
  color: var(--intergalactic-text-secondary, #6c6e79);
}
