SList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

SContent {
  overflow: inherit;
  text-overflow: inherit;
}

SList SList {
  margin-top: var(--intergalactic-spacing-2x, 8px);
}

SItem {
  display: flex;
}

SItem + SItem {
  margin-top: var(--intergalactic-spacing-2x, 8px);
}

SMarker {
  margin-right: var(--intergalactic-spacing-2x, 8px);
  color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
  line-height: normal;
}
