@import '@semcore/utils/style/var.css';

SText {
  padding: 0;
  margin: 0;
}

SText[size='100'] {
  font-size: var(--intergalactic-fontSizes-fs-100);
  line-height: var(--intergalactic-lineHeights-lh-100);
}

SText[size='200'] {
  font-size: var(--intergalactic-fontSizes-fs-200);
  line-height: var(--intergalactic-lineHeights-lh-200);
}

SText[size='300'] {
  font-size: var(--intergalactic-fontSizes-fs-300);
  line-height: var(--intergalactic-lineHeights-lh-300);
}

SText[size='400'] {
  font-size: var(--intergalactic-fontSizes-fs-400);
  line-height: var(--intergalactic-lineHeights-lh-400);
}

SText[size='500'] {
  font-size: var(--intergalactic-fontSizes-fs-500);
  line-height: var(--intergalactic-lineHeights-lh-500);
}

SText[size='600'] {
  font-size: var(--intergalactic-fontSizes-fs-600);
  line-height: var(--intergalactic-lineHeights-lh-600);
}

SText[size='700'] {
  font-size: var(--intergalactic-fontSizes-fs-700);
  line-height: var(--intergalactic-lineHeights-lh-700);
}

SText[size='800'] {
  font-size: var(--intergalactic-fontSizes-fs-800);
  line-height: var(--intergalactic-lineHeights-lh-800);
}

SText[noWrap] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SText[medium] {
  font-weight: var(--intergalactic-fontWeights-medium-500);
}

SText[bold] {
  font-weight: var(--intergalactic-fontWeights-bold-700);
}

SText[italic] {
  font-style: italic;
}

SText[decoration] {
  text-decoration: var(--decoration);
}

SText[color] {
  color: var(--color);
}

SText[fontSize] {
  font-size: var(--fontSize);
}

SText[lineHeight] {
  line-height: var(--lineHeight);
}

SText[fontWeight] {
  font-weight: var(--fontWeight);
}

SText[textAlign] {
  text-align: var(--textAlign);
}
