@import '@semcore/utils/style/var.css';

SText {
  padding: 0;
  margin: 0;
}

SText[size='100'] {
  font-size: var(--intergalactic-fs-100, 12px);
  line-height: var(--intergalactic-lh-100, 133%);
}

SText[size='200'] {
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}

SText[size='300'] {
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 150%);
}

SText[size='400'] {
  font-size: var(--intergalactic-fs-400, 20px);
  line-height: var(--intergalactic-lh-400, 120%);
}

SText[size='500'] {
  font-size: var(--intergalactic-fs-500, 24px);
  line-height: var(--intergalactic-lh-500, 117%);
}

SText[size='600'] {
  font-size: var(--intergalactic-fs-600, 32px);
  line-height: var(--intergalactic-lh-600, 125%);
}

SText[size='700'] {
  font-size: var(--intergalactic-fs-700, 36px);
  line-height: var(--intergalactic-lh-700, 110%);
}

SText[size='800'] {
  font-size: var(--intergalactic-fs-800, 48px);
  line-height: var(--intergalactic-lh-800, 117%);
}

SText[noWrap] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SText[medium] {
  font-weight: var(--intergalactic-medium-500, Medium);
}

SText[bold] {
  font-weight: var(--intergalactic-bold-700, Bold);
}

SText[italic] {
  font-style: italic;
}

SText[decoration] {
  text-decoration: var(--decoration);
}

SText[color] {
  color: var(--color);
}

SText[fontSize] {
  font-size: var(--fontSize);
}

SText[lineHeight] {
  line-height: var(--lineHeight);
}

SText[fontWeight] {
  font-weight: var(--fontWeight);
}

SText[textAlign] {
  text-align: var(--textAlign);
}
