SColorPickerPopper {
  max-width: calc(var(--intergalactic-spacing-4x, 16px) * 2 + 28px * 6 + 4px * 6);
  padding: var(--intergalactic-spacing-4x, 16px);
}

SItemContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
  }

  &::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 1px var(--intergalactic-border-secondary, #e0e1e9);
    background: var(--value);
  }
}

SItemContainer:hover>SCloseIcon {
  opacity: 1;
}

SItemContainer[selected] {
  border: 1px solid var(--intergalactic-border-info-active, #006dca);
}

SItemContainer[displayLabel] {
  &::after {
    background: var(--value);
    opacity: 0.15;
  }
}

SItemContainer:not([value]) {
  &::after {
    border: 0.9px solid var(--intergalactic-border-secondary, #e0e1e9);
  }
}

SColorsContainer, SColors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--intergalactic-spacing-1x, 4px);
}

SPaletteManager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--intergalactic-spacing-3x, 12px);
  /* disable-tokens-validator */
  margin-left: calc(var(--intergalactic-spacing-1x, 4px) - 1px);
}

SInputContainer {
  display: flex;
  align-items: center;
}

SPlusButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--intergalactic-bg-secondary-neutral-hover, #e0e1e9);
  }
}

SDefaultTrigger {
  display: inline-flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 0;
}

STriggerCircle {
  position: relative;
  width: 16px;
  height: 16px;
  /* disable-tokens-validator */
  margin-right: calc(var(--intergalactic-spacing-1x, 4px) + 1px);
  border-radius: 50%;
  background-color: var(--data-value);
  border: 1px solid transparent;
}

STriggerCircle:not([data-value]) {
  border: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
}

STriggerCircleLine {
  position: absolute;
  top: 1px;
  left: 1px;
}

SCloseIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  opacity: 0;
  z-index: 1;
}

SLine {
  position: absolute;
}

SLabel {
  z-index: 1;
  color: var(--data-value);
  /* disable-tokens-validator */
  font-size: calc(var(--intergalactic-fs-100, 12px) + 1px);
  font-weight: var(--intergalactic-bold, 700);
}

SItemColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
  background: var(--data-value);
}

SConfirmColor[hidden],
SClearConfirm[hidden] {
  display: none;
}
