@import '@semcore/utils/style/var.css';

SColorPickerPopper {
  max-width: 234px;
  padding: 16px;
}

SItemContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: none;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--gray-100);
  }

  &::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--value);
  }
}

SItemContainer[keyboardFocused] {
  box-shadow: var(--keyboard-focus);
}

SItemContainer[selected] {
  border: 1px solid var(--blue-300);
}

SItemContainer[displayLabel] {
  &::after {
    background: var(--lightBackground);
  }
}

SItemContainer:not([value]) {
  &::after {
    border: 1px solid var(--gray-100);
  }
}

SColors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

SPaletteManager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 3px;
}

SInputContainer {
  display: flex;
  align-items: center;
}

SPlusButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 50% !important;

  &:hover {
    background-color: var(--gray-100);
    cursor: pointer;
  }
}

SDefaultTrigger {
  display: inline-flex;
  align-items: center;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

SDefaultTrigger[keyboardFocused] {
  box-shadow: var(--keyboard-focus);
}

STriggerCircle {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: var(--value);
  border: 1px solid transparent;
}

STriggerCircle:not([value]) {
  border: 1px solid var(--gray-100);
}

STriggerCircleLine {
  position: absolute;
  top: 6px;
  width: 12px;
  height: 1px;
  background: var(--gray-200);
  transform: rotate(130deg);
}

SCloseIcon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  background-color: var(--gray-100);
  opacity: 0%;

  &:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100%;
  }
}

SLine {
  position: absolute;
  top: 14px;
  width: 22px;
  height: 1px;
  background: var(--gray-200);
  transform: rotate(130deg);
}

SLabel {
  display: flex;
  margin: auto;
  z-index: 1;
}

SItemColor {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid var(--gray-100);
  background: var(--value);
}
