@import '@semcore/utils/style/var.css';

SColorPickerPopper {
  max-width: calc(16px * 2 + 28px * 6 + 4px * 6);
  padding: 16px;
}

SItemContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--gray-100);
  }

  &::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1);
    background: var(--value);
  }
}

SItemContainer:hover > SCloseIcon {
  opacity: 1;
}

SItemContainer[keyboardFocused] {
  box-shadow: var(--keyboard-focus);
}

SItemContainer[selected] {
  border: 1px solid var(--blue-300);
}

SItemContainer[displayLabel] {
  &::after {
    background: var(--lightBackground);
  }
}

SItemContainer:not([value]) {
  &::after {
    border: 0.9px solid var(--gray-100);
  }
}

SColors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

SPaletteManager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 3px;
}

SInputContainer {
  display: flex;
  align-items: center;
}

SPlusButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50% !important;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-100);
  }
}

SDefaultTrigger {
  display: inline-flex;
  align-items: center;
  outline: none;
  cursor: pointer;
}

SDefaultTrigger[keyboardFocused] {
  box-shadow: var(--keyboard-focus);
}

STriggerCircle {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: var(--value);
  border: 1px solid transparent;
}

STriggerCircle:not([value]) {
  border: 1px solid var(--gray-100);
}

STriggerCircleLine {
  position: absolute;
  top: 1px;
  left: 1px;
}

SCloseIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0;
  z-index: 1;
}

SLine {
  position: absolute;
}

SLabel {
  z-index: 1;
  color: var(--value);
  font-size: 13px;
  font-weight: 700;
  font-family: FactorA-Bold, sans-serif;
}

SItemColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--gray-100);
  background: var(--value);
}
