@import '@semcore/utils/style/var.css';

SColorPickerPopper {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  padding: 16px;
  border: 1px solid var(--gray-100);
  box-shadow: var(--box-shadow-popper);
  border-radius: 6px;
}

SItemContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 50%;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--gray-100);
  }
}

SItemContainer[withoutHover] {
  &:hover {
    cursor: default;
    border: 1px solid transparent;
  }
}

SItemContainer[selected] {
  border: 1px solid var(--blue-300);
}

SItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--value);
}

SItem[value='#'] {
  border: 1px solid var(--gray-100);
}

SItem[displayLabel] {
  background: var(--lightBackground);
}

SColors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

SPaletteManager {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

SPlusButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-left: 2px;
  border-radius: 50% !important;
}

SDefaultTrigger {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

STriggerCircle {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: var(--value);
  border: 1px solid transparent;
}

STriggerCircle:not([value]) {
  border: 1px solid var(--gray-100);
}

SCrossIcon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  background-color: var(--gray-100);
  opacity: 0%;

  &:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100%;
  }
}

SWihthoutColorItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 50%;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--gray-100);
  }
}

SWihthoutColorItemContainer[selected] {
  border: 1px solid var(--blue-300);
}

SWihthoutColorItem {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid var(--gray-100);
}

SLine {
  position: absolute;
  top: 35px;
  width: 22px;
  height: 1px;
  background: var(--gray-200);
  transform: rotate(130deg);
}

SLabel {
  display: flex;
  margin: auto;
}
