SToggle[checked][theme='ai'] {
  color: var(--intergalactic-control-primary-info, #008ff8);
  background-image: var(--intergalactic-control-primary-ai, linear-gradient(90deg, #ab6cfe, #008ff8));
}

SToggle[theme='ai']:has(SInput:focus-visible) {
  box-shadow: none;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    margin: -4px;
    padding: 4px;
    border-radius: inherit;
    opacity: 0.5;

    background-image: linear-gradient(
      90deg,
      var(--intergalactic-violet-400, #ab6cfe),
      var(--intergalactic-blue-400, #008ff8)
    );
    mask: linear-gradient(0deg, #fff, #fff) content-box, linear-gradient(0deg, #fff, #fff);
    mask-composite: exclude;
  }
}
