.venn-tooltip-label {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--intergalactic-border-primary);
  color: var(--intergalactic-text-primary);
  font-size: var(--intergalactic-fontSizes-fs-100);
  line-height: var(--intergalactic-lineHeights-lh-100);
}

.venn-tooltip-label__title {
  margin-right: var(--intergalactic-spacing-4x);
}

.venn-tooltip-label__percentage {
  margin-right: var(--intergalactic-spacing-3x);
  color: var(--intergalactic-text-secondary);
}

.venn-tooltip-label__value {
  font-weight: var(--intergalactic-fontWeights-bold-700);
}
