@import '@semcore/utils/style/var.css';

.venn-tooltip-label {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--gray80);
  color: var(--gray20);
  font-size: var(--fs-100);
  line-height: var(--lh-100);
}

.venn-tooltip-label__title {
  margin-right: 16px;
}

.venn-tooltip-label__percentage {
  margin-right: 12px;
  color: var(--gray60);
}

.venn-tooltip-label__value {
  font-weight: bold;
}
