SHighlightedBadge {
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
}

SHighlightedBadge[use='accent'] {
  background-image: var(--intergalactic-control-primary-feature-highlight, linear-gradient(90deg in oklch, oklch(0.64 0.223 299.3), oklch(0.74 0.117 274.1)));
}

SHighlightedBadge[bg] {
  background-color: var(--bg);
}
