SHighlightedBadge {
  color: var(--intergalactic-text-primary-invert, #ffffff);
}

SHighlightedBadge[use='accent'] {
  background-image: var(--intergalactic-control-primary-feature-highlight, linear-gradient(90deg, #ab6cfe, #008ff8));
}

SHighlightedBadge[bg] {
  background-color: var(--bg);
}
