SCarousel {
  overflow: hidden;
  outline: none;
  user-select: none;
}


SContainer {
  display: flex;
  transition: transform var(--duration) ease-in-out;
}

SContentBox, SModalBox {
  position: relative;
  overflow: hidden;
  border-radius: var(--intergalactic-surface-rounded, 6px);
  &:has(SItem:focus-visible) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
      z-index: 1;
      width: calc(100% - 3px * 2);
      height: calc(100% - 3px * 2);
      top: 3px;
      left: 3px;
    }
  }
}

SModalContainer {
  display: flex;
  transition: transform var(--duration) ease-in-out;
}

SItem {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  transform: var(--transform);
  border-radius: var(--intergalactic-surface-rounded, 6px);
  overflow: hidden;
  outline: none;
}

SItem[zoomIn] {
  cursor: zoom-in;
}
SItem[zoomOut] {
  cursor: zoom-out;
}

SIndicators {
  display: flex;
  justify-content: center;
  margin: var(--intergalactic-spacing-4x, 16px) 3px 3px 3px;
  outline: none;
  position: relative;
}

SIndicator {
  margin: 0 calc(0.5 * var(--intergalactic-spacing-3x, 12px));
  cursor: pointer;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: var(--intergalactic-control-rounded, 6px);
  background-color: var(--intergalactic-icon-secondary-neutral, #a9abb6);
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  object-fit: cover;
  transition: ease-in-out opacity 0.1s;
}

SIndicator:hover {
  opacity: calc(2 * var(--intergalactic-disabled-opacity, 0.3));
}

SIndicator[active] {
  opacity: 1;
}

SIndicator[inverted] {
  background-color: var(--intergalactic-icon-primary-invert, #ffffff);
}

SPrev,
SNext {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--intergalactic-icon-primary-neutral, #6c6e79);

  SPrevButton span:has(> svg:only-child), SNextButton span:has(> svg:only-child) {
    margin-left: calc(2 * var(--intergalactic-spacing-1x, 4px) - 1px);
    margin-right: calc(2 * var(--intergalactic-spacing-1x, 4px) - 1px);
  }
}

SPrev {
  margin-right: var(--intergalactic-spacing-2x, 8px);
}
SNext {
  margin-left: var(--intergalactic-spacing-2x, 8px);
}

SPrev[disabled],
SNext[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
}

@media (prefers-reduced-motion) {
  SContainer {
    transition: none;
  }
}
