@import '@semcore/utils/style/var.css';

SCarousel {
  overflow: hidden;
  outline: none;
}

SContainer {
  display: flex;
  transition: transform var(--duration) ease-in-out;
}

SItem {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  transform: var(--transform);
  border-radius: 6px;
  overflow: hidden;
}

SIndicators {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

SIndicator {
  margin: 0 6px;
  cursor: pointer;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: var(--gray-300);
  opacity: 0.3;
  object-fit: cover;
  transition: ease-in-out opacity 0.1s;
}

SIndicator:hover {
  opacity: 0.6;
}

SIndicator[active] {
  opacity: 1;
}

SPrev,
SNext {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

SPrev {
  margin-right: 12px;
}
SNext {
  margin-left: 12px;
}

SPrev[disabled],
SNext[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
}

@media (prefers-reduced-motion) {
  SContainer {
    transition: none;
  }
}
