SCarousel {
  overflow: hidden;
  outline: none;
}

SContainer {
  display: flex;
  transition: transform var(--duration) ease-in-out;
}

SItem {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  transform: var(--transform);
  border-radius: var(--intergalactic-rounded-medium, 6px);
  overflow: hidden;
}

SIndicators {
  display: flex;
  justify-content: center;
  margin-top: var(--intergalactic-spacing-4x, 16px);
}

SIndicator {
  margin: 0 calc(0.5 * var(--intergalactic-spacing-3x, 12px));
  cursor: pointer;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: var(--intergalactic-rounded-medium, 6px);
  background-color: var(--intergalactic-icon-secondary-neutral, #a9abb6);
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  object-fit: cover;
  transition: ease-in-out opacity 0.1s;
}

SIndicator:hover {
  opacity: calc(2 * var(--intergalactic-disabled-opacity, 0.3));
}

SIndicator[active] {
  opacity: 1;
}

SPrev,
SNext {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

SPrev {
  margin-right: var(--intergalactic-spacing-3x, 12px);
}
SNext {
  margin-left: var(--intergalactic-spacing-3x, 12px);
}

SPrev[disabled],
SNext[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
}

@media (prefers-reduced-motion) {
  SContainer {
    transition: none;
  }
}
