@import '@semcore/utils/style/var.css';

SChart {
  & :global(.recharts-label) {
    text-anchor: middle;
    fill: var(--gray-500);
  }

  & :global(.recharts-cartesian-axis-tick-value) {
    fill: var(--gray-500);
    font-size: 12px;
    line-height: 1.1;
  }

  & :global(.recharts-default-tooltip) {
    padding: 12px;
    margin: 0;
    background-color: var(--intergalactic-bg-primary-neutral);
    white-space: nowrap;
    border: 1px solid var(--intergalactic-border-secondary);
    box-shadow: var(--intergalactic-box-shadow-popper);
    border-radius: var(--intergalactic-rounded-medium);
  }

  & :global(.recharts-tooltip-item) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: var(--intergalactic-text-primary);
    padding: 4px 0;
  }

  & :global(.recharts-tooltip-label) {
    font-size: 12px;
    color: var(--intergalactic-text-secondary);
    margin-top: 0;
    margin-bottom: var(--intergalactic-spacing-2x);

    &:empty {
      margin-bottom: 0;
    }
  }

  & :global(.recharts-tooltip-item-name-wrapper) {
  }

  & :global(.recharts-tooltip-item-value-wrapper) {
    margin-left: var(--intergalactic-spacing-3x);
  }

  & :global(.recharts-tooltip-item-value) {
    font-weight: var(--intergalactic-bold-700);
  }

  & :global(.recharts-tooltip-item-color) {
    display: inline-block;
    margin-right: var(--intergalactic-spacing-2x);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  & :global(.recharts-area-dot) {
    fill-opacity: 1;
  }
}
