@import '@semcore/utils/style/var.css';

SChart {
  & :global(.recharts-label) {
    text-anchor: middle;
    fill: var(--gray60);
  }

  & :global(.recharts-cartesian-axis-tick-value) {
    fill: var(--gray60);
    font-size: 12px;
    line-height: 1.1;
  }

  & :global(.recharts-default-tooltip) {
    padding: 12px;
    margin: 0;
    background-color: #fff;
    white-space: nowrap;
    border: 1px solid var(--mercury);
    box-shadow: var(--box-shadow-popper);
    border-radius: 6px;
  }

  & :global(.recharts-tooltip-item) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: var(--gray20);
    padding: 4px 0;
  }

  & :global(.recharts-tooltip-label) {
    font-size: 12px;
    color: var(--gray60);
    margin-top: 0;
    margin-bottom: 8px;

    &:empty {
      margin-bottom: 0;
    }
  }

  & :global(.recharts-tooltip-item-name-wrapper) {
  }

  & :global(.recharts-tooltip-item-value-wrapper) {
    margin-left: 12px;
  }

  & :global(.recharts-tooltip-item-value) {
    font-weight: bold;
  }

  & :global(.recharts-tooltip-item-color) {
    display: inline-block;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  & :global(.recharts-area-dot) {
    fill-opacity: 1;
  }
}
