SChart {
  & :global(.recharts-label) {
    text-anchor: middle;
    fill: var(--intergalactic-text-hint, #6c6e79);
  }

  & :global(.recharts-cartesian-axis-tick-value) {
    fill: var(--intergalactic-chart-grid-text-label, #6c6e79);
    font-size: 12px;
    line-height: 1.1;
  }

  & :global(.recharts-default-tooltip) {
    padding: 12px;
    margin: 0;
    background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
    white-space: nowrap;
    border: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
    box-shadow: var(--intergalactic-box-shadow-popper, 0px 1px 12px 0px rgba(25, 27, 35, 0.15));
    border-radius: var(--intergalactic-popper-rounded, 6px);
  }

  & :global(.recharts-tooltip-item) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: var(--intergalactic-text-primary, #191b23);
    padding: 4px 0;
  }

  & :global(.recharts-tooltip-label) {
    font-size: 12px;
    color: var(--intergalactic-text-secondary, #6c6e79);
    margin-top: 0;
    margin-bottom: var(--intergalactic-spacing-2x, 8px);

    &:empty {
      margin-bottom: 0;
    }
  }

  & :global(.recharts-tooltip-item-name-wrapper) {
  }

  & :global(.recharts-tooltip-item-value-wrapper) {
    margin-left: var(--intergalactic-spacing-3x, 12px);
  }

  & :global(.recharts-tooltip-item-value) {
    font-weight: var(--intergalactic-bold, Bold);
  }

  & :global(.recharts-tooltip-item-color) {
    display: inline-block;
    margin-right: var(--intergalactic-spacing-2x, 8px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  & :global(.recharts-area-dot) {
    fill-opacity: 1;
  }
}
