:root {
  --blue-01: #2bb3ff;
  --blue-02: #8ecdff;
  --blue-03: #c4e5fe;
  --blue-04: #008ff8;
  --blue-05: #006dca;
  --green-01: #59ddaa;
  --green-02: #9ef2c9;
  --green-03: #00c192;
  --green-04: #009f81;
  --green-05: #007c65;
  --orange-01: #ff622d;
  --orange-02: #ffb26e;
  --orange-03: #ff8c43;
  --orange-04: #ffdca2;
  --orange-05: #c33909;
  --pink-01: #f67cf2;
  --pink-02: #ffa9fa;
  --pink-03: #ffd3ff;
  --pink-04: #e14adf;
  --pink-05: #b229b9;
  --yellow-01: #fdc23c;
  --yellow-02: #fce081;
  --yellow-03: #ef9800;
  --yellow-04: #d87900;
  --yellow-05: #a75800;
  --violet-01: #ab6cfe;
  --violet-02: #dcb8ff;
  --violet-03: #c695ff;
  --violet-04: #edd9ff;
  --violet-05: #8649e1;
  --red-01: #ff8786;
  --red-02: #ffaeb5;
  --red-03: #ffd7df;
  --red-04: #ff4953;
  --red-05: #d1002f;
  --salad-01: #9bd85d;
  --salad-02: #c7ee96;
  --salad-03: #66c030;
  --salad-04: #35a21e;
  --salad-05: #0a7e22;
  --gray: #c4c7cf;
  --gray-01: #c4c7cf;
  --gray-02: #8a8e9b;

  --gray-50: #f4f5f9;
  --gray-100: #e0e1e9;
  --gray-200: #c4c7cf;
  --gray-300: #a9abb6;
  --gray-400: #8a8e9b;
  --gray-500: #6c6e79;
  --gray-600: #484a54;
  --gray-700: #2b2e38;
  --gray-800: #191b23;
  --blue-50: #e9f7ff;
  --blue-100: #c4e5fe;
  --blue-200: #8ecdff;
  --blue-300: #2bb3ff;
  --blue-400: #008ff8;
  --blue-500: #006dca;
  --blue-600: #044792;
  --blue-700: #002b5f;
  --blue-800: #001b3d;
  --green-100: #9ef2c9;
  --green-200: #59ddaa;
  --green-300: #00c192;
  --green-400: #009f81;
  --green-50: #dbfee8;
  --green-500: #007c65;
  --green-600: #055345;
  --green-700: #00342d;
  --green-800: #00201e;
  --salad-100: #c7ee96;
  --salad-200: #9bd85d;
  --salad-300: #66c030;
  --salad-400: #35a21e;
  --salad-50: #ecfbcd;
  --salad-500: #0a7e22;
  --salad-600: #005613;
  --salad-700: #003509;
  --salad-800: #002203;
  --orange-50: #fff3d9;
  --orange-100: #ffdca2;
  --orange-200: #ffb26e;
  --orange-300: #ff8c43;
  --orange-400: #ff622d;
  --orange-500: #c33909;
  --orange-600: #8b1500;
  --orange-700: #551200;
  --orange-800: #351000;
  --yellow-100: #fce081;
  --yellow-200: #fdc23c;
  --yellow-300: #ef9800;
  --yellow-400: #d87900;
  --yellow-50: #fdf7c8;
  --yellow-500: #a75800;
  --yellow-600: #743a00;
  --yellow-700: #462500;
  --yellow-800: #2c1600;
  --red-100: #ffd7df;
  --red-200: #ffaeb5;
  --red-300: #ff8786;
  --red-400: #ff4953;
  --red-50: #fff0f7;
  --red-500: #d1002f;
  --red-600: #8e0016;
  --red-700: #58000a;
  --red-800: #410101;
  --pink-100: #ffd3ff;
  --pink-200: #ffa9fa;
  --pink-300: #f67cf2;
  --pink-400: #e14adf;
  --pink-50: #fff0ff;
  --pink-500: #b229b9;
  --pink-600: #7d0480;
  --pink-700: #4d0050;
  --pink-800: #340439;
  --violet-100: #edd9ff;
  --violet-200: #dcb8ff;
  --violet-300: #c695ff;
  --violet-400: #ab6cfe;
  --violet-50: #f9f2ff;
  --violet-500: #8649e1;
  --violet-600: #5925ab;
  --violet-700: #421984;
  --violet-800: #220358;
  --gray-blue: #a2b3b8;
  --white: #ffffff;
}
