SLegendItem {
  min-width: 0;
  align-items: flex-start;
}

SLegendItem:hover {
  cursor: pointer;
}

SLegendItem[disabled]:hover {
  cursor: default;
}

SPointShape[color] {
  background-color: var(--color);
  margin-right: 8px;
  flex-shrink: 0;
}

SPointShape[shape="Circle"][size="l"] {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-top: 4px;
}

SPointShape[shape="Circle"][size="m"] {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-top: 4px;
}

SPointShape[shape="Line"][size="l"] {
  width: 16px;
  height: 4px;
  border-radius: 3px;
  margin-top: 9px;
}

SPointShape[shape="Line"][size="m"] {
  width: 12px;
  height: 4px;
  border-radius: 3px;
  margin-top: 8px;
}

SPointShape[shape="Square"][size="l"] {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-top: 4px;
}

SPointShape[shape="Square"][size="m"] {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-top: 4px;
}

SPointShape[shape="Pattern"] {
  background-color: transparent;
  margin-right: 4px;
}

SIcon {
  line-height: 0;
  margin-right: 4px;
}

SIcon[size="l"] {
  margin-top: 4px;
}

SIcon[size="m"] {
  margin-top: 2px;
}

SLabel {
  min-width: 0;
}

SLabel[size="l"],
SAdditionalLabel[size="l"],
SCount[size="l"] {
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 150%);
}

SLabel[size="m"],
SAdditionalLabel[size="m"],
SCount[size="m"] {
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
}

SAdditionalLabel,
SCount {
  margin-left: 4px;
}

SAdditionalLabel {
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
}

SAdditionalLabel::before {
  content: "";
  display: inline-block;
  background-color: var(--intergalactic-text-secondary, #6c6e79);
  height: 4px;
  width: 4px;
  border-radius: 2px;
  margin-right: 4px;
}

SAdditionalLabel[size="l"]::before {
  margin-top: 10px;
}

SAdditionalLabel[size="m"]::before {
  margin-top: 8px;
}

SPatternSymbol {
  transform: scale(0.8);
}
