@define-mixin focus-outline-mixin $offset: 2px {
  outline-color: var(--intergalactic-keyboard-focus-outline, #008ff8);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: $offset;
  transition: outline-color calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out,
    outline-width calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out,
    outline-offset calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out;
}
