
SBox:focus-visible {
  outline-color: var(--intergalactic-keyboard-focus-outline, rgba(0, 143, 248, 0.5));
  outline-style: solid;
  outline-width: 3px;
  outline-offset: 0;
  z-index: 1;
}

SBoxAi:focus-visible {
  outline: none;
  position: relative;
  /*isolation: isolate;*/

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    margin: -3px;
    padding: 3px;
    border-radius: inherit;
    opacity: 0.5;

    background-image: linear-gradient(
      90deg,
      var(--intergalactic-violet-400, #ab6cfe),
      var(--intergalactic-blue-400, #008ff8)
    );
    mask: linear-gradient(0deg, #fff, #fff) content-box, linear-gradient(0deg, #fff, #fff);
    mask-composite: exclude;
  }
}

SBoxInnerOutline:focus-visible {
  outline-offset: -3px;
}

SBoxSizing {
  box-sizing: border-box;
}

SBoxInline {
  display: inline-block;
}
