SBox[inAfterOutline='false']:focus-visible {
  z-index: 1;
  @mixin focus-outline-mixin;

  &[invertOutline] {
    outline-color: var(--intergalactic-keyboard-focus-invert-outline, oklch(1 0 0 / 0.7));
  }
}

SBox[inAfterOutline='true']:focus-visible {
  &::after {
    position: absolute;
    display: block;
    content: '';
    inset: 0;
    top: var(--focusRingTopOffset, 0);
    right: var(--focusRingRightOffset, 0);
    bottom: var(--focusRingBottomOffset, 0);
    left: var(--focusRingLeftOffset, 0);
    z-index: 1;

    @mixin focus-outline-mixin;
  }
  &[invertOutline]::after {
    outline-color: var(--intergalactic-keyboard-focus-invert-outline, oklch(1 0 0 / 0.7));
  }
}

SBox[hoverCursor] {
  &:hover {
    cursor: var(--hoverCursor);
  }
}
SBoxInnerOutline[inAfterOutline='false']:focus-visible {
  outline-offset: -2px;
}
SBoxInnerOutline[inAfterOutline='true']:focus-visible::after {
  outline-offset: -2px;
}

SBoxSizing {
  box-sizing: border-box;
}

SBoxInline {
  display: inline-block;
}
