@import '@semcore/utils/style/var.css';

SOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  z-index: 10005;
  background: color-mod(var(--gray-800) a(70%));
  -webkit-overflow-scrolling: touch;
}

SPanel {
  display: flex;
  flex-direction: column;
  width: 260px;
  outline: none;
  position: fixed;
  box-sizing: border-box;
  will-change: transform;
  background: white;
  z-index: 1;
}

SPanel[placement='top'] {
  box-shadow: 1px 0 12px rgba(25, 27, 35, 0.15);
  width: 100%;
  margin-bottom: auto;
  top: 0;
  left: 0;
}

SPanel[placement='right'] {
  box-shadow: var(--box-shadow-popper);
  height: 100vh;
  margin-left: auto;
  top: 0;
  right: 0;
}

SPanel[placement='bottom'] {
  box-shadow: 1px 0 12px rgba(25, 27, 35, 0.15);
  width: 100%;
  margin-top: auto;
  bottom: 0;
  left: 0;
}

SPanel[placement='left'] {
  box-shadow: var(--box-shadow-popper);
  height: 100vh;
  margin-right: auto;
  top: 0;
  left: 0;
}

.panel-right--enter {
  transform: translate(100%, 0);
}
.panel-left--enter {
  transform: translate(-100%, 0);
}
.panel-bottom--enter {
  transform: translate(0, 100%);
}
.panel-right--enter-active,
.panel-left--enter-active,
.panel-bottom--enter-active,
.panel-right--exit,
.panel-left--exit,
.panel-bottom--exit {
  transform: translate(0, 0);
}
.panel-right--exit-active {
  transform: translate(100%, 0);
}
.panel-left--exit-active {
  transform: translate(-100%, 0);
}
.panel-bottom--exit-active {
  transform: translate(0, 100%);
}

SClose {
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

SClose {
  display: inline-flex;
  right: 0;
  top: 0;
  padding: 15px 19px 15px 15px;
  color: var(--gray-300);
  border: none;
  background: none;
  outline: none;

  &:hover {
    color: var(--gray-400);
  }
}

SClose[keyboardFocused] {
  box-shadow: var(--keyboard-focus);
}

SBack {
  display: flex;
  align-items: center;
  color: var(--gray-500);
  font-size: var(--fs-100);
  line-height: var(--lh-100);
  cursor: pointer;

  &:hover {
    color: var(--gray-600);
  }
}

SBackText {
  margin-left: 4px;
  font-size: var(--fs-200);
  line-height: var(--lh-200);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

STitle {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  font-weight: 700;
  color: var(--gray-800);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

SHeader {
  padding-left: 24px;
  padding-bottom: 4px;
  padding-right: 48px;
  padding-top: 4px;
  min-height: 52px;
  box-shadow: inset 0 -1px 0 var(--gray-200);
  box-sizing: border-box;
}

SFooter {
  min-height: 44px;
  box-shadow: inset 0 1px 0 var(--gray-200);
  box-sizing: border-box;
}

SBody {
  display: flex;
  height: 100%;
  overflow: auto;
  padding-left: 24px;
  padding-bottom: 4px;
  padding-right: 19px;
  padding-top: 4px;
}
