SOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  background: var(--intergalactic-overlay-primary, oklch(0.109 0.023 165.5 / 0.337));
  -webkit-overflow-scrolling: touch;
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
}

SPanel {
  display: flex;
  flex-direction: column;
  width: 260px;
  outline: none;
  font-family: inherit;
  position: fixed;
  box-sizing: border-box;
  will-change: transform;
  background: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
  z-index: 1;
}

SPanel[placement='top'] {
  box-shadow: var(--intergalactic-box-shadow-popper, 1px 1px 10px 0px oklch(0.176 0.033 175.7 / 0.07));
  width: 100%;
  margin-bottom: auto;
  top: 0;
  left: 0;
}

SPanel[placement='right'] {
  box-shadow: var(--intergalactic-box-shadow-popper, 1px 1px 10px 0px oklch(0.176 0.033 175.7 / 0.07));
  height: 100vh;
  margin-left: auto;
  top: 0;
  right: 0;
}

SPanel[placement='bottom'] {
  box-shadow: var(--intergalactic-box-shadow-popper, 1px 1px 10px 0px oklch(0.176 0.033 175.7 / 0.07));
  width: 100%;
  margin-top: auto;
  bottom: 0;
  left: 0;
}

SPanel[placement='left'] {
  box-shadow: var(--intergalactic-box-shadow-popper, 1px 1px 10px 0px oklch(0.176 0.033 175.7 / 0.07));
  height: 100vh;
  margin-right: auto;
  top: 0;
  left: 0;
}

SClose {
  position: absolute;
  z-index: 1;
  right: var(--intergalactic-spacing-2x, 8px);
  top: var(--intergalactic-spacing-1x, 4px);
}

SBack {
  max-width: 100%;
}

SHeader {
  padding-left: var(--intergalactic-spacing-content-padding-xlarge-extended, 24px);
  padding-bottom: var(--intergalactic-spacing-content-padding-xsmall, 4px);
  padding-right: var(--intergalactic-spacing-14x, 56px);
  padding-top: var(--intergalactic-spacing-content-padding-xsmall, 4px);
  min-height: calc(var(--intergalactic-spacing-10x, 40px) + var(--intergalactic-spacing-3x, 12px));
  border-bottom: 1px solid var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

SFooter {
  min-height: 44px;
  padding: var(--intergalactic-spacing-content-padding-small, 8px) var(--intergalactic-spacing-content-padding-xlarge-extended, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--intergalactic-spacing-content-gap-xlarge, 12px);
  border-top: 1px solid var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
}

SBody {
  height: 100%;
  overflow: auto;
  padding-left: var(--intergalactic-spacing-content-padding-xlarge-extended, 24px);
  padding-bottom:var(--intergalactic-spacing-content-padding-large, 16px);
  padding-right: var(--intergalactic-spacing-content-padding-xlarge-extended, 24px);
  padding-top: var(--intergalactic-spacing-content-padding-large, 16px);
}
