SAccentPill {
  border: 1px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    var(--intergalactic-border-ai, linear-gradient(90deg, #c695ff, #2bb3ff)
  ) border-box;
  background-origin: border-box;
  background-clip: padding-box, border-box;

  &:hover {
    background: var(--intergalactic-bg-primary-ai-hover-active, linear-gradient(90deg, #f9f2ff, #e9f7ff)) padding-box,
      var(--intergalactic-border-ai, linear-gradient(90deg, #c695ff, #2bb3ff)
    ) border-box;
  }
  &[selected] {
    background:
      var(--intergalactic-bg-primary-ai-hover-active, linear-gradient(90deg, #f9f2ff, #e9f7ff)) padding-box,
      var(--intergalactic-control-primary-ai-hover, linear-gradient(90deg, #8649e1, #006dca)) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-color: transparent;
  }
}

SAccentPill:focus-visible {
  outline: none;
  position: relative;
  /*isolation: isolate;*/

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    margin: -4px;
    padding: 4px;
    border-radius: calc(var(--intergalactic-control-rounded, 6px) + 3px);

    background-image: var(--intergalactic-keyboard-focus-ai-outline, linear-gradient(90deg, rgba(171, 108, 254, 0.5), rgba(0, 143, 248, 0.5)));
    mask: linear-gradient(0deg, #fff, #fff) content-box, linear-gradient(0deg, #fff, #fff);
    mask-composite: exclude;
  }

  &[neighborLocation='left']::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &[neighborLocation='right']::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &[neighborLocation='both']::before {
    border-radius: 0;
  }
}

