@import '../core/var.css';

.notice {
  padding: 20px 24px;
  border-radius: 10px;
}
.notice_addon-left,
.notice_addon-right {
  display: inline-block;
  text-align: center;
}

.notice_addon-left {
  margin-right: 12px;
}
.notice_addon-right {
  margin-left: 12px;
}

.notice-theme-primary-info {
  background-color: var(--blue);
  color: var(--white);
}
.notice-theme-primary-success {
  background-color: var(--green);
  color: var(--white);
}
.notice-theme-primary-warning {
  background-color: var(--orange);
  color: var(--white);
}

.notice-theme-secondary-info {
  background-color: color-mod(var(--blue) a(10%));
  color: var(--black);
}
.notice-theme-secondary-success {
  background-color: color-mod(var(--lime) a(10%));
  color: var(--black);
}
.notice-theme-secondary-warning {
  background-color: color-mod(var(--orange) a(10%));
  color: var(--black);
}
