@import '../core/var.css';

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid transparent;
  /* size */
  padding: 13px 24px;
  font-size: 16px;
  line-height: 24px;
}

.button_addon-left,
.button_addon-right {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

.button_addon-left {
  margin-right: 16px;
}
.button_addon-right {
  margin-left: 16px;
}

.button-theme-primary-info {
  color: var(--white);
  background-color: var(--blue);
}
.button-theme-primary-info:hover {
  background-color: #005fb2 !important;
}
.button-theme-primary-success {
  color: var(--white);
  background-color: var(--green);
}
.button-theme-primary-success:hover {
  background-color: var(--dark-green) !important;
}
.button-theme-primary-warning {
  color: var(--white);
  background-color: var(--orange);
}
.button-theme-primary-warning:hover {
  background-color: var(--dark-orange) !important;
}
.button-theme-primary-danger {
  color: var(--white);
  background-color: var(--red);
}
.button-theme-primary-danger:hover {
  background-color: #ac0614 !important;
}

.button-theme-primary-invert {
  background-color: var(--white);
}
.button-theme-primary-invert:hover {
  opacity: 0.6;
}

.button-theme-secondary-default {
  border-color: #171a22;
  color: #171a22;
}
.button-theme-secondary-default:hover {
  border-color: var(--orange) !important;
  color: var(--orange) !important;
}

.button-theme-secondary-invert {
  border-color: var(--white);
  color: var(--white);
}
.button-theme-secondary-invert:hover {
  opacity: 0.6;
}
