SProgressBar {
  position: relative;
  width: 100%;
  overflow: hidden;
}

SValue {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--intergalactic-progress-bar-value-bg, #000);
  background-image: var(
    --intergalactic-progress-bar-value-gradient,
    linear-gradient(
      -45deg,
      rgba(0, 159, 129, 0.9) 25%,
      rgba(0, 159, 129, 1) 0%,
      rgba(0, 159, 129, 1) 50%,
      rgba(0, 159, 129, 0.9) 0%,
      rgba(0, 159, 129, 0.9) 75%,
      rgba(0, 159, 129, 1) 0%
    )
  );
  overflow: hidden;

  animation-name: loading;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 1000ms;
}

SProgressBar[size='s'],
SValue[size='s'] {
  height: 4px;
  border-radius: var(--intergalactic-rounded-medium, 6px);
  background-size: 8px 8px;
}

SProgressBar[size='m'],
SValue[size='m'] {
  height: 8px;
  border-radius: var(--intergalactic-rounded-medium, 6px);
  background-size: 12px 12px;
}

SProgressBar[size='l'],
SValue[size='l'] {
  height: 12px;
  border-radius: var(--intergalactic-rounded-medium, 6px);
  background-size: 16px 16px;
}

SProgressBar {
  background-color: var(--intergalactic-progress-bar-bg, #e0e1e9);
}

SProgressBar[theme='dark'] {
  background-color: var(--intergalactic-progress-bar-bg-invert, rgba(255, 255, 255, 0.2));
}

SProgressBar[theme='invert'] {
  background-color: var(--intergalactic-progress-bar-bg-invert, rgba(255, 255, 255, 0.2));
}

@keyframes loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 0;
  }
}

SProgressBar[animation] {
  background-color: var(--intergalactic-progress-bar-value-bg, #000);
  background-image: var(
    --intergalactic-progress-bar-pattern-gradient,
    linear-gradient(
      -45deg,
      rgba(224, 225, 233, 0.9) 25%,
      rgba(224, 225, 233, 1) 0%,
      rgba(224, 225, 233, 1) 50%,
      rgba(224, 225, 233, 0.9) 0%,
      rgba(224, 225, 233, 0.9) 75%,
      rgba(224, 225, 233, 1) 0%
    )
  );
  animation-name: loading;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

SProgressBar[theme='custom'] {
  background-color: var(--colorBg);
  background-image: var(--colorBg);
}
SProgressBar[animation] {
  animation-duration: var(--duration);
}

SValue {
  width: var(--width);
  animation-duration: var(--duration);
}
SValue[theme] {
  background-color: var(--colorBg);
  background-image: var(--colorBg);
}

@media (prefers-reduced-motion) {
  SValue {
    animation-name: none;
  }
  SProgressBar[animation] {
    animation-name: none;
  }
}
