@import '@semcore/utils/style/var.css';

SProgressBar {
  position: relative;
  width: 100%;
  overflow: hidden;
}

SValue {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    -45deg,
    color-mod(var(--green-400) shade(10%)) 25%,
    var(--green-400) 0,
    var(--green-400) 50%,
    color-mod(var(--green-400) shade(10%)) 0,
    color-mod(var(--green-400) shade(10%)) 76%,
    var(--green-400) 0
  );
  overflow: hidden;

  animation-name: loading;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 1000ms;
}

SProgressBar[size='s'],
SValue[size='s'] {
  height: 4px;
  border-radius: var(--rounded-m);
  background-size: 8px 8px;
}

SProgressBar[size='m'],
SValue[size='m'] {
  height: 8px;
  border-radius: var(--rounded-m);
  background-size: 12px 12px;
}

SProgressBar[size='l'],
SValue[size='l'] {
  height: 12px;
  border-radius: var(--rounded-m);
  background-size: 16px 16px;
}

SProgressBar[theme='dark'] {
  background-color: rgba(255, 255, 255, 0.2);
}

SProgressBar[theme='invert'] {
  background-color: var(--gray-100);
}

@keyframes loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 0;
  }
}

SProgressBar[animation] {
  background-image: linear-gradient(
    -45deg,
    color-mod(var(--gray-100) shade(10%)) 25%,
    var(--gray-100) 0,
    var(--gray-100) 50%,
    color-mod(var(--gray-100) shade(10%)) 0,
    color-mod(var(--gray-100) shade(10%)) 76%,
    var(--gray-100) 0
  );
  animation-name: loading;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

SProgressBar[theme='custom'] {
  background-color: var(--сolorBg);
  background-image: var(--сolorBg);
}
SProgressBar[animation] {
  animation-duration: var(--duration);
}

SValue {
  width: var(--width);
  animation-duration: var(--duration);
}
SValue[theme] {
  background-color: var(--сolorBg);
  background-image: var(--сolorBg);
}

@media (prefers-reduced-motion) {
  SValue {
    animation-name: none;
  }
  SProgressBar[animation] {
    animation-name: none;
  }
}
