SProgressBar {
  position: relative;
  width: 100%;
  overflow: hidden;
}

SValue {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--intergalactic-progress-bar-value-bg, oklch(1 0 0));
  overflow: hidden;

  animation-name: loading;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition-property: width;
  transition-timing-function: linear;
  width: var(--width);
  animation-duration: var(--duration);
  transition-duration: var(--duration);

  &[stopAnimation] {
    animation-name: none;
  }
}
SProgressBar[theme] SValue[colorBg] {
  background-color: var(--colorBg);
  background-image: var(--colorBg);
}

SProgressBar[size='s'],
SValue[size='s'] {
  height: 4px;
  border-radius: var(--intergalactic-progress-bar-rounded, 6px);
  background-size: 8px 8px;
}

SProgressBar[size='m'],
SValue[size='m'] {
  height: 8px;
  border-radius: var(--intergalactic-progress-bar-rounded, 6px);
  background-size: 12px 12px;
}

SProgressBar[size='l'],
SValue[size='l'] {
  height: 12px;
  border-radius: var(--intergalactic-progress-bar-rounded, 6px);
  background-size: 16px 16px;
}

@keyframes loading {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 0;
  }
}

SProgressBar[animation] {
  background-image: var(--intergalactic-progress-bar-pattern-gradient,
  linear-gradient(-45deg, oklch(0 0 0 / 0.1) 25%, oklch(0.157 0.029 176 / 0.11) 0%, oklch(0.157 0.029 176 / 0.11) 50%, oklch(0 0 0 / 0.1) 0%, oklch(0 0 0 / 0.1) 75%, oklch(0.157 0.029 176 / 0.11) 0%));
  animation-name: loading;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: var(--duration);
}

SProgressBar[theme='default'] {
  background-color: var(--intergalactic-progress-bar-bg, oklch(0.157 0.029 176 / 0.11));

  SValue {
    background-image: var(--intergalactic-progress-bar-value-gradient,
    linear-gradient(-45deg, oklch(from oklch(0.22 0.01 140) l c h / 0.78) 25%, oklch(0.22 0.01 140) 0%, oklch(0.22 0.01 140) 50%, oklch(from oklch(0.22 0.01 140) l c h / 0.78) 0%, oklch(from oklch(0.22 0.01 140) l c h / 0.78) 75%, oklch(0.22 0.01 140) 0%));
  }
}

SProgressBar[theme='invert'] {
  background-color: var(--intergalactic-progress-bar-bg-invert, oklch(0.987 0.023 140 / 0.212));

  SValue {
    background-image: var(--intergalactic-progress-bar-value-gradient-invert,
    linear-gradient(-45deg, oklch(from oklch(0.74 0.17 303) l c h / 0.78) 25%, oklch(0.74 0.17 303) 0%, oklch(0.74 0.17 303) 50%, oklch(from oklch(0.74 0.17 303) l c h / 0.78) 0%, oklch(from oklch(0.74 0.17 303) l c h / 0.78) 75%, oklch(0.74 0.17 303) 0%));
  }
}

SProgressBar[theme='custom'] {
  background-color: var(--colorBg);
  background-image: var(--colorBg);
}


@media (prefers-reduced-motion) {
  SValue {
    animation-name: none;
  }

  SProgressBar[animation] {
    animation-name: none;
  }
}
