SScrollArea {
  position: relative;
  width: 100%;
  height: 100%;
}

SShadowHorizontal,
SShadowVertical {
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: none;
    pointer-events: none;
    z-index: 1;
  }
}

SShadowHorizontal {
  &:before,
  &:after {
    top: 0;
    display: block;
    width: 5px;
    height: 100%;
  }
}

SShadowHorizontal[position='median'] {
  &:before {
    left: 0;
    background: var(
      --intergalactic-scroll-area-shadow-left,
      linear-gradient(to right, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%)
    );
  }

  &:after {
    right: 0;
    background: var(
      --intergalactic-scroll-area-shadow-right,
      linear-gradient(to left, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%)
    );
  }
}

SShadowHorizontal[position='start'] {
  &:before {
    left: 0;
    background: var(
      --intergalactic-scroll-area-shadow-left,
      linear-gradient(to right, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%)
    );
  }
}

SShadowHorizontal[position='end'] {
  &:after {
    right: 0;
    background: var(
      --intergalactic-scroll-area-shadow-right,
      linear-gradient(to left, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%)
    );
  }
}

SShadowVertical {
  &:before,
  &:after {
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
  }
}

SShadowVertical[position='median'] {
  &:before {
    top: 0;
    background: var(
      --intergalactic-scroll-area-shadow-top,
      linear-gradient(to bottom, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%)
    );
  }

  &:after {
    bottom: 0;
    background: var(
      --intergalactic-scroll-area-shadow-bottom,
      linear-gradient(to top, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%)
    );
  }
}

SShadowVertical[position='start'] {
  &:before {
    top: 0;
    background: var(
      --intergalactic-scroll-area-shadow-top,
      linear-gradient(to bottom, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%)
    );
  }
}

SShadowVertical[position='end'] {
  &:after {
    bottom: 0;
    background: var(
      --intergalactic-scroll-area-shadow-bottom,
      linear-gradient(to top, rgba(25, 27, 35, 0.1) 20.55%, rgba(255, 255, 255, 0.0001) 100%)
    );
  }
}

SContainer {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;

  /* FF */
  scrollbar-width: none;
  /* IE */
  -ms-overflow-style: none;
  /* Webkit */

  &::-webkit-scrollbar {
    display: none;
  }
}

SContainer[keyboardFocused]:focus {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
}
