SInputField>div {
  box-sizing: content-box;
  outline: none;
  border-radius: var(--intergalactic-control-rounded, 6px);
  border-color: var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161));
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  position: relative;

  background-color: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
  word-wrap: break-word;
  word-break: break-word;
  font-family: inherit;

  &:empty::before {
    content: '1. ' attr(placeholder);
    color: var(--intergalactic-text-placeholder, oklch(0.098 0.023 157.4 / 0.457));
    position: absolute;
  }

  &:nth-child(even) {
    color: red;
    counter-increment: row;
    margin-bottom: var(--intergalactic-spacing-1x, 4px);
    position: relative;
    word-break: break-all;

    &::before {
      content: counter(row) '.';
      display: inline-block;
      white-space: nowrap;
      text-align: right;
      color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
      margin-right: var(--intergalactic-spacing-1x, 4px);
    }
  }

  >p {
    counter-increment: row;
    /*display: inline-block;*/
    margin: 0 0 var(--intergalactic-spacing-1x, 4px) 0;
    position: relative;
    word-break: break-all;
    white-space: pre-wrap;
    padding: 0 var(--intergalactic-spacing-5x, 20px) 0 var(--intergalactic-spacing-4x, 16px);

    &:last-of-type {
      margin-bottom: 0;
    }

    &:not(:empty)::before {
      content: counter(row) '.';
      display: inline-block;
      white-space: nowrap;
      text-align: right;
      color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
      margin-right: var(--intergalactic-spacing-1x, 4px);

      position: absolute;
      left: 0;
    }

    &[data-over-max-rows='true'] {
      background-color: var(--intergalactic-bg-secondary-critical, oklch(0.958 0.029 5.7));
    }
  }

  &:has(p:nth-child(n + 10)) {
    >p {
      padding-left: var(--intergalactic-spacing-6x, 24px);
    }

    >p:nth-child(-n + 9)::before {
      padding-left: var(--intergalactic-spacing-2x, 8px);
    }
  }

  &:has(p:nth-child(n + 100)) {
    >p {
      padding-left: var(--intergalactic-spacing-8x, 32px);
    }

    >p:nth-child(-n + 9)::before {
      padding-left: var(--intergalactic-spacing-4x, 16px);
    }

    >p:nth-child(n + 10)::before {
      padding-left: var(--intergalactic-spacing-2x, 8px);
    }

    >p:nth-child(n + 100)::before {
      padding-left: 0;
    }
  }

  &:has(p:nth-child(n + 1000)) {
    > p {
      padding-left: calc(var(--intergalactic-spacing-10x, 40px) + var(--intergalactic-spacing-1x, 4px));
    }
    > p:nth-child(-n + 9)::before {
      padding-left: var(--intergalactic-spacing-6x, 24px);
    }
    > p:nth-child(n + 10)::before {
      padding-left: var(--intergalactic-spacing-4x, 16px);
    }
    > p:nth-child(n + 100)::before {
      padding-left: var(--intergalactic-spacing-2x, 8px);
    }
    > p:nth-child(n + 1000)::before {
      padding-left: 0;
    }
  }
}

SInputField[showErrors]>div[aria-invalid]>p[aria-invalid]:after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjZDEwMDJmIj48cGF0aCBkPSJNNyA2aDJ2NEg3VjZabTIgN3YtMkg3djJoMloiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTYuMTUyIDEuMTcyYy43MTktMS41NjMgMi45NzctMS41NjMgMy42OTYgMGw2LjA0MyAxMy4xNDFjLjM2My43OTEtLjIyNSAxLjY4Ny0xLjEwOSAxLjY4N0gxLjIxOGMtLjg4NCAwLTEuNDcyLS44OTYtMS4xMDktMS42ODdMNi4xNTIgMS4xNzJabTcuMzc0IDEyLjgzN0w4IDEuOTkgMi40NzQgMTQuMDFoMTEuMDUyWiIvPjwvc3ZnPgo= ");
  position: absolute;
  right: 0;
  top: var(--intergalactic-spacing-05x, 2px);
}

SInputField[size='m']>div {
  padding: var(--intergalactic-spacing-2x, 8px) var(--intergalactic-spacing-4x, 16px);
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);

  min-height: calc(var(--minRows) * 20px);
  /* (maxRowsLength - 1 * (rowsHeight + marginBottom)) + lastRowHeight */
  max-height: calc((var(--maxRows) - 1) * (20px + var(--intergalactic-spacing-1x, 4px)) + 18px);

  &:empty {
    padding-left: var(--intergalactic-spacing-8x, 32px);

    &::before {
      left: var(--intergalactic-spacing-4x, 16px);
    }
  }
}

SInputField[size='l']>div {
  padding: var(--intergalactic-spacing-3x, 12px) var(--intergalactic-spacing-4x, 16px);
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 150%);

  min-height: calc(var(--minRows) * 24px);
  max-height: calc((var(--maxRows) - 1) * (24px + var(--intergalactic-spacing-1x, 4px)) + 20px);

  &:empty {
    padding-left: calc(var(--intergalactic-spacing-8x, 32px) + var(--intergalactic-spacing-05x, 2px));

    &::before {
      left: var(--intergalactic-spacing-4x, 16px);
    }
  }
}


SInputField[state='normal']:not([disabled])>div {
  &:focus {
    border-color: var(--intergalactic-border-info-active, oklch(0.7 0.131 275.2));
    @mixin focus-outline-mixin {
      outline-offset: 0;
      transition-property: outline-color, outline-width;
    }
  }
}

SInputField[state='valid']>div {
  border-color: var(--intergalactic-border-success-active, oklch(0.7 0.166 170));

  &:focus {
    border-color: var(--intergalactic-border-success-active, oklch(0.7 0.166 170));
    @mixin focus-outline-mixin {
      outline-offset: 0;
      transition-property: outline-color, outline-width;
    }
    outline-color: var(--intergalactic-keyboard-focus-valid-outline, oklch(0.711 0.146 166.9));
  }
}

SInputField[state='invalid']>div {
  border-color: var(--intergalactic-border-critical-active, oklch(0.7 0.21 23));

  &:focus {
    border-color: var(--intergalactic-border-critical-active, oklch(0.7 0.21 23));
    @mixin focus-outline-mixin {
      outline-offset: 0;
      transition-property: outline-color, outline-width;
    }
    outline-color: var(--intergalactic-keyboard-focus-invalid-outline, oklch(0.628 0.257 28.9 / 0.652));
  }

  background-image: var(--intergalactic-border-critical-pattern, repeating-linear-gradient(315deg, oklch(0.7 0.21 23) 0, oklch(0.7 0.21 23) 1px, transparent 0, transparent 50%));
  background-size: 6px 6px;
  background-color: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
  border-bottom-left-radius: var(--intergalactic-control-rounded, 6px);
  border-top-left-radius: var(--intergalactic-control-rounded, 6px);
  background-repeat: repeat-y;
}

SInputField[readonly]>div {
  background-color: var(--intergalactic-bg-secondary-neutral, oklch(0.98 0.001 180));
}

SInputField[disabled]>div {
  opacity: var(--intergalactic-disabled-opacity, 0.4);
}
