@import '@semcore/utils/style/var.css';

SInputTags {
  box-sizing: border-box;
  cursor: text;
  /* reset for ScrollArea because cut box-shadow */
  overflow: initial;
}

SInputTags > div > div {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

SInputTags > div[data-ui-name='ScrollArea.Bar'][orientation='vertical'] {
  right: 1px !important;
}

SInputTags[size='m'] {
  min-height: 26px;
  height: auto;
  padding: 1px 4px;
}

SInputTags[size='l'] {
  min-height: 32px;
  height: auto;
  padding: 1px 6px;
}

SInputTags[size='xl'] {
  min-height: 42px;
  height: auto;
  padding: 1px 10px;
}

STag[size='s'],
STag[size='m'] {
  margin: 2px;
  line-height: 1.2;
}

STag[size='l'] {
  margin: 4px 2px;
  line-height: 1.2;
}

STag[editable] {
  cursor: pointer;
}

SValue {
  padding: 0 !important;
  margin: 2px;
}

SSpacer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  overflow: scroll;
  white-space: pre;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
