SInputTags {
  box-sizing: border-box;
  cursor: text;
  align-items: flex-start;
  /* reset for ScrollArea because cut box-shadow */
  overflow: initial;
}

SContainer {
  padding: 1px 0;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

SInputTags > div > div {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

SInputTags > div[data-ui-name='ScrollArea.Bar'][orientation='vertical'] {
  right: 1px !important;
}

SInputTags[size='m'] {
  min-height: var(--intergalactic-form-control-m, 28px);
  height: auto;
  padding: 0 calc(var(--intergalactic-spacing-1x, 4px) + var(--intergalactic-spacing-05x, 2px));
}

SInputTags[size='l'] {
  min-height: var(--intergalactic-form-control-l, 40px);
  height: auto;
  padding: 0 calc(var(--intergalactic-spacing-2x, 8px) + var(--intergalactic-spacing-05x, 2px));
}

STag[size='m'] {
  margin: var(--intergalactic-spacing-05x, 2px);
}

STag[size='l'] {
  margin: var(--intergalactic-spacing-1x, 4px) var(--intergalactic-spacing-05x, 2px);
}

STag[editable] {
  cursor: pointer;
}

SInputTags[size='m'] SValue {
  height: calc(var(--intergalactic-form-control-m, 28px) - var(--intergalactic-spacing-1x, 4px));
}

SInputTags[size='l'] SValue {
  height: calc(var(--intergalactic-form-control-l, 40px) - var(--intergalactic-spacing-1x, 4px));
}

SValue {
  padding: 0 !important;
  margin-left: var(--intergalactic-spacing-05x, 2px);
  margin-right: var(--intergalactic-spacing-05x, 2px);
}

SSpacer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  overflow: scroll;
  white-space: pre;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
