SHintPopper {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 250px;
  overflow-wrap: break-word;
  opacity: 0;
  pointer-events: none;

  background: var(--intergalactic-tooltip-invert, oklch(0.23 0.01 140)); /* TODO: --intergalactic-tooltip-bg-invert or consider adding hint category */
  border: 1px solid var(--intergalactic-border-tooltip-invert, oklch(0.974 0.047 140 / 0.136)); /* TODO: --intergalactic-tooltip-border-invert or consider adding hint category */
  color: var(--intergalactic-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
  padding: var(--intergalactic-spacing-1x, 4px) var(--intergalactic-spacing-2x, 8px);
  border-radius: var(--intergalactic-rounded-small, 4px);
  font-size: var(--intergalactic-fs-100, 12px);
  line-height: var(--intergalactic-lh-100, 133%);
  box-shadow: var(--intergalactic-box-shadow-popper, 1px 1px 10px 0px oklch(0.176 0.033 175.7 / 0.07));

  animation-fill-mode: both;
  animation-timing-function: var(--timingFunction);
  animation-duration: var(--durationFinalize);
  animation-name: var(--keyframesFinalize);

  &[visible] {
    animation-duration: var(--durationInitialize);
    animation-name: var(--keyframesInitialize);
  }
}

@media (prefers-reduced-motion) {
  SHintPopper {
    animation-timing-function: step-end;
    animation-iteration-count: 1;
  }
  SHintPopper[visible] {
    animation-timing-function: step-end;
    animation-iteration-count: 1;
  }
}
