SScrollBar {
  position: absolute;
  display: flex;
}

SScrollBar[orientation='vertical'] {
  margin-top: var(--intergalactic-spacing-content-padding-xsmall, 4px);
  top: 0;
  right: 0;
  width: 8px;
  height: calc(100% - var(--offsetSum) - var(--intergalactic-spacing-content-padding-small, 8px));
  justify-content: center;
}

SScrollBar[orientation='horizontal'] {
  margin-left: var(--intergalactic-spacing-content-padding-xsmall, 4px);
  left: 0;
  bottom: 0;
  height: 12px;
  align-items: center;
  width: calc(100% - var(--offsetSum) - var(--intergalactic-spacing-content-padding-medium, 12px));
}

SSlider {
  cursor: pointer;
  width: 6px;
  height: 6px;
  /* disable-tokens-validator */
  border-radius: var(--intergalactic-rounded-small, 6px);
  background-color: var(--intergalactic-scroll-bar-background, oklch(0.137 0.026 175.7 / 0.161));
}
