SButtonLink {
  border: none;
  font-family: inherit;
}

SButtonLink[use='primary']:not([color]) {
  color: var(--intergalactic-text-link, #006dca);

  &[active],
  &:active,
  &:hover {
    color: var(--intergalactic-text-link-hover-active, #044792);
  }
}

SButtonLink[use='secondary']:not([color]) {
  color: var(--intergalactic-text-hint, #6c6e79);

  &[active],
  &:active,
  &:hover {
    color: var(--intergalactic-text-hint-hover-active, #484a54);
  }
}

SButtonLink[use='secondary'] SText {
  text-decoration-style: dashed;
  text-decoration-color: currentColor;
}
