SButtonLink {
  border: none;
  font-family: inherit;
}

SButtonLink[use='primary'] {
  &:not([color]) {
    color: var(--intergalactic-text-link-primary, oklch(0.23 0.009 245));
  }

  SText {
    text-decoration-color: transparent;
  }

  &[active],
  &:active,
  &:hover {
    &:not([color]) {
      color: var(--intergalactic-text-link-primary-hover-active, oklch(0.23 0.009 245));
    }

    SText {
      text-decoration-color: currentColor;
    }
  }
}

SButtonLink[use='secondary']:not([color]) {
  color: var(--intergalactic-text-hint, oklch(0.209 0.055 246.6 / 0.505));

  &[active],
  &:active,
  &:hover {
    color: var(--intergalactic-text-link-primary, oklch(0.23 0.009 245));
  }
}

SButtonLink[use='secondary'] SText {
  text-decoration-style: dotted;
  text-decoration-color: currentColor;
}
