@import '@semcore/utils/style/var.css';

SCard {
  box-sizing: border-box;
  background: var(--white);
  padding: 0;
  border: none;
  border-radius: var(--rounded-m);
  box-shadow: 0 0 1px rgba(25, 27, 35, 0.16), 0 1px 2px rgba(25, 27, 35, 0.12);
  font-family: Inter, sans-serif;
}

STitle {
  color: var(--gray-800);
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  font-weight: 700;
}

SIcon {
  margin-left: 4px;
  color: var(--gray-300);
  cursor: help;
}

SDescription {
  margin-bottom: 0;
  margin-top: 8px;
  font-size: var(--fs-200);
  color: var(--gray-500);
}

SHeader {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: inset 0 -1px 0 var(--gray-100);
}

SBody {
  color: var(--gray-800);
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
