SCard {
  box-sizing: border-box;
  background: var(--intergalactic-bg-primary-neutral, #ffffff);
  padding: 0;
  border: none;
  border-radius: var(--intergalactic-rounded-medium, 6px);
  box-shadow: var(
    --intergalactic-box-shadow-card,
    0px 0px 1px 0px rgba(25, 27, 35, 0.16),
    0px 1px 2px 0px rgba(25, 27, 35, 0.12)
  );
  font-family: var(--intergalactic-base, Inter), sans-serif;
}

STitle {
  color: var(--intergalactic-text-primary, #191b23);
  font-size: var(--intergalactic-fs-300, 16px);
  line-height: var(--intergalactic-lh-300, 150%);
  font-weight: var(--intergalactic-bold-700, 700);
  margin-right: var(--intergalactic-spacing-1x, 4px);
}

SIcon {
  color: var(--intergalactic-icon-secondary-neutral, #a9abb6);
  cursor: help;
  margin-right: var(--intergalactic-spacing-1x, 4px);
}
STooltip {
  display: inline-flex;
  vertical-align: middle;
}

SDescription {
  margin-bottom: 0;
  margin-top: var(--intergalactic-spacing-2x, 8px);
  font-size: var(--intergalactic-fs-200, 14px);
  color: var(--intergalactic-text-secondary, #6c6e79);
}

SHeader {
  padding-top: var(--intergalactic-spacing-2x, 8px);
  padding-bottom: var(--intergalactic-spacing-2x, 8px);
  padding-left: var(--intergalactic-spacing-5x, 20px);
  padding-right: var(--intergalactic-spacing-5x, 20px);
  box-shadow: inset 0 -1px 0 var(--intergalactic-border-secondary, #e0e1e9);
}

SBody {
  color: var(--intergalactic-text-primary, #191b23);
  padding-bottom: var(--intergalactic-spacing-5x, 20px);
  padding-left: var(--intergalactic-spacing-5x, 20px);
  padding-right: var(--intergalactic-spacing-5x, 20px);
  padding-top: var(--intergalactic-spacing-5x, 20px);
}
