SCard {
  box-sizing: border-box;
  background: var(--intergalactic-bg-primary-neutral, oklch(1 0 0));
  padding: 0;
  border-radius: var(--intergalactic-surface-rounded, 8px);
  border: 1px solid var(--intergalactic-border-secondary, oklch(0.176 0.033 175.7 / 0.07));

  STitle {
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
    font-size: var(--intergalactic-fs-350, 18px);
    line-height: var(--intergalactic-lh-350, 150%);
    font-weight: var(--intergalactic-semi-bold, 600);
    margin-right: var(--intergalactic-spacing-1x, 4px);
  }

  SInfoTrigger {
    margin-right: var(--intergalactic-spacing-1x, 4px);
    vertical-align: 0.5px;
    margin-top: -1px;
  }

  SDescription {
    display: block;
    margin: var(--intergalactic-spacing-1x, 4px) 0;
    font-size: var(--intergalactic-fs-200, 14px);
    line-height: var(--intergalactic-lh-200, 142%);
    color: var(--intergalactic-text-secondary, oklch(0.088 0.026 147.7 / 0.583));
  }

  SHeader {
    padding-top: var(--intergalactic-spacing-content-padding-xlarge, 20px);
    padding-bottom: var(--intergalactic-spacing-content-padding-xsmall, 4px);
    padding-left: var(--intergalactic-spacing-content-padding-xlarge, 20px);
    padding-right: var(--intergalactic-spacing-content-padding-xlarge, 20px);
  }

  SBody {
    color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
    padding: var(--intergalactic-spacing-content-padding-xlarge, 20px);
  }
}
