SHighlightedButton[theme='primary-highlighted'] {
  color: var(--intergalactic-control-text-primary-invert, oklch(0.999 0.001 180 / 0.949));
  background-color: var(--intergalactic-control-primary-info, oklch(0.23 0.01 140));

  [data-ui-name='SummaryAI'] {
    color: var(--intergalactic-brand-tertiary, oklch(0.82 0.15 170));
  }

  &:focus-visible {
    outline-color: var(--intergalactic-feature-highlight-keyboard-focus-outline, oklch(0.82 0.15 170));
    outline-width: 2px;
  }
}

SHighlightedButton[theme='secondary-highlighted'] {
  color: var(--intergalactic-feature-highlight-text, oklch(0.1 0.03 137 / 0.899));

  &:focus-visible {
    outline-color: var(--intergalactic-feature-highlight-keyboard-focus-outline, oklch(0.82 0.15 170));
    outline-width: 2px;
  }

  background-color: var(--intergalactic-feature-highlight-control-secondary, oklch(0.166 0.031 175.8 / 0.097));

  &:hover {
    background-color: var(--intergalactic-feature-highlight-control-secondary-hover, oklch(0.151 0.028 176.1 / 0.123));
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-feature-highlight-control-secondary-active, oklch(0.145 0.027 176.1 / 0.135));
  }
}

SHighlightedButton {
  position: relative;

  &[neighborLocation='left']::before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &[neighborLocation='right']::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &[neighborLocation='both']::before {
    border-radius: 0;
  }
}
