SInput {
  display: inline-flex;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  /* disable-tokens-validator */
  padding: 1px;
  box-sizing: border-box;

  & input:-webkit-autofill {
    border-radius: var(--intergalactic-rounded-medium, 6px);
    -webkit-box-shadow: 0 0 0 30px rgb(250, 255, 189) inset;

    & ~ SOutline {
      background-color: rgb(250, 255, 189);
    }
  }
}

SValue {
  /* hack for firefox */
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  box-sizing: border-box;
  color: var(--intergalactic-text-primary, #191b23);
  font-size: inherit;
  text-overflow: ellipsis;
  font-family: inherit;
  background: transparent;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--intergalactic-text-placeholder, #a9abb6);
  }

  &:not(:disabled):read-only ~ SOutline {
    background: var(--intergalactic-bg-secondary-neutral, #f4f5f9);
  }

  &:disabled {
    user-select: none;
    opacity: var(--intergalactic-disabled-opacity, 0.3);

    & ~ SOutline {
      opacity: var(--intergalactic-disabled-opacity, 0.3);
      cursor: default;
      pointer-events: none;
    }
  }
}

SOutline {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid;
  border-radius: var(--intergalactic-rounded-medium, 6px);
  z-index: -1;
  background: var(--intergalactic-bg-primary-neutral, #ffffff);
}

SAddon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 var(--intergalactic-spacing-2x, 8px);
  height: 100%;
  color: var(--intergalactic-icon-secondary-neutral, #a9abb6);
}

SAddon[interactive] {
  cursor: pointer;

  &:hover {
    color: var(--intergalactic-icon-secondary-neutral-hover-active, #8a8e9b);
  }
}

SAddon[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
}

SInput[size='m'] {
  font-size: var(--intergalactic-fs-200, 14px);
  height: var(--intergalactic-form-control-m, 28px);
}

SValue[size='m'],
SValue[size='l'] {
  padding: 0 var(--intergalactic-spacing-2x, 8px);
}

SInput[size='l'] {
  font-size: var(--intergalactic-fs-300, 16px);
  height: var(--intergalactic-form-control-l, 40px);
  padding-left: var(--intergalactic-spacing-1x, 4px);
  padding-right: var(--intergalactic-spacing-1x, 4px);
}

SInput[focused] {
  z-index: 1;
}

SInput[state='normal'] {
  & SOutline {
    border-color: var(--intergalactic-border-primary, #006dca);
  }

  & SValue:focus ~ SOutline {
    border-color: var(--intergalactic-border-info-active, #006dca);
    box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
  }
}
SInput[state='valid'] {
  & SOutline {
    border-color: var(--intergalactic-border-success, #007c65);
  }

  & SValue:focus ~ SOutline {
    border-color: var(--intergalactic-border-success-active, #007c65);
    box-shadow: var(--intergalactic-keyboard-focus-valid, 0px 0px 0px 3px rgba(0, 159, 129, 0.3));
  }
}
SInput[state='invalid'] {
  & SOutline {
    border-color: var(--intergalactic-border-danger, #d1002f);
  }

  & SValue:focus ~ SOutline {
    border-color: var(--intergalactic-border-danger-active, #d1002f);
    box-shadow: var(--intergalactic-keyboard-focus-invalid, 0px 0px 0px 3px rgba(255, 73, 83, 0.3));
  }
}

SInput[neighborLocation='right'] {
  & SOutline {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
SInput[neighborLocation='both'] {
  & SOutline {
    border-radius: 0;
    border-left: none;
  }
}
SInput[neighborLocation='left'] {
  & SOutline {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}

SValue[neighborLocation='right'] {
  padding-right: 0;
}

SValue[neighborLocation='both'] {
  padding-left: 0;
  padding-right: 0;
}

SValue[neighborLocation='left'] {
  padding-left: 0;
}
