@import '@semcore/utils/style/var.css';

SInput {
  display: inline-flex;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 0;
  vertical-align: middle;
  padding: 1px;
  box-sizing: border-box;

  & input:-webkit-autofill {
    border-radius: var(--rounded-m);
    -webkit-box-shadow: 0 0 0 30px rgb(250, 255, 189) inset;

    & ~ SOutline {
      background-color: rgb(250, 255, 189);
    }
  }

  & SOutline {
    border-radius: var(--rounded-m);
  }
}

SValue {
  /* hack for firefox */
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  box-sizing: border-box;
  color: var(--gray-800);
  font-size: inherit;
  text-overflow: ellipsis;
  font-family: inherit;
  background: transparent;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--gray-300);
  }

  &:read-only ~ SOutline {
    background: var(--gray-50);
  }

  &:disabled {
    user-select: none;
    opacity: var(--disabled-opacity);

    & ~ SOutline {
      opacity: var(--disabled-opacity);
      cursor: default;
      pointer-events: none;
    }
  }
}

SOutline {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid;
  z-index: -1;
  background: #fff;
}

SAddon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
  color: var(--gray-300);
}

SAddon[interactive] {
  color: var(--gray-300);
  cursor: pointer;

  &:hover {
    color: var(--gray-400);
  }
}

SAddon[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
}

SInput[size='m'] {
  font-size: var(--fs-200);
  height: var(--form-control-m);
}

SValue[size='m'],
SAddon[size='m'] {
  padding: 0 8px;
}

SInput[size='l'] {
  font-size: var(--fs-300);
  height: var(--form-control-l);
}

SValue[size='l'],
SAddon[size='l'] {
  padding: 0 12px;
}

SInput[focused] {
  z-index: 1;
}

SInput[state='normal'] {
  & SOutline {
    border-color: var(--gray-200);
  }

  & SValue:focus ~ SOutline {
    border-color: var(--blue-400);
    box-shadow: var(--keyboard-focus);
  }
}
SInput[state='valid'] {
  & SOutline {
    border-color: var(--green-200);
  }

  & SValue:focus ~ SOutline {
    border-color: var(--green-400);
    box-shadow: var(--keyboard-focus-valid);
  }
}
SInput[state='invalid'] {
  & SOutline {
    border-color: var(--red-200);
  }

  & SValue:focus ~ SOutline {
    border-color: var(--red-400);
    box-shadow: var(--keyboard-focus-invalid);
  }
}

SInput[neighborLocation='right'] {
  & SOutline {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
SInput[neighborLocation='both'] {
  & SOutline {
    border-radius: 0;
    border-left: none;
  }
}
SInput[neighborLocation='left'] {
  & SOutline {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}

SAddon[size='l'][neighborLocation='right'] {
  padding-right: 8px;
}

SAddon[size='l'][neighborLocation='left'] {
  padding-left: 8px;
}

SValue[neighborLocation='right'] {
  padding-right: 0;
}

SValue[neighborLocation='both'] {
  padding-left: 0;
  padding-right: 0;
}

SValue[neighborLocation='left'] {
  padding-left: 0;
}
