.categoryPageList {
  display: flex;
  flex-flow: wrap column;
  max-height: 405px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.categoryItem {
  margin: 0 var(--intergalactic-spacing-2x) var(--intergalactic-spacing-2x) 0;
  z-index: 1;
}
.categoryItem:last-child {
  margin-bottom: 0;
}

.title {
  margin: 0;
  font-size: var(--intergalactic-fs-500);
  margin-bottom: var(--intergalactic-spacing-2x);
  font-weight: var(--intergalactic-bold);
}

.linkStyled {
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
  color: var(--intergalactic-text-primary);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.linkStyled:hover {
  text-decoration: underline;
  transition: all 0.5s;
}

.linkDisabled {
  display: inline-block;
  vertical-align: middle;
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-600);
  opacity: calc(var(--intergalactic-disabled-opacity) - 0.1);
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}
