.componentTitle {
  text-transform: capitalize;
  margin-right: calc(var(--intergalactic-spacing-3x) - 2px);
}
.componentTitle small {
  color: gray;
}

.list {
  padding: 0;
  list-style: none;
  margin: 0 0 0 var(--intergalactic-spacing-5x);
}

.listItem {
  display: flex;
  align-items: center;
}
.listItem + .listItem {
  margin-top: calc(var(--intergalactic-spacing-3x) - 2px);
}
.listItem p {
  margin: 0;
}

.tagStyled {
  margin-right: var(--intergalactic-spacing-4x);
  margin-top: var(--intergalactic-spacing-1x);
  width: var(--intergalactic-spacing-20x);
  flex-shrink: 0;
}
