.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--intergalactic-spacing-4x);
  border: 2px solid transparent;
  background: var(--intergalactic-bg-secondary-neutral);
  border-radius: var(--intergalactic-rounded-medium);
  margin-bottom: 0 !important;
}
.card:hover {
  cursor: pointer;
  border: 2px solid var(--vp-c-brand-1);
  box-shadow: var(--intergalactic-box-shadow-card);
  transition: all ease-in-out 100ms;
  text-decoration: underline;
}
.card[disabled] {
  opacity: calc(var(--intergalactic-disabled-opacity) + 0.1);
  pointer-events: none;
}
a.linkUi {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: var(--intergalactic-text-primary) !important
}
.linkUi img {
  width: 100%;;
}
.title {
  margin-top: var(--intergalactic-spacing-3x) !important;
  white-space: break-spaces;
}
