.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--intergalactic-spacing-4x);
  border: 2px solid transparent;
  background: var(--intergalactic-bg-secondary-neutral);
  border-radius: var(--intergalactic-rounded-medium);
  margin-bottom: 0 !important;
  text-decoration: none;
  color: var(--intergalactic-text-primary);
}
.card:hover {
  cursor: pointer;
  border: 2px solid var(--intergalactic-border-info-active);
  box-shadow: var(--intergalactic-box-shadow-card);
  transition: all ease-in-out 100ms;
  text-decoration: underline;
}
.card[disabled] {
  opacity: calc(var(--intergalactic-disabled-opacity) + 0.1);
  pointer-events: none;
}
.linkUi {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.title {
  margin-top: var(--intergalactic-spacing-3x);
  white-space: break-spaces;
}
