.main h2 {
  font-family: 'Factor A';
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin: 32px 0 16px;
}

.main h2:first-child {
  margin: 0 0 16px;
}

.main h3 {
  font-size: 18px;
  line-height: 110%;
  margin: 32px 0 16px 0;
  font-weight: 700;
}

.main h4 {
  font-size: 16px;
  line-height: 150%;
  margin: 16px 0;
  font-weight: 700;
}

.tabLine {
  font-weight: 700;
  margin-bottom: 32px;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabLine .tabLineItem {
  min-width: auto;
}

.tabLine > div {
  background-color: #ff622d;
  bottom: 0;
}

.tabLineItem:hover::after {
  bottom: 0;
}

/* crunch */
.main > div:first-child > blockquote {
  margin-top: 0;
}
