.title {
  font-size: 40px;
  line-height: var(--intergalactic-lh-400);
  margin: 0;
  margin-bottom: var(--intergalactic-spacing-1x);
}

.packageLogo {
  width: 16px;
  height: 16px;
}

.deprecatedIcon {
  margin-left: var(--intergalactic-spacing-1x);
}

@media (max-width: 415px) {
  .title {
    font-size: 30px;
    line-height: var(--intergalactic-lh-400);
  }
}
@media (max-width: 767px) {
  .overlay {
    display: none;
  }
}
