.main h2 {
  font-family: 'Factor A';
  font-weight: var(--intergalactic-medium);
  font-size: var(--intergalactic-fs-500);
  line-height: var(--intergalactic-lh-400);
  margin: var(--intergalactic-spacing-8x) 0 var(--intergalactic-spacing-4x);
}

.main h2:first-child {
  margin: 0 0 var(--intergalactic-spacing-4x);
}

.main h3 {
  font-size: calc(var(--intergalactic-fs-300) + 2px);
  line-height: var(--intergalactic-lh-700);
  margin: var(--intergalactic-spacing-8x) 0 var(--intergalactic-spacing-4x) 0;
  font-weight: var(--intergalactic-bold);
}

.main h4 {
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
  margin: var(--intergalactic-spacing-4x) 0;
  font-weight: var(--intergalactic-bold);
}

.main code {
  text-shadow: none;
}

.tabLine {
  margin-bottom: var(--intergalactic-spacing-8x);
  overflow-x: auto;
  overflow-y: hidden;
  --intergalactic-border-info-active: var(--intergalactic-brand-primary);
}

.tabLine .tabLineItem {
  min-width: auto;
  font-weight: var(--intergalactic-bold);
  bottom: 0;
}

/* crunch */
.main > div:first-child > blockquote {
  margin-top: 0;
}
