.emailsWrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  box-shadow: 5px 8px 25px rgba(137, 141, 154, 0.2);
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .emailsWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    margin-left: 0;
    margin: 0 0 56px;
  }
}
@media (max-width: 415px) {
  .emailsWrapper {
    padding: 0;
    margin: 0;
  }
}

.info {
  grid-row: 1;
  grid-column: 2;
  font-size: 16px;
  line-height: 150%;
  margin-left: 40px;
  max-width: 560px;
}
@media (max-width: 767px) {
  .info {
    margin: 0px 40px 0 16px;
    grid-row: 2;
    grid-column: 1;
  }
}

.header {
  font-size: 30px;
  line-height: 120%;
  margin: 40px 8px 0 0;
  display: inline-block;
}
@media (max-width: 767px) {
  .header {
    font-size: 24px;
    line-height: 120%;
    margin: 0 8px 0 0;
  }
}

.emailImg {
  grid-row: 1;
  grid-column: 1;
}
@media (max-width: 767px) {
  .emailImg {
    margin-left: -150px;
  }
}
