.emailsWrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  /* change to token */
  box-shadow: 5px 8px 25px rgba(137, 141, 154, 0.2);
  border-radius: var(--intergalactic-rounded-medium);
  background-color: #fff;
}
@media (max-width: 767px) {
  .emailsWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    margin-left: 0;
    margin: 0 0 var(--intergalactic-spacing-14x);
  }
}
@media (max-width: 415px) {
  .emailsWrapper {
    padding: 0;
    margin: 0;
  }
}

.info {
  grid-row: 1;
  grid-column: 2;
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
  margin-left: var(--intergalactic-spacing-10x);
  max-width: 560px;
}
@media (max-width: 767px) {
  .info {
    margin: 0px var(--intergalactic-spacing-10x) 0 var(--intergalactic-spacing-4x);
    grid-row: 2;
    grid-column: 1;
  }
}

.header {
  font-size: calc(var(--intergalactic-fs-600) - 2px);
  line-height: var(--intergalactic-lh-400);
  margin: var(--intergalactic-spacing-10x) var(--intergalactic-spacing-2x) 0 0;
  display: inline-block;
}
@media (max-width: 767px) {
  .header {
    font-size: var(--intergalactic-fs-500);
    line-height: var(--intergalactic-lh-400);
    margin: 0 var(--intergalactic-spacing-2x) 0 0;
  }
}

.emailImg {
  grid-row: 1;
  grid-column: 1;
}
@media (max-width: 767px) {
  .emailImg {
    margin-left: calc(-1 * (var(--intergalactic-spacing-30x) + 30px));
  }
}
