.content {
  padding: 200px 90px 96px 160px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 767px) {
  .content {
    padding: 80px 56px 96px 56px;
    flex-direction: column;
  }
}

.info {
  width: 665px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  white-space: nowrap;
}
.info a {
  margin-right: 5px;
  color: #1a55ed;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .info {
    width: 525px;
    white-space: normal;
    margin-left: 40px;
  }
}

.spaceman {
  width: 400px;
  margin-right: 72px;
}
