.content {
  padding: calc(5 * var(--intergalactic-spacing-10x)) calc(var(--intergalactic-spacing-20x) + 10px)
    var(--intergalactic-spacing-24x) calc(2 * var(--intergalactic-spacing-20x));
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: var(--intergalactic-lh-300);
}
@media (max-width: 767px) {
  .content {
    padding: var(--intergalactic-spacing-20x) var(--intergalactic-spacing-14x)
      var(--intergalactic-spacing-24x) var(--intergalactic-spacing-14x);
    flex-direction: column;
  }
}

.info {
  width: 665px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  white-space: nowrap;
}
.info a {
  margin-right: calc(var(--intergalactic-spacing-1x) + 1px);
  color: #1a55ed;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .info {
    width: 525px;
    white-space: normal;
    margin-left: var(--intergalactic-spacing-10x);
  }
}

.spaceman {
  width: 400px;
  margin-right: calc(18 * var(--intergalactic-spacing-1x));
}
