.exampleWrapper {
  margin: 10px auto;
  border-radius: 6px;
  box-shadow: rgb(204, 204, 204) 0 0 1px 1px;
}

.view {
  display: flex;
  padding: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
}

.codeView {
  max-height: 500px;
  overflow: scroll;
  position: relative;
}

.codeViewControlsParent {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 0 4px 4px;
  background-color: rgba(1, 22, 39, 0.8);
}

.codeViewControls {
  position: sticky;
  top: 16px;
}

.stylesIcons {
  display: inline-block;
  cursor: pointer;
  margin-right: 16px;
}
.stylesIcons > span {
  display: inline-block;
}

.stylesIcons svg {
  width: 22px;
  height: 22px;
  fill: #898d9a;
}
.stylesIcons svg:hover {
  opacity: 0.8;
}
