.exampleWrapper {
  margin: calc(var(--intergalactic-spacing-2x) + 2px) auto;
  border-radius: var(--intergalactic-rounded-medium);
  /* change to token? */
  box-shadow: rgb(204, 204, 204) 0 0 1px 1px;
  /* border: 1px solid var(--intergalactic-border-secondary); */
}

.view {
  width: 100%;
  padding: var(--intergalactic-spacing-6x);
  box-sizing: border-box;
  font-size: var(--intergalactic-fs-100);
}

.codeView {
  max-height: 500px;
  overflow: scroll;
  position: relative;
}

.codeViewControlsParent {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--intergalactic-spacing-1x) 0 var(--intergalactic-spacing-1x)
    var(--intergalactic-spacing-1x);
  /* change to token? */
  background-color: rgba(1, 22, 39, 0.8);
}

.codeViewControls {
  position: sticky;
  top: var(--intergalactic-spacing-4x);
}

.stylesIcons {
  display: inline-block;
  cursor: pointer;
  margin-right: var(--intergalactic-spacing-4x);
}
.stylesIcons > span {
  display: inline-block;
}

.stylesIcons svg {
  width: 22px;
  height: 22px;
  /* change to token? */
  fill: #898d9a;
}
.stylesIcons svg:hover {
  /* change to token? */
  opacity: 0.8;
}
