.footerWrapper {
  display: grid;
  position: relative;
  grid-template-rows: 15fr 6fr 5fr;
  grid-template-columns: 3fr repeat(2, 4fr);
  margin-top: auto;
  border-top: 1px solid var(--intergalactic-border-secondary);
  background: var(--intergalactic-bg-primary-neutral);
  padding: var(--intergalactic-spacing-8x) var(--intergalactic-spacing-10x)
    var(--intergalactic-spacing-6x) var(--intergalactic-spacing-10x);
  align-items: start;
  line-height: var(--intergalactic-lh-300);
  font-weight: var(--intergalactic-regular);
  letter-spacing: 0;
  text-align: left;
  color: var(--intergalactic-text-primary);
}
@media (max-width: 767px) {
  .footerWrapper {
    padding: var(--intergalactic-spacing-8x) var(--intergalactic-spacing-8x)
      var(--intergalactic-spacing-6x);
    height: 366px;
    grid-template-rows: repeat(2, 6fr) repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
}
@media (max-width: 415px) {
  .footerWrapper {
    padding: var(--intergalactic-spacing-8x) var(--intergalactic-spacing-5x)
      var(--intergalactic-spacing-6x);
  }
}

.logo {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  font-size: var(--intergalactic-fs-200);
}
.logo svg {
  margin-left: var(--intergalactic-spacing-2x);
}
@media (max-width: 767px) {
  .logo {
    grid-row: 3;
    white-space: nowrap;
  }
}
@media (max-width: 415px) {
  .logo {
    padding: var(--intergalactic-spacing-3x) 0;
  }
}

.description {
  grid-row: 3;
  grid-column: 1;
  color: var(--intergalactic-text-secondary);
  font-size: var(--intergalactic-fs-200);
}
@media (max-width: 767px) {
  .description {
    grid-row: 4;
  }
}
@media (max-width: 415px) {
  .description {
    padding-bottom: var(--intergalactic-spacing-6x);
  }
}

.contacts {
  font-size: var(--intergalactic-fs-300);
  grid-row: 1;
  grid-column: 3;
  text-align: right;
}
.contacts a {
  color: var(--intergalactic-text-link);
  text-decoration: none;
  margin: 0 calc(var(--intergalactic-spacing-1x) + 1px);
}
.contacts a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .contacts {
    grid-row: 2;
    grid-column: 1;
    text-align: left;
    align-self: center;
  }
}
@media (max-width: 415px) {
  .contacts {
    margin: var(--intergalactic-spacing-8x) 0 var(--intergalactic-spacing-8x);
    white-space: break-spaces;
  }
}

.links {
  grid-row: 1;
  grid-column: 1;
  font-size: var(--intergalactic-fs-300);
  white-space: nowrap;
}
.links a {
  margin-right: var(--intergalactic-spacing-5x);
  color: var(--intergalactic-text-primary);
  text-decoration: none;
}
@media (max-width: 767px) {
  .links a {
    margin-bottom: var(--intergalactic-spacing-5x);
  }
}
.links a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .links {
    display: flex;
    flex-direction: column;
  }
}
