.formatText {
  font-size: 16px;
  line-height: 1.5em;
  color: #171a22;
  font-weight: normal;
  word-wrap: break-word;
  overflow: auto;
  text-rendering: optimizeLegibility;
}
.formatText a {
  color: #0070cc;
  text-decoration: none;
}
.formatText a:hover {
  color: #0070cc;
  text-decoration: underline;
}

.formatText img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.5rem;
  cursor: pointer;
}
.formatText img [alt$='#center'] {
  display: block;
  margin: auto;
}
.formatText img [alt$='#nomargin'] {
  margin: 0;
}

.formatText h1 {
  padding: 0;
  margin: 0 0 1rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.25rem;
}

.formatText h2 {
  padding: 0;
  margin: 2rem 0 1rem;
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 2.25rem;
}

.formatText h3 {
  padding: 0;
  margin: 0 0 1rem;
  font-weight: 700;
  font-size: 1.17rem;
  line-height: 2.4rem;
}

.formatText h4 {
  padding: 0;
  margin: 0 0 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
}

.formatText h5 {
  padding: 0;
  margin: 0 0 0.5rem;
  font-weight: bold;
  font-size: 0.83rem;
  line-height: 1.5rem;
}

.formatText h6 {
  padding: 0;
  margin: 0 0 0.5rem;
  font-weight: bold;
  font-size: 0.67rem;
  line-height: 1.5rem;
}

.formatText hgroup {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText ul {
  padding: 0;
  margin: 0 0 1.5rem 1.5rem;
  list-style-position: outside;
  list-style-image: none;
}

.formatText ol {
  padding: 0;
  margin: 0 0 1.5rem 1.5rem;
  list-style-position: outside;
  list-style-image: none;
}

.formatText dl {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText dd {
  padding: 0;
  margin: 0 0 0.5rem;
}

.formatText p {
  padding: 0;
  margin: 0 0 1rem;
}
.formatText p img:last-child:first-child {
  margin-bottom: 0;
}

.formatText figure {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText pre {
  margin: 0 0 1rem;
}

.formatText pre:not([class]) {
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  padding: 1.5rem;
}

.formatText table {
  padding: 0;
  margin: 0 0 2rem;
  border-collapse: collapse;
  width: 100%;
}

.formatText fieldset {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText blockquote {
  padding: 2rem;
  margin: 1rem 0 1rem;
  font-size: 16px;
  line-height: 1.5em;
  background-color: rgba(184, 128, 255, 0.15);
  border-left: 12px solid #b880ff;
  border-radius: 6px;
}
.formatText blockquote *:last-child {
  margin-bottom: 0;
}

.formatText form {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText noscript {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText iframe {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText hr {
  padding: 0;
  margin: 0 0 calc(1.5rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

.formatText address {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText b {
  font-weight: bold;
}

.formatText strong {
  font-weight: bold;
}

.formatText dt {
  font-weight: bold;
}

.formatText th {
  font-weight: bold;
}

.formatText ol li {
  padding-left: 0;
}

.formatText ul li {
  padding-left: 0;
}

.formatText li > ol {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: calc(1.5rem / 4);
}

.formatText li > ul {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: calc(1.5rem / 4);
}

.formatText kbd {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.formatText samp {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.formatText abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

.formatText acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

.formatText abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

.formatText thead {
  text-align: left;
}

.formatText td,
.formatText th {
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid #d1d4db;
  padding: 0.75rem 1rem calc(0.75rem - 1px);
}

.formatText th:first-child,
.formatText td:first-child {
  padding-left: 0;
}

.formatText th:last-child,
.formatText td:last-child {
  padding-right: 0;
}

.formatText code {
  background-color: hsla(220, 8%, 37%, 0.1);
  border-radius: 4px;
  font-family: Consolas, 'Roboto Mono', 'Liberation Mono', Menlo, Courier, monospace;
  padding: 0 2px;
}

.formatText pre code {
  background: none;
  line-height: 1.42;
}

.formatText small {
  color: #575c66;
}
