.formatText {
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
  color: var(--intergalactic-text-primary);
  font-weight: normal;
  word-wrap: break-word;
  overflow: auto;
  text-rendering: optimizeLegibility;
}
.formatText a {
  color: var(--intergalactic-text-link);
  text-decoration: none;
}
.formatText a:hover {
  color: var(--intergalactic-text-link);
  text-decoration: underline;
}

.formatText img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.5rem;
  cursor: pointer;
  border-radius: var(--intergalactic-rounded-medium);
}
.formatText img [alt$='#center'] {
  display: block;
  margin: auto;
}
.formatText img [alt$='#nomargin'] {
  margin: 0;
}

.formatText h1 {
  padding: 0;
  margin: 0 0 1rem;
  font-weight: var(--intergalactic-medium);
  font-size: 2rem;
  line-height: 2.25rem;
}

.formatText h2 {
  padding: 0;
  margin: 2rem 0 1rem;
  font-weight: var(--intergalactic-medium);
  font-size: 1.5625rem;
  line-height: 2.25rem;
}

.formatText h3 {
  padding: 0;
  margin: 0 0 1rem;
  font-weight: var(--intergalactic-bold);
  font-size: 1.17rem;
  line-height: 2.4rem;
}

.formatText h4 {
  padding: 0;
  margin: 0 0 0.5rem;
  font-weight: var(--intergalactic-bold);
  font-size: 1rem;
  line-height: 2rem;
}

.formatText h5 {
  padding: 0;
  margin: 0 0 0.5rem;
  font-weight: var(--intergalactic-bold);
  font-size: 0.83rem;
  line-height: 1.5rem;
}

.formatText h6 {
  padding: 0;
  margin: 0 0 0.5rem;
  font-weight: var(--intergalactic-bold);
  font-size: 0.67rem;
  line-height: 1.5rem;
}

.formatText hgroup {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText ul {
  padding: 0;
  margin: 0 0 1.5rem 1.5rem;
  list-style-position: outside;
  list-style-image: none;
}

.formatText ol {
  padding: 0;
  margin: 0 0 1.5rem 1.5rem;
  list-style-position: outside;
  list-style-image: none;
}

.formatText dl {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText dd {
  padding: 0;
  margin: 0 0 0.5rem;
}

.formatText p {
  padding: 0;
  margin: 0 0 1rem;
}
.formatText p img:last-child:first-child {
  margin-bottom: 0;
}

.formatText figure {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText pre {
  margin: 0 0 1rem;
}

.formatText pre:not([class]) {
  font-size: 0.85rem;
  line-height: var(--intergalactic-lh-200);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: calc(var(--intergalactic-rounded-small) - 1px);
  overflow: auto;
  padding: 1.5rem;
}

.formatText table {
  padding: 0;
  margin: 0 0 2rem;
  border-collapse: collapse;
  width: 100%;
}

.formatText table tbody tr:hover {
  background-color: var(--intergalactic-table-td-cell-hover);
}

.formatText fieldset {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText blockquote {
  padding: 1.5rem;
  margin: 1rem 0 1rem;
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
  background-color: var(--intergalactic-bg-secondary-advertising);
  border-left: 12px solid var(--violet-300);
  border-radius: var(--intergalactic-rounded-medium);
}

.formatText blockquote.--info {
  /* chnage to token */
  background: #e9f7ff;
  border-color: #8ecdff;
}

.formatText blockquote *:last-child {
  margin-bottom: 0;
}

.formatText blockquote h4 {
  margin-top: 0;
}

.formatText form {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText noscript {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText iframe {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText hr {
  padding: 0;
  margin: 0 0 calc(1.5rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

.formatText address {
  padding: 0;
  margin: 0 0 1rem;
}

.formatText b {
  font-weight: var(--intergalactic-bold);
}

.formatText strong {
  font-weight: var(--intergalactic-bold);
}

.formatText dt {
  font-weight: var(--intergalactic-bold);
}

.formatText th {
  font-weight: var(--intergalactic-bold);
}

.formatText ol li {
  padding-left: 0;
  margin-bottom: var(--intergalactic-spacing-2x);
}

.formatText ul li {
  padding-left: 0;
  margin-bottom: var(--intergalactic-spacing-2x);
}

.formatText li > ol {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: calc(1.5rem / 4);
}

.formatText li > ul {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: calc(1.5rem / 4);
}

.formatText kbd {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.formatText samp {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.formatText abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

.formatText acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

.formatText abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

.formatText thead {
  text-align: left;
}

.formatText td,
.formatText th {
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid var(--intergalactic-border-primary);
  padding: 0.75rem 0.5rem calc(0.75rem - 1px);
}

.formatText code {
  background-color: hsla(266, 99%, 71%, 0.17);
  border-radius: var(--intergalactic-rounded-small);
  font-family: Consolas, 'Roboto Mono', 'Liberation Mono', Menlo, Courier, monospace;
  padding: calc(0.5 * var(--intergalactic-spacing-1x));
}

.formatText pre code {
  background: none;
  line-height: var(--intergalactic-lh-200);
}

.formatText small {
  color: var(--intergalactic-text-secondary);
}
