.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 var(--intergalactic-spacing-10x);
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
  background: var(--intergalactic-bg-tertiary-neutral);
  box-shadow: var(--intergalactic-box-shadow-top-menu);
  z-index: 499;
  display: flex;
  column-gap: var(--intergalactic-spacing-8x);
}
.header a {
  color: var(--intergalactic-text-primary);
  text-decoration: none;
}

.headerMain {
  display: flex;
  align-items: center;
  column-gap: var(--intergalactic-spacing-8x);
  flex: 2;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  column-gap: var(--intergalactic-spacing-6x);
  flex: 1;
}
.item {
  font-size: var(--intergalactic-fs-300);
}
.item:hover {
  text-decoration: underline;
}
.logo {
  display: flex;
  align-items: center;
  margin-top: var(--intergalactic-spacing-1x);
  font-family: 'Factor A';
  text-align: center;
  font-size: calc(var(--intergalactic-fs-400) + 2px);
  line-height: calc(var(--intergalactic-lh-400) + 10%);
  color: var(--intergalactic-brand-primary);
  font-weight: var(--intergalactic-bold);
}
.semrushLogo {
  margin-right: var(--intergalactic-spacing-2x);
  margin-bottom: calc(var(--intergalactic-spacing-1x) + 2px);
  width: 30px;
  height: 30px;
}
.devportalLink {
  display: flex;
  align-items: center;
}
.devportalLink:hover,
.intergalacticLink:hover {
  text-decoration: underline;
}
.intergalacticLink {
  color: var(--intergalactic-brand-primary) !important;
}

.headerTooltip {
  font-size: var(--intergalactic-fs-100);
  border: 1px solid var(--intergalactic-border-secondary);
  box-shadow: var(--intergalactic-box-shadow-popper);
  background-color: var(--intergalactic-tooltip-default);
  z-index: 1000;
}
.linkDivider {
  align-self: center;
}
.searchWrapper {
  flex: 1;
  max-width: 354px;
}
.menuIcon {
  color: var(--intergalactic-icon-non-interactive);
  cursor: pointer;
  display: none;
  margin-right: var(--intergalactic-spacing-1x);
  width: 24px;
  height: 24px;
  padding: calc(7 * var(--intergalactic-spacing-7x)) var(--intergalactic-spacing-8x);
}
.activeMenuIcon {
  background-color: var(--intergalactic-bg-secondary-neutral);
}
.searchIcon {
  color: var(--intergalactic-icon-non-interactive);
  cursor: pointer;
  display: none;
}

.mobileMenu {
  background-color: var(--intergalactic-bg-secondary-neutral);
  display: none;
  min-width: 320px;
  max-width: 100vw;
  position: fixed;
  left: 0;
  top: var(--intergalactic-spacing-20x);
  height: calc(100vh - var(--intergalactic-spacing-20x));
  overflow: auto;
}
.mobileMenuLinks {
  display: flex;
  flex-direction: column;
  padding: var(--intergalactic-spacing-10x) var(--intergalactic-spacing-10x)
    var(--intergalactic-spacing-10x) calc(12 * var(--intergalactic-spacing-1x));
  row-gap: var(--intergalactic-spacing-5x);
}

.mobileMenuDivider {
  padding: calc(var(--intergalactic-spacing-2x) + 2px) var(--intergalactic-spacing-10x);
  display: none;
}
.mobileMenuNavigation {
  display: none;
}

@media (max-width: 970px) {
  .nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .headerMain {
    column-gap: 0;
  }
  .header {
    padding: 0;
    padding-right: var(--intergalactic-spacing-5x);
  }
  .searchWrapper {
    max-width: 100%;
    margin-left: var(--intergalactic-spacing-8x);
  }
  .mobileMenu {
    display: block;
  }
  .menuIcon {
    display: block;
    padding: calc(7 * var(--intergalactic-spacing-1x)) var(--intergalactic-spacing-8x);
  }
  .semrushLogo {
    display: none;
  }
  .mobileMenuDivider {
    display: block;
  }
  .mobileMenuNavigation {
    display: block;
  }
}
@media (max-width: 674px) {
  .headerMain {
    column-gap: 0;
  }
  .mobileSearchHidden {
    display: none;
  }
  .searchWrapper {
    margin-left: var(--intergalactic-spacing-5x);
    margin-right: 0;
  }
  .searchIcon {
    display: flex;
    position: absolute;
    right: var(--intergalactic-spacing-3x);
  }
  .iconSearchWrapper {
    display: none !important;
  }
  .searchIcon {
    margin-right: var(--intergalactic-spacing-5x);
  }
  .activeSearch {
    display: none;
  }
}
@media (max-width: 420px) {
  .headerMain {
    column-gap: 0;
  }
  .devportalLink__mobile {
    display: none;
  }
  .semrushLogo {
    display: block;
  }
  .menuIcon {
    padding-right: var(--intergalactic-spacing-5x);
    padding-left: var(--intergalactic-spacing-5x);
  }
  .mobileSearchHidden {
    display: none;
  }
  .searchWrapper {
    margin-left: var(--intergalactic-spacing-5x);
    margin-right: 0;
  }
  .searchIcon {
    display: flex;
    position: absolute;
    right: var(--intergalactic-spacing-5x);
  }
  .searchWrapper input::placeholder {
    color: var(--intergalactic-bg-secondary-neutral);
  }
  .activeSearch {
    display: none;
  }
}
