.embeddedVideoContainer {
  position: relative;
  padding-bottom: 60.70826306913997%; /* aspect ratio 16x9 hack */
  height: 0;
  margin-bottom: var(--intergalactic-spacing-10x);
}
.embeddedVideoIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
