.popper {
  background-color: var(--intergalactic-dropdown-menu-item);
  color: var(--intergalactic-text-primary);
  z-index: 1100;
  box-shadow: var(--intergalactic-box-shadow-popper);
  border-radius: 0 0 var(--intergalactic-rounded-medium) var(--intergalactic-rounded-medium);
  overflow: hidden;
  border: none;
}

.inputWrapper {
  position: relative;
}
@media (max-width: 767px) {
  .inputWrapper {
    margin-right: var(--intergalactic-spacing-8x);
  }
}
@media (max-width: 415px) {
  .inputWrapper {
    margin: 0 calc(var(--intergalactic-spacing-14x) - 1px) 0 var(--intergalactic-spacing-2x);
    width: 85%;
  }
}

.input {
  height: 46px;
  width: 100%;
  padding-left: var(--intergalactic-spacing-3x);
  padding-right: calc(var(--intergalactic-spacing-8x) + 3px);
  box-sizing: border-box;
  font-size: var(--intergalactic-fs-300);
  border: 1px solid var(--intergalactic-border-primary);
  outline: none;
  text-overflow: ellipsis;
  border-radius: var(--intergalactic-rounded-medium);
  background-color: var(--intergalactic-bg-primary-neutral);
}
.inputOpen {
  border-radius: var(--intergalactic-rounded-medium) var(--intergalactic-rounded-medium) 0 0;
}
.input:focus {
  /* change to token? */
  border: 1px solid #171a22;
  /* border: 1px solid var(--intergalactic-border-info-active); */
}

.input::placeholder {
  color: var(--intergalactic-text-placeholder);
  text-overflow: ellipsis;
}

.iconSearchWrapper {
  position: absolute;
  right: var(--intergalactic-spacing-3x);
  top: calc(var(--intergalactic-spacing-3x) + 2px);
  color: var(--intergalactic-icon-non-interactive);
}
@media (max-width: 415px) {
  .iconSearchWrapper {
    left: 0;
  }
}
@media (max-width: 674px) {
  .iconSearchWrapper {
    display: none;
  }
}

.searchIcon {
  cursor: default;
}
.closeIcon {
  cursor: pointer;
}

@media (max-width: 415px) {
  .searchIcon {
    display: none;
  }
  .closeIcon {
    display: none;
  }
}

.notFound {
  padding: var(--intergalactic-spacing-6x) calc(17 * var(--intergalactic-spacing-1x))
    calc(16 * var(--intergalactic-spacing-1x));
  display: flex;
  flex-direction: column;
  color: var(--intergalactic-text-secondary);
}

.notFoundImg {
  margin: 0 auto var(--intergalactic-spacing-2x) auto;
}

.notFoundText {
  font-size: var(--intergalactic-fs-200);
  text-align: center;
}

.option {
  padding: 0 calc(7 * var(--intergalactic-spacing-1x));
  height: 54px;
  display: block !important;
  font-size: var(--intergalactic-fs-300);
  text-decoration: none;
}

.optionText {
  padding-left: var(--intergalactic-spacing-1x);
  font-size: var(--intergalactic-fs-200);
  text-decoration: none;
}

.optionPlace {
  display: flex;
  align-items: center;
  padding-left: var(--intergalactic-spacing-1x);
  font-size: var(--intergalactic-fs-100);
  color: var(--intergalactic-text-secondary);
}

.optionHeader {
  padding: var(--intergalactic-spacing-2x) var(--intergalactic-spacing-3x);
  height: 21px;
  font-weight: var(--intergalactic-bold);
  font-size: var(--intergalactic-fs-200);
  display: flex;
  align-items: end;
}

.highlightMark mark {
  /* change to token? */
  background: rgba(255, 232, 77, 0.5);
}

.arrowRightIcon {
  margin: 0 var(--intergalactic-spacing-1x);
  cursor: default;
}
@media (max-width: 415px) {
  .arrowRightIcon {
    display: none;
  }
}
