.sideBarWrapper {
  position: sticky;
  padding: calc(12 * var(--intergalactic-spacing-1x)) var(--intergalactic-spacing-8x)
    calc(var(--intergalactic-spacing-30x) + var(--intergalactic-spacing-8x)) 0;
  box-sizing: border-box;
  top: 100px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}
.navLink {
  font-size: var(--intergalactic-fs-300);
  cursor: pointer;
  padding-top: var(--intergalactic-spacing-2x);
  padding-bottom: var(--intergalactic-spacing-2x);
  padding-left: var(--intergalactic-spacing-3x);
  color: var(--intergalactic-text-primary);
  text-decoration: none;
}
.navLinkActive {
  color: var(--intergalactic-brand-primary);
}
.navLink:hover {
  transition: all 0.5s;
  text-decoration: underline;
}
.buttonUp {
  cursor: pointer;
  position: sticky;
  top: calc(100vh - 11px - 72px);
  margin-bottom: var(--intergalactic-spacing-2x);
  margin-left: calc(100% - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: 72px;
  box-sizing: border-box;
  background-color: var(--intergalactic-control-lift-me-up);
  border-radius: calc(var(--intergalactic-rounded-extra-large) - 4px) 0 0
    calc(var(--intergalactic-rounded-extra-large) - 4px);
}
.buttonUp svg {
  fill: var(--intergalactic-bg-tertiary-neutral);
}
.buttonUp:hover {
  background-color: var(--intergalactic-control-lift-me-up-hover);
}
