.navigationView {
  padding: var(--intergalactic-spacing-10x) var(--intergalactic-spacing-6x);
  box-sizing: border-box;
  width: 250px;
  height: 100%;
  overflow: auto;
}
@media (max-width: 767px) {
  .navigationView {
    margin-right: 0;
  }
}

.categoryTitle {
  color: var(--intergalactic-text-primary) !important;
  cursor: pointer;
  padding: var(--intergalactic-spacing-2x) 0 calc(0.5 * var(--intergalactic-spacing-1x));
  font-weight: var(--intergalactic-medium);
  font-size: var(--intergalactic-fs-300) !important;
  line-height: var(--intergalactic-lh-300);
}
.categoryTitle:hover,
.categoryTitle:hover > * {
  color: var(--intergalactic-brand-primary);
}
.categoryContainer {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.categoryIcon {
  color: #8a8e9b;
  margin-top: calc(var(--intergalactic-spacing-1x) + 1px);
}
.categoryItem {
  padding: calc(0.5 * var(--intergalactic-spacing-1x)) 0 calc(0.5 * var(--intergalactic-spacing-1x))
    var(--intergalactic-spacing-6x);
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
  color: var(--intergalactic-text-primary);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  white-space: break-spaces;
  transition: color 0.5s;
}
.categoryContainer:hover a:not(.categoryItemDisabled),
.categoryContainer:hover .categoryIcon {
  color: var(--intergalactic-brand-primary);
}
.categoryItemActive .categoryItem,
.categoryItemActive .categoryIcon {
  color: var(--intergalactic-brand-primary);
}

.categoryItemDisabled {
  cursor: default;
  pointer-events: none;
  opacity: calc(var(--intergalactic-disabled-opacity) - 0.1);
}
