.navigationView {
  padding: 40px 24px;
  box-sizing: border-box;
  width: 250px;
  height: 100%;
  overflow: auto;
}
@media (max-width: 767px) {
  .navigationView {
    margin-right: 0;
  }
}

.categoryTitle {
  color: #171a22 !important;
  cursor: pointer;
  padding: 8px 0 2px;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 1.5;
}
.categoryTitle:hover,
.categoryTitle:hover > * {
  color: #ff622d;
}
.categoryContainer {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.categoryIcon {
  color: #8a8e9b;
  margin-top: 5px;
}
.categoryItem {
  padding: 2px 0 2px 24px;
  font-size: 16px;
  line-height: 1.5;
  color: #171a22;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  white-space: break-spaces;
  transition: color 0.5s;
}
.categoryContainer:hover .categoryItem,
.categoryContainer:hover .categoryIcon {
  color: #ff622d;
}
.categoryItemActive .categoryItem,
.categoryItemActive .categoryIcon {
  color: #ff622d;
}

.categoryItemDisabled {
  cursor: default;
  pointer-events: none;
  color: #ccc;
}
