.container {
  margin-top: var(--intergalactic-spacing-5x);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--intergalactic-spacing-5x) 0;
}

.requiredMark {
  color: var(--intergalactic-text-critical);
}

.typeText {
  color: var(--intergalactic-text-critical);
}

.table {
  width: 100%;
}

.tableHead {
  text-align: left;
}

.propertyCell {
  padding: calc(var(--intergalactic-spacing-4x) + 2px) 0;
  padding-right: calc(var(--intergalactic-spacing-1x) + 2px);
  border-bottom: 1px solid var(--intergalactic-border-secondary);
}
.propertyDetails {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--intergalactic-spacing-1x) + 1px);
}

.descriptionCell {
  padding: calc(var(--intergalactic-spacing-4x) + 2px) 0;
  border-bottom: 1px solid var(--intergalactic-border-secondary);
}
.descriptionCell code {
  background-color: var(--intergalactic-tag-primary-violet-normal);
  border-radius: var(--intergalactic-rounded-small);
}
.descriptionCell code::before,
.descriptionCell code::after {
  content: '';
  display: inline;
  padding-right: 0.2em;
}

.interactiveTypeReference {
  color: var(--intergalactic-text-link);
  text-decoration: none;
  cursor: pointer;
}
.interactiveTypeReference:hover {
  color: var(--intergalactic-text-link-hover-active);
  text-decoration: underline;
}

.propertyNameAnchor {
  position: absolute;
  left: calc(-1 * var(--intergalactic-spacing-5x));
  top: calc(var(--intergalactic-spacing-1x) - 1px);
  padding-right: var(--intergalactic-spacing-1x);
  opacity: 0;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  color: var(--intergalactic-icon-secondary-neutral);
}
.propertyNameAnchor:hover {
  color: var(--intergalactic-icon-secondary-neutral-hover-active);
}

.propertyName {
  margin-bottom: var(--intergalactic-spacing-2x);
  position: relative;
}
.propertyCell:hover .propertyNameAnchor {
  opacity: 1;
}

.deprecated {
  display: inline-flex;
  align-items: center;
  column-gap: var(--intergalactic-spacing-1x);
  padding: var(--intergalactic-spacing-1x);
  background: var(--intergalactic-tag-primary-red-normal);
  color: var(--intergalactic-tag-primary-red-text);
  fill: var(--intergalactic-bg-primary-critical);
  border-radius: calc(var(--intergalactic-rounded-large) - 2px);
}
