.updateWrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
}
@media (max-width: 767px) {
  .updateWrapper {
    grid-template-columns: 1fr;
    margin-left: 0;
    padding: 0 0 var(--intergalactic-spacing-14x);
  }
}
@media (max-width: 415px) {
  .updateWrapper {
    padding: 0;
  }
}

.info {
  grid-row: 1;
  grid-column: 1;
  font-size: 18px;
  line-height: var(--intergalactic-lh-300);
  margin-right: var(--intergalactic-spacing-10x);
}
@media (max-width: 767px) {
  .info {
    grid-column: 1;
  }
}

.header {
  font-size: 40px;
  line-height: var(--intergalactic-lh-400);
  margin: calc(12 * var(--intergalactic-spacing-1x)) 0 var(--intergalactic-spacing-4x);
}
@media (max-width: 767px) {
  .header {
    font-size: 30px;
    line-height: var(--intergalactic-lh-400);
  }
}

.terms {
  font-size: var(--intergalactic-fs-300);
  color: #898d9a;
}
.terms a {
  color: #1a55ed;
  text-decoration: none;
  margin-left: calc(var(--intergalactic-spacing-1x) + 1px);
}
.terms a:hover {
  text-decoration: underline;
}

.updatesImg {
  grid-row: 1;
  grid-column: 2;
  margin-right: var(--intergalactic-spacing-14x);
}
@media (max-width: 767px) {
  .updatesImg {
    display: none;
  }
}

.inputSubscribe {
  height: 56px !important;
  font-size: 18px !important;
  width: 296px;
  margin: 0 var(--intergalactic-spacing-4x) var(--intergalactic-spacing-4x) 0;
}
@media (max-width: 767px) {
  .inputSubscribe {
    width: 100%;
    margin: 0 0 var(--intergalactic-spacing-4x);
  }
}

.inputHidden {
  position: absolute;
  top: calc(-25 * var(--intergalactic-spacing-1x));
  left: calc(-25 * var(--intergalactic-spacing-1x));
}

.subscribed {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: #575c66;
  line-height: var(--intergalactic-lh-300);
}
.subscribed svg {
  width: 38px;
  margin-right: calc(var(--intergalactic-spacing-5x) - 1px);
}
