@import '@semcore/utils/style/var.css';

SSpinContainer {
  z-index: 0;
  position: relative;
  display: block;
  overflow: hidden;
}

SContent {
  z-index: 0;
  position: relative;
}

SOverlay {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

SOverlay[theme='invert'] {
  background-color: color-mod(var(--gray-800) a(40%));
}
SOverlay[theme='dark'] {
  background-color: rgba(255, 255, 255, 0.85);
}

SOverlay[theme='custom'] {
  background-color: var(--background);
}
