SNotice {
  display: flex;
  padding: var(--intergalactic-spacing-4x, 16px);
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--intergalactic-rounded-medium, 6px);
}

SNotice[theme='info'] {
  background-color: var(--intergalactic-bg-secondary-info, #e9f7ff);
  border-color: var(--intergalactic-border-info, #8ecdff);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-neutral, #6c6e79);

    &:hover {
      color: var(--intergalactic-icon-primary-neutral-hover-active, #484a54);
    }
  }
}

SNotice[theme='danger'] {
  background-color: var(--intergalactic-bg-secondary-critical, #fff0f7);
  border-color: var(--intergalactic-border-danger, #ffaeb5);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-critical, #ff4953);

    &:hover {
      color: var(--intergalactic-icon-primary-critical-hover-active, #d1002f);
    }
  }
}

SNotice[theme='warning'] {
  background-color: var(--intergalactic-bg-secondary-warning, #fff3d9);
  border-color: var(--intergalactic-border-warning, #ffb26e);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-warning, #ff642d);

    &:hover {
      color: var(--intergalactic-icon-primary-warning-hover-active, #c33909);
    }
  }
}

SNotice[theme='success'] {
  background-color: var(--intergalactic-bg-secondary-success, #dbfee8);
  border-color: var(--intergalactic-border-success, #59ddaa);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-success, #009f81);

    &:hover {
      color: var(--intergalactic-icon-primary-success-hover-active, #007c65);
    }
  }
}

SContent {
  flex: 1 1 auto;
  width: 100%;
}

SActions {
  flex-shrink: 0;
  margin-top: var(--intergalactic-spacing-3x, 12px);
}

SLabel {
  margin-top: var(--intergalactic-spacing-05x, 2px);
  margin-right: var(--intergalactic-spacing-2x, 8px);
  display: inline-flex;
}

SLabel[theme='info'] {
  color: var(--intergalactic-icon-primary-neutral, #6c6e79);
}

SLabel[theme='danger'] {
  color: var(--intergalactic-icon-primary-critical, #ff4953);
}

SLabel[theme='warning'] {
  color: var(--intergalactic-icon-primary-warning, #ff642d);
}

SLabel[theme='success'] {
  color: var(--intergalactic-icon-primary-success, #009f81);
}

SLabel[theme='custom'] {
  color: var(--color);
}

SCloseIcon {
  flex-shrink: 0;
  margin-left: var(--intergalactic-spacing-4x, 16px);
}

SNotice[theme='custom'] {
  background-color: var(--backgroundColor);
  border-color: var(--backgroundColor);
}
