SNotice {
  display: flex;
  padding: var(--intergalactic-spacing-4x, 16px);
  font-size: var(--intergalactic-fs-200, 14px);
  line-height: var(--intergalactic-lh-200, 142%);
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--intergalactic-surface-rounded, 6px);
  color: var(--intergalactic-text-primary, #191b23);
}

SNotice[theme='info'] {
  background-color: var(--intergalactic-bg-secondary-info, #e9f7ff);
  border-color: var(--intergalactic-border-info, #8ecdff);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-neutral, #6c6e79);

    &:hover {
      color: var(--intergalactic-icon-primary-neutral-hover-active, #565861);
    }
  }
}

SNotice[theme='danger'] {
  background-color: var(--intergalactic-bg-secondary-critical, #fff0f7);
  border-color: var(--intergalactic-border-critical, #ffaeb5);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-critical, #ff4953);

    &:hover {
      color: var(--intergalactic-icon-primary-critical-hover-active, #CC3A42);
    }
  }
}

SNotice[theme='warning'] {
  background-color: var(--intergalactic-bg-secondary-warning, #fff3d9);
  border-color: var(--intergalactic-border-warning, #ffb26e);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-warning, #ff642d);

    &:hover {
      color: var(--intergalactic-icon-primary-warning-hover-active, #CC5024);
    }
  }
}

SNotice[theme='success'] {
  background-color: var(--intergalactic-bg-secondary-success, #dbfee8);
  border-color: var(--intergalactic-border-success, #59ddaa);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-success, #009f81);

    &:hover {
      color: var(--intergalactic-icon-primary-success-hover-active, #037E68);
    }
  }
}

SNotice[theme='muted'] {
  background-color: var(--intergalactic-bg-secondary-neutral, #f4f5f9);
  border-color: var(--intergalactic-border-secondary, #e0e1e9);

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-neutral, #6c6e79);

    &:hover {
      color: var(--intergalactic-icon-primary-neutral-hover-active, #565861);
    }
  }
}

SContent {
  flex: 1 1 auto;
  width: 100%;
}

SActions {
  flex-shrink: 0;
  margin-top: var(--intergalactic-spacing-3x, 12px);
}

SLabel {
  min-height: var(--intergalactic-form-control-m, 28px);
  height: fit-content;
  margin-right: var(--intergalactic-spacing-2x, 8px);
  display: inline-flex;
  align-items: center;
}

SLabel[theme='info'] {
  color: var(--intergalactic-icon-primary-neutral, #6c6e79);
}

SLabel[theme='danger'] {
  color: var(--intergalactic-icon-primary-critical, #ff4953);
}

SLabel[theme='warning'] {
  color: var(--intergalactic-icon-primary-warning, #ff642d);
}

SLabel[theme='success'] {
  color: var(--intergalactic-icon-primary-success, #009f81);
}

SLabel[theme='muted'] {
  color: var(--intergalactic-icon-primary-neutral, #6c6e79);
}

SLabel[theme='custom'] {
  color: var(--color);
}

SCloseIcon {
  flex-shrink: 0;
  margin-left: var(--intergalactic-spacing-4x, 16px);
}

SNotice[theme='custom'] {
  background-color: var(--backgroundColor);
  border-color: var(--backgroundColor);
}

STitle {
  font-size: var(--intergalactic-fs-300, 16px);
  font-weight: var(--intergalactic-bold, 700);
  line-height: var(--intergalactic-lh-300, 150%);
  margin-top: var(--intergalactic-spacing-05x, 2px);
  margin-bottom: var(--intergalactic-spacing-05x, 2px);
}

SText {
  margin-top: var(--intergalactic-spacing-05x, 2px);
  margin-bottom: var(--intergalactic-spacing-05x, 2px);
}