@import '@semcore/utils/style/var.css';

SNotice {
  display: flex;
  font-size: var(--fs-200);
  line-height: var(--lh-200);
  box-sizing: border-box;
}

SNotice[use='primary'] {
  padding: 8px 32px;
}

SNotice[use='secondary'] {
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--rounded-m);
}

SNotice[theme='info'] {
  background-color: var(--blue50);
  &[use='secondary'] {
    border-color: var(--neon-blue);
  }
  & SCloseIcon {
    color: var(--light-blue);
  }
}

SNotice[theme='danger'] {
  background-color: var(--red50);

  &[use='secondary'] {
    border-color: var(--red200);
  }
  & SCloseIcon {
    color: var(--red);
  }
}

SNotice[theme='warning'] {
  background-color: var(--orange50);

  &[use='secondary'] {
    border-color: var(--orange200);
  }
  & SCloseIcon {
    color: var(--orange);
  }
}

SNotice[theme='success'] {
  background-color: var(--green50);
  &[use='secondary'] {
    border-color: var(--green200);
  }
  & SCloseIcon {
    color: var(--green);
  }
}

SContent {
  flex: 1 1 auto;
  width: 100%;
}

SActions {
  flex-shrink: 0;
  margin-top: 12px;
}

SLabel {
  margin-top: 4px;
  margin-right: 8px;
  display: inline-flex;
}

SLabel[theme='info'] {
  color: var(--gray-400);
}

SLabel[theme='danger'] {
  color: var(--red);
}

SLabel[theme='warning'] {
  color: var(--orange);
}

SLabel[theme='success'] {
  color: var(--green);
}

SLabel[theme='custom'] {
  color: var(--color);
}

SCloseIcon {
  flex-shrink: 0;
  margin-left: 16px;
}

SNotice[theme='custom'] {
  background-color: var(--backgroundColor);

  &[use='secondary'] {
    border-color: var(--backgroundColor);
  }
}
