@import '@semcore/utils/style/var.css';

SNotice {
  display: flex;
  font-size: var(--fs-200);
  line-height: var(--lh-200);
  box-sizing: border-box;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--rounded-m);
}

SNotice[theme='info'] {
  background-color: var(--blue-50);
  border-color: var(--blue-200);

  & SCloseIcon {
    color: var(--blue-400);
  }
}

SNotice[theme='danger'] {
  background-color: var(--red-50);
  border-color: var(--red-200);

  & SCloseIcon {
    color: var(--red-400);
  }
}

SNotice[theme='warning'] {
  background-color: var(--orange-50);
  border-color: var(--orange-200);

  & SCloseIcon {
    color: var(--orange-400);
  }
}

SNotice[theme='success'] {
  background-color: var(--green-50);
  border-color: var(--green-200);

  & SCloseIcon {
    color: var(--green-400);
  }
}

SContent {
  flex: 1 1 auto;
  width: 100%;
}

SActions {
  flex-shrink: 0;
  margin-top: 12px;
}

SLabel {
  margin-top: 2px;
  margin-right: 8px;
  display: inline-flex;
}

SLabel[theme='info'] {
  color: var(--gray-400);
}

SLabel[theme='danger'] {
  color: var(--red-400);
}

SLabel[theme='warning'] {
  color: var(--orange-400);
}

SLabel[theme='success'] {
  color: var(--green-400);
}

SLabel[theme='custom'] {
  color: var(--color);
}

SCloseIcon {
  flex-shrink: 0;
  margin-left: 15px;
  color: var(--gray-300);
}

SNotice[theme='custom'] {
  background-color: var(--backgroundColor);
  border-color: var(--backgroundColor);
}
