@import '@semcore/utils/style/var.css';

SNotice {
  display: flex;
  font-size: var(--fs-100);
  line-height: var(--lh-100);
  box-sizing: border-box;
}

SNotice[use='primary'] {
  padding: 8px 32px;
}

SNotice[use='secondary'] {
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

SNotice[theme='info'] {
  background-color: color-mod(var(--light-blue) alpha(15%));

  &[use='secondary'] {
    border-color: color-mod(var(--light-blue) alpha(25%));
  }
}

SNotice[theme='danger'] {
  background-color: color-mod(var(--red) alpha(10%));

  &[use='secondary'] {
    border-color: color-mod(var(--red) alpha(20%));
  }
}

SNotice[theme='warning'] {
  background-color: color-mod(var(--light-orange) alpha(15%));

  &[use='secondary'] {
    border-color: color-mod(var(--light-orange) alpha(40%));
  }
}

SNotice[theme='success'] {
  background-color: color-mod(var(--green) alpha(15%));
  &[use='secondary'] {
    border-color: color-mod(var(--green) alpha(30%));
  }
}

SContent {
  flex: 1 1 auto;
  width: 100%;
}

SActions {
  flex-shrink: 0;
  margin-top: 12px;
}

SLabel {
  margin-right: 8px;
  display: inline-flex;
}

SLabel[theme] {
  color: var(--theme);
}

SCloseIcon {
  flex-shrink: 0;
  margin-left: 16px;
}

SNotice[theme='custom'] {
  background-color: var(--backgroundColor);

  &[use='secondary'] {
    border-color: var(--backgroundColor);
  }
}
