SCounter {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  line-height: normal;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: var(--intergalactic-counter-rounded, 12px);
  font-weight: var(--intergalactic-medium, 500);

  color: var(--intergalactic-text-secondary, #6c6e79);
  background-color: var(--intergalactic-bg-primary-neutral, #ffffff);
  border: 1px solid var(--intergalactic-border-primary, #c4c7cf);
}

SCounter[size='m'] {
  height: 16px;
  min-width: 16px;
  font-size: var(--intergalactic-fs-50, 10px);
  padding: var(--intergalactic-spacing-1x, 4px);
}

SCounter[size='l'] {
  height: 20px;
  min-width: 20px;
  font-size: var(--intergalactic-fs-100, 12px);
  padding: var(--intergalactic-spacing-05x, 2px) calc(var(--intergalactic-spacing-05x, 2px) + var(--intergalactic-spacing-1x, 4px));
}

SCounter[size='xl'] {
  height: 24px;
  min-width: 24px;
  font-size: var(--intergalactic-fs-200, 14px);
  padding: var(--intergalactic-spacing-05x, 2px) calc(var(--intergalactic-spacing-05x, 2px) + var(--intergalactic-spacing-1x, 4px));
}

SCounter[theme] {
  border-color: transparent;
  position: relative;
  background: var(--theme);
  color: var(--theme);
}

SCounter[theme] SText {
  filter: invert(1) saturate(0) contrast(10) brightness(10);
}

SText {
  display: inline;
}

SCounter[theme='info'] {
  border-color: transparent;
  background: var(--intergalactic-bg-primary-info, #008ff8);
}

SCounter[theme='warning'] {
  border-color: transparent;
  background: var(--intergalactic-bg-primary-warning, #ff642d);
}

SCounter[theme='danger'] {
  border-color: transparent;
  background: var(--intergalactic-bg-primary-critical, #ff4953);
}
