@import '@semcore/utils/style/var.css';

SCounter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: var(--intergalactic-borderRadius-rounded-large);
  font-weight: var(--intergalactic-fontWeights-medium-500);

  color: var(--intergalactic-color-text-secondary);
  background-color: var(--intergalactic-color-bg-primary-neutral);
  border: 1px solid var(--intergalactic-color-border-primary);
}

SCounter[size='m'] {
  height: calc(4 * var(--intergalactic-spacing-scale-indent));
  min-width: calc(4 * var(--intergalactic-spacing-scale-indent));
  font-size: var(--intergalactic-fontSizes-fs-50);
  padding: var(--intergalactic-spacing-spacing-1x);
}

SCounter[size='l'] {
  height: calc(5 * var(--intergalactic-spacing-scale-indent));
  min-width: calc(5 * var(--intergalactic-spacing-scale-indent));
  font-size: var(--intergalactic-fontSizes-fs-100);
  padding: var(--intergalactic-spacing-spacing-05x)
    calc(var(--intergalactic-spacing-spacing-05x) + var(--intergalactic-spacing-spacing-1x));
}

SCounter[size='xl'] {
  height: calc(6 * var(--intergalactic-spacing-scale-indent));
  min-width: calc(6 * var(--intergalactic-spacing-scale-indent));
  font-size: var(--intergalactic-fontSizes-fs-200);
  padding: var(--intergalactic-spacing-spacing-05x)
    calc(var(--intergalactic-spacing-spacing-05x) + var(--intergalactic-spacing-spacing-1x));
}

SCounter[theme] {
  border-color: transparent;
  background: var(--theme);
  color: var(--colorText);
}

SCounter[theme='warning'] {
  border-color: transparent;
  background: var(--intergalactic-color-bg-primary-warning);
  color: var(--intergalactic-color-text-primary-invert);
}

SCounter[theme='danger'] {
  border-color: transparent;
  background: var(--intergalactic-color-bg-primary-critical);
  color: var(--intergalactic-color-text-primary-invert);
}
