SLegendFlex[direction='row'] {
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: var(--intergalactic-spacing-content-gap-large, 8px) var(--intergalactic-spacing-content-gap-xxlarge, 16px);
}

SLegendFlex[direction='column'] {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--intergalactic-spacing-content-gap-large, 8px);
}
