SLegendFlex[direction='row'] {
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: var(--intergalactic-spacing-2x, 8px) var(--intergalactic-spacing-4x, 16px);
}

SLegendFlex[direction='column'] {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--intergalactic-spacing-2x, 8px);
}
