SHighlightedNotice {
  background-image: var(--intergalactic-bg-secondary-fh, linear-gradient(90deg, #f9f2ff, #e9f7ff));
  border-color: transparent;
  background-clip: padding-box;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;

    background: var(--intergalactic-border-fh, linear-gradient(90deg, #c695ff, #2bb3ff)
  ) border-box, var(--intergalactic-border-fh-active, linear-gradient(90deg, #ab6cfe, #008ff8)) padding-box;
  }

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-neutral, #6c6e79);

    &:hover {
      color: var(--intergalactic-icon-primary-neutral-hover-active, #565861);
    }
  }
}
