SHighlightedNotice[beforeVisibility] {
  background-image: var(--intergalactic-bg-secondary-feature-highlight, linear-gradient(90deg in oklch, oklch(0.97 0.019 303.4), oklch(0.929 0.037 268)));
  border-color: transparent;
  background-clip: padding-box;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    visibility: var(--beforeVisibility);

    background: var(--intergalactic-border-feature-highlight, linear-gradient(90deg in oklch, oklch(0.82 0.118 303), oklch(0.82 0.088 272.1))
  ) border-box, var(--intergalactic-border-feature-highlight-active, linear-gradient(90deg in oklch, oklch(0.74 0.17 303), oklch(0.74 0.117 274.1))) padding-box;
  }

  & SLabel {
    color: var(--intergalactic-icon-primary-feature-highlight, oklch(0.58 0.254 297.1));
  }

  & SCloseIcon {
    color: var(--intergalactic-icon-primary-neutral, oklch(0.092 0.024 152.2 / 0.526));

    &:hover {
      color: var(--intergalactic-icon-primary-neutral-hover-active, oklch(0.088 0.026 147.7 / 0.583));
    }
  }
}