@import url('../../../../semcore/utils/lib/themes/auto.css');

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

@media (min-width: 960px) {
  .VPHome .VPImage {
    max-width: 480px;
    max-height: 480px;
  }

  .VPHome .image-container {
    perspective: 500px;
  }

  .VPHome .VPImage {
    animation: image_slight_rotating 30s ease-in-out infinite;
  }
}

@keyframes image_slight_rotating {
  0% {
    transform: rotate3d(0, -1, 0, 2deg) translate(-50%, -50%);
  }

  25% {
    transform: rotate3d(1, -1, 1, -2deg) translate(-50%, -50%);
  }

  50% {
    transform: rotate3d(0, -1, 1, 2deg) translate(-50%, -50%);
  }

  75% {
    transform: rotate3d(-1, 0, 1, -2deg) translate(-50%, -50%);
  }

  100% {
    transform: rotate3d(0, -1, 0, 2deg) translate(-50%, -50%);
  }
}


/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.vp-doc .anchor-like-button {
  font-weight: 500;
  color: var(--vp-c-brand);
}

.vp-doc .anchor-like-button a:hover {
  text-decoration: underline dotted;
  text-underline-offset: 2px;
}

.vp-doc dialog {
  box-shadow: var(--vp-shadow-3);
  border: 0;
  border-radius: 8px;
  min-width: 400px;
  min-height: 200px;
  max-width: 600px;
  animation: show-vp-dialog 0.1s ease-out normal;
  animation-fill-mode: forwards;
}

.vp-doc dialog.closing {
  animation: hide-vp-dialog 0.1s ease-out normal;
  animation-fill-mode: forwards;
}

@keyframes show-vp-dialog {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide-vp-dialog {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.vp-doc dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  animation: show-vp-dialog 0.1s ease-out normal;
  animation-fill-mode: forwards;
}

.vp-doc dialog.closing::backdrop {
  animation: hide-vp-dialog 0.1s ease-out normal;
  animation-fill-mode: forwards;
}

.dark .vp-doc dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.vp-doc dialog table {
  margin-top: 16px;
}

.vp-doc dialog .close-dialog {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  color: var(--vp-c-text-2);
  cursor: pointer;
}


.vp-doc table caption:first-child {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.VPDocOutlineDropdown {
  display: none !important;
}

.vp-doc h2 {
  border-top: none;
}

.embedded-video-container {
  position: relative;
  padding-bottom: 60.70826306913997%;
  /* aspect ratio 16x9 hack */
  height: 0;
  margin-bottom: var(--intergalactic-spacing-10x);
}

.embedded-video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playground-runtime {
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -5px;
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: normal;
  isolation: isolate;
}

.dark .playground-runtime {
  /* background-color: white; */
}

@media (min-width: 640px) {
  .playground-runtime {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.code-wrapper {
  position: relative;
}

.open-codesandbox {
  color: white;
  position: absolute;
  top: 0;
  right: 64px;
  direction: ltr;
  position: absolute;
  top: 12px;
  z-index: 3;
  border: 1px solid var(--vp-code-copy-code-border-color);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--vp-code-copy-code-bg);
  opacity: 0;
  cursor: pointer;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' fill='rgba(128,128,128,1)'%3E%3Cpath d='M755 140.3l0.5-0.3h0.3L512 0 268.3 140h-0.3l0.8 0.4L68.6 256v512L512 1024l443.4-256V256L755 140.3z m-30 506.4v171.2L548 920.1V534.7L883.4 341v215.7l-158.4 90z m-584.4-90.6V340.8L476 534.4v385.7L300 818.5V646.7l-159.4-90.6zM511.7 280l171.1-98.3 166.3 96-336.9 194.5-337-194.6 165.7-95.7L511.7 280z' /%3E%3C/svg%3E");
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

.open-codesandbox:hover,
.open-codesandbox:focus,
.open-codesandbox:active {
  opacity: 1;
  border-color: var(--vp-code-copy-code-hover-border-color);
  background-color: var(--vp-code-copy-code-hover-bg);
}

.code-wrapper:hover .open-codesandbox,
.code-wrapper:hover .copy.copy.copy.copy {
  opacity: 1;
}

.code-wrapper .copy.copy.copy.copy {
  border-radius: 4px;
}

.code-wrapper .copy.copy.copy.copy.copied:before {
  display: none;
}

.documentation-sandbox {
  margin-top: 20px;
}