SCheckboxButton {
  margin-top: var(--intergalactic-spacing-2x, 8px);
  /* add background-color: var(--intergalactic-checkbox-button-bg-normal); */
  border: 1px solid var(--intergalactic-border-primary, oklch(0.137 0.026 175.7 / 0.161)); /* change to --intergalactic-checkbox-button-border */
  border-radius: var(--intergalactic-rounded-medium, 6px);

  label {
    width: 100%;
    padding: var(--intergalactic-spacing-3x, 12px);
    box-sizing: border-box;
  }
}

SCheckboxButton:hover, SCheckboxButton[checked] {
  cursor: pointer;
  border-color: var(--intergalactic-border-info-active, oklch(0.7 0.131 275.2)); /* change to --intergalactic-checkbox-button-border-selected */
  background-color: rgba(0, 143, 248, 0.10); /* change to --intergalactic-checkbox-button-bg-hover on :hover:not([checked]), --intergalactic-checkbox-button-bg-selected on [checked] */
}

SCheckboxButton[checked]:hover {
  background-color: rgba(0, 143, 248, 0.20); /* change to --intergalactic-checkbox-button-bg-selected-hover */
}
