SCheckboxButton {
  margin-top: var(--intergalactic-spacing-content-gap-large, 8px);
  background-color: var(--intergalactic-control-checkbox-button-bg-normal, transparent);
  border: 1px solid var(--intergalactic-control-checkbox-button-border, oklch(0.137 0.026 175.7 / 0.161));
  border-radius: var(--intergalactic-control-rounded, 6px);

  label {
    width: 100%;
    padding: var(--intergalactic-spacing-content-padding-medium, 12px);
    box-sizing: border-box;
  }
}

SCheckboxButton:hover, SCheckboxButton[checked] {
  cursor: pointer;
  background-color: var(--intergalactic-control-checkbox-button-bg-hover, oklch(0.177 0.033 175.6 / 0.042));
}

SCheckboxButton[checked] {
  border-color: var(--intergalactic-control-checkbox-button-border-selected, oklch(0.137 0.026 175.7 / 0.161));

}

SCheckboxButton[checked]:hover {
  background-color: var(--intergalactic-control-checkbox-button-bg-selected-hover, oklch(0.176 0.033 175.6 / 0.056));
}
