@import '@semcore/utils/style/var.css';

SFeedbackForm {
  max-width: media(300px);
}

SSubmit,
SCancel {
  display: inline-flex;
  margin-right: media(8px);
}

SNotice[use='secondary'] {
  border: none;
}

SSuccess {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 32px;
  box-sizing: border-box;
}

SEmail {
  margin-bottom: 8px;
  color: var(--green);
}
