SFeedbackRating {
  ul {
    margin: 0;
    padding: 0;
  }
  ul, li {
    list-style: none;
  }
}

SFeedbackRatingNoticeComponent > *[data-ui-name="Notice.Label"] {
  margin-right: var(--intergalactic-spacing-3x, 12px);
}
