SFeedbackRating {
  ul {
    margin: 0;
    padding: 0;
  }
  ul, li {
    list-style: none;
  }

  SHeader {
    font-size: var(--intergalactic-fs-300, 16px);
    line-height: var(--intergalactic-lh-300, 1.5);
    font-weight: var(--intergalactic-bold, 700);
    margin: var(--intergalactic-spacing-4x, 16px) 0;
    text-align: center;
  }
}
