SSliderRating SStar {
  transition: all calc(var(--intergalactic-duration-control, 200) * 1ms) ease-out;
}

SSliderRating[keyboardFocused] SStar[hovered],
SSliderRating SStar:hover {
  cursor: pointer;
  transform: scale(1.3);
}

SSliderRating[keyboardFocused] {
  outline: none;
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px oklch(0.424 0.269 264.2 / 0.469));
}

SSliderRating[readonly] SStar:hover {
  cursor: default;
  transform: none;
  transition: none;
}

SStar[filled]:active {
  animation: wobble 0.8s ease-in-out;
}

SStar path {
  fill: var(--intergalactic-slider-rating-normal, oklch(0.7 0.003 162.2));
}

SStar[filled] path {
  stroke-width: 0;
  fill: var(--intergalactic-slider-rating-hover-active, oklch(0.66 0.212 300.1));
}
