SSliderRating SStar {
  transition: all 200ms ease-out;
}

SSliderRating SStar:hover {
  cursor: pointer;
  transform: scale(1.3);
}

SSliderRating[keyboardFocused] {
  outline: none;
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));
}

SSliderRating[readonly] SStar:hover {
  cursor: default;
  transform: none;
  transition: none;
}

SStar[filled]:active {
  animation: wobble 0.8s ease-in-out;
}
