SSliderRating SStar {
  transition: all calc(var(--intergalactic-duration-control, 200) * 1ms) ease-out;
}

SSliderRating SStar:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/*SSliderRating[keyboardFocused] {*/
/*  outline: none;*/
/*  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));*/
/*}*/

SSliderRating[readonly] SStar:hover {
  cursor: default;
  transform: none;
  transition: none;
}

SStar[filled]:active {
  animation: wobble 0.8s ease-in-out;
}

SStar path {
  fill: transparent;
  stroke: var(--intergalactic-slider-rating-normal, #a9abb6);
  stroke-width: 2;
}

SStar[filled] path {
  stroke-width: 0;
  fill: var(--intergalactic-slider-rating-hover-active, #fdc23c);
}
