SSliderRating SStar {
  transition: all calc(var(--intergalactic-duration-control, 200) * 1ms) ease-out;
}

SSliderRating:focus-visible SStar[hovered],
SSliderRating SStar:hover {
  cursor: pointer;
  transform: scale(1.3);
}

SSliderRating[readonly] SStar:hover {
  cursor: default;
  transform: none;
  transition: none;
}

SStar[filled]:active {
  animation: wobble 0.8s ease-in-out;
}

SStar path {
  fill: var(--intergalactic-slider-rating-normal, #a9abb6);
}

SStar[filled] path {
  stroke-width: 0;
  fill: var(--intergalactic-slider-rating-hover-active, #fdc23c);
}
