SBadgeAccent {
  color: var(--intergalactic-text-primary-invert, #ffffff);

  background-image: linear-gradient(
    90deg,
    var(--intergalactic-violet-500, #8649e1),
    var(--intergalactic-blue-500, #006dca),
    var(--intergalactic-violet-400, #ab6cfe),
    var(--intergalactic-blue-400, #008ff8)
  );
  background-position-x: 99%;
  background-size: 300%;
  transition: background-position-x 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
