SButton {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-family: var(--intergalactic-base, Inter), sans-serif;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-weight: var(--intergalactic-medium-500, Medium);
  color: var(--intergalactic-text-secondary, #6c6e79);

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

SButton[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
}

SButton[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.3));
  z-index: 1;
}
SButton[size='m'] {
  height: 28px;
  min-width: 28px;
  border-radius: var(--intergalactic-rounded-medium, 6px);
  font-size: var(--intergalactic-fs-200, 14px);
}

SButton[size='l'] {
  height: 40px;
  min-width: 40px;
  border-radius: var(--intergalactic-rounded-medium, 6px);
  font-size: var(--intergalactic-fs-300, 16px);
}

SButton[theme='primary-info'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-primary-info, #008ff8);

  &:hover {
    background-color: var(--intergalactic-control-primary-info-hover, #006dca);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-primary-info-active, #044792);
  }
}

SButton[theme='primary-success'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-primary-success, #009f81);

  &:hover {
    background-color: var(--intergalactic-control-primary-success-hover, #007c65);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-primary-success-active, #055345);
  }
}

SButton[theme='primary-warning'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-icon-primary-warning, #ff642d);

  &:hover {
    background-color: var(--intergalactic-icon-primary-warning-hover-active, #c33909);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-icon-primary-warning-hover-active, #c33909);
  }
}

SButton[theme='primary-danger'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-primary-critical, #ff4953);

  &:hover {
    background-color: var(--intergalactic-control-primary-critical-hover, #d1002f);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-primary-critical-active, #8e0016);
  }
}

SButton[theme='primary-invert'] {
  color: var(--intergalactic-control-primary-invert, #ffffff);
  background-color: var(--intergalactic-text-primary-invert, #ffffff);

  &:hover {
    background-color: var(--intergalactic-control-primary-invert-hover, #f4f5f9);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-primary-invert-active, #e0e1e9);
  }
}

SButton[theme='secondary-muted'] {
  color: var(--intergalactic-text-secondary, #6c6e79);
  border-color: var(--intergalactic-border-primary, #c4c7cf);
  background-color: var(--intergalactic-control-secondary-neutral, rgba(138, 142, 155, 0.1));

  &:hover {
    background-color: var(
      --intergalactic-control-secondary-neutral-hover,
      rgba(138, 142, 155, 0.2)
    );
    color: var(--intergalactic-text-primary, #191b23);
  }

  &:active,
  &[active] {
    background-color: var(
      --intergalactic-control-secondary-neutral-active,
      rgba(138, 142, 155, 0.3)
    );
    color: var(--intergalactic-text-primary, #191b23);
  }
}

SButton[theme='secondary-info'] {
  background-color: var(--intergalactic-control-secondary-info, rgba(0, 143, 248, 0.1));
  color: var(--intergalactic-control-primary-info, #008ff8);
  border-color: var(--intergalactic-control-primary-info, #008ff8);

  &:hover {
    background-color: var(--intergalactic-control-secondary-info-hover, rgba(0, 143, 248, 0.2));
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-secondary-info-active, rgba(0, 143, 248, 0.3));
  }
}

SButton[theme='secondary-invert'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  border-color: var(--intergalactic-border-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-secondary-invert, rgba(255, 255, 255, 0.05));

  &:hover {
    background-color: var(--intergalactic-control-secondary-invert-hover, rgba(255, 255, 255, 0.1));
  }

  &:active,
  &[active] {
    background-color: var(
      --intergalactic-control-secondary-invert-active,
      rgba(255, 255, 255, 0.3)
    );
  }
}

SButton[theme='tertiary-info'] {
  color: var(--intergalactic-text-link, #006dca);
  background-color: var(--intergalactic-control-tertiary-info, rgba(0, 143, 248, 0));

  &:hover {
    background-color: var(--intergalactic-control-tertiary-info-hover, rgba(0, 143, 248, 0.2));
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-tertiary-info-active, rgba(0, 143, 248, 0.3));
  }
}

SButton[theme='tertiary-muted'] {
  color: var(--intergalactic-text-secondary, #6c6e79);
  background-color: var(--intergalactic-control-tertiary-neutral, rgba(138, 142, 155, 0));

  &:hover {
    background-color: var(--intergalactic-control-tertiary-neutral-hover, rgba(138, 142, 155, 0.2));
    color: var(--intergalactic-text-primary, #191b23);
  }

  &:active,
  &[active] {
    background-color: var(
      --intergalactic-control-tertiary-neutral-active,
      rgba(138, 142, 155, 0.3)
    );
    color: var(--intergalactic-text-primary, #191b23);
  }
}

SButton[theme='tertiary-invert'] {
  color: var(--intergalactic-text-primary-invert, #ffffff);
  background-color: var(--intergalactic-control-tertiary-invert, rgba(255, 255, 255, 0));

  &:hover {
    background-color: var(--intergalactic-control-tertiary-invert-hover, rgba(255, 255, 255, 0.1));
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-control-tertiary-invert-active, rgba(255, 255, 255, 0.3));
  }
}

SButton[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SButton[neighborLocation='both'] {
  border-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;

  &[theme='primary-info'],
  &[theme='primary-success'],
  &[theme='primary-warning'],
  &[theme='primary-danger'] {
    border-left-color: var(--intergalactic-neighbor-location-neutral, rgba(255, 255, 255, 0.5));
  }

  &[theme='primary-invert'] {
    border-left-color: var(--intergalactic-neighbor-location-invert, rgba(0, 0, 0, 0.5));
  }
}

SButton[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* disable-tokens-validator */
  margin-left: -1px;

  &[theme='primary-info'],
  &[theme='primary-success'],
  &[theme='primary-warning'],
  &[theme='primary-danger'] {
    border-left-color: var(--intergalactic-neighbor-location-neutral, rgba(255, 255, 255, 0.5));
  }

  &[theme='primary-invert'] {
    border-left-color: var(--intergalactic-neighbor-location-invert, rgba(0, 0, 0, 0.5));
  }
}

SSpin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

SInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

SInner[loading] {
  visibility: hidden;
}

SText {
  display: inline-flex;
}

SText[size='m'] {
  margin-left: var(--intergalactic-spacing-2x, 8px);
  margin-right: var(--intergalactic-spacing-2x, 8px);
  line-height: var(--intergalactic-lh-200, 142%);
}

SText[size='l'] {
  margin-left: var(--intergalactic-spacing-3x, 12px);
  margin-right: var(--intergalactic-spacing-3x, 12px);
  line-height: var(--intergalactic-lh-300, 150%);
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SAddon[size='m'] {
  &:not(:only-child):first-child {
    margin-left: var(--intergalactic-spacing-2x, 8px);
  }

  &:not(:only-child):last-child {
    margin-right: var(--intergalactic-spacing-2x, 8px);
  }

  &:only-child {
    margin-left: calc(-1 * var(--intergalactic-spacing-1x, 4px));
    margin-right: calc(-1 * var(--intergalactic-spacing-1x, 4px));
  }
}

SAddon[size='l'] {
  &:not(:only-child):first-child {
    margin-left: var(--intergalactic-spacing-2x, 8px);
  }

  &:not(:only-child):last-child {
    margin-right: var(--intergalactic-spacing-2x, 8px);
  }

  &:only-child {
    margin-left: calc(-1 * var(--intergalactic-spacing-1x, 4px));
    margin-right: calc(-1 * var(--intergalactic-spacing-1x, 4px));
  }
}
