@import '@semcore/utils/style/var.css';

SButton {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-family: var(--intergalactic-fontFamilies-base), sans-serif;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-weight: var(--intergalactic-fontWeights-medium-500);
  color: var(--intergalactic-color-text-secondary);

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

SButton[disabled] {
  opacity: var(--intergalactic-opacity-disabled-opacity);
  cursor: default;
  pointer-events: none;
}

SButton[keyboardFocused] {
  box-shadow: var(--intergalactic-boxShadow-keyboard-focus);
  z-index: 1;
}
SButton[size='m'] {
  height: 28px;
  min-width: 28px;
  border-radius: var(--intergalactic-borderRadius-rounded-medium);
  font-size: var(--intergalactic-fontSizes-fs-200);
}

SButton[size='l'] {
  height: 40px;
  min-width: 40px;
  border-radius: var(--intergalactic-borderRadius-rounded-medium);
  font-size: var(--intergalactic-fontSizes-fs-300);
}

SButton[theme='primary-info'] {
  color: var(--intergalactic-color-text-primary-invert);
  background-color: var(--intergalactic-color-control-primary-info);

  &:hover {
    background-color: var(--intergalactic-color-control-primary-info-hover);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-color-control-primary-info-active);
  }
}

SButton[theme='primary-success'] {
  color: var(--intergalactic-color-text-primary-invert);
  background-color: var(--intergalactic-color-control-primary-success);

  &:hover {
    background-color: var(--intergalactic-color-control-primary-success-hover);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-color-control-primary-success-active);
  }
}

SButton[theme='primary-warning'] {
  color: var(--intergalactic-color-text-primary-invert);
  background-color: var(--orange-400);

  &:hover {
    background-color: var(--orange-500);
  }

  &:active,
  &[active] {
    background-color: var(--orange-600);
  }
}

SButton[theme='primary-danger'] {
  color: var(--intergalactic-color-text-primary-invert);
  background-color: var(--intergalactic-color-control-primary-critical);

  &:hover {
    background-color: var(--intergalactic-color-control-primary-critical-hover);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-color-control-primary-critical-active);
  }
}

SButton[theme='primary-invert'] {
  color: var(--intergalactic-color-control-primary-invert);
  background-color: var(--intergalactic-color-text-primary-invert);

  &:hover {
    background-color: var(--intergalactic-color-control-primary-invert-hover);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-color-control-primary-invert-active);
  }
}

SButton[theme='secondary-muted'] {
  color: var(--intergalactic-color-text-secondary);
  border-color: var(--intergalactic-color-border-primary);
  background-color: var(--intergalactic-color-control-secondary-neutral);

  &:hover {
    background-color: var(--intergalactic-color-control-secondary-neutral-hover);
    color: var(--intergalactic-color-text-primary);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-color-control-secondary-neutral-active);
    color: var(--intergalactic-color-text-primary);
  }
}

SButton[theme='secondary-info'] {
  background-color: color-mod(var(--blue-400) a(5%));
  color: var(--blue-400);
  border-color: var(--blue-400);

  &:hover {
    background-color: color-mod(var(--blue-500) a(20%));
  }

  &:active,
  &[active] {
    background-color: color-mod(var(--blue-500) a(30%));
  }
}

SButton[theme='secondary-invert'] {
  color: var(--intergalactic-color-text-primary-invert);
  border-color: var(--intergalactic-color-border-primary-invert);
  background-color: var(--intergalactic-color-control-secondary-invert);

  &:hover {
    background-color: var(--intergalactic-color-control-secondary-invert-hover);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-color-control-secondary-invert-active);
  }
}

SButton[theme='tertiary-info'] {
  color: var(--intergalactic-color-text-link);
  background-color: var(--intergalactic-color-control-tertiary-info);

  &:hover {
    background-color: var(--intergalactic-color-control-tertiary-info-hover);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-color-control-tertiary-info-active);
  }
}

SButton[theme='tertiary-muted'] {
  color: var(--intergalactic-color-text-secondary);
  background-color: var(--intergalactic-color-control-tertiary-neutral);

  &:hover {
    background-color: var(--intergalactic-color-control-tertiary-neutral-hover);
    color: var(--intergalactic-color-text-primary);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-color-control-tertiary-neutral-active);
    color: var(--intergalactic-color-text-primary);
  }
}

SButton[theme='tertiary-invert'] {
  color: var(--intergalactic-color-text-primary-invert);
  background-color: var(--intergalactic-color-control-tertiary-invert);

  &:hover {
    background-color: var(--intergalactic-color-control-tertiary-invert-hover);
  }

  &:active,
  &[active] {
    background-color: var(--intergalactic-color-control-tertiary-invert-active);
  }
}

SButton[neighborLocation='right'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

SButton[neighborLocation='both'] {
  border-radius: 0;
  margin-left: -1px;

  &[theme='primary-info'],
  &[theme='primary-success'],
  &[theme='primary-warning'],
  &[theme='primary-danger'] {
    border-left-color: var(--intergalactic-color-neighbor-location-neutral);
  }

  &[theme='primary-invert'] {
    border-left-color: var(--intergalactic-color-neighbor-location-invert);
  }
}

SButton[neighborLocation='left'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;

  &[theme='primary-info'],
  &[theme='primary-success'],
  &[theme='primary-warning'],
  &[theme='primary-danger'] {
    border-left-color: var(--intergalactic-color-neighbor-location-neutral);
  }

  &[theme='primary-invert'] {
    border-left-color: var(--intergalactic-color-neighbor-location-invert);
  }
}

SSpin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

SInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

SInner[loading] {
  visibility: hidden;
}

SText {
  display: inline-flex;
}

SText[size='m'] {
  margin-left: var(--intergalactic-spacing-spacing-2x);
  margin-right: var(--intergalactic-spacing-spacing-2x);
  line-height: var(--intergalactic-lineHeights-lh-200);
}

SText[size='l'] {
  margin-left: var(--intergalactic-spacing-spacing-3x);
  margin-right: var(--intergalactic-spacing-spacing-3x);
  line-height: var(--intergalactic-lineHeights-lh-300);
}

SAddon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

SAddon[size='m'] {
  &:not(:only-child):first-child {
    margin-left: var(--intergalactic-spacing-spacing-2x);
  }

  &:not(:only-child):last-child {
    margin-right: var(--intergalactic-spacing-spacing-2x);
  }

  &:only-child {
    margin-left: calc(-1 * var(--intergalactic-spacing-spacing-1x));
    margin-right: calc(-1 * var(--intergalactic-spacing-spacing-1x));
  }
}

SAddon[size='l'] {
  &:not(:only-child):first-child {
    margin-left: var(--intergalactic-spacing-spacing-2x);
  }

  &:not(:only-child):last-child {
    margin-right: var(--intergalactic-spacing-spacing-2x);
  }

  &:only-child {
    margin-left: calc(-1 * var(--intergalactic-spacing-spacing-1x));
    margin-right: calc(-1 * var(--intergalactic-spacing-spacing-1x));
  }
}
