@import '@semcore/utils/style/var.css';

STimePicker {
  position: relative;
  width: auto;
}

STimePicker[disabled] {
  color: var(--intergalactic-text-secondary);
  cursor: default;
}

SPickerInput {
  box-sizing: content-box;
  text-align: center;
  z-index: 1;

  &[placeholder] {
    text-overflow: initial;
  }
}

SPickerInput[size='m'] {
  width: 19px;
}

SPickerInput[size='l'] {
  width: 21px;
}

SPickerFormat {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  padding: 0;
  white-space: nowrap;
  font-family: inherit;
  font-weight: var(--intergalactic-medium-500);
  line-height: normal;
  text-decoration: none;
  align-items: center;
  border: 1px solid var(--intergalactic-border-primary);
  border-radius: 0 var(--intergalactic-rounded-medium) var(--intergalactic-rounded-medium) 0;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  color: var(--intergalactic-text-secondary);
  background-color: var(--intergalactic-bg-secondary-neutral);

  &:hover {
    color: var(--intergalactic-text-secondary);
    background-color: var(--intergalactic-bg-secondary-neutral-hover);
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-secondary);
    background-color: var(--intergalactic-bg-secondary-neutral-active);
  }
}

SPickerFormat[size='m'] {
  height: var(--form-control-m);
  font-size: var(--intergalactic-fs-200);
  margin: 0 -1px 0 0;
  & SPickerFormatText {
    margin: 0 var(--intergalactic-spacing-2x);
  }
}

SPickerFormat[size='l'] {
  height: var(--form-control-l);
  font-size: var(--intergalactic-fs-300);
  margin: 0 calc(-1 * var(--intergalactic-spacing-spacing-1x)) 0 0 & SPickerFormatText {
    margin: 0 var(--intergalactic-spacing-3x);
  }
}

SPickerFormat[disabled] {
  opacity: var(--intergalactic-disabled-opacity);
  cursor: default;
  pointer-events: none;
  border-color: transparent transparent transparent var(--intergalactic-border-primary);
}

SPickerFormat[keyboardFocused] {
  box-shadow: var(--intergalactic-keyboard-focus);
}

STimePickerSeparator[disabled] {
  opacity: var(--intergalactic-disabled-opacity);
  pointer-events: none;
}
