@import '@semcore/utils/style/var.css';

STimePicker {
  position: relative;
  width: auto;
}

STimePicker[disabled] {
  color: color-mod(var(--gray20) a(30%));
  cursor: default;
}

SPickerInput {
  box-sizing: content-box;
  text-align: center;
  z-index: 1;

  &[placeholder] {
    text-overflow: initial;
  }
}

SPickerInput[size='m'] {
  width: 19px;
}

SPickerInput[size='l'] {
  width: 21px;
}

SPickerFormat {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  padding: 0;
  margin: 0 -1px 0 0;
  white-space: nowrap;
  font-family: inherit;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  align-items: center;
  border: 1px solid var(--gray-200);
  border-radius: 0 var(--rounded-m) var(--rounded-m) 0;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  color: var(--gray-500);
  background-color: color-mod(var(--gray-400) a(10%));

  &:hover {
    color: var(--gray-500);
    background-color: color-mod(var(--gray-400) a(20%));
  }

  &:active,
  &[active] {
    color: var(--gray-500);
    background-color: color-mod(var(--gray-400) a(30%));
  }
}

SPickerFormat[size='m'] {
  height: var(--form-control-m);
  font-size: var(--fs-200);
  & SPickerFormatText {
    margin: 0 8px;
  }
}

SPickerFormat[size='l'] {
  height: var(--form-control-l);
  font-size: var(--fs-300);
  & SPickerFormatText {
    margin: 0 12px;
  }
}

SPickerFormat[disabled] {
  opacity: var(--disabled-opacity);
  cursor: default;
  pointer-events: none;
  border-color: transparent transparent transparent var(--gray-200);
}

SPickerFormat[keyboardFocused] {
  box-shadow: var(--keyborad-focus);
}

STimePickerSeparator[disabled] {
  opacity: var(--disabled-opacity);
  pointer-events: none;
}
