STimePicker {
  position: relative;
  width: auto;
  outline: none;
}

/*STimePicker[keyboardFocused]:focus {*/
/*  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));*/
/*}*/

STimePicker[disabled] {
  color: var(--intergalactic-text-secondary, #6c6e79);
  cursor: default;
}

SPickerInput {
  box-sizing: content-box;
  text-align: center;
  z-index: 1;
  height: 1.5em;

  &[placeholder] {
    text-overflow: initial;
  }
  &:focus {
    background-color: var(--intergalactic-bg-highlight-focus, rgba(0, 143, 248, 0.2));
  }
}

SPickerInput[size='m'] {
  width: 19px;
  margin: 0 var(--intergalactic-spacing-2x, 8px);
  padding: 0;
}

SPickerInput[size='l'] {
  width: 21px;
  margin: 0 var(--intergalactic-spacing-2x, 8px);
  padding: 0;
}

SPickerFormat {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  padding: 0;
  white-space: nowrap;
  font-family: inherit;
  font-weight: var(--intergalactic-medium, 500);
  line-height: normal;
  text-decoration: none;
  align-items: center;
  border: 1px solid var(--intergalactic-border-primary, #c4c7cf);
  border-radius: 0 var(--intergalactic-control-rounded, 6px)
    var(--intergalactic-control-rounded, 6px) 0;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  color: var(--intergalactic-text-secondary, #6c6e79);
  background-color: var(--intergalactic-bg-secondary-neutral, #f4f5f9);

  &:hover {
    color: var(--intergalactic-text-secondary, #6c6e79);
    background-color: var(--intergalactic-bg-secondary-neutral-hover, #e0e1e9);
  }

  &:active,
  &[active] {
    color: var(--intergalactic-text-secondary, #6c6e79);
    background-color: var(--intergalactic-bg-secondary-neutral-active, #c4c7cf);
  }
}

SPickerFormat[size='m'] {
  height: var(--intergalactic-form-control-m, 28px);
  font-size: var(--intergalactic-fs-200, 14px);
  /* disable-tokens-validator */
  margin: 0 -1px 0 0;
  & SPickerFormatText {
    margin: 0 var(--intergalactic-spacing-2x, 8px);
  }
}

SPickerFormat[size='l'] {
  height: var(--intergalactic-form-control-l, 40px);
  font-size: var(--intergalactic-fs-300, 16px);
  margin: 0 calc(-1 * var(--intergalactic-spacing-1x, 4px)) 0 0;
  & SPickerFormatText {
    margin: 0 var(--intergalactic-spacing-3x, 12px);
  }
}

SPickerFormat[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  cursor: default;
  pointer-events: none;
  border-color: transparent transparent transparent var(--intergalactic-border-primary, #c4c7cf);
}

/*SPickerFormat[keyboardFocused] {*/
/*  box-shadow: var(--intergalactic-keyboard-focus, 0px 0px 0px 3px rgba(0, 143, 248, 0.5));*/
/*}*/

STimePickerSeparator {
  color: var(--intergalactic-text-primary, #191b23);
}

STimePickerSeparator[disabled] {
  opacity: var(--intergalactic-disabled-opacity, 0.3);
  pointer-events: none;
}
