SHead, SGroupContainer {
  display: contents;
}

SHead[isDataEmpty][gridTemplateColumns] {
  display: grid;
  grid-template-columns: var(--gridTemplateColumns);
  overflow: auto;
  scrollbar-width: thin;
}

SHead[animationDuration] > SColumn {
  transition: top var(--animationDuration) ease-out;
}

@keyframes moveWithScroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(var(--global-scroll-to));
  }
}

SHead[withAnimation][sticky] SColumn, SHead[withAnimation][sticky] SGroup {
  animation-name: moveWithScroll;
  animation-timeline: --table-sticky-timeline;
  animation-range-start: exit-crossing calc(-1 * var(--global-header-top));
  animation-range-end: exit-crossing calc(100% - var(--global-header-top));
  animation-timing-function: linear;
  animation-fill-mode: both;

  transform: none;
}

SHead[sticky] SColumn, SHead[sticky] SGroup {
  position: sticky;
  top: 0;
  z-index: 18;
  transform: translateY(var(--global-scroll-translate));
  will-change: scroll-position;
}

SHead[compact] SColumn {
  padding: var(--intergalactic-spacing-3x, 12px) var(--intergalactic-spacing-2x, 8px);
}

SGroup, SColumn {
  display: flex;
  align-items: flex-start;
  font-size: var(--intergalactic-fs-100, 12px);
  color: var(--intergalactic-text-primary, oklch(0.1 0.03 137 / 0.899));
  box-sizing: border-box;
  height: 100%;
  position: relative;
  transition: width calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out, min-width calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out, max-width calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out;
  overflow: hidden;
  line-height: var(--intergalactic-lh-100, 133%);
}

SGroup {
  justify-content: center;
  text-align: center;
  background-color: var(--intergalactic-table-th-primary-cell, oklch(0.98 0.001 180));
}

SGroup[use='primary'] {
  padding: var(--intergalactic-spacing-3x, 12px);

  &:has(~ SColumn[visibleSort]) {
    background-color: var(--intergalactic-table-th-primary-cell-hover, oklch(0.94 0.002 180));
  }
}
SGroup[use='secondary'] {
  padding: var(--intergalactic-spacing-2x, 8px);
}

SGroup[borders='both'], SColumn[borders='both'], SGroup[borders='left'], SColumn[borders='left'] {
  border-left: 1px solid var(--intergalactic-border-secondary, oklch(0.176 0.033 175.7 / 0.07));
}

SGroup[borders='both'], SColumn[borders='both'], SGroup[borders='right'], SColumn[borders='right'] {
  border-right: 1px solid var(--intergalactic-border-secondary, oklch(0.176 0.033 175.7 / 0.07));
}

SColumn[use='primary'] {
  padding: var(--intergalactic-spacing-3x, 12px);
  border-bottom: 1px solid var(--intergalactic-border-secondary, oklch(0.176 0.033 175.7 / 0.07));
  background-color: var(--intergalactic-table-th-primary-cell, oklch(0.98 0.001 180));

  SSortWrapper::before {
    background: linear-gradient(
      270deg,
      var(--intergalactic-table-th-primary-cell-hover, oklch(0.94 0.002 180)) 67.5%,
      rgba(224, 225, 233, 0) 105%
    );
  }

  &[visibleSort] {
    background-color: var(--intergalactic-table-th-primary-cell-hover, oklch(0.94 0.002 180));

    SSortWrapper {
      flex-basis: calc(var(--intergalactic-spacing-1x, 4px) + 16px);
      opacity: 1;

      &::before {
        display: flex;
        opacity: 1;
      }
    }

    SSortButton {
      display: flex;
      opacity: 1;
    }
  }

  &[justifyContent='right'] {
    SSortWrapper {
      position: absolute;
    }

    &[changeSortSize][isSorted] {
      SSortWrapper {
        position: relative;
      }
    }
  }
}

SColumn[use='secondary'] {
  padding: var(--intergalactic-spacing-2x, 8px);
  border-bottom: 1px solid var(--intergalactic-border-table-accent, oklch(0.137 0.026 175.7 / 0.161));
  background-color: var(--intergalactic-table-th-secondary-cell, oklch(1 0 0));

  SSortWrapper::before {
    background: linear-gradient(
      270deg,
      var(--intergalactic-table-th-secondary-cell, oklch(1 0 0)) 67.5%,
      rgba(255, 255, 255, 0) 105%
    );
  }

  &[visibleSort] {
    SSortWrapper {
      flex-basis: calc(var(--intergalactic-spacing-1x, 4px) + 16px);
      opacity: 1;

      &::before {
        display: flex;
        opacity: 1;
      }
    }

    SSortButton {
      display: flex;
      opacity: 1;
    }
  }

  &[justifyContent='right'] {
    SSortWrapper {
      position: absolute;
    }

    &[changeSortSize][isSorted] {
      SSortWrapper {
        position: relative;
      }
    }
  }
}

SColumn[gridArea], SGroup[gridArea], SGroupTitle[gridArea] {
  grid-area: var(--gridArea);
}

SHead[sticky] SColumn[fixed], SHead SColumn[fixed], SHead SGroup[fixed] {
  position: sticky;
  /* because up resizable */
  z-index: 19;
}

SColumn[sortable]:hover {
  cursor: pointer;
}

SSortWrapper {
  align-items: center;
  display: flex;
  flex-shrink: 1;
  position: relative;
  flex-basis: 0;
  min-height: 16px;
  opacity: 0;
  transition: all calc(var(--intergalactic-duration-extra-fast, 100) * 1ms) ease-in-out;
}

SSortWrapper:before {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

SSortButton {
  display: none;
  fill: var(--intergalactic-icon-secondary-neutral-hover-active, oklch(0.1 0.023 159.1 / 0.433));
  position: absolute;
  right: 0;
  margin-left: var(--intergalactic-spacing-1x, 4px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

SHead[sideIndents='wide'] {
  SColumn:first-child {
    padding-left: var(--intergalactic-spacing-5x, 20px);
  }
  SColumn:last-child {
    padding-right: var(--intergalactic-spacing-5x, 20px);
  }
}

SHeadCheckboxCol {
  cursor: pointer;
}


SColumn[fixed][shadowVertical], SGroup[fixed][shadowVertical] {
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    display: none;
    top: 0;
    width: 5px;
    height: 100%;
    z-index: 5;
  }
}


/*SColumnChildrenWrapper*/

SColumn[fixed='left'][shadowVertical='median'],
SColumn[fixed='left'][shadowVertical='start'],
SGroup[fixed='left'][shadowVertical='median'],
SGroup[fixed='left'][shadowVertical='start'] {
  margin-right: -5px;
  border-right-color: transparent;

  &[use='primary'] {
    padding-right: calc(var(--intergalactic-spacing-3x, 12px) + 5px);
  }
  &[use='secondary'] {
    padding-right: calc(var(--intergalactic-spacing-2x, 8px) + 5px);
  }

  &:after {
    display: block;
    right: 0;
    background: var(--intergalactic-scroll-area-shadow-left,
    linear-gradient(to right, oklch(from oklch(0.23 0.01 140) l c h / 0.08) 20.55%, transparent 100%));
  }
}
SColumn[fixed='right'][shadowVertical='median'],
SColumn[fixed='right'][shadowVertical='end'],
SGroup[fixed='right'][shadowVertical='median'],
SGroup[fixed='right'][shadowVertical='end'] {
  margin-left: -5px;
  border-left-color: transparent;

  &[use='primary'] {
    padding-left: calc(var(--intergalactic-spacing-3x, 12px) + 5px);
  }
  &[use='secondary'] {
    padding-left: calc(var(--intergalactic-spacing-2x, 8px) + 5px);
  }

  &:after {
    display: block;
    left: 0;
    background: var(--intergalactic-scroll-area-shadow-right,
    linear-gradient(to left, oklch(from oklch(0.23 0.01 140) l c h / 0.08) 20.55%, transparent 100%));
  }
}
