SHead {
  display: contents;
}

SHead[sticky] > SColumn, SHead[sticky] SGroup {
  position: sticky;
  top: 0;
}

SHead[sticky] SGroupContainer > SColumn {
  position: sticky;
  top: 40px;
}

SGroup, SColumn {
  display: flex;
  align-items: flex-start;
  font-size: var(--intergalactic-fs-100, 12px);
  line-height: var(--intergalactic-lh-100, 133%);
  color: var(--intergalactic-text-primary, #191b23);
  box-sizing: border-box;
  height: 100%;
}

SGroup[borders='both'], SColumn[borders='both'], SGroup[borders='left'], SColumn[borders='left'] {
  border-left: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
}

SGroup[borders='both'], SColumn[borders='both'], SGroup[borders='right'], SColumn[borders='right'] {
  border-right: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
}

SGroup[use='primary'], SColumn[use='primary'] {
  padding: var(--intergalactic-spacing-3x, 12px);
  border-bottom: 1px solid var(--intergalactic-border-secondary, #e0e1e9);
  background-color: var(--intergalactic-table-th-primary-cell, #f4f5f9);
}

SGroup[use='secondary'], SColumn[use='secondary'] {
  padding: var(--intergalactic-spacing-2x, 8px);
  border-bottom: 1px solid var(--intergalactic-border-table-accent, #a9abb6);
  background-color: var(--intergalactic-table-th-secondary-cell, #ffffff);
}

SColumn[gridArea], SGroup[gridArea], SGroupTitle[gridArea] {
  grid-area: var(--gridArea);
}

SHead[sticky] SColumn[fixed], SHead SColumn[fixed], SHead[sticky] SGroup {
  position: sticky;
  /* because up resizable */
  z-index: 2;
}
