.section {
  margin-bottom: calc(9 * var(--intergalactic-spacing-1x));
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
}

.contextWrapper {
  display: contents;
}

ul.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--intergalactic-spacing-1x);
  padding: var(--intergalactic-spacing-3x);
  border-radius: var(--intergalactic-rounded-medium);
  border: solid 1px var(--intergalactic-border-primary);
}

.previewIllustration {
  display: inline;
}

.previewIllustration button {
  width: 118px;
  height: 140px;
  border-radius: var(--intergalactic-rounded-medium);
  border: 2px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.previewIllustration button:hover {
  background-color: var(--intergalactic-bg-primary-neutral-hover);
}

.previewIllustration button:focus-visible {
  box-shadow: var(--intergalactic-keyboard-focus);
}

div[data-name='PanelTrigger'] {
  width: 100%;
  padding: var(--intergalactic-spacing-3x);
  font-size: var(--intergalactic-fs-200);
  line-height: var(--intergalactic-lh-200);
  color: var(--intergalactic-text-secondary);
}

div[data-name='PanelTrigger'] svg {
  display: block;
  margin: 0 auto var(--intergalactic-spacing-3x);
}