.section {
  margin-bottom: calc(9 * var(--intergalactic-spacing-1x));
  font-size: var(--intergalactic-fs-300);
  line-height: var(--intergalactic-lh-300);
}

.contextWrapper {
  display: contents;
}

ul.list {
  display: flex;
  flex-wrap: wrap;
  padding: var(--intergalactic-spacing-3x);
  border-radius: var(--intergalactic-rounded-medium);
  border: solid 1px var(--intergalactic-border-primary);
}

.previewIllustration {
  display: inline;
}

.previewIllustration button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 calc(var(--intergalactic-spacing-2x) + 2px) calc(var(--intergalactic-spacing-3x) + 2px);
  width: 118px;
  height: 140px;
  border-radius: var(--intergalactic-rounded-medium);
  border: 2px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.previewIllustration button:hover {
  background-color: var(--intergalactic-bg-primary-neutral-hover);
}

.previewIllustration button:focus-visible {
  box-shadow: var(--intergalactic-keyboard-focus);
}

.previewIllustration span {
  margin-top: 10px;
  width: 100%;
  font-size: var(--intergalactic-fs-200);
  line-height: var(--intergalactic-lh-200);
  color: var(--intergalactic-text-secondary);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
