SScrollArea {
  width: fit-content;

  SContainer {
    overflow: unset;

    &[scrollDirection='both'] {
      overflow: auto;

      &[loading] {
        overflow: hidden;
      }
    }
    &[scrollDirection='horizontal'] {
      overflow-x: auto;
      overflow-y: unset;
      overscroll-behavior-x: none;

      &[loading] {
        overflow: hidden;
      }
    }
    &[scrollDirection='vertical'] {
      overflow-x: unset;
      overflow-y: auto;

      &[loading] {
        overflow: hidden;
      }
    }
    &[headerHeight] {
      scroll-padding-top: var(--headerHeight);
    }
    &[leftScrollPadding] {
      scroll-padding-left: var(--leftScrollPadding);
    }
    &[rightScrollPadding] {
      scroll-padding-right: var(--rightScrollPadding);
    }
  }

  SShadowVertical::after, SShadowHorizontal::before, SShadowHorizontal:after {
    z-index: 20;
  }

  SShadowVertical::before,
  SShadowHorizontal[leftOffset]::before,
  SShadowHorizontal[rightOffset]::after {
    display: none;
  }
}
