SScrollArea {
  width: fit-content;

  SShadowVertical {
    &:before {
      display: none;
    }
    &:after {
      z-index: 2;
    }
  }
  SShadowHorizontal {
    &:before,
    &:after {
      z-index: 2;
    }
  }
}
