SScrollArea {
  width: fit-content;

  SContainer {
    overflow: unset;

    &[scrollDirection='both'] {
      overflow: auto;
    }
    &[scrollDirection='horizontal'] {
      overflow-x: auto;
      overflow-y: unset;
    }
    &[scrollDirection='vertical'] {
      overflow-x: unset;
      overflow-y: auto;
    }
    &[loading] {
      overflow: hidden;
    }

    &[headerHeight] {
      scroll-padding-top: var(--headerHeight);
    }
    &[leftScrollPadding] {
      scroll-padding-left: var(--leftScrollPadding);
    }
    &[rightScrollPadding] {
      scroll-padding-right: var(--rightScrollPadding);
    }
  }

  SShadowVertical {
    &:before {
      display: none;
    }
    &:after {
      z-index: 2;
    }
  }
  SShadowHorizontal {
    &:before,
    &:after {
      z-index: 2;
    }
  }
}
