name: component
on: [push]
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Cache node modules
        uses: actions/cache@v2
        id: cache-modules
        with:
          path: |
            node_modules
            */*/node_modules
          key: modules-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        if: steps.cache-modules.outputs.cache-hit != 'true'
        run: yarn --non-interactive --frozen-lockfile
  build:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Restore cache node modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: modules-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Ð¡ache build
        uses: actions/cache@v2
        id: cache-build
        with:
          path: |
            **/lib
          key: build-${{ hashFiles('semcore/**') }}-${{ hashFiles('tools/**') }}-${{ hashFiles('yarn.lock') }}-${{ hashFiles('tsconfig.json') }}
      - name: Build
        if: steps.cache-build.outputs.cache-hit != 'true'
        run: yarn build
  lint:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Restore cache node modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: build-${{ hashFiles('semcore/**') }}-${{ hashFiles('tools/**') }}-${{ hashFiles('yarn.lock') }}-${{ hashFiles('tsconfig.json') }}
      - name: Restore cache build
        uses: actions/cache@v2
        with:
          path: |
            **/lib
          key: build-${{ github.sha }}
      - name: Lint
        run: yarn lint
  test:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Restore cache node modules
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: modules-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - name: Test
        run: yarn test
