name: publish-website
on:
  workflow_dispatch:
  push:
    branches: [master, release-lock-testing]
    paths: website/docs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.actor == 'semrush-ci-whale' }}
  cancel-in-progress: true
jobs:
  publish-website:
    runs-on: ubuntu-latest
    env:
      GCLOUD_SECRET: ${{ secrets.GCLOUD_SECRET }}
    steps:
      - uses: actions/checkout@v3.5.3
        with:
          token: ${{ secrets.BOT_ACCOUNT_GITHUB_TOKEN }}
      - uses: pnpm/action-setup@v2.2.4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false
      - uses: actions/setup-node@v3.6.0
      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT
      - name: Github GPG Auth
        uses: crazy-max/ghaction-import-gpg@v5.3.0
        with:
          gpg_private_key: ${{ secrets.BOT_ACCOUNT_GPG_PRIVATE_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_committer_name: semrush-ci-whale
          git_committer_email: semrush-ci-whale@users.noreply.github.com
      - name: Update website/release branch
        run: |
          git checkout -b website/release
          git push --force --set-upstream origin website/release
          git push origin website/release --force
 