name: slack-updates-broadcast

on:
  schedule:
    - cron: '0 8 * * 1'
  workflow_dispatch:
jobs:
  # 1 lvl
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Install Node.js
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4.0.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8.7.6
          run_install: false
      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4.0.0
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile
  broadcast:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Install Node.js
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4.0.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8.7.6
          run_install: false
      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4.0.0
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile
      - name: Notification
        env:
          SLACK_API_ENDPOINTS: ${{ secrets.SLACK_WEBHOOK_URLS }}
        run: |
          pnpm --filter intergalactic-migrate run build && pnpm slack-updates-broadcast
